<%path = thumb_image(food)%>
<%unless food.is_landscape%>
  <div class="swiper-slide portrait">
    <div class="slider-box clearfix ">
      <div class="col-xs-4">
        <%= link_to image_tag(path, :title=> food.name, :alt=> food.name), nested_products_uri(food),{:title => food.name} %>
      </div>
      <div class="col-xs-8 slider-box-text">
        <div class="item-name"><%= link_to truncate(food.name, length:60), nested_products_uri(food), :title=> food.name -%></div>
      </div>
      <div class="clr"></div>
      <div class="celarfix">
        <div class="col-xs-4 price-col">
          <div class="price">
            <% product = food
              if product.product_prices.present? %>
                  <% if product.discounted? && product.discount > 0.0 %>
                    <% product.product_prices.each do |pp| %>
                     <div class="line-through">
                      Was <%= number_to_currency pp.price, :unit => "£" %></div>
                    <% end %>
                    <div class="current-price">
                      Now <% product.price_discounted.each do |price| %>
                        <%= number_to_currency price, :unit => "£" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="price">
                      <% product.product_prices.each do |pp| %>
                        <%= number_to_currency pp.price, :unit => "£" %>
                      <% end %>
                      </div>
                  <% end %>
                <% end %>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="seller-price">
            <% if food.present? && food.product_prices.present? %>
              <% food.product_prices.each do |best_food| %>
                <div class="add-row clearfix">
                  <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: food} %>
                </div>
            <% end %>
            <% else %>
              <p class="red-text">Not Available</p>
            <% end %>
          </div>
        </div>
      </div>  
    </div>
  </div>
<%else%>  
  <div class="swiper-slide landscape">
    <div class="slider-box2 clearfix ">
      <div class="">
        <div class="box-image"><%= link_to image_tag(path, :title=> food.name, :alt=> food.name), nested_products_uri(food),{:title => food.name} %></div>
        <div class="item-name"><%= link_to truncate(food.name, length:65), nested_products_uri(food), :title => food.name  -%></div>
        <div class="row clearfix">
          <div class="col-xs-4 price-col">
            <% product = food 
               if product.product_prices.present? %>
                  <% if product.discounted? && product.discount > 0.0 %>
                    <% product.product_prices.each do |pp| %>
                     <div class="line-through">
                      Was <%= number_to_currency pp.price, :unit => "£" %></div>
                    <% end %>
                    <div class="current-price">
                      Now <% product.price_discounted.each do |price| %>
                        <%= number_to_currency price, :unit => "£" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="price">
                      <% product.product_prices.each do |pp| %>
                        <%= number_to_currency pp.price, :unit => "£" %>
                      <% end %>
                      </div>
                  <% end %>
                <% end %>
          </div>
          <div class="col-xs-8">
            <div class="seller-price">
              <% if food.present? && food.product_prices.present? %>
                <% food.product_prices.each do |best_food| %>
                  <div class="add-row clearfix">
                    <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: food} %>
                  </div>
              <% end %>
              <% else %>
                <p class="red-text">Not Available</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>