
<% @class = "no-padding"; @title = "Create a new user"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Register".html_safe()%>
<div class="full-width">
  <div class="green-heading-with-border hide-on-tab">
    <h1>Register</h1>
    <!-- <h1>Italian wine and food Online | Award winning wine merchant</h1> -->
  </div>
  <div class="login-wrapper">
    <div class="row clearfix">
      <div class="col-md-4 fl-right">
        <div class="login-wrapper">
          <div class="row clearfix">
            <div class="col-md-11">
              <div class="black-heading-14"><strong>Already a Customer?</strong></div>
              <h2 class="green-heading-24-b"><strong>Log in to Italyabroad.com</strong></h2>
              <%= form_tag login_url do  %>
                <div class="row clearfix bottom-15">
                  <div class="col-xs-6 center">
                  <%= link_to image_tag('/images/fb-login-btn.png', :alt=>"facebook", :title=>"facebook",:class => "facebook-login-btn width154"), "/auth/facebook", :title=>"facebook" %>
                  </div>
                  <div class="col-xs-6 center">
                    <%= link_to image_tag('/images/twitter-login-btn.png', :alt=>"twitter", :title=>"twitter", :class => "twitter-login-btn width154"), "/auth/twitter", :title=>"twitter" %>
                  </div>
                </div>
                <div class="or">
                  <div class="or-text">OR</div>
                </div>
                <div class="login-row">
                  <%= text_field_tag :login, params[:login] %>
                  <%= set_focus_to('login') %>
                </div>
                <div class="login-row">
                  <%= password_field_tag :password, nil %>
                  <%= hidden_field_tag :provider, params[:provider] -%>
                  <%= hidden_field_tag :uid, params[:uid] -%>
                  <%= hidden_field_tag :token, params[:token] -%>
                </div>
                <div class="bottom-15">
                  <%= show_messages(flash[:notice]) %>
                </div>
                <div class="bottom-15 clearfix">
                  <div class="pull-left">
                    <div class="remember">
                      <label>
                        <input type="checkbox" checked="checked" > Remember me (?)
                      </label>
                    </div>
                  </div>
                  <div class="pull-right">
                    <%= link_to "Forgot your password", request_new_password_path, :title=>"Forgot password" %>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="green-button col-xs-5"><%= submit_tag "Login" %></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 right-border fl-right">
        <div class="green-heading-with-border show-on-tab">Register</div>
        <%= form_for :user, :url => customers_path, :html => {:multipart => true} do %>
          <%= show_messages(flash[:error]) %>
          <h2 class="green-heading-18">Personal Details</h2>
          <p>The email address you enter here is where we'll send all communications when you shop with Italyabroad.</p>
          <div class="signup-col">
            <div class="clearfix bottom-15">
              <div class="col-xs-3">Title:</div>
              <div class="col-xs-9">
                <%= select :user, :title, ["Mr", "Miss", "Mrs", "Dr"] %>
              </div>
            </div>
            <div class="clearfix bottom-15">
              <div class="col-xs-3">* First Name:</div>
              <div class="col-xs-9">
                <% first_name =
                  if session[:omniauth].present?
                    if session[:omniauth]["provider"] == 'facebook'
                      session[:omniauth]["info"]["first_name"]
                    elsif session[:omniauth]["provider"] == 'twitter'
                      session[:omniauth]["info"]["name"].split(" ").first()
                    end
                  else
                    nil
                  end
                %>
                <%= text_field :user, :name, :value => first_name || @user.try(:name) %>
              </div>
            </div>
            <div class="clearfix bottom-15">
              <div class="col-xs-3">* Last Name:</div>
              <div class="col-xs-9">
                <% last_name =
                  if session[:omniauth].present?
                    if session[:omniauth]["provider"] == 'facebook'
                      session[:omniauth]["info"]["last_name"]
                    elsif session[:omniauth]["provider"] == 'twitter'
                      session[:omniauth]["info"]["name"].split(" ").last()
                    end
                  else
                    nil
                  end
                %>
                <%= text_field :user, :surname, :value => last_name || @user.try(:surname) %>
              </div>
            </div>
            <div class="clearfix bottom-15">
              <div class="col-xs-3">* User Name:</div>
              <div class="col-xs-9">
                <%= text_field :user, :login, :value => session[:omniauth].present? ? session[:omniauth]["info"]["nickname"] :  @user.try(:login), :disabled => (true unless @user.new_record?) %>
      
              </div>
            </div>
            
            <div class="clearfix bottom-15">
              <div class="col-xs-3">* Email:</div>
              <div class="col-xs-9">
                <% email =
                  
                  if session[:omniauth].present?
                 
                    if session[:omniauth]["provider"] == 'facebook'
                      session[:omniauth]["info"]["email"]
                    end
                  else
                    nil
                  end
                %>
                <%= text_field :user, :email, :value => email || @user.try(:email) %>
              </div>
            </div>
            <% unless session[:omniauth].present? %>
              <div class="clearfix bottom-15">
                <div class="col-xs-3">* Password</div>
                <div class="col-xs-9">
                  <div><%= password_field :user, :password %></div>
                  <div class="green-text">Password should be at least "6 character long"</div>
                </div>
              </div>
              <div class="clearfix bottom-15">
                <div class="col-xs-3">* Confirm Password</div>
                <div class="col-xs-9"><%= password_field :user, :password_confirmation %></div>
              </div>
            <% end %>
            <% unless session[:omniauth].present? %>
              <div class="clearfix bottom-15 top-20">
                <div class="col-xs-offset-3 col-xs-9">Our system keeps your password completely secure - even our technical team can't see it. We simply recognise a match when you log in.</div>
              </div>
            <% end %>
            <div class="clearfix">
              <div class="col-xs-offset-3 col-xs-9">
                <div class="checkbox">
                  <label>
                    <%= check_box :user, :news_letters %> Keep me updated
                  </label>
                </div>
              </div>
            </div>

            <div class="clearfix bottom-15">
              <div class="col-xs-offset-3 col-xs-9">
                <div class="checkbox">
                  <% if @user.new_record? %>
                      <label >
                        <%= check_box_tag 'conditions' %> 
                        I agree to the italyabroad.com <%= link_to ' terms and conditions.' , '/terms-and-conditions', :target => "_blank", :title=>"Terms and conditions",class: "red-text"  %>
                      </label>  
                  <% end %>
                </div>
              </div>
            </div>
            <div class="clearfix bottom-15">
              <div class="col-xs-offset-3 col-xs-3 green-button">
                <!-- <a href="#.">Register</a> -->
                <%=submit_tag('Register')%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
