<% @title = "About us"; @class="about-us no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; About us &raquo; Who we are" %>
<% @about = AboutU.find(:first, :conditions => {:link_type => "who we are"} ) %>
<!-- start main banner-->
<% if @about.image %>
  <div class="main-banner"><img src="<%= @about.image.image_filename %>" alt="about us" title="about us"></div>
<% end %>
<!-- end main banner-->
 <div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%#= render :partial => '/site/shared/box_wine_event_testimonials' %>
      <div class="about-review"><%= render :partial => '/site/shared/box_review_latest' %></div>
    </div>
    <div class="col-md-9">
      <% if @about %>
      <div class="red-heading"><%= @about.title.html_safe %></div>
      <div><p><%= @about.description.html_safe %></p></div>
      <% end %>    
    </div>
  </div>
</div>


<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
<!--
<% content_for :right do %>
<%= render :partial => 'site/shared/box_about_us' %>
<br />
<%= render :partial => '/site/shared/box_mood' %>
<br />
<%= render :partial => '/site/shared/social_follow' %>

<% end %>

-->