<% @title = "Terms and Condition"; @class = "help no-padding"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Help &raquo; Terms and Condition" %>

<% @about = AboutU.find(:first, :conditions => {:link_type => "terms_conditions"} ) %>
<div class="help-container">
  <% if @about %>
    <div class="green-heading-with-border"><%= @about.title.html_safe %></div>
    <div class="terms-text">
      <%= @about.description.html_safe -%>
    </div>
  <% end %>
</div>

  <% content_for :right do %>
  <%= render :partial => '/site/shared/box_help' %>
  <br />
  <%= render :partial => '/site/shared/box_mood' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>

  <% end %>

