<% @title = "Contact us"; @description = "let us know what you think about italyabroad.com"; @keys = "italian wine, italian red and white wine, italian food, wine tasting, wine expert" %>
<% @class = "about-us no-padding" %>
<% @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; About us &raquo; Contact us" %>
<div class="full-width bottom-50">
  <div class="green-heading-with-border"><h1>Contact Us</h1></div>
  <div class="section-form">
    <div class="row clearfix">
      <% unless @hide %>
        <h2><%= @contact_message.try(:header) %></h2>
        <%= show_messages flash[:message] %>
          <%= @contact_message.try(:message).try(:html_safe) %>
        <%= form_tag contact_us_path do %>
          <% unless flash[:notice].blank? %>
            <div><%= flash[:notice] %></div>
          <% end %>
          <div class="col-md-9">
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label">Insert your name:</div>
              <div class="col-md-7"><%= text_field :contact, :name %></div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label">Insert your email address:</div>
              <div class="col-md-7"><%= text_field :contact, :email %></div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label">Insert your message:</div>
              <div class="col-md-7">
                <%= text_area :contact, :message, :rows => 5, :style => "width:100%" %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label">Where did you hear about us?</div>
              <div class="col-md-7">
                <%= select :contact, :know_through, ["Google", "Yahoo", "Msn", "Other Search Engines", "Press", "Italyabroad.com Van", "Fairs and Events", "Flyers", "Wine Tasting", "Recommended by a Friend", "Other Source"] %>
              </div>
            </div>
            <div class="row form-row celarfix">
              <div class="col-md-2 section-label">Captcha</div>
              <div class="col-md-7"><%= recaptcha_tags %></div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label"> &nbsp;</div>
              <div class="col-md-7">
                <div class="green-button" style="max-width: 150px;"><%= submit_tag "Send" %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-md-3 right-align">
        <%= link_to image_tag('LiveChatHelpIcon.jpg', :title=>"Live Chat", :alt=>"Live Chat"), "#",:onclick=>"popupwindow('http://#{Rails.env == 'production' ? 'www.italyabroad.com' : 'localhost:3000'}/chat_messages', 700, 650)", :title=>"Live Chat" %> <br />
        <% if !Setting.first.blank?%>
          <%
            if Setting.first.chat_available
              support_link = "Open"
            else
              support_link = "Closed"
            end
          %>
        <% end %>
        <span style="font:bold 13px Arial"><%= link_to "Live chat (#{support_link})","#", :onclick=>"popupwindow('http://#{Rails.env == 'production' ? 'www.italyabroad.com' : 'localhost:3000'}/chat_messages', 700, 650)", :title=>"Live Chat" %>
        </span>
      </div>
    </div>
  </div>
</div>






<script type="text/javascript">
    function popupwindow(url, w, h) {
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        return window.open(url, "Italyabroad Chat", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
</script>

