
<%  @description = @setting.home_page_meta_description; @keys = @setting.home_page_meta_key %>
<%- @breadcrumbs = "<h1>Welcome to Italyabroad.com</h1>" -%>
<%#- @breadcrumbs = "<h1>Italian wine and food Online | Award winning wine merchant</h1>" -%>
  <!-- start carousel-->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <!-- <li data-target="#carousel-example-generic" data-slide-to="4"></li> -->  
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% if !@setting.nil? %>
        <%= render :partial => 'slider', locals: { setting: @setting}  %>
      <% end %>
    </div>
  </div><!-- End Carousel-->
  <!-- start 3 colum guide boxes-->
  <div class="guide-row row clearfix">
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <%= render :partial => '/site/shared/box_mood' %>
    <%= render :partial => '/site/shared/box_cercavino' %>
  </div><!-- end 3 cloum guide boxes-->
  <!-- Start Best Seller-->
  <div class="best-seller-wrapper">
    <h2>BEST SELLERS</h2>
    <!-- Start Slider-->
    <!-- Add Arrows -->
    <div class="pagi-arrow">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      </div>
    <div class="swiper-container best-seller-swiper" id="firstSwiper">
      <div class="swiper-wrapper">
        <% if !@best_sellers.blank? %>
          <% @best_sellers.each do |food| %>
            <%= render partial: 'best_seller', locals: { food: food} %>
          <% end %>
        <% end %>
      </div>
    </div><!-- End Slider-->
  </div><!-- End Best Seller-->
  <!-- Start Blog and wine club-->
  <div class="row clearfix">
    <div class="col-md-6 blog-row sm-bottom-60">
      <h2>BLOG</h2>
      <%if @post%>
        <%= render partial: 'blog', locals: { post: @post, blog_home: @blog_home}%>
      <%end%>
    </div>
    <div class="col-md-6 blog-row">
      <h2>WINE CLUB</h2>
        <%= render partial: 'wine_club', locals: { wine_club: @wine_club}%>
    </div>
  </div><!-- End Blog and wine club-->
  <!-- Start food counter-->
  <div class="food-counter-wrapper">
    <h2>FOOD COUNTER</h2>
    <!-- Start Slider-->
    <!-- Add Arrows -->
    <div class="pagi-arrow">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-container food-counter-swiper" id="secondSwiper">
      <div class="swiper-wrapper">
        <% @food_counter.each do |food| %>
          <%= render partial: 'food_counter', locals: { food: food} %>
        <% end %>
      </div>
    </div><!-- End Slider-->
  </div><!--End Food Counter-->
<!-- 3 colume bottom blocks-->
<% content_for :bottomBlocks do %>
  <div class="row clearfix">
    <div class="upcoming-row clearfix">
      <%= render :partial => '/site/shared/box_event' %>
      <%= render :partial => '/site/shared/box_hamper' %>
      <%= render :partial => '/site/shared/box_review_latest' %>
    </div>
  </div>
<% end %><!-- End 3 cloum bottom blocks-->

<script type="text/javascript">
  $(document).ready(function(){
      $(document).on('click','.swiper-container-horizontal a',function(e){
        window.location.href = $(this).attr('href')
      });
      $(".slideshow_images").find("li a").click(function(){
//    var toggleBanner = function(elem){
        var element_id = $(this).parent().attr("id").split("_")[$(this).parent().attr("id").split("_").length - 1];
          $("#flashBanner ul li").attr("style", "display: none;");
        var element = $("#home_image_" + element_id);
        element.attr("style", "display: list-item;");
        return false;
//    }
  })
  })
</script>
