
<% @title = "Italian Wines & Italian Food made by Small Producers" %>
<%# @title = "Italian Wines & Italian Food made by Small Producers";
#@description = "Italian Food and Italian Wine made by Passionate Small Producers in the UK,Fantastic Italian Wine and Italian Food,High Quality Italian Wine and Food"; @keys = "Italian Wines,Fine Italian Wines,Italian Red and White Wines, Italian Food, Wine Tasting, Wine Expert,Italian Wine Blog,Italy,Food,Wines,Barolo,Amarone,Brunello"
%>
<%  @description = @setting.home_page_meta_description; @keys = @setting.home_page_meta_key %>
<!--<script type="text/javascript">
/*function win1()
{
  var win = new Window({id: "win1", className: "alphacube",title:'Welcome to the new Italyabroad.com', width:380, height:150, top:0, left: 1, parent:$('container')});
  win.getContent().innerHTML = "<p>We have just relaunched our website adding plenty of new functionalities, we have done all tests and everything seems to be working fine, however, we ask you to be patient in case something does not work the way it is supposed to and please let us know so we can give it our immediate attention.</p>";

  win.setDestroyOnClose();
  win.show();
  win.setConstraint(true, {left:10, right:20})
  win.toFront();
}
*/



</script> -->


<%- @breadcrumbs = "Welcome to Italyabroad.com" -%>
<%#= javascript_tag "document.observe('dom:loaded', function(e){ HomeImageSlideShow.setup() });" %>
  <!-- start carousel-->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% if !@setting.nil? %>
        <% if @setting.home_image_1 %>
          <div class="item active">
            <%= link_to((image_tag(@setting.home_image_1.image_filename.url) || @setting.home_image_1_title), (@setting.home_image_1_url || root_url)) %>
          </div>
        <% end %>
        <% if @setting.home_image_2 %>
        <div class="item">
          <%= link_to((image_tag(@setting.home_image_2.image_filename.url) || @setting.home_image_2_title), (@setting.home_image_2_url || root_url)) %>
        </div>
        <% end %>
        <% if @setting.home_image_3 %>
        <div class="item">
          <%= link_to((image_tag(@setting.home_image_3.image_filename.url) || @setting.home_image_3_title), (@setting.home_image_3_url || root_url)) %>
        </div>
        <% end %>
        <% if @setting.home_image_4 %>
        <div class="item">
          <%= link_to((image_tag(@setting.home_image_4.image_filename.url) || @setting.home_image_4_title), (@setting.home_image_4_url || root_url)) %>
        </div>
        <% end %>
        <% if @setting.home_image_5 %>
        <div class="item">
          <%= link_to((image_tag(@setting.home_image_5.image_filename.url) || @setting.home_image_5_title), (@setting.home_image_5_url || root_url)) %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- End Carousel-->
  <!-- start 3 colum guide boxes-->
  <div class="guide-row row clearfix">
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <%= render :partial => '/site/shared/box_mood' %>
    <%= render :partial => '/site/shared/box_event' %>
  </div><!-- end 3 cloum guide boxes-->
  <!-- Start Best Seller-->
  <div class="best-seller-wrapper">
    <h2>Best Sellers</h2>
    <!-- Start Slider-->
    <!-- Add Arrows -->
    <div class="pagi-arrow">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-container best-seller-swiper" id="firstSwiper">
      <div class="swiper-wrapper">
        <% if !@best_sellers.blank? %>
          <% @best_sellers.each do |food| %>
            <div class="swiper-slide">
              <div class="slider-box clearfix ">
                <div class="col-xs-4"><%= link_to show_image_tag(:product_wine, food.image_1, :jpg, food.name), nested_products_uri(food),{:title => food.name} %></div>
                <div class="col-xs-8 slider-box-text">
                  <div class="item-name"><%= food.name -%></div>
                  <div class="seller-price">
                    <% if food.present? && food.product_prices.present? %>
                      <% food.product_prices.each do |best_food| %>
                        <p><%= number_to_currency best_food.price, :unit => "&pound;" -%></p>
                    <% end %>
                    <% else %>
                      <p>Not Available</p>
                    <% end %>
                  </div>
                  <div class="add-row clearfix">
                    <div class="seller-field"><input type="text" value="1"></div>
                    <div class="seller-btn"><a href="#.">Add</a></div>
                  </div>
                </div>  
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- End Slider-->
  </div>
  <!-- End Best Seller-->
  <!-- End Best Seller-->
  <!-- Start Blog and wine club-->
  <div class="row clearfix">
    <div class="col-md-6 blog-row">
      <h2>BLOG</h2>
      <div class="medium-box">
        <div class="row clearfix">
          <div class="col-xs-6"><img src="/images/blog-img-01.png" alt="blog image"></div>
          <div class="col-xs-6">
            <h3>Naked Wine's Pinot Grigio - part 2</h3>
            <div class="medium-box-text">As you may have noticed, I had to change the title of my previous post about Naked Wines' Pinot Grigio because I got a call from someone at their office Naked Wines complaining about my post about their Pinot  ...</div>
            <div class="read-more"><a href="#.">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 blog-row">
      <h2>WINE CLUB</h2>
      <div class="medium-box">
        <div class="row clearfix">
          <div class="col-xs-6"><img src="/images/club-img-01.png" alt="Club image"></div>
          <div class="col-xs-6">
            <h3>Discover the best Italian wines sat on the confort of your home</h3>
            <div class="medium-box-text"><span class="red-text">Option 1</span> - Wine Club 2-per-Month<br>
              <span class="red-text">Option 2</span> -  Wine Club 6-per-Month<br>
              <span class="red-text">Option 3</span> -  Wine Club Regular Case</div>
              <div class="read-more"><a href="#.">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog and wine club-->
  <!-- Start food counter-->
  <div class="food-counter-wrapper">
    <h2>Food Counter</h2>
    <!-- Start Slider-->
    <!-- Add Arrows -->
    <div class="pagi-arrow">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="swiper-container food-counter-swiper" id="secondSwiper">
      <div class="swiper-wrapper">
        <% @food_counter.each do |food| %>
          <div class="swiper-slide">
            <div class="slider-box clearfix ">
              <div class="col-xs-4">
                <div class="counter-image"><%= link_to show_image_tag(:product_food, food.image_1, :jpg, food.name), nested_products_uri(food), {:title => food.name} %></div>
              </div>
              <div class="col-xs-8 slider-box-text"><%= food.name -%></div>
              <div class="seller-price">
                <% if food.present? && food.product_prices.present? %>
                  <% food.product_prices.each do |f| %>
                    <p><%= number_to_currency f.price, :unit => "&pound;" %></p>
                  <% end %>
                <% else %>
                  <p>Not Available</p>
                <% end %>
              </div>
              <div class="row add-row clearfix">
                <div class="seller-field"><input type="text" value="1"></div>
                <div class="seller-btn"><a href="#.">Add</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- End Slider-->
  </div><!--End Food Counter-->
  <!--<%= render :partial => '/site/shared/box_welcome' %> -->
  <!-- <div class="new_search">
    <div class="fLeft font26">
      <dt style="width: 27.8em;">
        <h3 style="margin-left: 15px;">Recommended Wines</h3>
      </dt>
    </div>

    <dt style="width: 100%;">
      <% @recommended_wines.each do |wine| %>
        <dt style="width: 15em;">
          <center>
            <%= link_to show_image_tag(wine.layout_image, wine.image_1, :jpg, wine.name), nested_products_uri(wine) %>
            <br /><br />
            <div style="height:25px;">
            <%#= link_to show_image_tag(:card, wine.image_1, :jpg, wine.name), nested_products_uri(wine), {:title => wine.name} %>
            <%= wine.name -%>
            </div>
            <div style="padding-top: 5px;">
            <% if wine.present? && wine.product_prices.present? %>
              <% wine.product_prices.each do |w| %>
                <p style="color:#C40909; font-weight:bold; font-size: 13px;"><%= number_to_currency w.price, :unit => "&pound;" -%></p>
              <% end %>
            <% else %>
              <p style="color:#C40909; font-weight:bold; font-size: 13px;">Not Available</p>
            <% end %>
            </div>
          <center>
        </dt>
      <% end %>
    </dt>
  </div> -->


<!-- 3 colume bottom blocks-->
<% content_for :bottomBlocks do %>
  <div class="row clearfix">
    <div class="upcoming-row clearfix">
      <%= render :partial => '/site/shared/box_event' %>
      <%= render :partial => '/site/shared/box_hamper' %>
      <%= render :partial => '/site/shared/box_review_latest' %>
    </div>
  </div>
<% end %><!-- End 3 cloum bottom blocks-->
<% content_for :right do %>
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_latest_community_comments' %>
    <br />
    <%= render :partial => '/site/shared/box_blog' %>
    <br />
    <%= render :partial => '/site/shared/box_popular' %>
    <br />
   	<%= render :partial => '/site/shared/box_mood' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
      $(".slideshow_images").find("li a").click(function(){
//    var toggleBanner = function(elem){
        var element_id = $(this).parent().attr("id").split("_")[$(this).parent().attr("id").split("_").length - 1];
          $("#flashBanner ul li").attr("style", "display: none;");
        var element = $("#home_image_" + element_id);
        element.attr("style", "display: list-item;");
        return false;
//    }
  })
  })
</script>
