
<% @title = "Italian Wines & Italian Food made by Small Producers" %>
<%# @title = "Italian Wines & Italian Food made by Small Producers";
#@description = "Italian Food and Italian Wine made by Passionate Small Producers in the UK,Fantastic Italian Wine and Italian Food,High Quality Italian Wine and Food"; @keys = "Italian Wines,Fine Italian Wines,Italian Red and White Wines, Italian Food, Wine Tasting, Wine Expert,Italian Wine Blog,Italy,Food,Wines,Barolo,Amarone,Brunello"
%>
<%  @description = @setting.home_page_meta_description; @keys = @setting.home_page_meta_key %>
<!--<script type="text/javascript">
/*function win1()
{
  var win = new Window({id: "win1", className: "alphacube",title:'Welcome to the new Italyabroad.com', width:380, height:150, top:0, left: 1, parent:$('container')});
  win.getContent().innerHTML = "<p>We have just relaunched our website adding plenty of new functionalities, we have done all tests and everything seems to be working fine, however, we ask you to be patient in case something does not work the way it is supposed to and please let us know so we can give it our immediate attention.</p>";

  win.setDestroyOnClose();
  win.show();
  win.setConstraint(true, {left:10, right:20})
  win.toFront();
}
*/



</script> -->
<style>


    #container {
        position:absolute;
        top:150px;
        left:600px;
        width:380px;
        height:100px;
        z-index:auto;
    }
</style>
<!-- <div id="container"></div> -->
<%#if !cookies[:display]
            cookies[:display] = {:value => 'true',
   :expires => 1.days.from_now }
%>
<!--<script>
// win1();
</script> -->
<%#end%>


<%- @breadcrumbs = "Welcome to Italyabroad.com" -%><br />
<%- @onload = "StartSlideShow()" -%>
<%#= javascript_tag "document.observe('dom:loaded', function(e){ HomeImageSlideShow.setup() });" %>
<div id="flashBanner">
  <% if !@setting.nil? %>
      <ul>
        <li id="home_image_1" class="home_image">
          <%= link_to((image_tag(@setting.home_image_1.image_filename.url) || @setting.home_image_1_title), (@setting.home_image_1_url || root_url)) %>
        </li>
        <li id="home_image_2" class="home_image" style="display:none;">
          <%= link_to((image_tag(@setting.home_image_2.image_filename.url) || @setting.home_image_2_title), (@setting.home_image_2_url || root_url)) %>
        </li>
        <li id="home_image_3" class="home_image" style="display:none;">
          <%= link_to((image_tag(@setting.home_image_3.image_filename.url) || @setting.home_image_3_title), (@setting.home_image_3_url || root_url)) %>
        </li>
        <li id="home_image_4" class="home_image" style="display:none;">
          <%= link_to((image_tag(@setting.home_image_4.image_filename.url) || @setting.home_image_4_title), (@setting.home_image_4_url || root_url)) %>
        </li>
        <li id="home_image_5" class="home_image" style="display:none;">
          <%= link_to((image_tag(@setting.home_image_5.image_filename.url) || @setting.home_image_5_title), (@setting.home_image_5_url || root_url)) %>
        </li>
      </ul>
  <%end%>
</div><br />
<ul class="slideshow_images" id="navmenu">

  <li id="link_number_1" class="white_text">
    <%= link_to "1", "#" %></li>
  <%
     ln_class = ""
     if !@setting.nil?
       if @setting.home_image_1_title.size < 18  #earlier it was 16
         ln_class = "single-line"
       elsif @setting.home_image_1_title.size < 32
         ln_class = "double-line"
       elsif @setting.home_image_1_title.size < 45
         ln_class = "three-line"
       end
     end
  %>
  <li id="link_home_image_1" class="active">
    <%#= link_to_function @setting.home_image_1_title, "javascript:GoTo('home_image_1');", :class => "slide #{ln_class}" %>
    <%= link_to @setting.home_image_1_title, "#", :class => "slide #{ln_class}" if !@setting.nil?  %>
  </li>
  <li id="link_number_2" class="white_text">
    <%= link_to "2", "#" %></li>
  <%
     ln_class = ""
     if !@setting.nil?
       if @setting.home_image_2_title.size < 16
         ln_class = "single-line"
       elsif @setting.home_image_2_title.size < 32
         ln_class = "double-line"
       elsif @setting.home_image_2_title.size < 45
         ln_class = "three-line"
       end
     end
  %>
  <li id="link_home_image_2">
    <%#= link_to_function @setting.home_image_2_title, "javascript:GoTo('home_image_2');", :class => "slide #{ln_class}" %>
    <%= link_to  @setting.home_image_2_title, "#", :class => "slide #{ln_class}" if !@setting.nil? %></li>
  <li id="link_number_3" class="white_text" >
    <%= link_to "3", "#" %></li>
  <%
     ln_class = ""
     if !@setting.nil?
       if @setting.home_image_3_title.size < 16
         ln_class = "single-line"
       elsif @setting.home_image_3_title.size < 32
         ln_class = "double-line"
       elsif @setting.home_image_3_title.size < 45
         ln_class = "three-line"
       end
     end
  %>
<%#= link_to_function @setting.home_image_3_title, "javascript:GoTo('home_image_3');", :class => "slide #{ln_class}" %>
  <li id="link_home_image_3"><%= link_to @setting.home_image_3_title, "#", :class => "slide #{ln_class}" if !@setting.nil? %></li>
  <li id="link_number_4" class="white_text" >
    <%= link_to "4", "#" %></li>
  <%
     ln_class = ""
     if !@setting.nil?
       if @setting.home_image_4_title.size < 16
         ln_class = "single-line"
       elsif @setting.home_image_4_title.size < 32
         ln_class = "double-line"
       elsif @setting.home_image_4_title.size < 45
         ln_class = "three-line"
       end
     end
  %>
  <%#= link_to_function @setting.home_image_4_title, "javascript:GoTo('home_image_4');", :class => "slide #{ln_class}" %>
  <li id="link_home_image_4"><%= link_to @setting.home_image_4_title, "#", :class => "slide #{ln_class}" if !@setting.nil? %></li>
  <li id="link_number_5" class="white_text" >
    <%= link_to "5", "#" %></li>
  <%
     ln_class = ""
     if !@setting.nil?
       if @setting.home_image_5_title.size < 16
         ln_class = "single-line"
       elsif @setting.home_image_5_title.size < 32
         ln_class = "double-line"
       elsif @setting.home_image_5_title.size < 45
         ln_class = "three-line"
       end
     end
  %>
  <%#= link_to_function @setting.home_image_5_title, "javascript:GoTo('home_image_5');", :class => "slide #{ln_class}" %>
  <li id="link_home_image_5"><%= link_to @setting.home_image_5_title, "#", :class => "slide #{ln_class}" if !@setting.nil? %></li>
</ul>

<div style="float:right; width: 60px; margin-top: 13px;">
  <div style="float:left; margin-right:3px; width: 16px; height: 18px;"><%= link_to "", "javascript:GoPrevious();", :id => "PrevButton" %></div>
  <div style="float:left; margin-right:3px; width: 16px; height: 18px;">
    <%= link_to "Stop", "javascript:Stop();", :class => "slide_control", :id => "PauseButton" %>
    <%= link_to "Play", "javascript:StartSlideShow();", :class => "slide_control", :id => "PlayButton",:style=>"display:none;" %>
  </div>
  <div style="float:left; margin-right:3px; width: 16px; height: 18px;"><%= link_to "", "javascript:GoNext();", :id => "NextButton" %></div>
</div>
<%= render :partial => '/site/shared/box_welcome' %>

<!--<div id="bottomTextBox">-->

<!--<div id="bottomTextBox">-->
<div class="new_search">
  <div class="fLeft font26">
    <dt style="width: 27.8em;">
      <h3 style="margin-left: 15px;">Recommended Wines</h3>
    </dt>
  </div>

  <dt style="width: 100%;">
    <% @recommended_wines.each do |wine| %>
      <dt style="width: 15em;">
        <center>
          <%= link_to show_image_tag(wine.layout_image, wine.image_1, :jpg, wine.name), nested_products_uri(wine) %>
          <br /><br />
          <div style="height:25px;">
          <%#= link_to show_image_tag(:card, wine.image_1, :jpg, wine.name), nested_products_uri(wine), {:title => wine.name} %>
          <%= wine.name -%>
          </div>
          <div style="padding-top: 5px;">
          <% if wine.present? && wine.product_prices.present? %>
            <% wine.product_prices.each do |w| %>
              <p style="color:#C40909; font-weight:bold; font-size: 13px;"><%= number_to_currency w.price, :unit => "&pound;" -%></p>
            <% end %>
          <% else %>
            <p style="color:#C40909; font-weight:bold; font-size: 13px;">Not Available</p>
          <% end %>
          </div>
        <center>
      </dt>
    <% end %>
  </dt>
</div>


<div class="new_search">
  <div class="fLeft font26">
    <dt style="width: 27.8em;">
      <h3 style="margin-left: 15px;">Food Counter</h3>
    </dt>
  </div>

  <dt style="width: 100%;">
    <% @food_counter.each do |food| %>
      <dt style="width: 15em;">
        <center>
          <%= link_to show_image_tag(:card, food.image_1, :jpg, food.name), nested_products_uri(food), {:title => food.name} %><br /><br />
          <div style="height:25px;">
          <%= food.name -%>
          </div>
          <div style="padding-top: 5px;">
          <% if food.present? && food.product_prices.present? %>
            <% food.product_prices.each do |f| %>
              <p style="color:#C40909; font-weight:bold; font-size: 13px;"><%= number_to_currency f.price, :unit => "&pound;" -%></p>
            <% end %>
          <% else %>
            <p style="color:#C40909; font-weight:bold; font-size: 13px;">Not Available</p>
          <% end %>
         </div> 
        <center>
      </dt>
    <% end %>
  </dt>
</div>

<div class="new_search">
  <div class="fLeft font26">
    <dt style="width: 27.8em;">
      <h3 style="margin-left: 15px;">Best Seller</h3>
    </dt>
  </div>

  <dt style="width: 100%;">
    <% if !@best_sellers.blank? %>
      <% @best_sellers.each do |food| %>
        <dt style="width: 15em;">
          <center>
            <%= link_to show_image_tag(:card, food.image_1, :jpg, food.name), nested_products_uri(food),{:title => food.name} %><br /><br />
            <div style="height:25px;">
            	<%= food.name -%>
            </div>	
            <div style="padding-top: 5px;">
            <% if food.present? && food.product_prices.present? %>
              <% food.product_prices.each do |best_food| %>
                <p style="color:#C40909; font-weight:bold; font-size: 13px;"><%= number_to_currency best_food.price, :unit => "&pound;" -%></p>
              <% end %>
            <% else %>
              <p style="color:#C40909; font-weight:bold; font-size: 13px;">Not Available</p>
            <% end %>
            </div>
            </dt>
        <center>
      <% end %>
    <% end %>
  </dt>
</div>
<!--</div>-->

<% content_for :right do %>
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_latest_community_comments' %>
    <br />
    <%= render :partial => '/site/shared/box_blog' %>
    <br />
    <%= render :partial => '/site/shared/box_popular' %>
    <br />
   	<%= render :partial => '/site/shared/box_mood' %>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
      $(".slideshow_images").find("li a").click(function(){
//    var toggleBanner = function(elem){
        var element_id = $(this).parent().attr("id").split("_")[$(this).parent().attr("id").split("_").length - 1];
          $("#flashBanner ul li").attr("style", "display: none;");
        var element = $("#home_image_" + element_id);
        element.attr("style", "display: list-item;");
        return false;
//    }
  })
  })
</script>
