<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="Edge,chrome=1" /><![endif]-->
    
    <title><%= h(title) %></title>
    <meta name="description" content="<%= h(description) %>" />
  <meta name="keywords" content="<%= h(keys) %>" />
  <meta name="copyright" content="italyabroad.com"/>
    <meta name="Fahad Akhtar" content="Goodlogics">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="ROBOTS" content="INDEX,FOLLOW"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css Files-->
    <!-- <link type="text/css" rel="stylesheet" href="css/bootstrap-theme.css" /> -->
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css" media="all" />
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css" media="all" /> 
    <link type="text/css" rel="stylesheet" href="stylesheets/landing.css" media="all" />
    <link type="text/css" rel="stylesheet" href="stylesheets/print.css" media="print" />
    <%= javascript_include_tag "site" %>
</head>
    <body>
        <div class="container">
            <div class="landing-header">
                <div class="main-banner-landing">
                    <div class="top-content">
                        <div class="enter-site-row">
                            <div class="enter-button1 dark-green-button">
                                <!-- <a href="/"><img src="landing-img/enter-main-site.png" alt="enter main site"></a> -->
                                <a href="/"  title="Enter Main Site">Enter main site</a>
                            </div>
                            <div class="enter-button2 dark-green-button">
                                <!-- <a href="/login"><img src="landing-img/login-btn.png" alt="login button" /></a> -->
                                <a href="/login" title="Login"><span class="lock"><img src="landing-img/lock.png" alt="lock" title="lock"></span>Login</a>
                            </div>
                         </div>
                        <div class="welcome-board">
                            <div class="row clearfix">
                                <div class="col-md-5 col-md-offset-2 col-xs-offset-1 col-xs-10 clearfix">
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="welcome-bg">
                                            <!-- <div class="green-heading">Welcome to Italy...abroad</div> -->
                                            <div class="welcome-text">
                                                <p>At Italyabroad.com we only work with small and passionate wine makers and artisans, we only sell the wine and food we love</p>
                                                <p>We don’t tell fairy tales to justify huge discounts and ridiculous prices, the only stories we tell are the ones of our producers and ours and why we love them.</p>
                                            </div>
                                            <div class="welcome-btn">
                                                <h1 class="dark-green-button-big">
                                                    <!-- <a href="<%=session[:return_path]%>"><img src="landing-img/welcome-btn.png" alt="get excited" /></a> -->
                                                    <a href="<%=session[:return_path]%>" title="Welcome to Italy abroad" >Welcome to italy...abroad</a>
                                                </h1>
                                            </div>
                                            <div class="welcome-logo"><a href="/"  title="Italy Abroad"><img src="landing-img/logo_hi_res.gif" alt="logo" title="Logo" /></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <div class="heading-with-border">
                    <h2>Where it all began</h2>
                </div>
                <div>
                    <div class="border-box clearfix">
                        <div class="col-md-7 text-box">
                            <p>Our story begins a long time ago (long before I was born), in a small Italian village in Abruzzo, where my grandparents, Ida and Ettore (seen in these two photographs), and their parents before them, were tending vines and making their wine on hillsides overlooking the medieval town of Gissi.</p>
                            <p>In post war Italy, cars were for rich people, and Ida and Ettore were not; they would get up at 3:00 am in the morning, and would set off with a donkey carrying all the necessary equipment. My grandparents would walk some 10km and work until 12:00pm, and then return home, weary from the days physical excursions, almost every day of the year, come rain or shine, just to make their own wine. </p>
                            <p><strong>This is where my and our story started</strong></p>
                        </div>
                        <div class="col-md-5 image-box"><img src="landing-img/image-01.png" alt="image" title="image" /></div>
                    </div>
                    <div class="border-box clearfix">
                        <div class="col-md-5 image-box"><img src="landing-img/image-02.png" alt="image" title="image" /></div>
                        <div class="col-md-7 text-box">
                            <p>Then I came along, and along came the tractors; the donkey was retired; but still, almost every morning for a few more years, my grandparents continued their work on the vineyards with the same commitment and the same pride that went into making their own wine and freely sharing their enthusiasm and knowledge of winemaking with their grandsons. </p>
                            <p>In our family food and wine were not considered commodities, for us, they are one of life’s real pleasures to be savoured and remembered.</p>
                            <p>We have the same passion and commitment at Italyabroad.com, everything we import is made with love, care and with passion, from real people, with faces, some are above, and with stories to tell, just like my grandparents. </p>
                        </div>
                    </div>
                </div>
                <div class="main-heading">So, why buy <strong>Italian</strong> from us?</div>
                <div class="content-box1">
                    <p>Our wine makers and artisans are <strong>truly small and passionate,</strong> whole families working together to create <strong>great wines</strong> and quality food. Great wine is made by nurturing the vineyards and <strong>healthy food</strong> by selecting the finest natural ingredients.</p>
                    <p><strong>We don’t tell fairy tales to justify huge discount and ridiculous prices, you won’t find our vouchers in toilet paper packs, instead we offer quality and outstanding value for money.</strong></p>
                    <p><strong>Authentic Italian wine</strong> is not the one constantly on offer with the most ridiculous names; and, <strong>authentic Italian food</strong> should be naturaland made simply, with no long list of ingredients with great quantities of added preservatives.</p>
                    
                </div>
                <div class="main-heading2">When is the last time you got <strong>excited</strong><br/> when tasting something Italian? </div>
                <div class="content-box1">
                    <p>Or, when was the last time you went to Italy on holiday and said “I wish I could find this at home? </p>
                    <p>Italyabroad.com is purely quality Italian wine and food from small Italian artisans, <strong>this is what we are and stand for.</strong> And so, if you like what you read, you can <strong>start browsing with confidence</strong> and we guarantee that <strong>you and your taste buds will feel excited again</strong> and all without having to wait until your next trip to Italy.</p>
                </div>
                <div class="content-box2">
                    <p><strong>“It's unwise to pay too much, but it's worse to pay too little. When you pay too much, you lose a little money - that's all. When you pay too little, you sometimes lose everything, because the thing you bought was incapable of doing the thing it was bought to do. The common law of business balance prohibits paying a little and getting a lot - it can't be done.</strong></p>
                    <div class="name">(John Ruskin)</div>
                    <p>“The bitterness of poor quality remains long after the sweetness of low price is forgotten”</p>
                    <div class="name">(Benjamin Franklin)</div>
                </div>
                <div class="promise">Having read this far, these are our promises to you: </div>
                <div class="three-column clearfix">
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/customer-icon.png" title="cutomer" alt="cutomer"></div>
                        <div class="col-title">Outstanding Customer Service</div>
                        <div class="col-des">We know <strong>everything</strong> there is to know about our produce and are happy to help you find what you looking for.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/delivery-icon.png" alt="Delivery" title="Delivery"></div>
                        <div class="col-title">Delivered To Your Doorstep</div>
                        <div class="col-des">Free <strong>next day</strong> delivery when you spend &pound;100 or more.</div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-icon"><img src="landing-img/wine-icon.png" alt="Wine" title="Wine"></div>
                        <div class="col-title">The Italyabroad.com Promise</div>
                        <div class="col-des">If you dont like the wine or you think it is faulty, we will <strong>replace</strong> or <strong>refund</strong> it with  no questions asked.</div>
                    </div>
                </div>
                <div class="get-start"><a href="<%=session[:return_path]%>"  title="Get Started"><img src="landing-img/get-started-btn.png" alt="Get started" title="Get Started" /></a></div>
            </div>
        </div>
        <%- if Rails.env == "production" -%>
      <script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript">
      </script>
      <script type="text/javascript">
          _uacct = "UA-620606-1";
          urchinTracker();
      </script>
  <%- end -%>
  <script>
    $(document).ready(function(){
      var isMobile = false; //initiate as false
      // device detection
    if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
        || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;  
      if (isMobile) {
        $(".truncate_blog_text").html($('.truncate_blog_text').text().trim().substring(0, 150).split(" ").slice(0, -1).join(" ") + "...");
        $(".truncate_wine_text p").html($('.truncate_wine_text').text().trim().substring(0, 150).split(" ").slice(0, -1).join(" ") + "...");  
      }
      
    });
    $(".chat_available").click(function (event) {
      event.preventDefault();
        var w = window.open("<%= chat_index_path -%>", "popupWindow", "width=490, height=540, scrollbars=yes");
        var $w = $(w.document.body);
        $w.html($('#modalText').html());
        $w.find(".addimage").click(function(e) {
          e.preventDefault();
          console.log(w.opener.document);
          $("#imagelist", w.opener.document).append("<li></li>");
      });
      return false;
    });

    function popupwindow(url, w, h) {
      title = "Live Chat"
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    } 
  </script>


  <a title="Real Time Web Analytics" href="http://clicky.com/100911433"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif"   title="Badge" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100911433); }catch(e){}</script>
  <noscript><p><img alt="Clicky" title="Cliky" width="1" height="1" src="//in.getclicky.com/100911433ns.gif" /></p></noscript>


  <script>
      /* this allows us to pass in HTML tags to autocomplete. Without this they get escaped */
      $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      return $( "<li></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<a></a>" ).html( item.label ) )
        .appendTo( ul );
      };
    </script>
    </body>
    
</html>