
<% @title = "Login"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Login"%>
<% @class = "no-padding" %>

<div id="header">Login</div>
<div>
  <%#= error_messages_for 'user' unless params[:user_type] == "guest" %>
  <%= show_messages(flash[:notice]) %>

</div>
<table align="center" width="95%" id="login_box" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" width="50%">
      <h1>Existing User</h1>
      <% form_tag login_url do  %>

        <p>Username</p>
        <p><%= text_field_tag :login, params[:login] %></p>
        <%= set_focus_to('login') %>
        <p>Password</p>
        <p><%= password_field_tag :password, nil %></p>
          <%= hidden_field_tag :provider, params[:provider] -%>
          <%= hidden_field_tag :uid, params[:uid] -%>
          <%= hidden_field_tag :token, params[:token] -%>
        <p><%= link_to "Forgot your password", request_new_password_path %></p>
        <p><%= image_submit_tag "login_button.png" %></p>
        <!--<fb:login-button onlogin='rack_fbconnect()'></fb:login-button>-->

      <% end %>
      <% if current_user != :false%>
        Welcome <%= current_user.name %>!
        <%= link_to "Sign Out", logout_path %>
      <% else %>
          <table>
            <tr>
              <td>
                <%= link_to content_tag("p", "", :class => "facebook-login-btn width154"), "/auth/facebook" %>
              </td>
              <td>
                <%= link_to content_tag("p", "", :class => "twitter-login-btn width154"), "/auth/twitter" %>
              </td>
            </tr>
          </table>
      <% end %>
    </td>
    <td valign="top" width="50%" style="border-left:none;">
      <h1>New User</h1>
      <p>
        Creating an account only takes a few moments.
        you will be able to store your payment and delivery details for future orders.
      </p>
      <p>
        <%= link_to image_tag("buttons/register_button.png"), signup_url %>
      </p>
    </td>
  </tr>
</table>


<% content_for :right do %>
  <%= render :partial => '/site/shared/box_event' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => '/site/shared/box_wine_tours' %>
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_popular' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

