<% @title = "Our principles and philosophy" %>
<% @class = "about-us no-padding" %>
<% @breadcrumbs = "#{link_to("Home", root_url)} &raquo; About us &raquo; Our principles and philosophy" %>
<% @about = AboutU.find(:first, :conditions => {:link_type => "pricipal and philosophy"} ) %>

<!-- start main banner-->
<% if @about.image %>
	<div class="main-banner"><img src="<%= @about.image.image_filename %>" alt="about us"></div>
<% end %>
<!-- end main banner-->
<!-- <div id="header"><strong>Italyabroad.com</strong>-About us</div> -->
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/shared/box_wine_tour_testimonials' %>
    </div>
    <div class="col-md-9">
      <% if @about %>
      <div class="red-heading"><%= @about.title.html_safe  %></div>
      <div>
        <%= @about.description.html_safe  %>
        <% else %>
        <p style="padding:30px 0 30px 0;text-align:center;font: bold 16px Arial">Coming soon...</p>
        <% end %>
      </div>    
    </div>  
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->




<!--<% content_for :right do %>
  <%= render :partial => 'site/shared/box_about_us' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>
-->
