<% @title = "Italyabroad.com sitemap"; @class = "sitemap no-padding"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Sitemap" %>

<div id="header" class="green-heading-with-border"><h1><!-- Italian wine and food Online | Award winning wine merchant -->
Sitemap</h1></div>
<div class="full-width">
  <div class="">
    Please use our sitemap to help guide your way around italyabroad.com. If you have any trouble finding a particular product, please don't hesitate to <%= link_to 'Contact us',contact_us_path %>
  </div>
  <div class="section-box">
    <h2 class="green-heading-with-border">
      Useful pages and information
    </h2>
    <div class="row clearfix site-map-box">
      <div class="col-xs-4">
        <h2 class="links-heading">About Us</h2>  
        <ul>
          <li><%= link_to "Our manifesto", our_principles_path, :title=>"Our Manifesto" %></li>
          <li><%= link_to "Who We Are", about_us_path, :title=>"Who we are" %></li>
          <li><%= link_to "Meet Us", meet_us_path, :title=>"Meet Us" %></li>
          <li><%= link_to "Contact Us", contact_us_path, :title=>"Contact Us" %></li>
          <li><%= link_to "Wholesale", wholesale_enquiry_path, :title=>"Wholesale" %></li>
          <li><%= link_to "Corporate Services", corporate_path, :title=>"Corporate Service" %></li>
          <li><%= link_to "Suppliers", "/suppliers", :title=>"Supplier" %></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h2 class="links-heading">Community</h2>
        <ul>
          <li><%= link_to "Andrea's Blog", blog_index_path, :title=>"Andrea's Blog" %></li>
          <li><%= link_to "Community", wine_community_path, :title=>"Community" %></li>
          <li><%= link_to "Producers", producers_path, :title=>"Products" %></li>
          <li><%= link_to "Grape guide", grape_guide_path, :title=>"Grape Guide" %></li>
          <li><%= link_to "Regions", regions_path, :title=>"Regions" %></li>
          <li><%= link_to "Testimonials", testimonial_path, :title=>"Testimonials" %></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h2 class="links-heading">Help</h2>
        <ul>
          <li><%= link_to "Terms & Conditions", terms_and_conditions_path, :title=>"Terms & Conditions" %></li>
          <li><%= link_to "Privacy Policy ", privacy_policy_path, :title=>"Privacy Policy" %></li>
          <li><%= link_to "Delivery Service", delivery_services_path, :title=>"Delivery Service" %></li>
          <!-- li><%#= link_to "Managing Account", managing_account_path %></li -->
          <li><%= link_to "Contact Details", contact_details_path, :title=>"Contact Details" %></li>
          <li><%= link_to "Sitemap", "/sitemap", :title=>"Sitemap" %></li>
          <li><%= link_to("Gift Cards", '/wine/gift-cards', :title=>"Gift Cards") %></li>
          <li><%= link_to "Guarantee of Satisfaction", guarantee_of_satisfaction_path, :title=>"Gurantee of Staisfaction" %></li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="section-box-2">
    <h2 class="green-heading-with-border">
      Browse by categories
    </h2>
    <div class="row clearfix site-map-box">
      <% for category in Category.find(:all, :conditions => ["parent_id is ? AND show_in_menu = ?", nil, true] ) do %>
        <div class="col-xs-4">
          <h2 class="links-heading"><%= link_to category.name, "/#{category.friendly_identifier == "events" ? "wine-events" : category.friendly_identifier}", :title=>category.name %></h2>
          <%- unless category.children.blank? -%>
            <ul>
              <%- for child in category.children -%>
                <% num_products = 0 %>
                <% for p in child.products %>
                  <% num_products = num_products + 1 if p.active == true %>
                <% end %>
                <li><%= link_to(child.name, nested_categories_url(category, child), :title=>child.name) if num_products > 0 %></li> <!--  if child.products.size > 0-->
              <%- end -%>
              <li><%= link_to("Special Offers", nested_categories_url(category, "offer"), :title=>"Special Offers" ,:type => "special_offer")  %></li>
            </ul>
          <%- end -%>
        </div>
      <% end %>
    </div>
  </div>
</div>
