<% @title = "Italyabroad.com sitemap"; @class = "sitemap no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Sitemap" %>

<div id="header"><strong>Italyabroad.com</strong>-Sitemap</div>

<div id="site-map">

        <p>Please use our sitemap to help guide your way around italyabroad.com. If you have any trouble finding a particular product, please don't hesitate to <%= link_to 'Contact us',contact_us_path %>
        </p>

  <div style="border-top:1px solid #cccccc;">
    <h3>Useful pages and information</h3>
    <div class="section">
      <h6>About Us</h6>
      <ul>
        <li><%= link_to "Who we are", about_us_path %></li>
        <li><%= link_to "Our principles and philosophy", our_principles_path %></li>
        <li><%= link_to "Meet us", meet_us_path %></li>
        <li><%= link_to "Contact us", contact_us_path %></li>
        <li><%= link_to "Wholesale", wholesale_enquiry_path %></li>
        <li><%= link_to "Corporate services", corporate_path %></li>
      </ul>
    </div>
    <div class="section">
      <h6>Community</h6>
      <ul>
        <li><%= link_to "Andrea's Blog", blog_index_path %></li>
        <li><%= link_to "Forum", forums_path %></li>
        <li><%= link_to "Latest entries", posts_path %></li>
        <li><%= link_to "Browse threads", forums_path %></li>
        <li><%= link_to "Our members" %></li>
        <li><%= link_to "Testimonial", testimonial_path %></li>
      </ul>
    </div>
    <div class="section">
      <h6>Help</h6>
      <ul>
        <li><%= link_to "Terms & Conditions", terms_and_conditions_path %></li>
        <li><%= link_to "Privacy Policy ", privacy_policy_path %></li>
        <li><%= link_to "Delivery service", delivery_services_path %></li>
        <!--<li><%#= link_to "Managing account", managing_account_path %></li>-->
        <li><%= link_to "Contact details", contact_details_path %></li>
        <li><%= link_to "Sitemap", sitemap_path %></li>
      </ul>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div style="border-top:1px solid #cccccc;">
    <h3>Browse by categories</h3>
     <% for category in Category.find(:all, :conditions => ["parent_id is ? AND show_in_menu = ?", nil, true] ) do %>
     <div class="section">

    <h6><%= link_to category.name, "/#{category.friendly_identifier == "events" ? "wine-events" : category.friendly_identifier}" %></h6>
     <%- unless category.children.blank? -%>
               <ul>
                      <%- for child in category.children -%>
                        <% num_products = 0 %>
                          <% for p in child.products %>
                            <% num_products = num_products + 1 if p.active == true %>
                          <% end %>

                        <li><%= link_to(child.name, nested_categories_url(category, child)) if num_products > 0 %></li> <!--  if child.products.size > 0-->
                      <%- end -%>
                      <li><%= link_to("Special Offers", nested_categories_url(category, "offer"),:type => "special_offer")  %></li>
          </ul>
       <%- end -%>

     </div>
     <% end %>
<h6><%= link_to "Recipes", recipes_path %></h6>
  </div>
 <div style="clear:both;"></div>
<!-- <div style="border-top:1px solid #cccccc;">
   <div class="section">
        <h6><%#= link_to "Recipes", recipes_path %></h6>
      </div>
   </div>-->
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_grape_guide' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => '/site/shared/box_popular' %>
<% end %>

