<% @title = "Subscribe"; @class = "no-padding"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Subscription" %>
<div class="green-heading-with-border"><h1>Italian wine and food Online | Award winning wine merchant<!-- Newsletter Subscription --></h1></div>
<div class="section-box-2">
  <h2 class="section-heading">Personal Details</h2>
  <div class="section-des">Please complete your subscription</div>
  <% if flash[:message] && flash[:title] %>
    <div class="green-strip">
      <b><%= flash[:title] %></b>
        <%= flash[:message] %>
    </div>
  <% end %>
  <% unless @hide %>
    <%= form_tag create_subscription_path do  %>
      <div class="section-form">
        <div class="row form-row clearfix">
          <div class="col-md-2 form-label">Name:</div>
          <div class="col-md-4"><%= text_field :subscription, :name %></div>
        </div>
        <div class="row form-row clearfix">
          <div class="col-md-2 form-label">Surname:</div>
          <div class="col-md-4"><%= text_field :subscription, :surname %></div>
        </div>
        <div class="row form-row clearfix">
          <div class="col-md-2 form-label">Email:</div>
          <div class="col-md-4"><%= text_field :subscription, :email %></div>
        </div>
        <div class="row form-row clearfix">
          <div class="col-md-2 form-label">Where did you hear about us?</div>
          <div class="col-md-4"><%= select :subscription, :know_through, ["Google", "Yahoo", "Msn", "Other Search Engines", "Press", "Italyabroad.com Van", "Fairs and Events", "Flyers", "Wine Tasting", "Recommended by a Friend", "Other Source"] %></div>
        </div>
        <div class="row form-row clearfix">
          <div class="col-md-2 form-label">&nbsp;</div>
            <div class="col-md-2 green-button">
              <div class="submit-btn"><%= submit_tag "Subscribe" %></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
