<%- @title = "Administration - Feedbacks"; @page_id = "Blog" -%>
<%- @breadcrumbs = "Blog &raquo; #{link_to "Feedbacks", admin_comments_path}" -%>

<div class="inner_content comments" id="admin_comments_index">
  <h2>Feedbacks</h2>
  <br /><br />
  <table id="comments-list" class="list sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Posted in</th>
        <th class="nosort"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3"><%= will_paginate_(@comments) %></td>
        <td colspan="2" align="right"><%= page_entries_info_ @comments %></td>
      </tr>
    </tfoot>
    <tbody>
      <%- for comment in @comments -%>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.name %></td>
        <td><%= comment.description %></td>
        <td><%= link_to(comment.post.name, blog_path(comment.post.id)) rescue "No posted in" %></td>
        <td><%= link_to "Destroy", admin_comment_path(comment), :method => :delete, :confirm => "Are you sure want to delete this comment?" %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>