<% @title = "Search #{params[:text]}"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; Search &raquo; All Site" -%>
<% if @users.blank? and  @producers.blank? and @wines.blank? and @recipes.blank? and @wine_events.blank? and @foods.blank? and @grapes.blank? and @hampers.blank? and @other_drinks.blank?%>
    <div id="header" class="green-heading-with-border"><h1><!-- Italian wine and food Online | Award winning wine merchant -->
    Your search returned no results</h1></div><br />
    <div class="fRight" style="margin-right: 12px; padding: 5px;"><%= link_to "Go Back", :back, :title=>"Back" -%></div>
    <br />
    
    <br />
    <div class="search_result" >Sorry the search has not given any result, please check the spelling or <%= mail_to "info@italyabroad.com", "get in touch" %> if the spelling is correct.<br /><br /></div>

<% else %>
    <div id="header" class="green-heading-with-border"><h1>Your search has found the following</h1> </div>
<% end %>
<div class="bottom-50">
  <% unless @users.blank? %>
    <div class="search-box">
      <!--<div id="header">Your search has found the following users:</div>-->
      <h2 class="search-heading">Community members</h2>
      <%#= link_to_remote @users.count.to_s + 'Users', :url => { :action => "find_users",:text=>params[:text]} %>
      <div class="search-links"><%= link_to (@users.count.to_s + '&nbsp; Users').html_safe(),   {:action => "find_users",:text=>params[:text]}, :title=>"Users" %>
        <div id="all_users"></div>
      </div>
    </div>
  <% end %>
  <% unless @producers.blank? %>
    <div class="search-box">
      <!--<div id="header">Your search has found the following producers:</div>-->
      <h2 class="search-heading">Producers</h2>
      <%#= link_to_remote @producers.count.to_s + 'Producers', :url => { :action => "find_producers",:text=>params[:text]} %>
      <div class="search-links"><%= link_to (@producers.count.to_s + '&nbsp; Producers').html_safe(),  {:action => "find_producers",:text=>params[:text]}, :title=>"Producers" %></div>
    </div>
  <% end %>
  <% unless @wines.blank? %>
    <div class="search-box">
      <!--<div id="header">Your search has found the following wines:</div>-->
      <h2 class="search-heading">Wines</h2>
      <%#= link_to_remote @wines.count.to_s + 'Wines' , :url => { :action => "find_wines",:text=>params[:text]} %>
      <div class="search-links"><%= link_to((@wines.count.to_s + '&nbsp; Wines').html_safe(),  :text=>params[:text], :id => 'wine', :title=>"Wines") %>
        <div id="all_wines"></div> 
      </div>
    </div>
  <% end %>
  <% unless @other_drinks.blank? %>
    <div class="search-box">
      <!--<div id="header">Your search has found the following wines:</div>-->
      <h2 class="search-heading">Other Drinks</h2>
      <%#= link_to_remote @wines.count.to_s + 'Wines' , :url => { :action => "find_wines",:text=>params[:text]} %>
        <div class="search-links"><%#= link_to((@other_drinks.count.to_s + '&nbsp; Other Drinks').html_safe(), find_other_drinks_search_index_path(:text=>params[:text])) %>
        <%= link_to (@other_drinks.count.to_s + '&nbsp; Other Drinks').html_safe() ,  :text=>params[:text], :id=> 'Other Drinks', :title=>"other_drinks" %>
        <div id="all_wines"></div>
      </div>
    </div>
  <% end %>
  <% unless @hampers.blank? %>
    <div search-box>
      <!--<div id="header">Your search has found the following wines:</div>-->
      <h2 class="search-heading">Hampers</h2>
      <%#= link_to_remote @wines.count.to_s + 'Wines' , :url => { :action => "find_wines",:text=>params[:text]} %>
      <div class="search-links"><%= link_to (@hampers.count.to_s + '&nbsp; Hampers').html_safe() , :text=>params[:text], :id=>'hampers', :title=>"Hampers" %>
        <div id="all_hampers"></div>
      </div>
    </div>
  <% end %>
  <% unless @recipes.blank? %>
    <div class="search-box">
      <!--<div id="header">Your search has found the following Recipes:</div>-->
      <h2 class="search-heading">Recipes</h2>
      <%#= link_to_remote @recipes.count.to_s + 'Recipes', :url => { :action => "find_recipes",:text=>params[:text]} %>
      <div class="searh-links"><%= link_to (@recipes.count.to_s + '&nbsp; Recipes').html_safe(), :text=>params[:text], :id=>'recipe', :title=>"Recipes" %>
        <div id="all_recipes"></div>
      </div>
    </div>
  <% end %>



  <% unless @foods.blank? %>
      <div class="search-box">
        <!--<div id="header">Your search has found the following Foods:</div>-->
        <h2 class="search-heading">Foods</h2>
        <%#= link_to_remote @foods.count.to_s + 'Foods', :url => { :action => "find_foods",:text=>params[:text]} %>
        <div class="search-links"><%= link_to (@foods.count.to_s + '&nbsp; Foods').html_safe(), :text=>params[:text], :id=> 'food', :title=>"Food" %>
          <div id="all_foods"></div>
        </div>
      </div>
  <% end %>

  <!-- added on feb/06/2012 for displyaing events in all search dorp down -->

  <% unless @wine_events.blank? %>
      <div class="search-box">
        <!--<div id="header">Your search has found the following Foods:</div>-->
        <h2 class="search-heading">Events</h2>
        <%#= link_to_remote @foods.count.to_s + 'Foods', :url => { :action => "find_foods",:text=>params[:text]} %>
        <div class="search-links"><%= link_to (@wine_events.count.to_s + '&nbsp; Events').html_safe(),  {:action => "find_wine_events",:text=>params[:text]}, :title=>"Events"%>
          <div id="all_events"></div>
        </div>
      </div>
  <% end %>
  <!-- added on Jun/12/2012 for displyaing Grapes -->

  <% unless @grapes.blank? %>
      <div class="search-box">
        <!--<div id="header">Your search has found the following Foods:</div>-->
        <h2 class="search-heading">Grapes</h2>
        <%#= link_to_remote @foods.count.to_s + 'Foods', :url => { :action => "find_foods",:text=>params[:text]} %>
        <%#= link_to @grapes.count.to_s + '&nbsp;&nbsp; Grapes',  :action => "find_grapes", :text=>params[:text]%>
        <%#= link_to @grapes.count.to_s + '&nbsp;&nbsp; Grapes',  grapes_path, :search_by_name=>params[:text], :search => 'Search'%>
        <div class="search-links"><%= link_to (@grapes.count.to_s + '&nbsp; Grapes').html_safe(),  grapes_search_results_path.to_s + "?search_by_name=#{params[:text]}&" +  "search=Search"%>
          <div id="grapes_all"></div>
        </div>
      </div>
  <% end %>
</div>

<% content_for :right do %>
    <%#= render :partial => 'site/shared/box_search_recipes_new' %>

    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <br />
   	<%= render :partial => '/site/shared/box_mood' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>

<% end %>

