<% @title = "Search #{params[:text]}"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Search &raquo; All Site" -%>
    <% if @users.blank? and  @producers.blank? and @wines.blank? and @recipes.blank? %>
        <div id="header">Your search returned no results:</div><br />

        <div class="search_result" >Sorry the search has not given any result, please check the spelling or <%= mail_to "info@italyabroad.com", "get in touch" %> and will find it for you.</div>


    <% else %>
        <div id="header">Your search has found the following </div>
    <% end %>


          <% unless @users.blank? %>
          <div style="margin:0 0 0 0px; padding-left:15px;">
            <!--<div id="header">Your search has found the following users:</div>-->
            <h1>Community members</h1>
            <%#= link_to_remote @users.count.to_s + 'Users', :url => { :action => "find_users",:text=>params[:text]} %>
            <%= link_to @users.count.to_s + '&nbsp;&nbsp; Users',   :action => "find_users",:text=>params[:text] %>
            <div id="all_users"></div><br /><br /><br />
          </div>
          <h3>&nbsp;</h3>
          <% end %>


          <% unless @producers.blank? %>
          <div style="margin:0 0 0 0px; padding-left:15px;">
              <!--<div id="header">Your search has found the following producers:</div>-->
              <h1>Producers</h1>
              <%#= link_to_remote @producers.count.to_s + 'Producers', :url => { :action => "find_producers",:text=>params[:text]} %>
              <%= link_to @producers.count.to_s + '&nbsp;&nbsp; Producers',  :action => "find_producers",:text=>params[:text] %>
              <div id="all_producers"></div><br /><br /><br />
          </div>
          <h3>&nbsp;</h3>
          <% end %>



          <% unless @wines.blank? %>
          <div style="margin:0 0 0 0px; padding-left:15px;">
              <!--<div id="header">Your search has found the following wines:</div>-->
              <h1>Wines</h1>
              <%#= link_to_remote @wines.count.to_s + 'Wines' , :url => { :action => "find_wines",:text=>params[:text]} %>
              <%= link_to @wines.count.to_s + '&nbsp;&nbsp; Wines' ,  :action => "find_wines",:text=>params[:text] %>
              <div id="all_wines"></div> <br /><br /><br />
          </div>
          <h3>&nbsp;</h3>
          <% end %>



          <% unless @recipes.blank? %>
          <div style="margin:0 0 0 0px; padding-left:15px;">
              <!--<div id="header">Your search has found the following Recipes:</div>-->
              <h1>Recipes</h1>
              <%#= link_to_remote @recipes.count.to_s + 'Recipes', :url => { :action => "find_recipes",:text=>params[:text]} %>
              <%= link_to @recipes.count.to_s + '&nbsp;&nbsp; Recipes',  :action => "find_recipes",:text=>params[:text] %>
              <div id="all_recipes"></div><br /><br /><br />
          </div>
          <h3>&nbsp;</h3>
          <% end %>



          <% unless @foods.blank? %>
          <div style="margin:0 0 0 0px; padding-left:15px;">
              <!--<div id="header">Your search has found the following Foods:</div>-->
              <h1>Foods</h1>
              <%#= link_to_remote @foods.count.to_s + 'Foods', :url => { :action => "find_foods",:text=>params[:text]} %>
              <%= link_to @foods.count.to_s + '&nbsp;&nbsp; Foods',  :action => "find_foods",:text=>params[:text]%>
              <div id="all_foods"></div><br /><br /><br />
          </div>
          <% end %>


<% content_for :right do %>
  <%#= render :partial => 'site/shared/box_search_recipes_new' %>

	<%= render :partial => '/site/shared/box_event' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

