<div class="green-heading-with-border">Users</div>
<div id="header">Your search has found the following members</div>
<br/>
<%- for people in @users -%>
  <div class="hampers-box">
    <div class=" row clearfix">
      <div class="col-md-2">
        <div class="hamper-image">
          <%= link_to avatar_for_user(people), site_customer_path(people) %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="hamper-heading"><%= people.name %></div>
        <div class="hamper-text">
          <div>
            <b>City: </b> <%= people.city %>
          </div>
          <div>
            <b>My favorite wines is: </b> <%= people.fav_wine %>
          </div>
          <div>
            <b>Biography: </b> <%= people.chef_bio %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hamper-price center-align"></div>
        <div class=" center-align" style="margin: 20px 0px;">
          <% unless people == current_user %>
            <%- if people.followed_by?(current_user) -%>
              <div class="green-button">
                <%= link_to ("unfollow"), unfollow_path(people) %>
              </div>
            <%- else -%>
              <div class="green-button">
                <%= link_to ("Follow"), follow_path(people) %>
              </div>  
            <%- end -%>
          <% end %>     
          <% if people.type_id != 4 %>
            <div class="top-20"><%= people.name %>'s latest comments</div>
              <ul>
                <%- for comment in people.comments.all(:order => "created_at DESC") -%>
                <li><%= comment.name %></li>
                <%- end -%>

              </ul>
              <% end %>
              <% if people.type_id == 4 %>
              <% unless people.recipes.last.nil?%>  <%= people.name %>'s latest Recipe :
               <%= link_to people.recipes.last.name,recipe_path(people.recipes.last.id)  %>
              <% end %>
              <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="bottom-50">
  <div class="digg_pagination pagination-2 clearfix">
    <div class="page_info show-result">
      <%= page_entries_info @users %>
    </div>
    <div class="pagination-links">
      <%= will_paginate @users, :container => false %>
    </div>
  </div>
</div>


<% content_for :right do %>
	<%= render :partial => '/site/shared/box_popular' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

