<div id="header">Your search has found the following Producers </div>
<div align="right"><%= will_paginate(@producers) %></div>
  <ul  style="list-style:none;margin:0 0 0 0px;padding:0 0 0 0px;">
    <%- for producer in @producers -%>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:0 0 0 0px; margin-left:15px;margin-right:15px;padding:0 0 0 0px; padding-left:15px;padding-right:15px;">
        <tr>
          <td width="98px;">
          <%= link_to show_producer_image(producer), producer_path(producer) %>
          </td>
          <td valign="top">
            <table cellspacing="5">
              <tr>
                <td>
                 <h1><%= link_to producer.name, producer_path(producer) %></h1></td>
              </tr>
              <tr><td><%= producer.description[0..400] %></td></tr>
              <tr><td>Region:<%= producer.region.name rescue "No region" %></td></tr>

            </table>
          </td>
        </tr>
      </table>
      <h3>&nbsp;</h3>
  <% end %>
  </ul>
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_popular' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

