<div id="header">Your search result has found the following events:</div>

<% for product in @wine_events %>
    <table style="margin:0 0 0 0px; margin-left:10px; margin-right:10px; padding-left:10px; padding-right:10px;width:98%;" cellpadding="0" border="0" cellspacing="0">
      <tr>




        <td >
          <div style="margin:0 0 0 0px;margin-left:10px;">
            <%= link_to product.name, nested_products_uri(product), :style => "font-size:17px;color:black;" %><br />
            <%= show_ratings(product).html_safe() %>
            <%= product.description_short.html_safe() %>
          </div>
        </td>



        <!-- THIRD COLUMN START (PRICE)-->
        <td>
          <div class="box_price_product" style="float:left;">
            <ul>
              <li class="price_info">
                <% if product.product_prices.present? %>
                  <% if product.discounted? && product.discount > 0.0 %>
                    <% product.product_prices.each do |pp| %>
                    <div style="font-size:14px;color:black;">Was <span style="text-decoration: line-through;">
                      <%= number_to_currency pp.price, :unit => "&pound;" %></span></div>
                    <% end %>
                    <span class="price red" style="color:#003300;">Now&nbsp;<span style="color:red;">
                      <% product.price_discounted.each do |price| %>
                        <%= number_to_currency price, :unit => "&pound;" %>
                      <% end %>
                    </span></span>
                  <% else %>
                    <span class="price" style="color:black;">
                      <% product.product_prices.each do |pp| %>
                        <%= number_to_currency pp.price, :unit => "&pound;" %>
                      <% end %>
                      </span>
                  <% end %>
                <% end %>
              </li>

              <li>
                <% if product.quantity > 0 %>

                    <table cellspacing="0" border="0">

                      <tr>
                        <td>Ticket qty: </td>
                        <td><%= text_field :cart, :quantity, :size => 2, :value => 1 %></td>
                        <td>
                          <%= link_to image_tag("buttons/buy_button_new.png"), "/site/cart?product_id=#{product.id}", :method => :post, :remote => true %>
                        </td>
                      </tr>
                    </table>

                <% else %>
                    <!--<span style="color:red;">Sorry no places left, see other dates</span>-->
                    <span style="color:red;">Sold Out</span>
                <% end %>
              </li>






            </ul>
          </div>


        </td>
        <!-- THIRD COLUMN END (PRICE)-->

      </tr>

    </table>
    <h3>&nbsp;</h3>
<% end %>
<div class="digg_pagination pagination-2 clearfix">
  <div class="page_info show-result">
    <%= page_entries_info @wine_events %>
  </div>
  <div class="pagination-links">
    <%= will_paginate @wine_events, :container => false %>
  </div>
</div>




<% content_for :right do %>

    <%= render :partial => 'site/shared/box_products_on_offer' %>
    <br />
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <br />
   	<%= render :partial => '/site/shared/box_mood' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>

<% end %>

