<% @title = "Search #{params[:text]}"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Search &raquo; Recipes" -%>
<% unless @recipes.blank? %>
    <div id="header">Your search result has found the following products:</div>

    <div style="margin:10px 0px;padding:5px;background-color:#F3F8DA;">
      <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <%- unless will_paginate_(@recipes).blank? -%>
              <td><div class="pagination_div"><%= will_paginate(@recipes) %></div></td>
          <%- end -%>
          <td align="right">
            <%- form_tag search_index_path, :method => :get, :id => "sort_by_form" do -%>
                <%= hidden_field_tag :page, (params[:page] || 1) %>
                <%= hidden_field_tag :text, params[:text] %>
                <%= hidden_field_tag :id, (params[:id] || params[:category]) %>
                <strong>Sort by:</strong>&nbsp;<%= select_tag("sort_by", options_for_select([["Difficulty", "recipe_level_id"], ["Preparation Time", "preparation_time"]], params[:sort_by]), :onchange => "$('#sort_by_form').submit()") %>
            <%- end -%>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <ul style="margin:0;list-style:none;padding-left:0px;">
        <%- for recipe in @recipes -%>
            <li class="product_listing" style="margin:0;padding-left:20px;">
              <br />
              <h1><%= link_to recipe.name, site_recipe_path(recipe), :class => "recipe_title" %></h1><!--, :style => "font-size:17px;color:#003300;"-->
              <%if recipe.average_rating_round > 0 %>
                  <%= show_ratings(recipe, recipe.average_rating_round)  %><br />
              <% end %>
              <% if !recipe.image_1.blank? %>
                  <%#= link_to image_tag(site_image_url('recipe_thumb', recipe.image_1, :jpg),:alt=>recipe.name), site_recipe_path(recipe) %>
                  <%= link_to image_tag("/resources/images/#{recipe.image_1.id}.jpg", :height => "75", :width => "100", :alt => recipe.name), site_recipe_path(recipe) %>
              <% else %>
                  <%= link_to image_tag("no_images/PastaRecipe.jpg",:size => "100x75",:alt=>recipe.name), site_recipe_path(recipe) %>
              <% end %><br />
              <span id="recipe_caption"><%= link_to "Preparation Time:#{recipe.preparation_time} min"  ,{:category=>'recipe',:preparation_time => recipe.preparation_time,:text=>params[:text]},:style=>"color:black;" %></span><br />
              <span id="recipe_caption"><%= link_to "Difficulty: #{recipe.recipe_level.name}",{:category=>'recipe',:difficulty => recipe.recipe_level_id,:text=>params[:text]},:style=>"color:black;" %></span>
              <%= recipe.user.name if recipe.user %>
              <br /><br />
              <%= recipe.preparation[0..360] if recipe.preparation %>
              <% if recipe.preparation.size > 360 %>
                  <%= link_to "... more",  site_recipe_path(recipe )%>
              <%  end %>



              <br /><br />
            </li>
        <%- end -%>
      </ul>
      <br />
    </div>
    <%= content_tag(:div, will_paginate(@recipes), :style => "padding:5px;text-align:right;background-color:#F3F8DA") unless will_paginate(@recipes).blank? %>
<% else %>
    <div id="header">Your search returned no results:</div><br />
    <div class ="search_result">Sorry the search has not given any result, please check the spelling or <%= mail_to "info@italyabroad.com", "get in touch" %> and will find it for you.</div>
<% end %>
<br />
<br />
<% content_for :right do %>
    <%= render :partial => 'site/shared/box_search_recipes_new' %>
    <br />
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

