<% @title = "Search #{params[:text]}"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; Search &raquo; Recipes" -%>
<div class="row bottom-50">
  <div class="two-colum-row clearfix top-30">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/shared/box_search_recipes_new' %>
    </div>
    <div class="col-md-9">
      <div class="hampers-wrapper-2">
        <div class="green-heading-with-border">Recipes
          <div class="sort-by-box clearfix">
            <div class="sort-select">
              <%= form_tag find_recipes_site_search_index_path, :method => :get, :id => "sort_by_form" do -%>
                <%= hidden_field_tag :page, (params[:page] || 1) %>
                <%= hidden_field_tag :text, params[:text] %>
                <%= hidden_field_tag :id, (params[:id] || params[:category]) %>
                <strong>Sort by:</strong>&nbsp;<%= select_tag("sort_by", options_for_select([["Difficulty", "recipe_level_id"], ["Preparation Time", "preparation_time"]], params[:sort_by]), :onchange => "$('#sort_by_form').submit()") %>
              <%- end -%>
            </div>
          </div>
        </div>
        <% unless @recipes.blank? %>
          <div id="header">Your search result has found the following Recipes:</div>
          <div class="fRight" style="margin-right: 12px; padding: 5px;"><%= link_to "Go Back", :back, :title=>"Go Back" -%></div>
        <% end %>
        <br/>
        <% if @recipes.blank? %>
            <div id="header">Your search returned no results:</div><br />
            <div class="fRight" style="margin-right: 12px; padding: 5px;"><%= link_to "Go Back", :back, :title=>"Go Back" -%></div>
            <div class ="search_result">Sorry the search has not given any result, please check the spelling or <%= mail_to "info@italyabroad.com", "get in touch" %> if the spelling is correct.</div>
        <% end %>
        <%- unless will_paginate(@recipes).blank? -%>
          <div class="digg_pagination pagination-2 clearfix top-15" >
            <div class="page_info show-result"><%= page_entries_info @recipes %></div>
            <div class="pagination-links">
              <%= will_paginate @recipes, :container => false %>
            </div>
          </div>
        <%- end -%>
        <div class="row clearfix">
          <%- for recipe in @recipes -%>
            <div class="col-md-4">
              <div class="recipe-box">
                <div class="green-heading-16">
                  <%= link_to recipe.name, site_recipe_path(recipe), :class => "recipe_title", :title=>recipe.name %>
                </div>
                <div class="row clearfix">
                  <div class="col-xs-5 box-image">
                    <% if !recipe.image_1.blank? %>
                    <%#= link_to image_tag(site_image_url('recipe_thumb', recipe.image_1, :jpg),:alt=>recipe.name), site_recipe_path(recipe) %>
                    <%= link_to image_tag("/resources/images/#{recipe.image_1.id}.jpg", :height => "75", :width => "100", :alt => recipe.name, :title=>recipe.name), site_recipe_path(recipe), :title=>recipe.name %>
                    <% else %>
                      <%= link_to image_tag("no_images/PastaRecipe.jpg",:size => "100x75",:alt=>recipe.name, :title=>recipe.name), site_recipe_path(recipe), :title=>recipe.name %>
                    <% end %>
                  </div>
                  <div class="col-xs-7">
                    <div><b>Difficulty:</b> <%= link_to "#{recipe.recipe_level.name}",{:category=>'recipe',:difficulty => recipe.recipe_level_id,:text=>params[:text]},:style=>"color:black;", :title=>"Difficulty" %></div>
                    <div><b>Prep time:</b> <%= link_to "#{recipe.preparation_time} min"  ,{:category=>'recipe',:preparation_time => recipe.preparation_time,:text=>params[:text]},:style=>"color:black;", :title=>"Prep Time" %></div>
                  </div>
                </div>
                <div class="instructions">
                  <%= link_to "Ingredients and cooking instructions",  site_recipe_path(recipe ), :title=>"Ingredients and cooking instructions" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%- unless will_paginate(@recipes).blank? -%>
        <div class="digg_pagination pagination-2 clearfix top-15" >
          <div class="page_info show-result"><%= page_entries_info @recipes %></div>
          <div class="pagination-links">
            <%= will_paginate @recipes, :container => false %>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>
</div>    