<div class="section-box">
  <div class="section-heading">Personal Details</div>
  <div class="section-des">The email address you enter here is where we'll send all communications when you shop with Italyabroad.</div>
  <div class="section-form">
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">Title:</div>
      <div class="col-md-4"><%= select :user, :title, ["Mr", "Miss", "Mrs", "Dr"] %></div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Name:</div>
      <div class="col-md-4">
        <% first_name =
          if session[:omniauth].present?
            if session[:omniauth]["provider"] == 'facebook'
              session[:omniauth]["info"]["first_name"]
            elsif session[:omniauth]["provider"] == 'twitter'
              session[:omniauth]["info"]["name"].split(" ").first()
            end
          else
            nil
          end
        %>
        <%= text_field :user, :name, :value => first_name || @user.try(:name) %>
      </div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Surname:</div>
      <div class="col-md-4">
        <% last_name =
          if session[:omniauth].present?
            if session[:omniauth]["provider"] == 'facebook'
              session[:omniauth]["info"]["last_name"]
            elsif session[:omniauth]["provider"] == 'twitter'
              session[:omniauth]["info"]["name"].split(" ").last()
            end
          else
            nil
          end
        %>
        <%= text_field :user, :surname, :value => last_name || @user.try(:surname) %>
      </div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Email</div>
      <div class="col-md-4">
        <% email =
          if session[:omniauth].present?
            if session[:omniauth]["provider"] == 'facebook'
              session[:omniauth]["info"]["email"]
            end
          else
            nil
          end
        %>
        <%= text_field :user, :email, :value => email || @user.try(:email) %>
      </div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* DOB</div>
      <div class="col-md-4 multi-select">
        <% birthday =
          if session[:omniauth].present?
            if session[:omniauth]["provider"] == 'facebook'
              session[:omniauth]["extra"]["raw_info"]["birthday"]
            end
          else
            nil
          end
        %>
        <%= date_select :user, :dob, :selected => birthday, :start_year => 1900, :end_year => Time.now.year, :order => [:day, :month, :year] %>  
      </div>
    </div>
  </div>
</div>
<%= render :partial => 'profile_pic' %>
<div class="section-box">
  <div class="section-heading">Delivery and billing address</div>
  <div class="section-des">You can update this any time, for example if you move or need us to deliver your shopping somewhere else.</div>
  <div class="section-form">
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Address #1:</div>
      <div class="col-md-4"><%= text_field :user, :address, :value => @user.try(:address) %></div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">Address #2:</div>
      <div class="col-md-4"><%= text_field :user, :address_2, :value => @user.try(:address_2) %></div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Town:</div>
      <div class="col-md-4">
        <% address =
          if session[:omniauth].present?
            if session[:omniauth]["provider"] == 'facebook'
              session[:omniauth]["extra"]["raw_info"]["location"]["name"] if session[:omniauth]["extra"]["raw_info"]["location"].present?
            end
          else
            nil
          end
        %>
        <%= text_field :user, :city, :value => address || @user.try(:city) %>
      </div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Postcode:</div>
      <div class="col-md-4"><%= text_field :user, :cap, :value => @user.try(:cap) %></div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">Country:</div>
      <div class="col-md-4">
        <%= custom_country_select :user, :country, [["United Kingdom","GB"]] %>
      </div>
    </div>
  </div>
</div>
<div class="section-box">
  <div class="section-heading">Telephone number</div>
  <div class="section-des">In case we need to contact you urgently regarding your delivery. Please include the full area code.</div>
  <div class="section-form">
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* Telephone:</div>
      <div class="col-md-4">
        <%= text_field :user, :telephone, :value => @user.try(:telephone) %>
        <div class="green-text">Please supply a phone number so we can call if there are any problems using this address</div>
      </div>
    </div>
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">Mobile</div>
      <div class="col-md-4"><%= text_field :user, :mobile, :value => @user.try(:mobile) %></div>
    </div>
  </div>
</div>
<div class="section-box">
  <div class="section-heading">Login Details</div>
  <div class="section-des">Choose a user name and password which you will use to log in to our site. The ideal password should be hard to guess, but easy to remember.</div>
  <div class="section-form">
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">* User Name:</div>
      <div class="col-md-4">
        <%= text_field :user, :login, :value => session[:omniauth].present? ? session[:omniauth]["info"]["nickname"] :  @user.try(:login), :disabled => (true unless @user.new_record?) %>
      </div>
    </div>
    <% unless session[:omniauth].present? %>
      <div class="form-row row clearfix">
        <div class="col-md-2 section-label">* Password</div>
        <div class="col-md-4">
          <div><%= password_field :user, :password %></div>
          <div class="green-text">Password should be at least "6 character long"</div>
        </div>
      </div>
      <div class="form-row row clearfix">
        <div class="col-md-2 section-label">* Confirm Password</div>
        <div class="col-md-4"><%= password_field :user, :password_confirmation %></div>
      </div>
    <% end %>
    <% unless session[:omniauth].present? %>
      <div class="form-row ">
        Our system keeps your password completely secure - even our technical team can't see it. We simply recognise a match when you log in.
      </div>
    <% end %>
  </div>
</div>
<div class="section-box">
  <div>
    <div class="form-row row clearfix">
      <% if @user.type_id.to_i == 4
        checked = true
        div_style = 'display:block'
      else
        checked = false
        div_style = 'display:none'
      end%>
      <div class="col-xs-2 col-md-2 section-label"><b>Are you Chef ?</b></div>
      <div class="col-xs-4 check-box">
        <%= check_box_tag  'chef' ,4,checked,:onclick=>'display_chef_details();' %>
      </div>
    </div>
    <div id="chef_details" style="<%=div_style %>">
      <div class="row form-row clearfix" >
        <div class="col-md-2 section-label">Biography </div>
        <div class="col-md-4"><%= text_area :user, :chef_bio,:size=>'30x5' %></div>
      </div>
      <div class="row form-row clearfix">
        <div class="col-md-2 section-label">My restaurant website </div>
        <div class="col-md-4"><%= text_field :user, :establishment_link %></div>
      </div>
    </div>
  </div>
</div>
<div class="section-box">
  <div class="section-heading">Where did you hear about us?</div>
  <div class="section-des">This helps us improve our services.</div>
  <div class="section-form">
    <div class="form-row row clearfix">
      <div class="col-md-2 section-label">Choose from the list:</div>
      <div class="col-md-4">
        <%= select :user, :know_through, ["Google", "Yahoo", "Msn", "Other Search Engines", "Press", "Italyabroad.com Van", "Fairs and Events", "Flyers", "Wine Tasting", "Recommended by a Friend", "Other Source"] %>
      </div>
    </div>
    <div class="form-row clearfix">
      <div class="col-md-9"> If you have been told about italyabroad.com by a friend please enter his/her details below and you will both receive a free bottle of wine if you spend at least <%= number_to_currency(30,{:unit => "&pound;", :precision => 0}) -%></div>
    </div>
    <div class="form-row row clearfix">
        <div class="col-md-2 section-label">Friend's name:</div>
        <div class="col-md-4"><%= text_field :user, :friend_name %></div>
    </div>
    <div class="form-row row clearfix">
        <div class="col-md-2 section-label">Friend's email:</div>
        <div class="col-md-4"><%= text_field :user, :friend_email %></div>
        <div class="col-md-4"><%= hidden_field_tag :return_to_url, params[:return_to_url] %></div>
    </div>
  </div>
</div>
<div class="section-box-2">
  <div class="section-heading">Contact Permission</div>
  <div class="section-des">As a valued Italyabroad customer, we don't want you to miss out on any Great Offers, Ideas or new Services. We would like to contact you from time to time about things we think you'll be interested in. We will obviously treat your details very carefully and will not share your information with any third party without your consent.</div>
  <div class="permission-row">
    <span><%= check_box :user, :news_letters %></span>
    <span>Keep me updated</span>
  </div>
  <% if @user.new_record? %>
    <div class="permission-row">
      <span class="red-text"><%= check_box_tag 'conditions' %></span>
      <span><%= link_to 'I agree to the italyabroad.com terms and conditions.' , '/help/terms-and-conditions'  %></span>
      
    </div>
  <% end %>
</div>

<div class="section-box-2">
  <div class="section-heading">Delete Account</div>
  <div class="permission-row">
      <div class="section-des">Deleting an account is irreversible process and all you data would be permanently erased

      <div class="register-btn">
        <div class="green-button">
          <%= link_to site_customer_path(current_user.id), method: :delete, confirm: 'Are you sure you want to permanently delete your account ?', class: 'link-delete', 'data-message' => 'Are you sure?', 'data-severity' => 'danger' do %>
          Delete
          <% end %>  

        </div>
      </div>
    </div>
  </div>
  

</div>
