<% @title = "Account"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; My Account" -%>
<% @class = "no-padding" %>

<%= render :partial => '/site/shared/box_login' %>
<div class="full-width">
  <div class="green-heading-with-border"><h1>My Account</h1></div>
  <% total_points = current_user.find_total_points(current_user)
    total_points_used = current_user.orders.sum('points_used')
    %>
  <div class="red-text">You have <%= (total_points - total_points_used).to_i %> points on your account, equivalent to <%= number_to_currency(((total_points - total_points_used) * Setting.find(:first).points_to_pound.to_f), :unit => "£")%></div>
  <div>
    <%= form_tag("/customers/#{@user.id}", :method => :put, :multipart => true) do %>
      <%= errors_for(@user) -%>
    <%= render :partial => 'form' %>
    <div class="register-btn">
      <div class="green-button"><%= submit_tag "Update" %></div>
    </div>
      
  <% end %>
  </div>
</div>


