<% @title = "#{@my_profile ? "My" : @user.name+"'s"} Profile" %>
<% @breadcrumbs = "#{link_to "Home", root_url} &raquo; #{link_to 'Community',wine_community_path} &raquo #{@title}" %>
<div id="header"><%= render :partial => 'site/shared/box_login' %></div>

<% @class = "no-padding" %>
<h4 class="account-title"></h4>
<div class="green-heading-with-border">
  <%= @title %>&nbsp; <span class="chef-icon"><%= image_tag 'chef_icon.png' if @user.type_id == 4 %></span>
</div>
<div class="full-width">
  <div class="section-box">
    <div class="section-form">
      <div class="section-row row clearfix">
        <div class="col-xs-2 center-align">
          <%= avatar_for_user(@user) %>
          <% unless @my_profile %>
            <%- if @user.followed_by?(current_user) -%>
              <div class="center-align top-20">
                <span class="green-button"><%= link_to ("Unfollow"), unfollow_path(@user) %></span>
              </div>
            <%- else -%>
              <div class="center-align top-20">
                <span class="green-button"><%= link_to ("Follow"), follow_path(@user) %></span>
              </div>
            <%- end -%>
          <% end %>
          <%= link_to 'My restaurant' unless @user.establishment_link.blank? %>
        </div>
        <%- if @my_profile -%>
          <%- form_for :user, :url => site_customer_path(@user), :html => {:method => :put} do -%>
            <div class="col-xs-10 chef_profile">
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Meal:
                </div>
                <div class="col-md-4" id="favorite_meal">
                  <%= text_field :user,:fav_meals %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Wine:
                </div>
                <div class="col-md-4" id="favorite_wine">
                  <%= text_field :user,:fav_wine %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Holiday:
                </div>
                <div class="col-md-4" id="favorite_holiday">
                  <%= text_field :user, :holidays %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Song:
                </div>
                <div class="col-md-4" id="favorite_song">
                  <%= text_field :user, :songs %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Film:
                </div>
                <div class="col-md-4" id="favorite_film">
                  <%= text_field :user, :films, :size => 45 %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Newspaper:
                </div>
                <div class="col-md-4" id="favorite_newspaper">
                  <%- @display = "none" unless @user.newspapers.blank? -%>
                  <%= text_field :user, :newspapers %>
                </div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">&nbsp;</div>
                <div class="col-md-4 green-button">
                  <div class="submit-btn"><%= submit_tag("Save") %></div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col-xs-10">
            <div class="section-form">
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Meal:
                </div>
                <div class="col-md-4 top-8"><%= @user.fav_meals ? @user.fav_meals : 'Not Added yet'%></div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Wine:
                </div>
                <div class="col-md-4 top-8"><%= @user.fav_wine ? @user.fav_wine : 'Not Added yet'%></div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Holiday:
                </div>
                <div class="col-md-4 top-8"><%= @user.holidays ? @user.holidays : 'Not Added yet' %></div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Song:
                </div>
                <div class="col-md-4 top-8"><%= @user.songs ? @user.songs : 'Not Added yet' %></div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Film:
                </div>
                <div class="col-md-4 top-8"><%= @user.films ? @user.films : 'Not Added yet'  %></div>
              </div>
              <div class="form-row row clearfix">
                <div class="col-md-2 section-label2">
                  <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Newspaper:
                </div>
                <div class="col-md-4 top-8"><%= @user.newspapers ? @user.newspapers : 'Not Added yet' %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section-box">
    <div class="section-heading">Biography</div>
    <div class="section-des"><%= @user.chef_bio ? @user.chef_bio : 'Not Added yet' %></div>
  </div>
  <% if !@user.recipes.blank? %>
    <div class="section-box">
      <div class="section-heading">Recipes by <%= @user.name %></div>
      <div class="section-des">
        <ol>
          <% @recipes = Recipe.find(:all,:conditions=>['user_id = ?',@user.id]).each do |recipe| %>
            <li><%= link_to recipe.name, site_recipe_path(recipe) %></li>
          <% end %>
        </ol>
      </div>
    </div>
  <% end %>
  <!-- messages -->
  <% if  @my_profile %>
    <div class="section-box">
      <div class="section-heading"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Messages</div>
      <% @messages = @user.messages.all(:order=>' id desc',:limit => 5)
      unless @messages.blank?%>
        <div class="section-des">
          <ol>
            <%- @messages.each do |msg| -%>
              <li><%= msg.name unless msg.name.blank? %>
                <%= link_to ' (Reply)', :url => { :controller=>'messages',:action => "send_reply",:msg_id=>msg.id}, :remote => true %>
                <div id='reply<%=msg.id%>'> </div>
              </li>
            <%- end -%>
            <% if @user.messages.size > 5 %>
              <li style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",:controller=>'site/messages',:action=>'index',:id=>params[:id]) %></li>
            <% end %>
          </ol>
        </div>
      <% else %>
        <div class="section-des">You don't have any messages</div>  
      <% end %>
    </div>
  <% end %> 
  <% if logged_in? %>
    <% unless @my_profile %>
      <div class="section-box">
        <div class="section-heading">
          <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> wall - write a Message:
        </div>
        <div class="section-form">
          <% form_tag 'send_message' do |f| %>
            <div class="row form-row clearfix">
              <div class="col-md-4">
                <%= text_area_tag  :name,'', :size => "90x5" %>
                <%= hidden_field_tag :user_id,params[:id]%>
                <%= hidden_field_tag :send_by_id,current_user.id %>
              </div>
            </div>
            <div class="form-row row clearfix">
              <div class="col-md-4 green-button">
                <div class="submit-btn"><%= submit_tag("Submit") %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- end Messages-->
  <!-- Start Comments-->
  <div class="section-box">
    <div class="section-heading"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Comments</div>
    <div class="section-des">
      <% if @user.comments.size == 0 %>
        No comments found
      <% else %>
        <ol>
          <%- @user.comments.all(:order=>' id desc',:limit => 5).each do |comment| -%>
            <li><%= comment.name unless comment.name.blank? %></li>
          <%- end -%>
          <% if @user.comments.size > 5 %>
            <li><%= link_to("more",:controller=>'comments',:action=>'index',:id=>params[:id]) %></li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div><!-- End Comments-->
  <!-- Start Reviews-->
  <div class="section-box">
    <div class="section-heading"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Latest Reviews</div>
    <div class="section-des">
      <% if @user.reviews.size == 0 %>
        Reviews not found
      <% else %>
        <ol>
          <%- @user.reviews.all(:order=>' id desc', :limit => 5, :conditions=>['publish = ?',true],:select => 'DISTINCT reviewer_id' ).each do |review| -%>
            <li><%= link_to    Product.find_by_id(review.reviewer_id).name , site_product_path(review.reviewer_id) rescue "" %></li>
          <%- end -%>
          <% if @user.reviews.size > 5 %>
            <li><%= link_to("more",site_reviews_path) %></li>
          <% end %>
        </ol>
      <% end %>  
    </div>
  </div>
  <!-- End Reviews-->
  <!-- start wine list-->
  <div class="section-box">
    <div class="section-heading"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Winelist</div>
    <div class="section-des">
      <% if @user.wine_lists.size == 0 %>
        No list found
      <% else %>
        <ol>
          <%- @user.wine_lists.all(:order=>' id desc',:limit => 5).each do |wine_list| -%>
            <li><%= wine_list.product.name %></li>
          <%- end -%>
          <% if @user.wine_lists.size > 5 %>
            <li><%= link_to("more",wine_lists_path) %></li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
  <!-- end wine list-->
  <!-- start followers -->
  <div class="section-box-2">
    <div class="section-heading">Members I am following:</div>
    <div class="section-des">
      <% @followers = Follower.find(:all,:conditions=>['follower_id = ?',params[:id]],:limit=>10)%>
      <% if @followers.size == 0 %>
        No list found
      <% else %> 
        <div class="new-member-row clearfix top-20">
          <% for people in @followers %>
            <% user = User.find_by_id(people.user_id)%>
            <div class="member-col col-md-2 col-xs-4">
              <div class="user_photo_small">
                <%= link_to avatar_for_user(user, 'small'), site_customer_path(user.id) %>
              </div>
              <div class="member-name">
                <%= link_to user.name, site_customer_path(user.id) %>
              </div>
              <div class="top-8">
                <%- if user.followed_by?(current_user) -%>
                  <span class="green-button"><%= link_to ("unfollow"), unfollow_path(user) %></span>
                <%- end -%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %> 
    </div>
  </div>
  <!-- end Followers-->
</div>
