<% @class = "no-padding"; @title = "Create a new user"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Register".html_safe()%>

<div id="header">Register</div>

<div id="customers_new_container">
  <% form_for :user, :url => site_customers_path, :html => {:multipart => true} do %>
  <%= show_messages(flash[:notice]) %>

  <%= render :partial => 'form' %>

  <p style="text-align:right;">
    <table width="100%"><tr>
  	<td><%#= show_simple_captcha(:object=>"user",:label=>"(type the code from the image. <br />it is case sensitive.)".html_safe()) %></td>
  	<td> <div align="right"> <%= image_submit_tag "buttons/register_button.png" %></div></td>
      </tr></table>
  </p>
<% end %>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_blog' %>
  <br />
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_popular' %>
<% end %>

