<% @title = "Password Lost"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Request new password"; @class = "no-padding" %>
<div id="header" class="green-heading-with-border">Request new password</div>
<div class="full-width">
  <%= content_tag(:div, flash[:msg], :class => "request_password_msg") unless flash[:msg].blank? %>
  <%= show_messages(flash[:notice]) %>
  <div class="section-des">
    Please enter either your username or email address
  </div>
  <%= form_tag find_site_customers_path do %>
    <div class="bottom-50">
      <div class="form-row row clearfix">
        <div class="col-md-2 section-label">Username</div>
        <div class="col-md-4">
          <%= text_field :user, :login %>
        </div>
      </div>
      <div class="form-row row clearfix">
        <div class="col-md-2 section-label red-text">-OR-</div>
      </div>
      <div class="form-row row clearfix">
        <div class="col-md-2 section-label">E-Mail</div>
        <div class="col-md-4">
          <%= text_field :user, :email %>
        </div>
      </div>
      <div class="row clearfix form-row">
        <div class="col-md-2 section-label">&nbsp;</div>
        <div class="col-md-4 green-button">
          <div class="submit-btn"><%= submit_tag "Resend my password" %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>


