<% @title = "Password Lost"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Request new password"; @class = "no-padding" %>
<div id="header">Request new password</div>
<div style="margin:20px;">
<%= content_tag(:div, flash[:msg], :class => "request_password_msg") unless flash[:msg].blank? %>
<%= show_messages(flash[:notice]) %>
  <% form_tag find_customers_path do %>
    <p>
    	Please enter either your username or email address
  	</p>
  	<table id="table" border="0" cellspacing="5" cellpadding="0">
  		<tr>
  		  <td>Username</td>
  		</tr>
  	  <tr>
  	    <td><%= text_field :user, :login %></td>
  		<tr>
  		  <td>or</td>
  		</tr>
  		<tr>
  		  <td>E-Mail</td>
  		</tr>
  		<td>
  		  <%= text_field :user, :email %></td>
  		</tr>
  	</table>
  	<div style="text-align:right;padding:5px 0px 5px 0px"><%= submit_tag "Resend my password" %></div>
  <% end %>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

