<%- @title = "#{@my_profile ? "My" : @user.full_name}" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; #{link_to('Community',wine_community_path)} &raquo #{@title}".html_safe -%>
<%= render :partial => 'site/shared/box_login' %>
<div class="full-width">
  <div class="green-heading-with-border">
    <%= @title %>
    <span><%= link_to 'You have new message',:controller=>'site/messages',:action=>'index',:id=>current_user.id if @unread_msg %></span>
  </div>
  <div class="section-form">
    <div class="row clearfix">
      <div class="col-xs-2 center-align">
        <% image_tag(@user.photo.image_filename.url) if @user.photo.present? && @user.photo.image_filename.present? && @user.photo.image_filename.url.present?%> 
        <%= avatar_for_user(@user) %>
        <% unless @my_profile %>
          <%- if logged_in? and @user.followed_by?(current_user) -%>
            <div class="center-align top-20">
              <span class="green-button"><%= link_to ("Unfollow"), unfollow_path(@user) %></span>
            </div>
          <%- else -%>
            <div class="center-align top-20">
              <span class="green-button"><%= link_to ("Follow"), follow_path(@user) %></span>
            </div>
          <%- end -%>
        <% end %>
      </div>
      <div class="col-xs-10">
        <%if @my_profile %>
          <%= form_for(:user, :url => site_customer_path(@user), :html => {:method => :put}) do -%>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2" id="favorite_meal">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Meal:
              </div>
              <div class="col-md-4">
                <%= text_field :user,:fav_meals %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2" id="favorite_wine">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Wine:
              </div>
              <div class="col-md-4">
                <%= text_field :user,:fav_wine %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2" id="favorite_holiday">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Holiday:
              </div>
              <div class="col-md-4">
                <%= text_field :user, :holidays %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2" id="favorite_song">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Song:
              </div>
              <div class="col-md-4">
                <%= text_field :user, :songs %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Film:
              </div>
              <div class="col-md-4" id="favorite_film">
                <%= text_field :user, :films %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2">
                <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Newspaper:
              </div>
              <div class="col-md-4" id="favorite_newspaper">
                <%- @display = "none" unless @user.newspapers.blank? -%>
                <%= text_field :user, :newspapers %>
              </div>
            </div>
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label2">
                &nbsp;
              </div>
              <div class="col-md-4 green-button">
                <div class="submit-btn"><%= submit_tag("Save") %></div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Meal:
            </div>
            <div class="col-md-4 top-8">
              <%= @user.fav_meals ? @user.fav_meals : 'Not Added yet'%>
            </div>
          </div>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Wine:    
            </div>
            <div class="col-md-4 top-8">
              <%= @user.fav_wine ? @user.fav_wine : 'Not Added yet'%>
            </div>
          </div>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Holiday:
            </div>
            <div class="col-md-4 top-8">
              <%= @user.holidays ? @user.holidays : 'Not Added yet' %>
            </div>
          </div>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Song:
            </div>
            <div class="col-md-4 top-8">
              <%= @user.songs ? @user.songs : 'Not Added yet' %>
            </div>
          </div>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Film:
            </div>
            <div class="col-md-4 top-8">
              <%= @user.films ? @user.films : 'Not Added yet'  %>
            </div>
          </div>
          <div class="row form-row clearfix">
            <div class="col-md-2 section-label2">
              <%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Newspaper:
            </div>
            <div class="col-md-4 top-8">
              <%= @user.newspapers ? @user.newspapers : 'Not Added yet' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="green-heading-with-border"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Comments</div>
  <div class="bottom-50">
    <%@user.comments.all(:order=>' id desc',:limit => 5).each do |comment| %>
      <div><%= comment.name unless comment.name.blank? %></div>
    <%end%>
    <% if @user.comments.size > 5 %>
      <div style="margin-top:20px;"><%= link_to("more",:controller=>'comments',:action=>'index',:id=>params[:id]) %></div>
    <% end %>
    <% if @user.comments.size == 0 %>
      <div class="bottom-15">No comment found</div>
    <%end%>
  </div>
  <div class="green-heading-with-border"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Latest Reviews</div>
  <div class="bottom-50">
    <%- @user.reviews.all(:order=>' id desc', :limit => 5, :conditions=>['publish = ?',true],:select => 'DISTINCT reviewer_id' ).each do |review| -%>
      <%= link_to ('<div>' +  Product.find_by_id(review.reviewer_id).name + '</div>').html_safe(), "/product/#{review.reviewer_id}" %>
    <%- end -%>
    <% if @user.reviews.size > 5 %>
      <div style="margin-top:20px;"><%= link_to("more",reviews_path) %></div>
    <% end %>
    <% if @user.reviews.size == 0 %>
      <div class="bottom-15">No reviews found</div>
    <% end %>
  </div>
  <div class="green-heading-with-border"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Winelist</div>
  <div class="bottom-50">
    <%- @user.wine_lists.all(:order=>' id desc',:limit => 5).each do |wine_list| -%>
      <div><%= wine_list.product.name %></div>
    <%- end -%>
    <% if @user.wine_lists.size > 5 %>
      <div style="margin-top:20px;"><%= link_to("more",wine_lists_path) %></div>
    <% end %>
    <% if @user.wine_lists.size == 0 %>
      <div class="bottom-15">List is empty.</div>
    <% end %>
  </div>
  <div class="green-heading-with-border"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Messages</div>
  <div class="bottom-50">
    <% if  @my_profile %>
      <% @messages = @user.messages.all(:order=>' id desc',:limit => 5)
       unless @messages.blank?%>
        <div>
          <!-- <h1><%#= "#{@my_profile ? "My" : @user.name+"'s"}" %> Messages</h1> -->
          <div>
            <%- @messages.each do |msg| -%>
              <div><%= msg.name unless msg.name.blank? %>
                <%= link_to ' Reply', :url => { :controller=>'messages',:action => "send_reply",:msg_id=>msg.id}, :remote => true %>
                <%#= link_to_remote '&nbsp;&#171;Reply&#187;&nbsp;', :url => { :controller=>'messages',:action => "send_reply",:msg_id=>msg.id} %>
                <div id='reply<%=msg.id%>'> </div>
              </div>
            <%- end -%>
            <% if @user.messages.size > 5 %>
              <div style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",:controller=>'site/messages',:action=>'index',:id=>params[:id]) %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="bottom-15">You don't have any messages</div>
      <% end %>
    <% end %> 
  </div>
  <% if logged_in? %>
    <div class="bottom-50">
      <% unless @my_profile %>
        <div class="bottom-50">
          <div class="green-heading-with-border"><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> wall - write a Message:</div>
          <%= form_tag 'send_message' do |f| %>
            <div class="form-row clearfix row">
              <div class="col-md-6">
                <%= text_area_tag  :name,'', :size => "95x5" %>
                <%= hidden_field_tag :user_id,params[:id]%>
                <%= hidden_field_tag :send_by_id,current_user.id %>
              </div>
            </div>
            <div class="form-row row clearfix ">
              <div class="col-md-6 green-button">
                <div class="submit-btn">
                  <%= submit_tag("Submit") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end  else %>
      <!-- p style="font:italic 16px Arial;text-align:center">To submit any message please log in!</p -->
      <div>
        <div class="green-heading-with-border">Write a message for <%= @user.name %></div>
        <!-- <p>Comment with italyabroad account</p> -->
        <p style = "font:bold 14px Arial;" class="bottom-50">&nbsp;<%= link_to("Login", login_path) %> ||
          <%= link_to "Register", "/signup" %> </p>
      </div>
    </div>
  <%end %>
  <div class="green-heading-with-border">Members I am following:</div>
  <div class="bottom-50">
  <div class="new-member-row clearfix">
    <% @followers = Follower.find(:all,:conditions=>['follower_id = ?',params[:id]],:limit=>10)%>
    <% for people in @followers %>
      <div class="member-col col-md-2 col-xs-3 bottom-30">
        <div class="user_photo_small" id="user_photo">
          <% user = User.find_by_id(people.user_id)%>
          <%= link_to avatar_for_user(user, 'small'), site_customer_path(user.id) %>
        </div>
        <div class="member-name">
          <%= link_to user.name, site_customer_path(user.id) %>
        </div>
        <div class="green-button top-8">
          <%- if user.followed_by?(current_user) -%>
              <%= link_to ("Unfollow"), unfollow_path(user) %>
            <%- end -%>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>