<%- @title = "#{@my_profile ? "My" : @user.name+"'s"} Profile" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Community &raquo #{@title}" -%>
<% @class = "no-padding" %>

<div id="header"><%= @title %></div>
<div class="profile-container">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td valign="top" width="98px" style='text-align:center;'>
        <%= avatar_for_user(@user) %><br />
        <% unless @my_profile %>
        <%- if @user.followed_by?(current_user) -%>
        <%= link_to image_tag("buttons/unfollow.png"), unfollow_path(@user) %>
        <%- else -%>
        <%= link_to image_tag("buttons/follow.png"), follow_path(@user) %>
        <%- end -%>
        <% end %>
      </td>
      <td valign="top">
        <div style="margin-left:20px;">
          <div style="font-size:18px;"><%= @user.name %></div>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Meal:&nbsp;</p></td>
              <td>
                <%- if @my_profile -%>
                <div id="favorite_meal">
                  <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user,:fav_meals,:size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel", '', :onclick=>"document.getElementById('favorite_meal').style.display = 'none';return false;") %>
                  <%- end -%>
                  </div>
                  <% else %>
                  <%= @user.fav_meals  %>
                <%- end -%>
              </td>
            </tr>
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Wine:&nbsp;</p></td>
              <td>
                <%- if @my_profile -%>
                 <div id="favorite_wine">
                  <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user,:fav_wine, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel", '', :onclick=>"document.getElementById('favorite_wine').style.display = 'none';return false;") %>
                  <%- end -%>
                  </div>
                  <% else %>
                  <%= @user.fav_wine %>
                <%- end -%>
              </td>
            </tr>
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Holiday:&nbsp;</p></td>
              <td>

                <%- if @my_profile -%>
                <div id="favorite_holiday">
                  <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user, :holidays, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel", '', :onclick=>"document.getElementById('favorite_holiday').style.display = 'none';return false;") %>
                  <%- end -%>
                </div>
                <% else %>
                <%= @user.holidays  %>
                <%- end -%>
              </td>
            </tr>
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Song:&nbsp;</p></td>
              <td>

                <%- if @my_profile -%>
                <div id="favorite_song">
                  <%- form_for :user, :html => {:method => :put} do -%>
                    <%= text_field :user, :songs, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel",'', :onclick=>"document.getElementById('favorite_song').style.display = 'none';return false;") %>
                  <%- end -%>
                </div>
                <% else %>
                <%= @user.songs %>
                <%- end -%>
              </td>
            </tr>
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Film:&nbsp;</p></td>
              <td>
                <%= @user.films %>
                <%- if @my_profile -%>
                <div id="favorite_film">
                  <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user, :films, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel",'', :onclick=>"document.getElementById('favorite_film').style.display = 'none';return false;") %>
                  <%- end -%>
                </div>
                <% else %>
                <%= @user.films %>
                <%- end -%>
              </td>
            </tr>
            <tr>
              <td><p><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> favorite Newspaper:&nbsp;</p></td>
              <td>

                <%- if @my_profile -%>
                <div id="favorite_newspaper">
                <%- @display = "none" unless @user.newspapers.blank? -%>
                <div id="favorite_newspaper">
                  <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user, :newspapers, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel",'', :onclick=>"document.getElementById('favorite_newspaper').style.display = 'none';return false;") %>
                  <%- end -%>
                </div>
                <% else %>
                 <%= @user.newspapers rescue "No newspaper" %>
                <%- end -%>
              </td>

            </tr>
            <% if @user.type_id.to_i == 4 %>
            <tr>
            <td><p>Biography :</p></td>
              <td><p>


              <%- if @my_profile -%>
              <div id="chef_bio">
                <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_area :user, :chef_bio, :size =>'45x5' %> <%= submit_tag("Save") %> or <%= link_to("Cancel",'', :onclick=>"document.getElementById('chef_bio').style.display = 'none';return false;") %>
                  <%- end -%>
                  </div>
                  <% else %>
                  <%= @user.chef_bio  %>
                <% end %>
                </p></td>
            </tr>
            <tr>
            <td>My restaurant website :</td>
              <td>
              <%= @user.establishment_link  %>
              <%= link_to("Edit") if @my_profile && !@user.establishment_link.blank? %>
              <%- if @my_profile -%>
              <div id="establishment_link">
                <%- form_for :user, :url => customer_path(@user), :html => {:method => :put} do -%>
                    <%= text_field :user, :establishment_link, :size => 45 %> <%= submit_tag("Save") %> or <%= link_to("Cancel",'', :onclick=>"document.getElementById('establishment_link').style.display = 'none';return false;") %>
                  <%- end -%>
                  </div>
                </td>
            </tr><% end %>

            <% end %>

          </table>
        </div>
      </td>
    </tr>
  </table>
  <br />
  <br />
  <div style="clear:both;"></div>
  <ul class="profile-list-info">
    <li>
      <h1><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Comments</h1>
      <ul>
        <%- @user.comments.all(:order=>' id desc',:limit => 5).each do |comment| -%>
        <li><%= comment.name unless comment.name.blank? %></li>
        <%- end -%>
        <% if @user.comments.size > 5 %>
        <li style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",:controller=>'comments',:action=>'index',:id=>params[:id]) %></li>
        <% end %>
      </ul>
    </li>

    <li>
      <h1><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Latest Reviews</h1>
      <ul>
        <%- @user.reviews.all(:order=>' id desc',:limit => 5).each do |review| -%>
        <li><%= review.name unless review.name.blank? %></li>
        <%- end -%>
        <% if @user.reviews.size > 5 %>
        <li style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",reviews_path) %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <h1><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Winelist</h1>
      <ul>
        <%- @user.wine_lists.all(:order=>' id desc',:limit => 5).each do |wine_list| -%>
        <li><%= wine_list.product.name %></li>
        <%- end -%>
        <% if @user.wine_lists.size > 5 %>
        <li style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",wine_lists_path) %></li>
        <% end %>
      </ul>
    </li>
  </ul>
  <div style="clear:both;"></div>
  <% @messages = @user.messages.all(:order=>' id desc',:limit => 5)
  unless @messages.blank?%>

   <div>
      <h1><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> Messages</h1>
      <ul>
        <%- @messages.each do |msg| -%>
        <li><%= msg.name unless msg.name.blank? %></li>
        <%- end -%>
        <% if @user.messages.size > 5 %>
        <li style="list-style:none;text-align:right;margin-top:20px;"><%= link_to("more",:controller=>'site/messages',:action=>'index',:id=>params[:id]) %></li>
        <% end %>
      </ul>
  </div>
  <% else %>
   <h1>You don't have any messages</h1>
  <% end %>
   <% if logged_in? %>
  <% unless @my_profile %>
  <div>
    <h1><%= "#{@my_profile ? "My" : @user.name+"'s"}" %> wall - write a Message:</h1>
    <% form_tag 'send_message' do |f| %>
    <%= text_area_tag  :name,'', :size => "87x5" %>
    <%= hidden_field_tag :user_id,params[:id]%>
    <%= hidden_field_tag :send_by_id,current_user.id %>
    <p style="text-align:right;">

    <%= image_submit_tag("buttons/submit.png") %></p>
    <% end %>
  </div>
  <% end  else %>
   <p style="font:italic 16px Arial;text-align:center">To submit any message please log in!</p>
  <div style="border-bottom:1px solid #CCCCCC;background-color:#F3F8DA;color:#161616;font-size:1.3em;margin-top:8px;padding:1px 0 0 8px;">
        <h1>Send Message to <%= @user.name %></h1>
       <!-- <p>Comment with italyabroad account</p> -->
        <p style = "font:bold 16px Arial;"><%= link_to("Login", login_path) %> ||
          <%= link_to "Register", "/signup" %> </p>
      </div>
  <%end %>
</div>

<div id="follower">
  <h1>People on following:</h1>
  <ul>
    <%- @user.followers.all(:limit => 10).each do |people| -%>
    <li>
      <%= link_to avatar_for_user(people.follower, 'small'), customer_path(people.follower) %>
      <%= link_to people.follower.name, customer_path(people.follower) %>
    </li>
    <%- end -%>
  </ul>
</div>
<div style="clear:both;"></div>
<br /><br /><br />

<%- content_for :right do -%>
  <%= render :partial => 'site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => 'site/shared/box_wine_tours' %>
<%- end -%>

