<%- set_title "Community"  -%>
<%- @description = "Italyabroad.com Community page, get to know our latest members and producers, discover Italy and its regions, Italian wine and grapes and much more"; @keys = 'Community,Members,Wine Lovers,Italian Regions,Italyabroad.com Suppliers,Italian Grapes,ItalianWines,Italian Wine Blog,Italian Blog,Italian Food,Wine Q&A' %>
<% @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to('Community',wine_community_path, :title=>"Community")}".html_safe() %>
<% @about = AboutU.find(:first, :conditions => {:link_type => "community"} ) %>
<div id="wineBanner" class="main-banner">
  <span class="community_home_title">
    <%#= @about.title rescue "About us"%>
    <% if !@about.nil? %>
      <% unless @about.title.blank?   %>
        <div style="color:white;width:330px;height:100px;background:black;opacity: 0.6;filter:alpha(opacity=40);text-align:left">
          <%= @about.title if @about %>
        </div>
      <% end %>
    <% end %>
    <!--Share your <strong style="font-size:24px;">passion,</strong> meet <strong style="font-size:24px;">people</strong> like you, compare<br />
    <strong style="font-size:24px;">tasting notes</strong> and get <strong style="font-size:24px;">recommendations</strong> -->
  </span>
  <% if  @about and !@about.image_id.nil? %>
      <%=  image_tag(image_url(:about_thumb, @about.image, :jpg),:alt=>"Wine Community", :title=>"Wine Community")   unless @about.blank? %>
  <% else %>
      <%= image_tag("forum_home.jpg",:alt=>'Community',:title=>'Community') if @about.blank? %>
  <% end %>
</div><!--div id="wineBanner"-->
<div class="full-width">
  <div class="community-wrapper">
    <div class="green-heading-with-border"><h1>Our Newest Members</h1></div>
    <!-- Start New Members Row-->
    <div class="new-member-row clearfix">
      <% users = User.find(:all, :order => "created_at DESC", :limit => 12 ) %>
      <%- for user in users -%>
        <div class="member-col col-md-1 col-xs-3">
          <div> <%= link_to user.try(:photo).try(:image_filename).present? ? "<div class='user_photo_small' id='user_photo'>#{image_tag(user.photo.image_filename.url,  :style => "width:66x;height:66px;", :title=>"user.name")}</div>".html_safe : avatar_for_user(user, 'small', '66px'), customer_path(user), :title => user.name  %></div>
          <div class="member-name"><%= link_to(user.name.blank? ? '&nbsp;'.html_safe : user.name  , customer_path(user), :class=>'data', :title => user.name) %></div>
        </div>
      <%- end -%>
    </div><!-- End New Members Row-->
    <div class="row clearfix bottom-50">
      <div class="col-md-4">
        <%- grapes = Grape.find(:all, :limit => 1, :order => "RAND()") -%>
        <%- for grape in grapes -%>
          <div class="border-box">
            <h2 class="green-heading">Grape Guide</h2>
            <div class="box-image">
              <% if grape && grape.image %>
              <%= image_tag(image_url(:recipe, grape.image, :jpg),:alt=>grape.name, :title=>grape.name) if grape && grape.image %>
              <% else %>
                <%= image_tag("grape_guide_small.png", :alt=>grape.name, :title=>grape.name) %>
              <%- end -%>
            </div>
            <div class="green-heading-20"><%= grape.name %></div>
            <div>
              <%=
                if grape.description
                  if grape.description.length > @enough_chars
                    grape.description[0..@enough_chars].html_safe() + "..." + link_to('(Continue Reading)', grape_path(grape),:title=>"Continue Reading").html_safe()
                  else
                    grape.description.html_safe()
                  end
                else    
                end
              %>
            </div>
            <div class="right-link"><%= link_to "(More Grapes)", grape_guide_path, :title=>"More Grapes" %></div>
          </div>
        <%- end -%>
        <div class="border-box">
          <%- producers = Producer.find(:all, :limit => 1,:conditions=>['active = ?',true] ,:order => "RAND()") %>
          <h2 class="green-heading">Get to Know our producers</h2>
            <%- for producer in producers -%>
              <div class="box-image">
                <% if producer.image %>
                  <%=  image_tag(image_url(:community_producer_thumb, producer.image, :jpg),:alt=> producer.name,:title=> producer.name) %>
                <% else %>
                  <%= image_tag("default.jpg", :alt=>producer.name, :title=>producer.name) %>
                <% end %>
              </div>
              <div class="green-heading-20"><%= producer.name %></div>
              <div>
                <p>
                  <%- if producer.description
                    if producer.description.length > @enough_chars -%>
                      <%= producer.description[0..@enough_chars].html_safe() + "... " + link_to('(Continue Reading)', producer_path(producer), :title=>"Continue Reading") %>
                    <%- else -%>
                      <%= producer.description.html_safe() %>
                    <%end
                    else
                    end-%>
                </p>
              <div class="right-link"><%= link_to "More Producers", producers_path, :title=>"More Producers" %></div>
            </div>
          <% end -%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border-box">
          <div class="clearfix">
            <h2 class="green-heading pull-left">Q&A</h2>
            <div class="heading-link pull-left"><%= link_to '(Ask Our Experts)', faqs_path, :title=>"Ask Our Experts" %></div>
          </div>
          <% @faqs = Faq.find(:all, :limit => 6, :conditions=>['publish = true and answer != ""']) %>
          <% unless @faqs.blank? %>
          <%i = 1 %>
            <% @faqs.each do |faq| %>
              <div class="row-30 " >
                <div><%= faq.question %></div>
                <div><%= link_to 'Read the answer', "/faqs?show=show#{faq.id}#show#{faq.id}", :title=>"Read the answer" %></div>
              </div>
            <%- end-%>
          <%- end-%>
        </div>
        <%- regions = Region.find(:all,:conditions=>['active = ?',true], :limit => 1, :order => "RAND()") -%>
        <%- for region in regions -%>
          <div class="border-box">
            <h2 class="green-heading">Get to Know Italy</h2>
            <div class="box-image">
              <% if region && region.image %>
                <%= image_tag(image_url(:recipe, region.image, :jpg), :alt=>region.name, :title=>region.name) if region && region.image %>
              <% else %>
                  <%= image_tag("get_to_know_italy.png", :alt=>region.name, :title=>region.name) %>
              <%- end -%>
            </div>
            <div class="green-heading-20"><%= region.name %></div>
            <div>
              <p>
                <%=
                if region.description and !region.description.empty? and !region.description.nil?
                  if region.description.length > @enough_chars
                    region.description[0..@enough_chars].html_safe() + "..." + link_to('(Continue Reading)', region_path(region),:title=>"Continue Reading").html_safe()
                  else
                    region.description.html_safe()
                  end
                else
                  
                end%>
              </p>
            </div>
            <div class="right-link"><%= link_to "(More Regions)", regions_path,:title=>"More Regions" %></div>
          </div>
        <%- end -%>
      </div>
      <div class="col-md-4">
        <div class="border-box">
          <div class="clearfix">
            <h2 class="green-heading pull-left">Latest Reviews </h2>
            <!-- <div class="heading-link pull-left"><%# link_to 'Added a new review', '#.' %></div> -->
          </div>
          <div class="border-box-swiper">
            <!-- Swiper -->
            <div class="swiper-container" id="fourthSwiper">
              <div class="swiper-wrapper">
                <%if @reviews.count > 0 %>         
                  <%@reviews.each do |review| %>
                    <div class="swiper-slide">
                      <div class="slide-text">
                        <div class="row clearfix">
                          <div class="col-xs-3">
                            <%= link_to avatar_for_user(review.user, 'small'), customer_path(review.user_id),:title=>user.name %>
                          </div>
                          <div class="col-xs-9">
                            
                              <div class="reviewer-name">
                                <%if review.user%>
                                  <b>
                                    <%= link_to review.user.name, customer_path(review.user.id), :class=>'data', :id => 'latest_review_name',:title=>review.user.name %>
                                  </b> - 
                                <%end%>
                                <%=review.created_at.to_date.to_s(:long)%>
                              </div>
                            <%if review.score%>
                              <div class="star-row">
                                <%i = 1 %>
                                <%while i <= 5 %>
                                  <%if i <= review.score%>
                                    <span><img src="/images/star-active.png" alt="Star" title="Star"></span>
                                  <%else%>
                                    <span><img src="/images/star.png" alt="Star" title="Star"></span>
                                  <%end%>
                                  <%i+=1%>
                                <%end%>
                              </div>
                            <%end%>
                            <div class="fourth-swiper-text">
                              <p>
                                <% unless review.description.blank? %> 
                                  <% if review.reviewer_type == 'Product' %>
                                    "<%= link_to review.description[0..300] + "..." ,nested_products_uri(Product.find(review.reviewer_id)  ),:class=>'data',:title=>"Review" %>"
                                    <%= link_to "(Continue reading)", nested_products_uri(Product.find(review.reviewer_id)),:title=>"Continue Reading" %>"
                                  <% elsif review.reviewer_type == 'Recipe' %>
                                    "<%= link_to review.description[0..300] + "...", recipe_path(Recipe.find(review.reviewer_id)  ),:class=>'data',:title=>"Review" %>"
                                    <%= link_to "(Continue reading)", recipe_path(Recipe.find(review.reviewer_id),:title=>"Continue Reading"  ) %>"
                                  <% end %>
                                <% end %>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%end%>
                    <%- else -%>
                      <div>
                        <p>
                          There are no reviews yet, why not write one and get <%= number_to_currency(10,{:unit => "£", :precision => 0}) -%> voucher
                        </p>
                      </div>
                    <%- end -%>     
                  </div>
                </div>
                <!-- End Swiper -->
                <div class="review-arrow">
                  <!-- Add Arrows -->
                  <div class="pagi-arrow2">
                    <div class="swiper-button-prev"></div>
                    <div class="arrow-sep"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="border-box">
          <% blog = Post.last %>
          <h2 class="green-heading">Blog</h2>
          <% if !blog.nil? %>
          <div class="box-image">
            <%= image_tag(image_url('blog_banner', (blog.image_1 or blog.image_2 or blog.image_3), :jpg),:alt=>blog.name, :title=>blog.name) if blog.image_1 or blog.image_2 or blog.image_3 %>
          </div>
            <div class="green-heading-20"><%=  blog.name.upcase %></div>
            <div class="blog-date"><%= blog.created_at.strftime("%d/%m/%Y") %></div>
            <div>
                <p><%= blog.description_short.html_safe() %>... <%= link_to "(Continue Reading)", blog_path(blog.id),:title=>"Continue Reading" %></p>
            </div>
            <div class="right-link"><%= link_to("View all", blog_index_path,:title=>"View All") %></div>
          <% end %>
        </div>
        <div class="box">
          <div class="box-image">
            <%= link_to image_tag('olive-banner.jpg',:alt=>"Extra virgin Olive Oil Banner",:title=>"Olive Oil") , olive_oil_guide_path, :title=>"Olive Oi" %>
          </div>
        </div>
      </div>
    </div>
    <% products = Product.find(:all, :limit => 5, :include => {:categorizations => :category}, :conditions => ["categories.name LIKE ? AND DATE(date) > ? AND active" ,'Events',Date.today],:order =>'date') %>
    <% unless products.blank? -%>
      <div class="bottom-50">
        <div class="border-box p-20">
          <h2 class="green-heading"><%= "Upcoming Events" %></h2>
          <div class="">
            <div class="row clearfix">
              <div class="col-xs-5"><img src="/images/event-image-01.png" alt="Event" title="Event"></div>
              <div class="col-xs-7">
                <%- products.each do |product| -%>
                  <div class="upcoming-event-box">
                    <div class="green-heading-20"><%= link_to product.name , "/wine-events/#{product.friendly_identifier}" %></div>
                    <div class="upcoming-location-row">
                      <div class="date-n-time"><%= product.date.strftime("%d %B %Y at %H:%M") if product.date %></div>
                      <%if product.location%>
                        <div class="location"><i><img src="images/location-pin.png" alt="location" title="location"><%=product.location%></i></div>
                      <%end%>
                    </div>
                  </div>
                <%- end -%>
                <div><%= link_to "View All", '/events',:title=>"View All" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>