<%- set_title "Community" -%>
<% @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Community" %>
<% @about = AboutU.find(:first, :conditions => {:link_type => "community"} ) %>
<div id="wineBanner">
  <span class="community_home_title">
     <%= @about.title %>
    <!--Share your <strong style="font-size:24px;">passion,</strong> meet <strong style="font-size:24px;">people</strong> like you, compare<br />
    <strong style="font-size:24px;">tasting notes</strong> and get <strong style="font-size:24px;">recommendations</strong> -->
  </span>
  <% if  @about and !@about.image_id.nil? %>
  <%=  image_tag(image_url(:about_thumb, @about.image, :jpg))   unless @about.blank? %>
  <% else %>
  <%= image_tag("forum_home.jpg") if @about.blank? %>
  <% end %>
</div>
<div style="margin:10px;" id="forum-container-new">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top" width="475px">
        <div id="box_newest_members">
          <% users = User.find(:all, :order => "created_at DESC", :limit => 10) %>
          <h1 style="color:#9b0707;font-size:16px;">Our Newest Members</h1>
          <ul>
            <%- for user in users -%>
            <li>
              <%= link_to avatar_for_user(user, 'small'), customer_path(user), :title => user.name  %>
              <%#= link_to (user.name.length > 10 ? user.name[0..10] + '<br />' + user.name[11..20] : user.name ), customer_path(user), :class=>'data', :title => user.name %>
              <%= link_to user.name, customer_path(user), :class=>'data', :title => user.name %>
            </li>
            <%- end -%>
          </ul>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td width="45%" valign="top">
              <div id="box_producer">
                <h1 style="color:#9b0707;font-size:16px;">Get to know our producers</h1>
                <%- producers = Producer.find(:all, :limit => 1, :order => "RAND()") %>
                <%# producers = Producer.find(:all, :limit => 1, :conditions => "id=1") %>
                <%- for producer in producers -%>
                      <div id="get_to_know_our_producers_avatar">
                      <%= link_to producer.name, producer_path(producer) %>
                      <%= link_to "(more producers)", producers_path %><br /><br />
                      <%= avatar_for_user(nil, "small") %><br />
                      </div>

                      <%- if producer.description
                            if producer.description.length > @enough_chars-%>
                                  <%= producer.description[0..@enough_chars] + "... &nbsp;" + link_to('(Continue Reading)',producer_path(producer)) %>
                            <%- else -%>
                                  <%= producer.description %>
                            <%end
                      else

                      end
                end -%>

              </div>
              <br /><br />
              <div id="box_latest_blog" style="background-color:#f8f7ef;padding:5px 10px;margin-right:10px;">
                <% blog = Post.last %>
                <h1 style="color:#9b0707;font-size:16px;text-align:center;">Blog</h1>
                <%= link_to "Latest Entry", blog_index_path %><br /><br />
                <%= link_to blog.name.upcase, blog_path(blog.id) %> - <%= blog.created_at.strftime("%d/%m/%Y") %><br /><br />
                <%= blog.description_short %><br /><br />
                <div style="text-align:right;"><%= link_to("View all", blog_index_path) %></div>
              </div>
            </td>
            <td valign="top" style="padding-left:15px;">
              <div id="box_forum">
                <h1 style="color:#9b0707;font-size:16px;text-align:center;">Forum</h1>
                <ul style="list-style:none;padding:0;margin:0;">
                  <li>
                   <!-- <h1 style="color:#7f2d54;">General Discussion</h1> -->
                  <li>
                  <li>
                    <h1 style="color:#7f2d54;"><%= link_to 'Ask our experts',faqs_path %></h1>
                  </li>
                  <li>
                    <table style="list-style:none;margin:0;padding:0;" cellspacing="0" border="0" width="100%">
                      <tr> <% @faq = Faq.find(:last,:conditions=>['publish = true and answer != ""']) %><% unless @faq.blank? %>
                        <td valign="top">
                       <div style="color:#666666;padding:5px 0 10px 0"><%= link_to '<span style="color:black;">Latest Questions</span>',faqs_path %><br />
                        <br />

                        <%= @faq.question %><br /><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;<%= @faq.answer[0..200] %><br />

                       <%= link_to 'Read all',faqs_path %>
                        </div>
                        </td>
                        <td valign="top" align="right">
                          <div style="color:#666666;padding:5px 0 10px 0"><!--Posted by<br /> %= @faq.user.name %> -->
                          <% end %>
                         </div>
                        </td>
                      </tr>
                      <%- ForumPost.find(:all, :order => "created_at DESC", :limit => 14).each do |post| -%>
                      <tr>
                        <td>
                          <div style="padding:5px 0">
                            <strong><%= post.body %></strong> in <strong><%= link_to h(post.forum_name), forum_path(post.forum_id) %></strong>
                          </div>
                        </td>
                        <td align="right">
                          <div style="padding:5px 0"><%= post.user.name %></div>
                        </td>
                      </tr>
                      <%- end -%>
                    </table>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <div id="box_latest_review">
          <% latest_review = Review.last(:conditions=>['publish = ?',true]) %>
          <%- unless latest_review.nil? -%>
                <h1 style="color:#9b0707;font-size:16px;">Latest Review</h1>
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="width:5px;text-align:center;">
                      <%= link_to avatar_for_user(latest_review.user, 'small'), customer_path(latest_review.user.id)%>
                    </td>
                    <td valign="top"><% unless latest_review.description.blank? %> &nbsp;&nbsp;
                    "<%= link_to latest_review.description,review_path(latest_review),:class=>'data' %>"
                     <% else %>
                       "<%= 'Added a new review' %>"
                      <% end %>
                    </td>
                    </tr>
                    <tr>
                    <td>
                      <%= link_to latest_review.user.name, customer_path(latest_review.user.id), :class=>'data', :id => 'latest_review_name'%>
                    </td>
                    <td></td>
                  </tr>
                </table>
            <%- else -%>
                No published reviews
            <%- end -%>

        </div>



        <div id="box_grape_guide_forum"><br /><br /><br /><br /><br /><br /><br />
          <h1 style="color:#9b0707;font-size:16px;">Grape Guide</h1>
          <%- grapes = Grape.find(:all, :limit => 1, :order => "RAND()") -%>
          <%#- grapes = Grape.find(:all, :limit => 1, :conditions => "id = 1") -%>
          <%- for grape in grapes -%>
          <div style="padding-bottom:10px;color:#7f2d54;"><%= link_to grape.name, grape_path(grape) %>&nbsp;<%= link_to "(more grapes)", grape_guide_path %></div>
          <%= image_tag("grape_guide_small.png") %>

                  <%#= grape.description %>
                  <%=
                  if grape.description
                      if grape.description.length > @enough_chars
                        grape.description[0..@enough_chars] + "..." + link_to('(Continue Reading)',grape_path(grape)) + '<br /><br />'
                      else
                        grape.description
                      end
                  else
                    ""
                  end

                  %>


          <%- end -%>

        </div>
        <div id="box_get_to_know_italy"><br /><br />
          <h1 style="color:#9b0707;font-size:16px;">Get to know italy</h1>
          <%- regions = Region.find(:all, :limit => 1, :order => "RAND()") -%>
          <%#- regions = Region.find(:all, :limit => 1, :conditions => "id = 15") -%>
          <%- for region in regions -%>
          <div style="padding-bottom:10px;color:#7f2d54;"><%= link_to region.name, region_path(region) %>&nbsp;<%= link_to "(more regions)", regions_path %></div>
          <%= image_tag("get_to_know_italy.png") %>
          <%#= region.description %>
                   <%=
                  if region.description and !region.description.empty? and !region.description.nil?
                      if region.description.length > @enough_chars
                        region.description[0..@enough_chars] + "..." + link_to('(Continue Reading)',region_path(region)) + '<br /><br />'
                      else
                        region.description
                      end
                  else
                    ""
                  end

                  %>




          <%- end -%>

        </div>
      </td>
    </tr>
  </table>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_wine_tours' %>
  <br />
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
<% end %>

