<%- set_title "Community" -%>
<% @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to('Community',wine_community_path)}".html_safe() %>
<% @about = AboutU.find(:first, :conditions => {:link_type => "community"} ) %>
<div id="wineBanner">
  <span class="community_home_title">
    <%#= @about.title rescue "About us"%>
    <% if !@about.nil? %>
      <% unless @about.title.blank?   %>
        <div style="color:white;width:330px;height:100px;background:black;opacity: 0.6;filter:alpha(opacity=40);text-align:left">
          <%= @about.title if @about %>
        </div>
      <% end %>
    <% end %>
    <!--Share your <strong style="font-size:24px;">passion,</strong> meet <strong style="font-size:24px;">people</strong> like you, compare<br />
    <strong style="font-size:24px;">tasting notes</strong> and get <strong style="font-size:24px;">recommendations</strong> -->
  </span>
  <% if  @about and !@about.image_id.nil? %>
      <%=  image_tag(site_image_url(:about_thumb, @about.image, :jpg),:alt=>@about.title)   unless @about.blank? %>
  <% else %>
      <%= image_tag("forum_home.jpg",:alt=>'Community') if @about.blank? %>
  <% end %>
</div><!--div id="wineBanner"-->

<div style="margin:10px;float:left;width:475;"> <!-- Newest Members START-->
  <div id="box_newest_members">
    <% users = User.find(:all, :order => "created_at DESC", :limit => 12) %>
    <h1 style="color:#9b0707;font-size:14px;">Our Newest Members</h1>
    <ul>
      <%- for user in users -%>
          <li>
            <%= link_to avatar_for_user(user, 'small'), site_customer_path(user), :title => user.name  %>
            <%#= link_to (user.name.length > 10 ? user.name[0..10] + '<br />' + user.name[11..20] : user.name ), customer_path(user), :class=>'data', :title => user.name %>
            <%= link_to user.name, site_customer_path(user), :class=>'data', :title => user.name %>
          </li>
      <%- end -%>
    </ul>
  </div>
</div>                                          <!-- Newest Members END-->



<div><!--Latest review START -->
  <div id="box_latest_review" style="height:100px;">
    <h1 style="color:#9b0707;font-size:14px;">Latest Review</h1>
    <% latest_review = Review.last(:conditions=>['publish = ?',true]) %>


    <%- unless latest_review.nil? -%>
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td  width="1%">
              <%= link_to avatar_for_user(latest_review.user, 'small'), site_customer_path(latest_review.user.id)%>
              <%= link_to latest_review.user.name, site_customer_path(latest_review.user.id), :class=>'data', :id => 'latest_review_name'%>
            </td>
            <td valign="top"  width="50%"><% unless latest_review.description.blank? %> &nbsp;&nbsp;
                  <%#= link_to latest_review.description,review_path(latest_review),:class=>'data' %>
                  <% if latest_review.reviewer_type == 'Product' %>
                      "<%= link_to latest_review.description[0..120] + "..." ,nested_products_uri(Product.find(latest_review.reviewer_id)  ),:class=>'data' %>"
                      <%= link_to "(Continue reading)", nested_products_uri(Product.find(latest_review.reviewer_id)  ) %>"
                  <% elsif latest_review.reviewer_type == 'Recipe' %>
                      "<%= link_to latest_review.description[0..120] + "...", site_recipe_path(Recipe.find(latest_review.reviewer_id)  ),:class=>'data' %>"
                      <%= link_to "(Continue reading)", site_recipe_path(Recipe.find(latest_review.reviewer_id)  ) %>"
                  <% end %>
              <% else %>
                  "<%= 'Added a new review' %>"
              <% end %>
            </td>
          </tr>

        </table>
    <%- else -%>
        There are no reviews yet, why not write one and get £10 voucher
    <%- end -%>

  </div>
</div><!--Latest review END -->

<div style="clear:both;"></div>
<br /><br />

<!-- COLUMN 1 -->
<div class="three-col-format">

  <div id="box_producer" >
    <h1 style="color:#9b0707;font-size:14px;">Get to know our producers</h1>
    <%- producers = Producer.find(:all, :limit => 1,:conditions=>['active = ?',true] ,:order => "RAND()") %>
    <%# producers = Producer.find(:all, :limit => 1, :conditions => "id=39") %>
    <%- for producer in producers -%>
        <div id="get_to_know_our_producers_avatar" style="padding:25px;padding-top:0px;">
          <%= link_to producer.name, site_producer_path(producer) %>
          <%= link_to "(more producers)", site_producers_path %><br /><br />
          <%#= avatar_for_user(producer, "small") %>
          <%#= show_producer_image(producer) %>
          <% if producer.image %>
              <%=  image_tag(site_image_url(:community_producer_thumb, producer.image, :jpg),:alt=>producer.name) %>
          <% else %>
              <%= image_tag("default.jpg",:width => "150",:alt=>producer.name) %>
          <% end %>
          <br />
        </div>

        <div class = "box_producer_description" >
          <%- if producer.description
                if producer.description.length > @enough_chars -%>
                  <%= producer.description[0..@enough_chars].html_safe() + "... &nbsp;" + link_to('(Continue Reading)', site_producer_path(producer)) %>
              <%- else -%>
                  <%= producer.description.html_safe() %>
              <%end
                else

                end-%>
        </div>


    <% end -%>

  </div>
  <br /><br />
  <div id="box_latest_blog"  style="background-color:#f8f7ef;padding:5px 10px;margin-right:10px;text-align:justify;">
    <% blog = Post.last %>
    <h1 style="color:#9b0707;font-size:14px;text-align:center;">Blog</h1>
    <%= link_to "Latest Entry", site_blog_index_path %><br /><br />
    <% if !blog.nil? %>
        <%= link_to blog.name.upcase, site_blog_path(blog.id) %> - <%= blog.created_at.strftime("%d/%m/%Y") %><br /><br />
        <%= blog.description_short.html_safe() %><br /><br />
        <div style="text-align:right;"><%= link_to("View all", site_blog_index_path) %></div>
    <%end%>
  </div>

</div><!-- END OF COLUMN 1-->   <!--div class="three-col-format"-->





<!-- COLUMN 2 -->
<div class="three-col-format" style="padding-left:5px;">
  <h1 style="color:#9b0707;font-size:14px;padding-bottom:0px;margin-bottom:0px;">Q&A</h1>
  <%= link_to '(Ask our experts)', site_faqs_path %>
  <div style="text-align:left;padding-top:20px;">
    <% @faqs = Faq.find(:all, :limit => 6, :conditions=>['publish = true and answer != ""']) %>
    <% unless @faqs.blank? %>

        <% @faqs.each do |faq| %>
            <span style="color:#000;"><%= faq.question %></span><br />
            <%= link_to 'Read the answer', site_faqs_path %><br /><br /><!-- TRY THE INDIVIDUAL ANSWER PATH -->
        <%- end-%>

    <%- end -%>

    <%- ForumPost.find(:all, :order => "created_at DESC", :limit => 14).each do |post| -%>
        <strong><%= post.body %></strong> in <strong>
    <%= link_to h(post.forum_name), forum_path(post.forum_id) %></strong>
        <%= post.user.name %>
    <%- end -%>
  </div>


</div><!-- END OF COLUMN 2-->



<!-- COLUMN 3 -->
<div class="three-col-format" style="float:right;padding-right:5px;">



  <div id="box_grape_guide_forum">
    <h1 style="color:#9b0707;font-size:14px;text-align:center;">Grape Guide</h1>
    <%- grapes = Grape.find(:all, :limit => 1, :order => "RAND()") -%>
    <%#- grapes = Grape.find(:all, :limit => 1, :conditions => "id = 1") -%>
    <%- for grape in grapes -%>

        <div class="box_grape_guide"><%= link_to grape.name, site_grape_path(grape) %>&nbsp;<%= link_to "(more grapes)", grape_guide_path %><br /><br />
          <%#= image_tag("grape_guide_small.png",:alt=>'Grape guide') %>
          <% if grape && grape.image %>
              <%= image_tag(site_image_url(:recipe, grape.image, :jpg),:alt=>grape.name) if grape && grape.image %>
          <% else %>
              <%= image_tag("grape_guide_small.png", :alt=>grape.name, :width=> "150px") %>
          <%- end -%><br /><br />

          <%#= grape.description %>
          <div style="text-align:justify;">
            <%=
                if grape.description
                  if grape.description.length > @enough_chars
                    grape.description[0..@enough_chars].html_safe() + "..." + link_to('(Continue Reading)', site_grape_path(grape)).html_safe()
                  else
                    grape.description.html_safe()
                  end
                else
                  "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe()
                end
            %>
          </div>

    <%- end -%>
    </div>
    <!-- AAA -->
  </div><!-- THIS WAS ADDED BY SUJITH ON JUN 13, 2012 SINCE I FOUND THAT A DIV WAS NOT CLOSED -->
  <div id="box_get_to_know_italy"><br /><br />
    <h1 style="color:#9b0707;font-size:14px;text-align:center;">Get to know italy</h1>
    <%- regions = Region.find(:all,:conditions=>['active = ?',true], :limit => 1, :order => "RAND()") -%>
    <%- for region in regions -%>
        <div class="box_grape_guide"><%= link_to region.name, site_region_path(region) %>&nbsp;<%= link_to "(more regions)", site_regions_path %><br /><br /><br />

          <% if region && region.image %>
              <%= image_tag(site_image_url(:recipe, region.image, :jpg), :alt=>region.name) if region && region.image %>
          <% else %>
              <%= image_tag("get_to_know_italy.png", :alt=>region.name, :width=> "150px") %>
          <%- end -%><br />

          <div style="text-align:justify;">
            <%=
                if region.description and !region.description.empty? and !region.description.nil?
                  if region.description.length > @enough_chars
                    region.description[0..@enough_chars].html_safe() + "..." + link_to('(Continue Reading)', site_region_path(region)).html_safe()
                  else
                    region.description.html_safe()
                  end
                else
                  " &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe()
                end%>

          </div>
    <%- end -%>
    </div><!--div class="box_grape_guide"-->
  </div><!--div id="box_get_to_know_italy"-->

</div><!-- END OF COLUMN 3-->


<!-- ################################## -->


<% content_for :right do %>
    <%= render :partial => '/site/shared/box_wine_tours' %>
    <br />
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
<% end %>

