<% @title = "Andrea’s wine Blog"; @description = "Andrea’s Wine Blog, The Italian Wine Blog, A Guide to Italian Wines, Journey Through Italian Wines"; @keys = "Wine Blog,Italian Wine Blog,Italian Red and White Wine,Italian Food,Wine Tasting,Wine Expert" %>
<%- @breadcrumbs = "#{link_to("Home", root_url)}&raquo; #{link_to ('Community',wine_community_path)} &raquo; #{link_to("Blog", blog_index_path)}" -%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "blog"} ) %>
<div id="blog_home">

  <div class="title">
    <%= @about.title[0..150] if @about %>
    <!--A <strong style="font-size:30px;">blog</strong> dedicated entirely to<br />
    <strong style="font-size:30px;">Italian wine,</strong> follow us in our<br />
    discovery journey, <strong style="font-size:30px;">read news</strong><br />
    and our <strong style="font-size:30px;">views</strong> on Italian wine-->
  </div>
   <% if  @about and !@about.image_id.nil? %>
   <%=  image_tag(image_url(:about_thumb, @about.image, :jpg),:alt=>@about.title[0..150])   unless @about.blank?  %>
   <% else %>
  <%= image_tag("blog_home.jpg",:alt=>@about.title[0..150]) %>
  <% end %>
</div>
<div id="blog_container">
  <div id="blog_introduction">
    <%= @about.description if @about %>
    <!--I had my first sip of wine when I was 2, I can still recall that moment like it was yesterday. Sitting on my grandpa knees, sipping the wine he had produced from his glass.
    <br/><br/>
    That was the moment where my passion for italian food & wine was born.
    <br/><br/>
    In my blog I will write about my adventures whilst discovering the finest itailian produce.
    <br/><br/>
    I will also like to hear what you have to say so please share your views & comments.  -->
  </div>
  <div id="blog_rss">Subscribe to our RSS feed <%= link_to image_tag('RSS.png'), blog_index_path(:format => :xml, :show => :all) %></div>
  <div style="clear:both;"></div>
  <br />
  <br />
  <% if @posts && @posts.size > 0 %>
	<ul>
	<% for post in @posts %>
	  <li class="product_listing">
      <br /><h1><%= link_to post.name, post.friendly_identifier.blank? ? "blog/#{post.id}" : "blog/#{post.friendly_identifier}", :class => "product_title" %></h1>
      <div><%= post.description_short_cleared %></div>
      <table width="100%">
        <tr>
          <td>
            <br /><br />
            <strong>Tags:</strong>
            <%
            @tag_list = "" %>
            <% post.tags.each do |p| %>
            <% @tag_list =  @tag_list + link_to (p.name, blog_index_path(:tag_id=>p.id)) + ", "%>
            <% end %>
             <%= @tag_list.chop![0..-2] if !@tag_list.empty? %>
          </td>
          <td align="right">
            <%= link_to "view comments (#{post.comments.find(:all,:conditions=>['public=?',true]).size})", blog_path(:id => post.id) %> - <%= link_to "read more", blog_path(:id => post.id) %>
          </td>
        </tr>
      </table>
    </li>
  <% end %>
  </ul>
  <div style="float:right;"><%= link_to "View all", blog_index_path(:show => "all") %></div>
  <div style="clear:both;"></div>
  <div style="float:right;margin-top:20px;margin-bottom:10px;"><%#= render :partial => '/site/shared/social_bookmarks' %></div>
  <% end %>
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_grape_guide' %>
	<br />
	<%= render :partial => 'box_most_read_blog' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => 'box_popular_tags' %>
	<br />
	<%= render :partial => 'box_latest_blog_comments' %>
	<br />
	<%= render :partial => 'box_archives' %>
<% end %>

