<% @about = AboutU.find(:first, :conditions => {:link_type => "blog"} ) %>
<%if @about and  @about.meta_title.blank? and @about.meta_description.blank? %>
  <% @title = "Andrea's wine Blog"; @description = "Andrea's Wine Blog, the only Italian wine blog, an amazing journey through Italian wines"; @keys = "Wine Blog,Italian Wine Blog,Italian Journey, Italian Food Blog,Italian Wine Expert,Italian Blog"%>
<%else%>
  <% @title = @about.meta_title; @description = @about.meta_description %>
<%end%>

<%- @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")}&raquo; #{link_to('Community',wine_community_path, :title=>"Community")} &raquo; #{link_to("Blog", blog_index_path, :title=>"blog")}" -%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "blog"} ) %>
<div id="blog_home" class="main-banner">
  <% if  @about and !@about.image_id.nil? %>
   <div class="main-banner"><%=  image_tag(image_url(:about_thumb, @about.image, :jpg), :title=>"Blog Banner", :alt=>"Blog Banner") unless @about.blank?  %></div>
  <% else %>
    <div class="main-banner"><%= image_tag("blog_home.jpg",:alt=>"Blog Banner", :title=>"Blog Banner") unless @about.blank?  %></div>
  <% end %>
</div>
<div class="row">
  <div class="search-blog-wrapper clearfix">
    <div class="subscribe-rss col-md-3">
      <%= link_to "Subscribe to our RSS feed", blog_index_path(:format => :xml, :show => :all), :title=>"Subscribe to our Rss feed" %> <%= link_to image_tag('RSS.png', :alt=>"RSS", :title=>"Rss"), blog_index_path(:format => :xml, :show => :all), :title=>"Subscribe to RSS feed" %>
    </div>
    <div class="col-md-9 clearfix">     
      <div class="search-blog-box clearfix">
        <div class="blog-search-text">Search our blog</div>
        <div class="blog-search-field">
          <%= form_tag '/blog', :class=>'search_form' ,:method => :get do %>
            <div class="left-bar-search">
              <%= hidden_field_tag :category , 'search_blog_post' %>
              <%= text_field_tag :text, '', :class=> "form-control",  "data-autocomplete"=> '/search/autocomplete_post_name' , :placeholder => "Search Here", :style=>"" %>    
              <span class="magnifier"><%= image_submit_tag "magnifier.png" %></span>
            </div>
          <%end%>    
        </div>
      </div>
    </div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/blog/box_most_read_blog' %>
      <%= render :partial => '/site/blog/box_popular_tags' %>
      <%= render :partial => '/site/blog/box_archives' %>
    </div>
    <div class="col-md-9">
      <% if @posts && @posts.size > 0 %>
        <div>
          <div class="blog-listing-wrapper" style="margin-bottom: 50px; margin-top: -5px">
            <% if @tag%>
               <div class="bottom-50">
                  Showing Blog Post For Tag:
                  <b>
                    <%= @tag.name %> 
                    (<%= link_to " View All Post ", blog_index_path() %> )
                  </b>
              </div>
            <% elsif @year and @month%>
              <div class="bottom-50">
                Showing Blog Post For Archives: 
                <b>
                  <%=  Date::MONTHNAMES[@month]%> <%= @year %>
                  (<%= link_to " View All Post ", blog_index_path() %> )
                </b>
              </div>
            <% end%>
          <% if @about %>
            <div class="red-heading"><h1>Italian wine and food Online | Award winning wine merchant <%#= @about.title  %></h1> </div>
            <div><%= @about.description %></div>
          <% end %>
        </div>
          <% for post in @posts %>
            <% next unless post.friendly_identifier %>
            <div class="blog-list">
              <h2 class="blog-list-heading"><%=link_to post.name , blog_path(post.friendly_identifier), :title=>post.name %></h2>
              <div class="blog-list-date clearfix">
                <span class="list-date <%= @year and post.created_at.year == @year ? 'tag_selected' : ''%>"><b><%=post.created_at.to_date.to_s(:long)%></b></span> <span class="list-tags"><b>Tags: </b>
                  <%
                    @tag_list = "" %>
                    <% post.tags.each do |p| %>
                    <% @tag_list =  (@tag_list + link_to(p.name, blog_index_path(:tag_id=>p.id), :title=>p.name, class: "#{@tag and @tag.id == p.id ? 'tag_selected' : ''}") + ", ").html_safe%>
                  <% end %>
                  <% @tag_list = @tag_list.chop.chop if !@tag_list.empty? %>
                  <%= @tag_list.html_safe if !@tag_list.empty? %>
                </span>   
                <span class="pull-right"><%= link_to "View Comments (#{post.comments.find(:all,:conditions=>['public=?',true]).size})", blog_path(post.friendly_identifier), :title=>"View Comments" %></span>
              </div>
              <div class="blog-list-text">
                <%= post.description_short_cleared.html_safe %> <%= link_to "Continue Reading", blog_path(post.friendly_identifier), :title=>"Continue Reading" %>
              </div>
            </div>
          <% end %>
          <div class="left-align bottom-50"> </div>
          <div class="center-align bottom-50">
           <b><%= will_paginate(@posts , :container => false) %></b>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/box_event' %>
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_grape_guide' %>
	<br />
	<%= render :partial => 'box_most_read_blog' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => 'box_popular_tags' %>
	<br />
	<%= render :partial => 'box_latest_blog_comments' %>
	<br />
	<%= render :partial => 'box_archives' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

