<% @title = "Andrea's wine Blog"; @description = "Andrea's Wine Blog, The Italian Wine Blog, A Guide to Italian Wines, Journey Through Italian Wines"; @keys = "Wine Blog,Italian Wine Blog,Italian Red and White Wine,Italian Food, Wine Tasting,Wine Expert"%>
<%- @breadcrumbs = "#{link_to("Home", root_url)}&raquo; #{link_to('Community',wine_community_path)} &raquo; #{link_to("Blog", site_blog_index_path)}" -%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "blog"} ) %>
<div id="blog_home" class="main-banner">

  <div class="title">
    <%= @about.title[0..150] if @about %>
    <!--A <strong style="font-size:30px;">blog</strong> dedicated entirely to<br />
    <strong style="font-size:30px;">Italian wine,</strong> follow us in our<br />
    discovery journey, <strong style="font-size:30px;">read news</strong><br />
    and our <strong style="font-size:30px;">views</strong> on Italian wine-->
  </div>
   <% if  @about and !@about.image_id.nil? %>
   <%=  image_tag(site_image_url(:about_thumb, @about.image, :jpg),:alt=>@about.title[0..150]) unless @about.blank?  %>
   <% else %>
  <%= image_tag("blog_home.jpg",:alt=>@about.title[0..150]) unless @about.blank?  %>
  <% end %>
</div>
<div class="row">
  <div class="search-blog-wrapper clearfix">
      <div class="subscribe-rss col-md-3">
       <%= link_to "Subscribe to our RSS feed", site_blog_index_path(:format => :xml, :show => :all) %> <%= link_to image_tag('RSS.png'), site_blog_index_path(:format => :xml, :show => :all) %>
      </div>
      <div class="col-md-9 clearfix">
          <div class="search-blog-box clearfix">
              <div class="blog-search-text">Search our blog</div>
              <div class="blog-search-field"><input type="text" class="blog-search">
              <i class="magnifier"><a href="#."><img src="/images/magnifier.png"></a></i>
              </div>
          </div>
      </div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/blog/box_most_read_blog' %>
      <%= render :partial => '/site/blog/box_popular_tags' %>
      <%= render :partial => '/site/blog/box_archives' %>
    </div>
    <div class="col-md-9">
      <% if @posts && @posts.size > 0 %>
        <div class="blog-listing-wrapper">
          <% for post in @posts %>
            <div class="blog-list">
                <div class="blog-list-heading">
                  <%= post.name %>
                </div>
                <div class="blog-list-date clearfix">
                    <span class="list-date"><b><%=post.created_at.to_date.to_s(:long)%></b></span> <span class="list-tags"><b>Tags: </b>
                      <%
                      @tag_list = "" %>
                      <% post.tags.each do |p| %>
                      <% @tag_list =  (@tag_list + link_to(p.name, site_blog_index_path(:tag_id=>p.id)) + ", ").html_safe%>
                      <% end %>
                        <% @tag_list = @tag_list.chop.chop if !@tag_list.empty? %>
                        <%= @tag_list.html_safe if !@tag_list.empty? %>
                    </span>   
                    <span class="pull-right"><%= link_to "View Comments (#{post.comments.find(:all,:conditions=>['public=?',true]).size})", site_blog_path(:id => post.id) %></span>
                </div>
                <div class="blog-list-text"><%= post.description_short_cleared.html_safe %> <%= link_to "Continue Reading", site_blog_path(:id => post.id) %></div>
            </div>
          <% end %>
          <div class="green-button">
            <%= link_to "VIEW ALL", site_blog_index_path(:show => "all") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/box_event' %>
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_grape_guide' %>
	<br />
	<%= render :partial => 'box_most_read_blog' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => 'box_popular_tags' %>
	<br />
	<%= render :partial => 'box_latest_blog_comments' %>
	<br />
	<%= render :partial => 'box_archives' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

