<!-- Google Code for Sucessfull order Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998283630;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "KNvKCJLbrwMQ7rKC3AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/998283630/?value=0&amp;label=KNvKCJLbrwMQ7rKC3AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% @title = "Order Completed" %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Checkout &raquo; Order Complete" -%>
<% @class = "no-padding" %>
<!--Response - <%#= session[:response] %><br />
Success or failure - <%#= session[:response_success] %>
Response Params is <%#= session[:response_params] %>-->

<div id="header" class="green-heading-with-border">Your Order is Complete!</div>
<!--<div style="text-align:center;margin-top:40px;"><%#= image_tag("cart_step_4.png") %></div> -->
<%#= render :partial => 'site/shared/box_cart_form' %>
<div class="full-width" style="padding: 0px 20px 50px; ">
  <div class="section-des">
    Your Order has been successfully received by our team and you will shortly receive an acknowledgement by email.
  </div>
  <div style="font-size:16px;font-weight:bold;">
    Thank you for shopping with us, your order details are
  </div>
  <div style="margin: 10px 0px;font-size:16px;font-weight:bold"  class="green-text">
    Order number: <%= @order.id %>
  </div>
  <div>
    <% if @was_admin %>
      <span style="display: block;text-align: left;padding: 0px 10px 7px;font-weight: bold;">
        <%= link_to "Print Invoice", print_invoice_admin_order_path(@order,:format => "pdf"), :target => "_blank" %>
      </span>
    <% end %>
  </div>
  <div style="display:none;">
    Payment Method : <%= number_to_currency(@order.total - (@order.points_used * @setting.points_to_pound), :unit => "&pound;") %> Credit Card
 + Points equivalent to : <%= number_to_currency(@order.points_used * @setting.points_to_pound, :unit => "&pound;") %>
  <br /><br />
  </div>
  <% 
  total_points_earned = @order.total * Setting.find(:first).points_per_pound
%>

<p style="margin: 10px 0px;" class="red-text"> You have earned <%=total_points_earned%> Points. That have been added to your account</p>
<br />
  <p style="margin: 10px 0px;font-size:13px;">
  Enjoy your piece of Italy and let our community know about your experience 
  </p>
</div>
 



<% #reset session here once the view is done %>
<% session[:ship_address] = nil %>
<% session[:cart] = nil; @cart=Cart.new %>

