<% @title = "Choose a delivery address"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; Checkout &raquo; Delivery Details" -%>
<% @class = "no-padding" %>
<% unless @cart.items.blank? %>
    <div id="header" class="green-heading-with-border"><h1>Delivery details</h1></div>
    <div class="delivery-detail-wrapper">
      <div class="checkout-sub-heading">Delivery and Billing Address (if different from account)</div>
      <div class="checkout-des bottom-50">Your order will be delivered to the address below.</div>
      <% if current_user.address.blank? or current_user.city.blank? or current_user.cap.blank? %>
        <div class="checkout-des bottom-50 billing_notification">

          <h4>Your Billing Address (also your profile address) is missing the following fields:</h4>

          <ul>
            <%= '<li>Address</li>'.html_safe if current_user.address.blank? %>
            <%= '<li>Town</li>'.html_safe if current_user.city.blank? %>
            <%= '<li>Postcode</li>'.html_safe if current_user.cap.blank? %>
            <li>Please <%= link_to 'click here','/my-account?return_to_url=true&#user_address' %> to fix this issue.</li>
          </ul>
        </div>
      <% end %>
      <div class="select-address clearfix">
        <div class="address-label">To use a different address please select here:</div>
        <div class="address-select">
          <%= select :ship_address, :id, options_for_shipping_addresses(current_user) %>
        </div>
      </div>
      <div class="shipping-address clearfix">
        <%= form_tag ship_addresses_path, :id => "ship_address_form", :protocol => "https" do %>
          <div class="col-md-8 shipping-address-box">
            <div class="shipping-title">Shipping Address</div>
            <div id="ship_address">
              <%= show_messages flash[:notice] %>
              <%= render :partial => 'site/ship_addresses/ship_address', :locals => {:ship_address => @ship_address} %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="step-img"><%= image_tag("cart_step_2.png", :title=>"Cart Step 2", :alt=>"Cart Step 2") %></div>
      <div class="top-30 right-align bottom-50">
        <div class="back-btn green-button">
          <%= link_to ("Back"),{:controller=>'cart',:action=>'gift_options'}, :title=>"Back" %>
        </div>
        <div class="continue-btn green-button">
          <%= link_to ("Continue"), payment_checkouts_path, :id => "ship_address_form_continue", :title=>"Continue" -%>
        </div>
        <%= javascript_tag "$(document).ready(function(e){ RemoteAddressFrom.setup('#{confirm_address_checkouts_path}') });" %>
      </div>
    </div>
    
<% end %>



<script type="text/javascript">
    $("#ship_address_id").change(function(){
        $("#loader").show();
        $.ajax({
            type: 'GET',
            url: "<%= new_ship_address_path -%>",
            data: {ship_address_id: $(this).val(), format: 'js'},
            cache: false,
            success: function(data){
                $("#loader").hide();
            }
        })
    })

    $("#ship_address_form_continue").click(function(e){
         billing_notification = $.find('.billing_notification').toString();
          
        if (billing_notification != '' )
        {
          alert("Please Add  Billing Address (also your profile address) ");
          e.preventDefault();
        }else{
          if ($("#save_me:visible").attr("ship_id") == 0) {
                  alert("Please fill-up and save shipping address by clicking 'Save Address' button before continue..")
                  e.preventDefault();
          }
        }

    });

</script>

