<% @title = "Choose a delivery address"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Checkout &raquo; Delivery Details" -%>
<% @class = "no-padding" %>

<% unless @cart.items.blank? %>
    <div id="header">Delivery details</div>
    <div style="margin:10px 20px;">
      <h2 style="font-weight:normal;">Delivery and Billing Address (if different from account)</h2>
      <p>Your order will be delivered to the address below.</p>
    </div>
    <div style="margin:0 55px;">
      <table cellpadding="5" cellspacing="0" border="0">
        <tr>
          <td>To use a different address please select here:</td>


          <td><%= select :ship_address, :id, options_for_shipping_addresses(current_user) %></td>

          <td>
            <%#= observe_field :ship_address_id,
                            :frequency =>1,
                            :update => :ship_address,
                            :method => :get,
                            :loading => "$('loader').show()",
                            :complete => "$('loader').hide()",
                            :url => new_ship_address_path, :with => "ship_address_id" %>
            <span id="loader" style="display:none;"><%= image_tag("loading.gif", :size => "15x15") %></span>
          </td>
        </tr>
      </table>
    </div>
    <!-- % form_tag ship_addresses_path, :id => "ship_address_form" do % -->
    <% form_tag site_ship_addresses_path, :id => "ship_address_form", :protocol => "https" do %>
        <div style="margin:10px 55px;">
          <div style="width:560px;">
            <p>
            <fieldset>
              <legend style="font-weight:bold;">Shipping Address</legend>
              <div id="ship_address">
                <%= show_messages flash[:notice] %>
                <%= render :partial => 'site/ship_addresses/ship_address', :locals => {:ship_address => @ship_address} %>
              </div>
            </fieldset>
            </p>
          </div>
        </div>
    <% end %>
        <div style="text-align:center;margin-top:40px;"><%= image_tag("cart_step_2.png") %></div>
        <%#= render :partial => 'site/shared/box_cart_form' %>
        <p style="text-align:right;margin:10px;">
          <%#= link_to image_tag("buttons/continue_shopping_button.png"), continue_shopping_cart_path %>&nbsp;
          <%= link_to image_tag("buttons/back_button.png"),:controller=>'cart',:action=>'gift_options' %>&nbsp;
          <%= link_to image_tag("buttons/continue_button.png"), payment_site_checkouts_path, :id => "ship_address_form_continue" -%>
          <%#= image_submit_tag("buttons/continue_button.png", :id => "ship_address_form_continue") %>
          <%#= link_to image_tag("buttons/continue_button.png"), :controller=>'checkouts',:action=>'order_confirmation' %>
          <%= javascript_tag "document.observe('dom:loaded', function(e){ RemoteAddressFrom.setup('#{confirm_address_site_checkouts_path}') });" %>

        </p>
<% end %>

<% content_for :right do %>
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
<% end %>

<script type="text/javascript">
    $("#ship_address_id").change(function(){
        $("#loader").show();
        $.ajax({
            type: 'GET',
            url: "<%= new_site_ship_address_path -%>",
            data: {ship_address_id: $(this).val(), format: 'js'},
            cache: false,
            success: function(data){
                $("#loader").hide();
            }
        })
    })

    $("#ship_address_form_continue").click(function(e){
        if ($("#save_me").attr("ship_id") == 0) {
                alert("Please fill-up and save shipping address by clicking 'Save Address' button before continue..")
                e.preventDefault()
        }

    });

</script>

