<% @title = "Payment Information"; %>
<% months = Date::MONTHNAMES.compact %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Checkout &raquo; Payment Information" -%>
<% @class = "no-padding" %>

<%= javascript_tag "document.observe('dom:loaded', function(e){ RemotePaymentMethodForm.setup() });" %>

<div id="header">Payment Information</div>
<div style="text-align:center;margin-top:40px;"><%= image_tag("cart_step_3.png") %></div>
<%= render :partial => 'site/shared/box_cart_form' %>
<% total_points = 0
total_points_used = 0
for order in current_user.orders
  unless order.order_items.blank?
    total_points = total_points + order.total * Setting.find(:first).points_per_pound
    total_points_used = total_points_used + order.points_used %>
 <% end
end
%>
<% form_tag orders_path, :id => "check_payment" do %>
<% if total_points - total_points_used > 0 %>
    <div  style="margin:10px;border-bottom:1px solid #cccccc;">You have <%= total_points - total_points_used %> points in your credit.  This is equivalent to <%= number_to_currency ((total_points - total_points_used)* Setting.find(:first).points_to_pound, :unit => "&pound;") %> <br /><br />Would you like to use these points for the purchase? <br /><br />Enter the required points here
    <%= text_field_tag :points_to_be_used %>
    <%= hidden_field_tag :total_points, total_points - total_points_used %>
    </div>
<%- end -%>
<div style="margin: 10px 20px;">
  <h2 style="font-weight:normal;">Billing Information</h2>

    <div id="form">
      <%= show_messages(flash[:notice]) %>
      <%= hidden_field_tag :payment_method, 2 %>
      <%= render :partial => 'site/orders/cc_form' %>
    </div>
    <p style="text-align:right;">
  		<%= image_submit_tag "buttons/checkout.png" %>
  	</p>

</div>
  <%- end -%>
<% content_for :right do %>
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

