<% @title = "Payment Information"; %>
<% months = Date::MONTHNAMES.compact %>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; Checkout &raquo; Payment Information" -%>
<% @class = "no-padding" %>

<%= javascript_tag "document.observe('dom:loaded', function(e){ RemotePaymentMethodForm.setup() });" %>

<div id="header">Payment Information</div>
<div style="text-align:center;margin-top:40px;"><%= image_tag("cart_step_3.png") %></div>
<%= render :partial => 'site/shared/box_cart_form' %>
<% total_points = current_user.find_total_points(current_user)
total_points_used = current_user.orders.sum('points_used')
    %>
<% form_tag orders_path, :id => "check_payment" do %>
<% if total_points - total_points_used > 0 %>
    <div  style="margin:10px;background-color:rgb(243, 248, 218);"><br />&nbsp;&nbsp;&nbsp;You have <span id="highlight"><%= (total_points - total_points_used).to_i %></span> points in your credit.  This is equivalent to <span id="highlight"><%= number_to_currency ((total_points - total_points_used)* Setting.find(:first).points_to_pound.to_i, :unit => "&pound;") %></span> <br /><br />&nbsp;&nbsp;&nbsp;Would you like to use these points for the purchase? <br /><br />&nbsp;&nbsp;&nbsp;Enter the required points here
    &nbsp;&nbsp;&nbsp;<%= text_field_tag :points_to_be_used %>
    <%= hidden_field_tag :total_points, total_points - total_points_used %><br /><br />
    </div>
<%- end -%>
<div style="margin: 10px 20px;">
  <h2 style="font-weight:normal;">Billing Information</h2>

    <div id="form">
      <%= show_messages(flash[:notice]) %>
      <%= hidden_field_tag :payment_method, 2 %>
      <%= render :partial => 'site/orders/cc_form' %>
    </div>
    <p style="text-align:right;">
  		<%= image_submit_tag "buttons/checkout.png" %>&nbsp;&nbsp;<%= link_to image_tag("buttons/continue_shopping_button.png"), continue_shopping_cart_path %>
  	</p>

</div>
  <%- end -%>
<% content_for :right do %>
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

