<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta name="viewport" content="width=device-width" /><!-- IMPORTANT -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- <link rel="stylesheet" type="text/css" href="stylesheets/email.css" /> -->


</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="">
  <tr>
    <td></td>
    <td class="header container">
      
        <div class="content">
          <table bgcolor="">
            <tr>
              <td>
                <a href="#account" />
                <%#=image_tag "logo.png", style: "width:70px;height:auto;" %>
                <img src="https://www.italyabroad.com/assets/xlogo_hi_res-72655d267a58597692c2d87c20945929.gif.pagespeed.ic.Q7438Z1QqK.png" style="width:70px;height:auto;" /></a>
              </td>
              <td align="right">
                <h6 class="collapse"></h6>  
              </td>
            </tr>
          </table>
        </div>
        
    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <br/>
            <h6>Dear <%= @order.user.name %>,</h6>
            
          <p> Thank you for shopping with Italyabroad.com
            </p>
            <p>We thought you'd like to know that your <strong>order No:<%= @order.id %></strong> has now been despatched and  will be with you according to the delivery option chosen</p>
           
           
          <!-- </td> -->
        </tr>
      </table>
      </div>
                  
    </td>
    <td></td>
  </tr>
</table>


<table class="body-wrap">
  <tr>
    <td colspan="3"><hr />
    </td>
  </tr>
  <tr>
    <td><strong>Delivery Details</strong><br />
            <% if @order.delivery_name == "Collection at our warehouse" -%>
              <% msg = "Your order is ready to be collected, please let us know when you are thinking of coming."%><br />
            <% else %>
              <% msg = "" %>
              <% if @order.shipping_agency and  @order.consignment_no -%>
                Shipped with: <%= @order.shipping_agency.name %><br />
                Consignment No: <%= @order.consignment_no %><br />
              <% end -%>
            <% end -%><br />
            If you have chosen to collect it from our warehouse, it is ready for collection. Simply inform us when you are thinking of coming.

    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
          <%= @order.user.name %><br />
          <%= @order.ship_address %><br />
          <%= @order.ship_city %>, <%= @order.ship_cap %><br />
          <%= @order.ship_country %><br />
    </td>
  </tr>
</table>


<table style="border:solid grey 1px;padding:5px;">
<tr><th style="text-align:left;padding-right:5px;">Product</th><td>&nbsp;&nbsp;</td><th>Quantity</th><td>&nbsp;&nbsp;</td><th>Price</th><td>&nbsp;&nbsp;</td><th>Total</th></tr>

<% for order_item in @order.order_items %>
<tr>
<td style="text-align:left;padding-right:5px;"><%= order_item.name %></td><td></td>
<td style="text-align:right;padding-right:5px;"><%= order_item.quantity %></td><td></td>
<td style="text-align:right;padding-right:5px;"><%= number_to_currency order_item.price, :unit => "£" %></td><td></td>
<td style="text-align:right;padding-right:5px;"><%= number_to_currency order_item.total , :unit => "£" %></td>
</tr>
<% end %>

<tr>
<td colspan="6" style="text-align:right;">Total Amount : </td><td><strong><%= number_to_currency @order.total , :unit => "£" %></strong></td>
</tr>
</table>

<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <br/>
            <p> 
              <%= msg %>
            </p>
            <p>If you have not received your item(s) within this time, please contact us on info@italyabroad.com</p>
           
          <!-- </td> -->
        </tr>
      </table>
      </div>
                  
    </td>
    <td></td>
  </tr>
</table>
</body>
</html>

