<h2 class="section-heading bottom-30">
  <%= if (params[:selected_option].present? and params[:selected_option].downcase.strip == "with food")
    @questions[params[:step].to_i + 1]
  elsif params[:step] == "4"
    @questions[params[:step].to_i - 1]
  else
    @questions[params[:step].to_i]
  end -%>
</h2>
<div class="row clearfix bottom-50 center-align">
  <% if item_options.present? %>
  
    <% item_options.each do |item| %>
      
        <% if !params[:step].present? %>
          <div class="col-md-2 col-xs-4 sommelier-box" >
            <div>
              <%= image_tag("sommilier-image-#{item.strip.upcase.gsub(" WINE", "").gsub(" ", "-")}.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
        <% elsif params[:step] == "1" %>
          <div class="col-md-3 col-xs-4 sommelier-box" >
            <div>
              <%=  image_tag("sommilier-image-#{item.strip.upcase.gsub(" BODY", "").gsub(" ", "-")}-BODIED-new.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
        <% elsif params[:step] == "2" %>
          <div class="col-xs-6 col-md-3 sommelier-box">
            <div>
              <%=  image_tag("sommilier-image-#{item.downcase.strip.gsub(" ", "-")}.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
        <% elsif params[:step] == "3" and params[:selected_option].downcase.strip == "drink on its own" %>
          <div class="col-md-3 col-xs-4 sommelier-box" >
            <div>
              <%=  image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
        <% elsif params[:step] == "3" and params[:selected_option].downcase.strip == "with food" %>
          <div class="col-md-2 col-xs-4 sommelier-box" >
            <div>
              <%=  image_tag("sommilier-image-#{item.downcase.strip.singularize.gsub(" ", "-")}.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
        <% elsif params[:step] == "4" %>
          <div class="col-md-3 col-xs-4 sommelier-box" >
            <div>
            <%=  image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :title=>"sommelier", :alt=>"sommelier") %>
            </div>
            <div class="recWine">
              <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
              <%= hidden_field_tag :step, step, :id => "step" -%>
            </div>
          </div>
       <% else %>
          item
        <%end-%>
        
    <% end %>
  <% end %>  
</div>
<div class="bottom-50 clearfix">
  <% if params[:step].present? %>
    <div class="pull-right green-button" style="">
      <b>
        <%= link_to "&lt;&ndash; Go Back".html_safe, "#", :id => "go_back", :title=>"Go Back" if !params[:st].present? -%>
      </b>
    </div>
  <% end %>
</div>
  
<script type="text/javascript">
    $(".recWine input").click(function(){
        if($(this).is(":checked")){
            $.ajax({
                type: 'POST',
                url: "/sommelier",
                data: {selected_option: $(this).val(), step: $("#step").val()},
                cache: false,
                success: function(data){
//            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
        }

//      $("#new_search").submit()
    })

    $("#go_back").click(function(){
        if ("<%= params[:step]-%>" == "1"){
          window.location.href = "/sommelier?rt=1"
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/site/sommelier",
                data: {selected_option: "<%= params[:selected_option] -%>", step: "<%= params[:step] == "4" ? params[:step].to_i - 2 : params[:step].to_i - 1 -%>"},
                cache: false,
                success: function(data){
    //            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
    //      $("#new_search").submit()
        }
        return false;
    })
</script>