<div class="section-heading bottom-30">
  <%= if (params[:selected_option].present? and params[:selected_option].downcase.strip == "with food")
    @questions[params[:step].to_i + 1]
  elsif params[:step] == "4"
    @questions[params[:step].to_i - 1]
  else
    @questions[params[:step].to_i]
  end -%>
</div>
<div class="row clearfix bottom-50 center-align">
  <% if item_options.present? %>
  
    <% item_options.each do |item| %>
      <div class="col-md-2 col-xs-4 sommelier-box" >
        <%= if !params[:step].present?
          image_tag("sommilier-image-#{item.strip.upcase.gsub(" WINE", "").gsub(" ", "-")}.jpg")
        elsif params[:step] == "1"
          image_tag("sommilier-image-#{item.strip.upcase.gsub(" BODY", "").gsub(" ", "-")}-BODIED-new.jpg", :height => "183", :width => "157")
        elsif params[:step] == "2"
          image_tag("sommilier-image-#{item.downcase.strip.gsub(" ", "-")}.jpg", :height => "183", :width => "157")
        elsif params[:step] == "3" and params[:selected_option].downcase.strip == "drink on its own"
          image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :height => "183", :width => "157")
        elsif params[:step] == "3" and params[:selected_option].downcase.strip == "with food"
          image_tag("sommilier-image-#{item.downcase.strip.singularize.gsub(" ", "-")}.jpg", :height => "110", :width => "104")
        elsif params[:step] == "4"
          image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :height => "183", :width => "157")
        else
          item
        end-%>
        <div class="recWine">
          <%= radio_button :selected_option, "", "#{item}",:checked => (session[:selected_search_options].values.flatten.include?(item)) %><br /><%= item.capitalize.gsub(" Wine", "") -%>
          <%= hidden_field_tag :step, step, :id => "step" -%>
        </div>
        
      </div>
    <% end %>
  <% end %> 
  <% if params[:step].present? %>
    <div class="fRight" style="padding: 21px 5px 11px 25px">
      <b>
        <%= link_to "&lt;&ndash; Go Back".html_safe, "#", :id => "go_back" if !params[:st].present? -%>
      </b>
    </div>
  <% end %> 
</div>
  
<script type="text/javascript">
    $(".recWine input").click(function(){
        if($(this).is(":checked")){
            $.ajax({
                type: 'POST',
                url: "/site/sommelier",
                data: {selected_option: $(this).val(), step: $("#step").val()},
                cache: false,
                success: function(data){
//            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
        }

//      $("#new_search").submit()
    })

    $("#go_back").click(function(){
        debugger
        if ("<%= params[:step]-%>" == "1"){
          window.location.href = "/site/sommelier?rt=1"
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/site/sommelier",
                data: {selected_option: "<%= params[:selected_option] -%>", step: "<%= params[:step] == "4" ? params[:step].to_i - 2 : params[:step].to_i - 1 -%>"},
                cache: false,
                success: function(data){
    //            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
    //      $("#new_search").submit()
        }
        return false;
    })
</script>