<tr>
    <td colspan="4"><h2 class="fLeft question">
      <%= if (params[:selected_option].present? and params[:selected_option].downcase.strip == "with food")
            @questions[params[:step].to_i + 1]
          elsif params[:step] == "4"
            @questions[params[:step].to_i - 1]
          else
            @questions[params[:step].to_i]
      end -%>
          </h2></td>
  </tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
  <tr>
    <td colspan="4">

<% if item_options.present? %>
    <% width = (100/item_options.size.to_i).to_i %>
    <table class="items">
      <tr>
        <% item_options.each do |item| %>
            <td class="recWine" style="width: <%= width -%>%;">
              <%= if !params[:step].present?
                    image_tag("sommilier-image-#{item.strip.upcase.gsub(" WINE", "").gsub(" ", "-")}.jpg", :height => "125", :width => "140")
                  elsif params[:step] == "1"
                    image_tag("sommilier-image-#{item.strip.upcase.gsub(" BODY", "").gsub(" ", "-")}-BODIED-new.jpg", :height => "183", :width => "157")
                  elsif params[:step] == "2"
                    image_tag("sommilier-image-#{item.downcase.strip.gsub(" ", "-")}.jpg", :height => "183", :width => "157")
                  elsif params[:step] == "3" and params[:selected_option].downcase.strip == "drink on its own"
                    image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :height => "183", :width => "157")
                  elsif params[:step] == "3" and params[:selected_option].downcase.strip == "with food"
                    image_tag("sommilier-image-#{item.downcase.strip.singularize.gsub(" ", "-")}.jpg", :height => "110", :width => "104")
                  elsif params[:step] == "4"
                    image_tag("sommilier-image-price-#{item.downcase.strip.gsub("£", "").gsub("and", "to").gsub(" ", "-")}.jpg", :height => "183", :width => "157")
                  else
                    item
                  end
                  -%>

            </td>
        <% end %>
      </tr>
      <tr>
        <%#= form_tag("/site/sommelier", :method => "post", :remote => true, :id => "new_search") do -%>
        <% item_options.each do |item| %>
            <td class="recWine" style="width: <%= width -%>%; height: 30px;">
              <%= radio_button :selected_option, "", "#{item}" %><br /></br /><%= item.capitalize.gsub(" Wine", "") -%>
            </td>
        <% end %>
        <%= hidden_field_tag :step, step, :id => "step" -%>
        <%# end %>
      </tr>
    </table>
<% end %>
      <% if params[:step].present? %>
                <div class="fRight" style="margin-right: 12px; padding: 5px;">
                  <b>
                    <%= link_to "&lt;&ndash; Go Back".html_safe, "#", :id => "go_back" -%>
                  </b>
                </div>
            <% end %>
            </td>
          </tr>

<script type="text/javascript">
    $(".recWine input").click(function(){
        if($(this).is(":checked")){
            $.ajax({
                type: 'POST',
                url: "/site/sommelier",
                data: {selected_option: $(this).val(), step: $("#step").val()},
                cache: false,
                success: function(data){
//            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
        }

//      $("#new_search").submit()
    })

    $("#go_back").click(function(){
        debugger
        if ("<%= params[:step]-%>" == "1"){
          window.location.href = "/site/sommelier"
        }
        else {
            $.ajax({
                type: 'POST',
                url: "/site/sommelier",
                data: {selected_option: "<%= params[:selected_option] -%>", step: "<%= params[:step] == "4" ? params[:step].to_i - 2 : params[:step].to_i - 1 -%>"},
                cache: false,
                success: function(data){
    //            alert(data)
                    if ($(".question").length > 1){
                        $(".question").first().parent().parent().html("")
                    }
                },
                error:function(xhr,ajaxOptions,thrownError){
                    alert(xhr.status);
                    alert(thrownError);
                }
            })
    //      $("#new_search").submit()
        }
        return false;
    })
</script>