<% @title = "Italian Wines & Italian Food made by Small Producers" %>
<%# @title = "Italian Wines & Italian Food made by Small Producers";
#@description = "Italian Food and Italian Wine made by Passionate Small Producers in the UK,Fantastic Italian Wine and Italian Food,High Quality Italian Wine and Food"; @keys = "Italian Wines,Fine Italian Wines,Italian Red and White Wines, Italian Food, Wine Tasting, Wine Expert,Italian Wine Blog,Italy,Food,Wines,Barolo,Amarone,Brunello"
%>
<%  @description = @setting.home_page_meta_description; @keys = @setting.home_page_meta_key %>
<!--<script type="text/javascript">
/*function win1()
{
  var win = new Window({id: "win1", className: "alphacube",title:'Welcome to the new Italyabroad.com', width:380, height:150, top:0, left: 1, parent:$('container')});
  win.getContent().innerHTML = "<p>We have just relaunched our website adding plenty of new functionalities, we have done all tests and everything seems to be working fine, however, we ask you to be patient in case something does not work the way it is supposed to and please let us know so we can give it our immediate attention.</p>";

  win.setDestroyOnClose();
  win.show();
  win.setConstraint(true, {left:10, right:20})
  win.toFront();
}
*/



</script> -->
<style>


    #container {
        position:absolute;
        top:150px;
        left:600px;
        width:380px;
        height:100px;
        z-index:auto;
    }
</style>
<!-- <div id="container"></div> -->
<%#if !cookies[:display]
            cookies[:display] = {:value => 'true',
   :expires => 1.days.from_now }
%>
<!--<script>
// win1();
</script> -->
<%#end%>


<%- @breadcrumbs = "Welcome to Italyabroad.com" -%><br />
<div id="flashBanner">
  <% if !@setting.nil? %>
      <ul>
        <li id="home_image_1" class="home_image">
          <%= image_tag("/images/find-your-wine-banner.jpg")-%>
        </li>
      </ul>
  <%end%>
</div><br />

<table class="new_search">
  <tr>
    <td colspan="4"><div class="fLeft font26">5 simple questions to find your ideal wine</div></td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>&nbsp;</td></tr>
  <% locale = {:item_options => ["Red Wine", "Rose Wine", "White Wine", "Sparkling Wine", "Surprise Me"], :step => "1"}%>
  <%
     if params[:st].present?
       locale = {:item_options => ["under £10", "between £10 and £20", "more than £20"], :step => "4"}
     end
  %>
  <%= render :partial => "search_options", :locals => locale -%>
</table>


<% content_for :right do %>
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_latest_community_comments' %>
    <br />
    <%= render :partial => '/site/shared/box_blog' %>
    <br />
    <%= render :partial => '/site/shared/box_popular' %>
<% end %>

<style type="text/css">
  #leftColumnContent {
        padding-bottom: 0px !important;
  }
</style>