<% @title = "New Question" %>
<%- @breadcrumbs = "Other Stuff &raquo; #{link_to "Faqs", admin_faqs_path} &raquo; #{@title}" -%>

<div class="inner_content posts">
  <h2><%= @title %></h2>
  <br />
  <% form_for :faq, :url => admin_faqs_path do %>
  <%= show_messages(flash[:notice]) %>
  	<%= render :partial => "form" %>
  	<p><%= submit_tag "Save" %> or <%= link_to "Cancel", admin_faqs_path %></p>
  <% end %>
</div>

