<% @title = "Ask our Experts";
  @description = "Andrea’s Wine Blog, The Italian Wine Blog, A Guide to Italian Wines, Journey Through Italian Wines";
  @keys = "Wine Blog,Italian Wine Blog,Italian Red and White Wine,Italian Food,Wine Tasting,Wine Expert"
%>
<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to('Community',wine_community_path)} &raquo; #{link_to("Ask our Experts", site_faqs_path)}".html_safe() -%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "faqs"} ) %>

<div id="blog_home" class="main-banner"> 
  <% if !@about.nil? %>
    <% unless @about.title.blank? %>
      <span class="title">
        <div style="color:white;width:350px;height:100px;background:black;opacity: 0.6;filter:alpha(opacity=40);text-align:left">
          <%= @about.title %>
         </div>
      </span>       
    <% end %>
  <% end %>
  <% if  @about and !@about.image_id.nil? %>
    <%= image_tag(site_image_url('region_card', @about.image, :jpg),:alt=>@about.title) unless @about.blank? %>
  <% else %>
    <%= image_tag("blog_home.jpg",:alt=>'Producers') %>
  <% end %>
</div>
<div class="row">
  <%= show_messages(flash[:notice]) %>
  <div class="full-width clearfix">
    <div class="col-md-12">
      <div class="green-heading-with-border">
        Your questions answered <span><a href="#askQuestion">(ask your question)</a></span>
      </div>
      <div class="bottom-50">
        <p>If you have questions about any of our products, ask our experts  .</p>
      </div>
      <!-- Start Faqs Wrapper-->
      <% if @faqs && @faqs.size > 0 %>
        <div class="faq-wrapper">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% count = 0 %>
              <% for faq in Faq.all %>
                <% cls = count==0 ? 'pressed' : '' %>
                <% cls1 = count==0 ? 'in' : '' %>
                <div class="panel panel-default <%= cls %>" id = "show<%= faq.id%>">
                  <div class="panel-heading" role="tab" id="heading<%= count %>">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>" aria-expanded="true" aria-controls="collapse<%= count %>" class="show<%= faq.id %>">
                        <i></i> Q. <%=  faq.question %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse<%= count %>" class="panel-collapse collapse <%= cls1 %> " role="tabpanel" aria-labelledby="heading<%= count %>">
                    <div class="panel-body">
                      <b>A.</b> <%= faq.answer %>
                    </div>
                  </div>
                </div>
              <% count += 1 %>
            <% end %>
          </div>
          <!-- Start FAQs Pagination-->
          <div class="bottom-50">
            <div class="digg_pagination pagination-2 clearfix">
              <div class="page_info show-result">
                <%= page_entries_info @posts %>
              </div>
              <div class="pagination-links">
                <%= will_paginate @posts, :container => false %>
              </div>
            </div>
          </div>
          <!--End FAQs Pagination-->
        </div>  
      <% end %><!-- end Faqs Wrapper-->
      <div id="askQuestion">
        <% if logged_in? %>
          <%= render :partial =>'new'%>
        <% else %>
          <div>
            <div class="green-heading-with-border">Please login or register to ask questions.</div>
            <div class="login-reg" ><%= link_to("Login", login_path) %> ||
              <%= link_to("Register", login_path) %> </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/box_blog' %> 
</div>
<script type="text/javascript">
  $('.'+"<%= params[:show] %>").click();
</script>