<table>
  <%= show_messages(flash[:notice]) %>

  <tr>
    <td style="width:60%;">
      <table>
        <tr>
          <td><h3>Grape Info</h3></td>
        </tr>

        <tr>
          <td>Meta Page Title</td>
          <td><%= text_field :producer, :page_title %></td>
        </tr>

        <tr>
          <td>Meta Keys</td>
          <td><%= text_field :producer, :meta_keys %></td>
        </tr>

        <tr>
          <td>Meta Description</td>
          <td><%= text_area :producer, :meta_description %></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= text_field :producer, :name %></td>
        </tr>
        <tr>
          <td valign="top">Description</td>
          <td><%= text_area :producer, :description %></td>
        </tr>
        <tr>
            <td>Quote on Producer page: </td>
            <td><%= text_field :producer, :producer_quote %></td>
        </tr>
        <tr>
          <td>Producer text: </td>
          <td><%= text_field :producer, :producer_text %></td>
        </tr>
      </table>
    </td>
    <td style="width:40%; vertical-align:top">
      <table>

        <tr>
          <td><h3>Meta Info</h3></td>
        <tr>

        <tr>
          <td>Meta Page Title</td>
          <td><%= text_field :producer, :page_title %></td>
        </tr>
        
        <tr>
          <td>Meta Keys</td>
          <td><%= text_field :producer, :meta_keys %></td>
        </tr>
        
        <tr>
          <td>Meta Description</td>
          <td><%= text_area :producer, :meta_description, :style => "height:100" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table>
        <tr>
      		  <td >Active:</td>
      		  <td><%= check_box :producer, :active %></td>
          </tr>
        <tr>
          <td>Image</td>
          <td><%= file_field_tag :image %></td>
          <td><%= image_tag(@producer.image.image_filename.url, height: '150', width: '220') if @producer && @producer.image %></td>
          <td><%= link_to "Destroy", admin_producer_image_path(@producer, @producer.image_id), :confirm => "Are you sure?", :method => :delete if @producer && @producer.image %></td>
        </tr>
        <tr>
          <td>Region</td>
          <td><%= select :producer, :region_id, Region.find(:all,:order=>'name asc').inject([["No region", ""]]) { |rs, r| rs << [r.name, r.id] } %>
          </td>
        </tr>
        <tr>
          <td valign="top">Grapes</td>
          <td><%= select :producer, :grape_ids, Grape.find(:all,:order=>'name').collect { |g| [g.name, g.id] }, {}, :multiple => true %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

