hello
<table>
  <tr>
    <td colspan="2"><b>General Info</b></td>
  </tr>
	<tr>
		<td>Title:</td>
		<td><%= select :user, :title, ["Mr", "Miss", "Mrs", "Dr"] %></td>
  </tr>
  <tr>
		<td>Name:</td>
		<td><%= text_field :user, :name %></td>
	</tr>
	<tr>
		<td>Surname:</td>
		<td><%= text_field :user, :surname %></td>
  </tr>
  <tr>
		<td>DOB:</td>
		<td><%= date_select :user, :dob, :start_year => 1900, :end_year => Time.now.year, :order => [:day, :month, :year] %></td>
	</tr>
	<tr>
	  <td colspan="2"><br /><b>Telephone</b></td>
  </tr>
	<tr>
		<td>Telephone:</td>
		<td><%= text_field :user, :telephone %></td>
  </tr>
  <tr>
		<td>Mobile:</td>
		<td><%= text_field :user, :mobile %></td>
	</tr>
	<tr>
	  <td colspan="2"><br /><b>Address</b></td>
  </tr>
  <tr>
		<td>Address #1:</td>
		<td><%= text_field :user, :address %></td>
  </tr>
  <tr>
		<td>Address #2:</td>
		<td><%= text_field :user, :address_2 %></td>
  </tr>
  <tr>
  	<td>Town:</td>
  	<td><%= text_field :user, :city %></td>
	</tr>
	<tr>
		<td>Postcode:</td>
		<td><%= text_field :user, :cap %></td>
  </tr>
  <tr>
		<td>Country:</td>
		<td><%= custom_country_select :user, :country, [["United Kingdom","GB"]] %></td>
  </tr>
	<tr>
	  <td colspan="2"><br /><b>Login</b></td>
  </tr>
  <tr>
		<td>User Name:</td>
		<td><%= text_field :user, :login %></td>
  </tr>
  <tr>
		<td>E-Mail:</td>
		<td><%= text_field :user, :email %></td>
	</tr>
  <tr>
		<td>Password:</td>
		<td><%= password_field :user, :password %></td>
  </tr>
  <tr>
		<td>Password Confirm:</td>
		<td><%= password_field :user, :password_confirmation %></td>
	</tr>
	<% if @user.type_id == 4 %>
	<tr>
	  <td colspan="2"><br /><b>Chef Info</b></td>
  </tr>
  <tr>
		  <td>Biography</td>
		  <td><%= text_area :user, :chef_bio,:size=>'30x5' %></td>
		</tr>
	<tr>
		  <td>My restaurant website</td>
		  <td><%= text_field :user, :establishment_link %></td>
		</tr>
  <% end %>
	<tr>
	  <td colspan="2"><br /><b>Other Info</b></td>
  </tr>
	<tr>
	  <td>Where did you hear about us?</td>
	  <td>
	    <%= select :user, :know_through, ["Google", "Yahoo", "Msn", "Other Search Engines", "Press", "Italyabroad.com Van", "Fairs and Events", "Flyers", "Wine Tasting", "Recommended by a friend", "Other Source"] %>
    </td>
  </tr>
	<tr>
	  <td>Friend's Name:</td>
	  <td><%= text_field :user, :friend_name %></td>
  </tr>
	<tr>
	  <td>Friend's Email:</td>
	  <td><%= text_field :user, :friend_email %></td>
  </tr>
	<tr>
	  <td>Subscribe our news letters?</td>
	  <td><%= check_box :user, :news_letters %></td>
  </tr>
	<tr>
	  <td>Activate User?</td>
	  <td><%= check_box :user, :active, :checked=>@user.active %>
	  <%#= hidden_field :user, :type_id, :value => 2 %></td>
	</tr>
	<tr>
	  <td>Select Type of User</td>
	  <td><%= select :user, :type_id, Type.find(:all,:order=>'id desc').collect {|type| [ type.name, type.id ] } %></td>
	</tr>
	<tr>
	  <td>Points</td>
	  <td><%= text_field :user, :points %></td>
	</tr>
</table>

