<div style="width:800px;font: normal 12px Arial;text-align:left">
  <%= image_tag('pdf_header.jpg') %><br/><br/><br/><br/>
</div>
<table width="100%">
    <thead>
      <tr>

        <th>Email</th>
        <th width="15%">Name</th>
        <th width="15%">Surname</th>
        <th width="25%">Know Through</th>
        <th width="25%">DOB</th>
      </tr>
    </thead>

    <tbody>
      <%- @users.each do |user| -%>
      <tr>

        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
         <td><%= user.know_through %></td>
        <td><%= user.dob.strftime("%d/%m/%y") unless user.dob.nil? %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>

