<p>
  <b>Title:</b>
  <%= @contact_message.header %>
</p>

<p>
  <b>Description:</b>
  <%= @contact_message.message.html_safe %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact_message.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact_message.email %>
</p>

<p>
  <b>Short Text:</b>
  <%= @contact_message.footer %>
</p>

<%= link_to 'Edit', edit_admin_contact_message_path(@contact_message) %>