<%- @title = "Testimonials" -%>
<%- @breadcrumbs = "#{link_to "Testimonials", admin_testimonials_path}" -%>

<div class="inner_content regions" id="admin_regions_index">
  <h2>Testimonials</h2><div align="right"><%= link_to "New Testimonial", new_admin_testimonial_path %></div>
  <table id="region-list" class="list tablesorter">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Page</th>
        <th></th>
       <!-- <th>Producers in this region</th>
        <th class="nosort"></th> -->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2"><%= will_paginate(@testimonials) %></td>
        <td colspan="2" align="right"><%= page_entries_info_ @testimonials %></td>
      </tr>
    </tfoot>
    <tbody>
      <%- for testimonial in @testimonials -%>
      <tr>
        <td valign="top"><%= testimonial.id %></td>
        <td valign="top"><%= link_to testimonial.title, admin_testimonial_path(testimonial) %></td>
        <td valign="top"><%= testimonial.description.html_safe() %></td>
        <td valign="top"><%= testimonial.page_to_display %></td>
        <td valign="top"><%= link_to "Edit", edit_admin_testimonial_path(testimonial) %> | <%= link_to "Destroy", admin_testimonial_path(testimonial), :method => :delete, :confirm => "Are you sure want to delete this testimonial?" %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() 
  { 
  $("#region-list").tablesorter(); 
  } 
  );
</script>
