<p>
  Please enter your payment details below
</p>
<table border="0" cellspacing="2" cellpadding="2">
	<tr>
	  <td style="text-align:right">Credit Card Type:</td>
	  <td><%= select :credit_card, :type, [["Visa", "visa"], ["Visa Debit", "delta"], ["Visa Electron", "electron"], ["Mastercard", "master"], ["Solo", "solo"], ["Switch / Maestro", "maestro"]] %></td>
  </tr>
	<tr>
	  <td style="text-align:right">First Name:</td>
	  <td><%= text_field :credit_card, :first_name %></td>
  </tr>
	<tr>
	  <td style="text-align:right">Last Name:</td>
	  <td><%= text_field :credit_card, :last_name %></td>
  </tr>
	<tr>
	  <td style="text-align:right">Card Number:</td>
	  <td><%= text_field :credit_card, :number %></td>
  </tr>
	<tr id="issue_number_row" style="display:none">
	  <td style="text-align:right">Issue Number:</td>
	  <td><%= text_field :credit_card, :issue_number, :size => 2, :maxlength => 2 %></td>
  </tr>
	<tr id="valid_form_row" style="display:none">
	  <td style="text-align:right">Valid Form:</td>
	  <td><%= select :credit_card, :start_month, (1..12) %><%= select :credit_card, :start_year, (Date.today.year-10..Date.today.year) %></td>
  </tr>
	<tr>
	  <td style="text-align:right">Expiry Date:</td>
	  <td><%= select :credit_card, :month, (1..12) %><%= select :credit_card, :year, (Date.today.year..Date.today.year+10) %></td>
  </tr>
	<tr>
	  <td style="text-align:right">Security Code:</td>
	  <td><%= text_field :credit_card, :verification_value, :maxlength => 4, :size => 4 %></td>
  </tr>
	<tr>
	  <td colspan="2" style="padding-top:20px;text-align:center;font-size:5px">
	    <%= image_tag("credit_logo/logo_ccDelta.gif") %><%= image_tag("credit_logo/logo_ccMC.gif") %> <%= image_tag("credit_logo/logo_ccSolo.gif") %><%= image_tag("credit_logo/logo_ccSwitch.gif") %><%= image_tag("credit_logo/logo_ccVisa.gif") %>
    </td>
  </tr>
	<tr>
	  <td colspan="3">
	    <div style="font-weight:bold;color:red;text-align:justify;padding-top:10px;">Please be patient while we process your order this may take several minutes. Please note clicking continue more than once may duplicate the order.</div>
    </td>
  </tr>
</table>
<%= observe_field :credit_card_type, :on => :change, :function => "extraFields(value)" %>


<script type="text/javascript" charset="utf-8">
	extraFields('<%= @credit_card.type %>')
	function extraFields(value){
		if (value == "solo") {
			$('issue_number_row').style.display = "";
			$('valid_form_row').style.display = "";
		} else if (value == "maestro") { 
			$('valid_form_row').style.display = "";
			$('issue_number_row').style.display = "";
		} else {
			$('issue_number_row').style.display = "none";
			$('valid_form_row').style.display = "none";
		}
	}
</script>