<%unless order.order_items.blank? %>
<tr class="list <%= cycle("odd", "even") %>">
	<td><%= order.id %></td>
	<td><%#= number_to_currency order.sub_total, :unit => "&pound;" %>
	<%= number_to_currency order.sub_total - (order.points_used * Setting.find(:first).points_to_pound), :unit => "&pound;" %>
	</td>
	<td><%= order.created_at.strftime("%d/%m/%y %H:%M") %></td>
	<td><%= order.status_order.name %></td>
	<td><%= link_to(image_tag("buttons/more_info.png"), order_path(order)) %></td>
</tr>
<% end %>

