<%unless order.order_items.blank? %>
<tr class="list order-table <%= cycle("odd", "even") %>">
	<td><%= order.id %></td>
	<td><%#= number_to_currency order.sub_total, :unit => "&pound;" %>
	<%#= number_to_currency order.sub_total - (order.points_used * Setting.find(:first).points_to_pound), :unit => "&pound;" %>
	<%= number_to_currency order.sub_total, :unit => "&pound;" %>
	</td>
	<td><%= order.created_at.strftime("%d/%m/%y %H:%M") %></td>
	<td><%= order.status_order.name %></td>
	<td class="green-button"><%= link_to(("More Info"), order_path(order), :title=>"More Info") %></td>
</tr>
<% end %>

