<%- @title = "Your Invoice" -%>
<%- @order_title = "Order no. #{@order.id} of #{@order.created_at.strftime("%d/%m/%y")}" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; #{link_to("My Orders and Tracking", orders_path, :title=>"My Orders and Tracking")} &raquo; #{@order_title}" -%>
<% @class = "no-padding" %>
<div class="bottom-50 full-width">
  <div id="header"><%= render :partial => 'site/shared/box_login' %></div>
  <div class="green-heading-with-border">Your Invoice</div>
    <h4><%= @order_title %></h4>
    <div class="cart-table-head  clearfix">
      <div class="col-xs-6">Product</div>
      <div class="col-xs-6 clearfix center-align no-padding">
        <div class="col-xs-6">Qty</div>
        <div class="col-xs-6">Price</div>
      </div>
    </div>
    <%-  number_of_wines = 0
     for order_item in @order.order_items
       product = Product.find(order_item.product.id) if order_item.product.present?
        if product.present? and product.categories.root.name == "Wine"
         number_of_wines += order_item.quantity
        end
    -%>
      <% if order_item.product.present? %>
        <div class="cart-row  clearfix">
          <div class="col-xs-6 clearfix white-col">
            <div class="col-md-2"><%= show_image_tag(:product_thumb_cart, order_item.product.image_1) %></div>
            <div class="col-md-10 top-20"><%= order_item.product.name %></div>
          </div>
          <div class="col-xs-6 grey-col clearfix">
            <div class="col-xs-6 "><%= order_item.quantity %></div>
            <div class="col-xs-6 "><%= number_to_currency order_item.price, :unit => "&pound;" %></div>
          </div>
        </div>
      <%end%>
    <%end%>
        <div class="cart-row sub clearfix">
          <div class="col-md-6 "></div>
          <div class="col-md-6 grey-col clearfix">
            <div class="col-xs-6">
              <div><b>Sub Total</b></div>
              <div><%= @order.delivery_name %></div>
              <%- if @order.points_used > 0 -%>
                <div>Points Used (<%= @order.points_used %>)equivalent to </div>
              <%- end -%>
            </div>
            <div class="col-xs-6">
              <div><%= @order.sub_total %></div>
              <div><%= @order.delivery_price %></div>
              <%- if @order.points_used > 0 -%>
                <div>
                  <%= number_to_currency(@order.points_used * Setting.find(:first).points_to_pound, :unit => "&pound;" )%>
                </div>
              <%- end -%>
            </div>
          </div>
        </div>
        <div class="cart-row sub clearfix">
          <div class="col-xs-6">
            <% if number_of_wines >= @setting.wine_discount_number.to_i %>
              <div class="top-5">Your cart contains <%= number_of_wines %> wines so will get a discount of</div>
            <% end %>
            <div class="bottom-5">
              <!-- < %= if order_item.product.present? and order_item.product.quantity.to_i == 0 
                image_tag('out_of_stock.png', alt:"Out of Stock", title:"Out of Stock")
              else
                link_to image_tag("buttons/download_invoice.png"), :action => 'download_pdf',:id => @order.id,:format => "pdf"
                end
              % > -->
              <%= link_to image_tag("buttons/download_invoice.png"), :action => 'download_pdf',:id => @order.id,:format => "pdf" %>
            </div>
          </div>
          <div class="col-xs-6 grey-col clearfix">
            <% if number_of_wines >= @setting.wine_discount_number.to_i %>
              <div class="col-xs-6">&nbsp;</div>
              <div class="col-xs-6 "><%= @setting.wine_discount_amount %>%</div>
          <% end %>
          <div class="col-xs-6"><b>Total</b></div>
          <div class="col-xs-6"><b><%= number_to_currency(@order.total - (@order.points_used * Setting.find(:first).points_to_pound), :unit => "&pound;") %></b></div>
          </div>
        </div>
</div>  

<%- content_for :right do -%>
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_latest_community_comments' %>
    <br />
    <%= render :partial => '/site/shared/box_blog' %>
    <br />
    <%= render :partial => '/site/shared/box_popular' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
<%- end -%>

