XXXXXXXXXXXXXXXXXXXXXXXXXXX
<div style="width:800px;font: normal 12px Arial;text-align:left">
  <%= image_tag('pdf_header.jpg') %>
  <br/><br/><br/><br/>

   <div>
		&nbsp;&nbsp;Order Number:  <%= @order.id %><br />
		&nbsp;&nbsp;Order Date:  <%= @order.created_at.strftime("%d/%m/%Y") %><br />
		&nbsp;&nbsp;Invoice Date:  <%= Time.now.strftime("%d/%m/%Y") %>
	</div>
	<div style="padding:10px 5px 10px 5px">

		<div style="float:left;width:300px">

                  <b style="font-size:13px;padding-bottom:5px">SOLD TO:</b>
			<%= "<br />" + @order.customer %>
			<%= "<br />" + @order.user.address unless @order.user.address.blank? %>
			<%= "<br />" + @order.user.address_2 unless @order.user.address_2.blank?  %>
			<%= "<br />" + @order.user.city unless @order.user.city.blank? %>
			<%= "<br />" + @order.user.cap unless @order.user.cap.blank? %>
			<%= "<br />" + @order.user.country unless @order.user.country .blank?%>
			<%= "<br />" + @order.user.telephone.to_s unless @order.user.telephone.blank? %>
			<%= "<br />" + mail_to(@order.user.email) unless @order.user.email.blank? %>
		</div>
		<%if @order.different_shipping_address.to_s == "" %>
		<div style="float:left;">
			<b style="font-size:13px;padding-bottom:5px">SHIP TO:</b>
			<%= "<br />" + @order.ship_name unless @order.ship_name.blank? %>
			<%= "<br />" + @order.ship_address unless @order.ship_address.blank? %>
			<%= "<br />" + @order.ship_address_2 unless @order.ship_address_2.blank?  %>
			<%= "<br />" + @order.ship_city unless @order.ship_city.blank? %>
			<%= "<br />" + @order.ship_cap unless @order.ship_cap.blank? %>
			<%= "<br />" + @order.ship_country unless @order.ship_country .blank?%>
		</div>
		<% else %>
		<div style="float:left;">
			<b>SHIP TO:</b>
			<%= "<br />" + @order.user.name.to_s + " " + @order.user.surname.to_s %>
			<%= "<br />" + @order.user.address unless @order.user.address.blank? %>
			<%= "<br />" + @order.user.address_2 unless @order.user.address_2.blank?  %>
			<%= "<br />" + @order.user.city unless @order.user.city.blank? %>
			<%= "<br />" + @order.user.cap unless @order.user.cap.blank? %>
			<%= "<br />" + @order.user.country unless @order.user.country .blank?%>
		</div>
		<% end %>

		<br style="clear:both" />
	</div>

	<div style="padding:40px 5px 10px 5px">
	<table id="table" border="0" cellspacing="0" cellpadding="0" class="formatTable">
          <div style="border-bottom: 1px solid black;margin:0 0 8px 0"></div>
	 <tr><th style="border-bottom: 1px solid black;padding-bottom: 8px;text-align:left;width:100px">Code</th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;width:75px;text-align:left">Quantity</th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;text-align:left;width:300px">Description</th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;width:75px;text-align:center;">Price<span style="font-size:10px">(ex VAT)</span></th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;width:50px;text-align:center;">VAT</th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;width:100px;text-align:center;">Price<span style="font-size:10px">(inc VAT)</span></th>
	 <th style="border-bottom: 1px solid black;padding-bottom: 8px;text-align:right; width:100px;">Total</th>
         <!--<th style="border-bottom: 3px solid black;padding-bottom: 8px;text-align:right; width:150px;"></th>-->
	 </tr>
			<% for order_item in @order.order_items %>
				<% fields_for "order_item", order_item do |f| %>
					<tr>
						<td style="padding-top:5px;text-align:left"><%= order_item.product_code %></td>
						<td style="padding-top:5px;text-align:center"><%= order_item.quantity %></td>
						<td style="padding-top:5px;text-align:left"><%= order_item.name %></td>
						<td style="padding-top:5px;text-align:center"><%= number_to_currency order_item.vat, :unit => "&pound;" %></td>
						<td style="padding-top:5px;text-align:center"><%= order_item.rate %></td>
						<td style="padding-top:5px;text-align:center"><%= number_to_currency order_item.price, :unit => "&pound;" %></td>
						<td style="padding-top:5px;text-align:right"><%= number_to_currency order_item.total, :unit => "&pound;" %></td>
					</tr>
				<% end %>
			<% end %>
			<tr>
				<td colspan="7" style="text-align:right;padding:5px 0 0 0">
					<table id="table" border="0" cellpadding="0" cellspacing="5" style="margin-top:20px;float:right;text-align:right;border-top:1px solid black">
						<tr><td style="text-align:right">Sub Total:</td><td style="width:120px"><%= number_to_currency(@order.sub_total, :unit => "&pound;") %></td></tr>
						<% if @order.sub_total < Setting.order_delivery_amount %>
						<tr><td style="text-align:right"><%= @order.delivery_name %>:</td><td><%= number_to_currency @order.delivery_price, :unit => "&pound;" %></td></tr>
						<% end %>
						<% unless @order.cupon_code.blank? %>
						<tr><td style="text-align:right">Coupon:</td><td style="color:red">- <%= number_to_currency @order.cupon_price, :unit => "&pound;" %></em></td></tr>
						<% end %>
						<% if @order.gift_option && @order.gift_option.price > 0 %>
						<tr><td style="text-align:right">Wrapping option (<%= @order.gift_option.name %>):</td><td><%= number_to_currency @order.gift_option.price, :unit => "&pound;" %></td></tr>
						<% end %>


            <%- if @order.points_used > 0 -%>
            <tr><td style="text-align:right">Points Used(<%= @order.points_used %>):</td><td>
				    -<%= number_to_currency (@order.points_used * Setting.find(:first).points_to_pound, :unit => "&pound;") %>
            <%- end -%>

						<tr><td style="text-align:right"><b>Total:</b></td><td><b>
						<%#= number_to_currency(@order.total, :unit => "&pound;") %>
						<%= number_to_currency @order.total - (@order.points_used * Setting.find(:first).points_to_pound), :unit => "&pound;" %>

						</b></td></tr>
					</table>
				</td>
			</tr>
		</table>
		<br style="clear:both"/>
		<div style="font-size:11px;height:20px;margin-top:80px">
			Don't forget to write your review for the products purchased.
			Let our users know what you think about our produces and if you are the first to write the review you will also receive £10 discount on your next purchase.
		</div>
	</div>
</div>

