<h1>Editing authentication</h1>

<%= form_for(@authentication) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :provider %><br />
    <%= f.text_field :provider %>
  </p>
  <p>
    <%= f.label :uid %><br />
    <%= f.text_field :uid %>
  </p>
  <p>
    <%= f.label :auth_token %><br />
    <%= f.text_field :auth_token %>
  </p>
  <p>
    <%= f.label :auth_secret %><br />
    <%= f.text_field :auth_secret %>
  </p>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @authentication %> |
<%= link_to 'Back', authentications_path %>