<% products = [] %>
<% unless @category.all_products_ids.blank? %>
  <% condition = "rating = 5 AND active = true" %>
  <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
  <% products = Product.find(:all, :limit => 3, :order => "RAND()",  :conditions => condition) %>
<% end %>
<% unless products.blank? %>
  <div id="topSellingWine">
    <%= category_name = products.first.categories.detect{|category| ["Wine", "Food", "Hampers", "Wine Tours", "Other Drinks"].include?(category.name)}.name
        case category_name
          when "Wine"
            # image_tag("topSellingWine.png")
            content_tag(:div, "Most Popular", class: ["green-heading-with-border"])
          when "Food"
            #image_tag("topSellingFood.png")
            content_tag(:div, "Most Popular", class: ["green-heading-with-border"])
          when "Hampers"
            # image_tag("topSellingHampers.png")
            #image_tag("topSellingWine.png")
            content_tag(:div, "Most Popular", class: ["green-heading-with-border"])
          when "Wine Tours"
          when "Other Drinks"
            #image_tag("most_popular_other_drinks.png")
            content_tag(:div, "Most Popular", class: ["green-heading-with-border"])
          else
            content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
            #"Andrea recommends"
        end
    %>
    <div class="product-list bottom-30">
      <div class="row clearfix">
        <%- products.each do |product| -%>
          <%unless product.is_landscape%>
            <div class="col-md-4 portrait">
              <div class="slider-box">
                <div class="row clearfix">
                  <div class="col-xs-4 box-image"><%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name),nested_products_uri(product)  %></div>
                  <div class="col-xs-8 slider-box-text">
                    <div class="item-name"><%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && (product.categories.root.name.upcase != 'WINE TOURS') %>
                      <%# product.description_short[0..70].html_safe() %>
                    </div>
                  </div>
                  <div class="clr"></div>
                  <div class="clearfix">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8 top-minus-15 ">
                      <div class="seller-price">
                        <% if product.product_prices.present? %>
                          <% product.product_prices.each do |p| %>
                            <div>
                              <%= number_to_currency p.price, :unit => "&pound;" %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <%- if product.out_of_stock? -%>
                        <div class="add-row clearfix">
                          <%= image_tag('out_of_stock.png') %>
                        </div>
                      <%- else -%>
                        <div class="add-row clearfix">
                          <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                        </div>
                      <%- end -%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%else%>  
            <div class="col-md-4 landscape">
              <div class="slider-box2">
                <div class="box-image">
                  <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name),nested_products_uri(product)  %>
                </div>
                <div class="item-name">
                  <%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && (product.categories.root.name.upcase != 'WINE TOURS') %>
                </div>
                <div class="row clearfix">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-8">
                    <div class="seller-price">
                      <% if product.product_prices.present? %>
                        <% product.product_prices.each do |p| %>
                          <div>
                            <%= number_to_currency p.price, :unit => "&pound;" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <%- if product.out_of_stock? -%>
                      <div class="add-row clearfix">
                        <%= image_tag('out_of_stock.png') %>
                      </div>
                    <%- else -%>
                      <div class="add-row clearfix">
                        <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                      </div>
                    <%- end -%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        <%- end -%>
      </div>
    </div>
  </div>
<% end %>

<% products = [] 
# abort @category.all_products_ids.inspect
%>
<% unless @category.all_products_ids.blank? %>
  <% condition = "raccomanded = true AND active = true" %>
  <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
  <% products = Product.find(:all, :limit => 3, :order => "RAND()", :conditions => condition) %>
<% end %>
<% unless products.blank? %>
  <div id="andreasWine">
    <%=
      case @category.name
        when "Wine"
          #image_tag("andreasWine.png")
          content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
        when "Food"
          #image_tag("deliChoise.png")
          content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
        when "Hampers"
          #image_tag("hamperChoice.png")
          content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
        when "Wine Tours"
        when "Other Drinks"
          #image_tag("recommendations_other_drinks.png")
          content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
        else
          #"Andrea recommends"
          content_tag(:div, "Our Recomendations", class: ["green-heading-with-border"])
      end
    %>
    <div class="product-list bottom-30">
      <div class="row clearfix">
        <%- products.each do |product| -%>
          <%unless product.is_landscape%>
            <div class="col-md-4 portrait">
              <div class="slider-box">
                <div class="row clearfix">
                  <div class="col-xs-4 box-image"><%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name),nested_products_uri(product)  %></div>
                  <div class="col-xs-8 slider-box-text">
                    <div class="item-name"><%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && (product.categories.root.name.upcase != 'WINE TOURS') %>
                      <%# product.description_short[0..70].html_safe() %>
                    </div>
                  </div>
                  <div class="clr"></div>
                  <div class="clearfix">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8 top-minus-15">
                      <div class="seller-price">
                        <% if product.product_prices.present? %>
                          <% product.product_prices.each do |p| %>
                            <div>
                              <%= number_to_currency p.price, :unit => "&pound;" %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <%- if product.out_of_stock? -%>
                        <div class="add-row clearfix">
                          <%= image_tag('out_of_stock.png') %>
                        </div>
                      <%- else -%>
                        <div class="add-row clearfix">
                          <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                        </div>  
                      <%- end -%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%else%>  
            <div class="col-md-4 landscape">
              <div class="slider-box2">
                <div class="box-image">
                  <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name),nested_products_uri(product)  %>
                </div>
                <div class="item-name">
                  <%= link_to product.name, nested_products_uri(product) if product.categories.root.present? && (product.categories.root.name.upcase != 'WINE TOURS') %>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-8">
                  <div class="seller-price">
                    <% if product.product_prices.present? %>
                      <% product.product_prices.each do |p| %>
                        <div>
                          <%= number_to_currency p.price, :unit => "&pound;" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <%- if product.out_of_stock? -%>
                    <div class="add-row clearfix">
                      <%= image_tag('out_of_stock.png') %>
                    </div>
                  <%- else -%>
                    <div class="add-row clearfix">
                      <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                    </div>  
                  <%- end -%>
                </div>
              </div>
            </div>
          <%end%>
        <%- end -%>  
      </div>
    </div>
  </div>
<% end %>