<%
  @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; "
  @breadcrumbs += "#{@product.unique_categories.collect {|c| link_to(c.name, "#{"/" + c.root.friendly_identifier unless c.is_root?}/#{c.friendly_identifier}", :title=>c.name)}.join(" &raquo; ")}"
  @breadcrumbs += " &raquo; #{@product.name[0..25]+ '...'}"
%>
<%- @class = "wine_tours" -%>
<div id="wineBanner" class="main-banner"><%#= image_tag("wine_tours_card_home.jpg") %>
 <%= image_tag image_url('region_card', @product.image_1, :jpg),:alt=>@product.name, :title=>@product.name if @product && @product.image_1 if @product && @product.image_1 %>
</div>

<!-- div id="wineBanner" style="padding-top:5px;"><%#= image_tag("wine_tours_card_home.jpg") %>
 <%- if @product.image_1 or @product.image_2 or @product.image_3 -%>
    <%= image_tag(image_url("region_card", @product.image_1, :jpg),:alt=>@product.name) if @product.image_1 %>
       <%- end -%>
</div-->
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar"><%= render :partial => '/site/shared/box_wine_event_testimonials' %></div>
    <div class="col-md-9">
      <div class="red-heading"><%= @product.name %></div>
      <div class="bottom-50">
        <%= @product.description.html_safe rescue "Product has no description" %>
        <ul style="list-style:none;margin:0;padding:0;float:right;font-size:14px;">
          <li style="margin-bottom:10px;text-align:right;">
            <% if @product.discount > 0 %>
              Was <span style="text-decoration: line-through;"><%= number_to_currency @product.price, :unit => "&pound;" %></span><br />
              Now <span class="red"><%= number_to_currency (@product.price - (@product.price * @product.discount.to_f / 100)), :unit => "&pound;" %></span>
              (save <span class="red"><%= number_to_currency (@product.price * @product.discount.to_f / 100), :unit => "&pound;" %></span>)
            <% else %>
              <!--Price:--> <span style="font-size:18px;color:#9b0707;text-align:right;" class="red"><%= number_to_currency @product.price, :unit => "&pound;" %></span>
            <% end %>
          </li>
        </ul>
      </div>
      <% if @product.product_prices.first.quantity > 0 %>

        <div class="green-heading-2">Tickets</div>
        <%= form_for :cart, :url => "/cart?product_id=#{@product.id}", :html => {:method => :post}, :remote => true do  -%>
          <div class="bottom-50">
            <div class="row form-row clearfix">
              <div class="col-md-2 section-label">Ticket qty: </div>
              <div class="col-md-3"><%= text_field :cart, :quantity, :value => 1 %></div>
            </div>
            <div class="form-row row clearfix">
              <div class="col-md-2 section-label"></div>
              <div class="col-md-3 green-button">
                <div class="submit-btn">
                  <%= submit_tag("Buy", :style=>"vertical-align:bottom; border:none") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="red-text">Out of stock</div>
      <% end %>
      <% included_products = @product.included_products.find(:all,:order=>'created_at asc', :conditions => "active = true") %>
      <% unless included_products.blank? %>
        <div class="green-heading-2">Wines</div>
        <div class="bottom-50">
          <% for included_product in included_products %>
            <div><%= link_to included_product.name, "/wine-events/#{included_product.friendly_identifier}", :title=>included_product.name %></div>
          <%- end -%>
        </div>   
      <% end %>
    </div>
  </div>
</div>
<div class="community-row clearfix row">
  <%= render :partial => 'site/shared/community_box' %>
  <%= render :partial => 'site/shared/wine_club' %>
  <%= render :partial => 'site/shared/box_cercavino' %>
</div>
