<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Events", '/event')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "events"} ) %>
<% if @category.image && !@category.image_url.blank? %>
          <div id="wineBanner">
          <span class="title">
            <%= @category.text_on_image %>
          </span>
          <%= link_to image_tag(image_url('home_image', @category.image, :jpg)), search_index_path(:id => @category)%>
          </div>
<% else %>
          <div id="wineBanner">
              <span class="title">
                     <strong style="font-size:25px;">Discover</strong> and <strong style="font-size:24px;">taste</strong> some<br />
                    of the <strong style="font-size:24px;">finest Italian<br />
                    wines,</strong> unknown, very<br />
                    small production, fantastic<br />
                    wines, <strong style="font-size:24px;">learn about<br />
                    Italian wine regions</strong> and<br />
                    improve <strong style="font-size:24px;">your wine<br />
                    knowledge</strong> at our <strong style="font-size:24px;">wine<br />
                    events</strong>
                    <%#= @about.title if @about %>
              </span>
              <%# if  @about and !@about.image_id.nil? %>
                    <%#= link_to image_tag(image_url(:about_thumb, @about.image, :jpg)) , search_index_path(:id => @category)  unless @about.blank? %>
              <%# else %>
                    <%#= link_to image_tag("events.jpg"), search_index_path(:id => @category)%>
              <%# end %>
             <%= link_to image_tag("events.jpg"), search_index_path(:id => @category)%>
          </div>
<% end %>
<div>
  <div id="box_upcoming_events_new">
    <%= render :partial => "/site/shared/box_upcoming_events" -%>
  </div>
  <div > <!-- id="wine_event_description"   before centralizing the Wine Corses this div has  id="event_introduction" -->
      <h3 align="center" style="border:none;" >Wine Courses &amp; Events</h3>
      <p>
      <%= @category.description %>
      </p>
  </div>
</div>

<div style="clear:both;">
</div>
<% products = @category.products.find(:all, :conditions => ["active = ? AND DATE(date) > ?", true, Date.today], :order => "date").paginate(:page => params[:page], :per_page => 4) %>
<div id="featured_events">
        <br />
        <h3>Coming Events</h3>
        <ul>
                <% for product in products %>
                <li>
                          <h1><%= link_to product.name, "/wine-events/#{product.friendly_identifier}", :style => "color:black;" %></h1>
                          <%#= product.description_short.gsub("\n","<br />") %><%#= link_to "(More info)", "wine-events/#{product.friendly_identifier}" %>
                          <%= product.date.strftime("%d %B %Y at %H:%M") if product.date -%>
                          <br /><br />
                          <%= product.description_short %>

                </li>
                <% end %>
                <%= will_paginate(products) %><%#= page_entries_info_ products %>
        </ul>
</div>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_event_reviews' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => '/site/shared/box_wine_tours' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
	<br />
	<%= render :partial => '/site/shared/box_popular' %>
<% end %>

