<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Events", '/event')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "events"} ) %>
<% if @category.image_link
     link = @category.image_link
   else
     link = site_search_index_path(:id=>@category)
   end

%>
<% if @category.image %>
    <div id="wineBanner" class="main-banner">
      <%= link_to image_tag(site_image_url('home_image', @category.image, :jpg),:alt=>@category.name), link%>
    </div>
<% else %>
    <div id="wineBanner" class="main-banner">
      <span class="title">
             <strong style="font-size:25px;">Discover</strong> and <strong style="font-size:24px;">taste</strong> some<br />
            of the <strong style="font-size:24px;">finest Italian<br />
        wines,</strong> unknown, very<br />
            small production, fantastic<br />
            wines, <strong style="font-size:24px;">learn about<br />
        Italian wine regions</strong> and<br />
            improve <strong style="font-size:24px;">your wine<br />
        knowledge</strong> at our <strong style="font-size:24px;">wine<br />
        events</strong>
      </span>
      
      <%= link_to image_tag("events.jpg",:alt=>'Events'), link%>
    </div>
<% end %>
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/shared/box_wine_event_testimonials' %>
    </div>
    <div class="col-md-9">
      <div class="red-heading">
        <% unless @category.page_heading.blank? %>
          <%= @category.page_heading %>
        <% else %>
          Wine Courses &amp; Events
        <% end %>
      </div>
      <div>
        <%= @category.description.html_safe() %>       
      </div>
      <%= render :partial => "/site/shared/box_upcoming_events" -%>
    </div>
  </div>
</div>
<div class="community-row clearfix row">
  <%= render :partial => 'site/shared/community_box' %>
  <%= render :partial => 'site/shared/wine_club' %>
  <%= render :partial => 'site/shared/box_cercavino' %>
</div>