<div class="col-md-9">
  <!-- Start Product list wrapper-->
  <div class="prdouct-list-wrapper hampers-wrapper-2">
    <div class="green-heading-with-border">
      <%page =  request.url%>
      <%if page.include?('food')%>
        Food
      <%elsif page.include?('wine') %>
        Wine
      <%elsif page.include?('hamper') %>
        Hampers
      <%elsif page.include?('other') %>
        Other Drinks
      <%end%>
    </div>
    <% condition = "active" %>
    <% condition += " AND id IN (#{@category.all_products_ids.join(',')})" unless @category.all_products_ids.blank? %>
    <% products = Product.find(:all, :limit => 3, :conditions => condition) %>
    <!-- Start product list-->
    <div class="product-list bottom-30">
      <%= render partial: '/site/shared/category_box', locals: {products: products, template_name: " "}%>
    </div>
  </div> <!-- End product list-->
  <%= render :partial => '/site/templates/category' %>
  </div><!-- End product list Wrapper-->
</div>
</div>
</div><!-- End category content-->
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
