<% @breadcrumbs = "#{link_to "Home", root_url} &raquo; #{link_to(@category.name, "/#{@category.friendly_identifier}")} &raquo; #{params[:category]}" %>
<%- @class = "sub_categories #{@category.friendly_identifier}" -%>
<div class="row top-30">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar sm-btottom-30">
      <% 
        temp = @category
        if @category.parent and @category.parent.name == 'Food' 
      %>
        <%= render :partial => '/site/shared/box_food_search' %>  
      <% else %>
        <%= render :partial => '/site/shared/box_wine_search' %>
      <% 
        end
        @category = temp 
      %>
    </div>
    <div class="col-md-9">
      <% if @products && @products.size > 0 %>
        <div class="prdouct-list-wrapper top-12">
          <div class="green-heading-with-border">
            <%= @category.name.html_safe() %>
            <div class="sort-by-box clearfix">
            <div class="sort-select">
              <%= form_tag nested_categories_path(params[:parent], params[:category]), :method => :get, :id => "sort_by_form" do -%>
                <%= hidden_field_tag :page, (params[:page] || 1) %>
                <strong>Sort by:</strong>&nbsp;<%= select_tag("sort_by", options_for_select([["Name", "name"], ["Region", "region_id"]], @sort_by), :onchange => "$('#sort_by_form').submit()") %>
              <%- end -%>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div>
            <div class="digg_pagination pagination-2 clearfix">
              <div class="page_info show-result">
                <%= page_entries_info @products %>
              </div>
              <div class="pagination-links">
                <%= will_paginate @products, :container => false %>
              </div>
            </div>
          </div>
          <!-- Start product list-->
          <div class="product-list-search">
            <div class="row clearfix">
              <% @products.each do |product| %>
                <%unless product.is_landscape%>
                  <div class="col-md-4 portrait">
                    <div class="slider-box">
                      <div class="clearfix">
                        <div class="col-xs-4 box-image"><%= link_to show_image_tag(product.layout_image, product.image_1, :jpg, product.name), nested_products_uri(product) %></div>
                        <div class="col-xs-8">
                          <div class="item-name">
                            <%= link_to product.name, nested_products_uri(product) %>
                            <div class="red-text"><%= limited_stock(product) -%></div>
                          </div>
                        </div>
                        <div class="clr"></div>
                        <div class="clearfix">
                          <div class="col-xs-4 price-col">
                            <% if product.product_prices.present? %>
                              <% if product.discounted? && product.discount > 0.0 %>
                                <% product.product_prices.each do |pp| %>
                                  <div class="line-through">
                                    Was <%= number_to_currency pp.price, :unit => "&pound;" %>
                                  </div>
                                <% end %>
                                <div class="current-price">
                                  <% product.price_discounted.each do |price| %>
                                    <%= number_to_currency price, :unit => "&pound;" %>
                                  <% end %>
                                </div>
                              <% else %>
                                <div class="price">
                                  <% product.product_prices.each do |pp| %>
                                    <%= number_to_currency pp.price, :unit => "&pound;" %>
                                  <% end %>
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-xs-8">
                            <%- if product.out_of_stock? -%>
                              <div class="add-row clearfix">
                                <%= image_tag('out_of_stock.png') %>
                              </div>
                            <%- else -%>
                              <div class="add-row clearfix">
                                <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                              </div>  
                            <%- end -%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%else%>
                    <div class="col-md-4 landscape">
                      <div class="slider-box2">
                        <div class="box-image">
                          <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg, product.name), nested_products_uri(product) %>
                        </div>
                        <div class="item-name">
                           <%= link_to product.name, nested_products_uri(product) %>
                            <div class="red-text"><%= limited_stock(product) -%></div>
                        </div>
                        <div class="row clearfix">
                          <div class="col-xs-4 price-col">
                           <% if product.product_prices.present? %>
                              <% if product.discounted? && product.discount > 0.0 %>
                                <% product.product_prices.each do |pp| %>
                                  <div class="line-through">
                                    Was <%= number_to_currency pp.price, :unit => "&pound;" %>
                                  </div>
                                <% end %>
                                <div class="current-price">
                                  <% product.price_discounted.each do |price| %>
                                    <%= number_to_currency price, :unit => "&pound;" %>
                                  <% end %>
                                </div>
                              <% else %>
                                <div class="price">
                                  <% product.product_prices.each do |pp| %>
                                    <%= number_to_currency pp.price, :unit => "&pound;" %>
                                  <% end %>
                                </div>
                              <% end %>
                            <% end %> 
                              
                          </div>
                          <div class="col-xs-8">
                            <%- if product.out_of_stock? -%>
                              <div class=" add-row clearfix"> 
                                <%= image_tag('out_of_stock.png') %>
                              </div>
                            <%- else -%>
                              <div class=" add-row clearfix">
                                <%=render partial: 'site/templates/product_cart_form' ,  locals: {product: product} %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
              <% end %>
            </div>
            <div>
              <div class="digg_pagination pagination-2 clearfix">
                <div class="page_info show-result">
                  <%= page_entries_info @products %>
                </div>
                <div class="pagination-links">
                  <%= will_paginate @products, :container => false %>
                </div>
              </div>
            </div>
          </div><!-- End product list-->
        </div>
      <% end %>
      <% if @products && @products.size > 0 %>
      <% else %>
        <div class="prdouct-list-wrapper hampers-wrapper-2">
          <div class="green-heading-with-border top-18">No products found</div>
          <div style="">Did you not find what you wanted? <%= mail_to "info@italyabroad.com", "Get in touch" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
<% params[:category] = @category.name %>
<%
  if params[:category] == "Hampers"
    search = "hamper"
  elsif params[:category] == "Food"
    search = "food"
  elsif params[:category] == "Wine"
    search = "wine"
  end
%>