<%#= @category.parent.name %> <%#=  session[:return_url] = "" %>
<% @breadcrumbs = "#{link_to "Home", root_url} &raquo; #{link_to(@category.parent.name, "/#{@category.parent.friendly_identifier}")} &raquo; #{@category.name}" %>
<%- @class = "sub_categories #{@category.friendly_identifier}" -%>
<div class="row">
  <div class="two-colum-row clearfix top-30">
    <div class="col-md-3 left-side-bar">
      <% if @category.parent.name == 'Food' %>
        <%= render :partial => '/site/shared/box_food_search' %>  
      <% else %>
        <%= render :partial => '/site/shared/box_wine_search' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <% if @products && @products.size > 0 %>
        <div class="prdouct-list-wrapper top-12">
          <div class="green-heading-with-border">
            <%= @category.name.html_safe() %>
            <div class="sort-by-box clearfix">
              <div class="sort-select">
                <%= form_tag nested_categories_path(params[:parent], params[:category]), :method => :get, :id => "sort_by_form" do -%>
                  <%= hidden_field_tag :page, (params[:page] || 1) %>
                  <strong>Sort by:</strong>&nbsp;
                  <%= select_tag("sort_by", options_for_select([["Price: Low to high", "product_prices.price asc"],["Price: High to low", "product_prices.price desc"], ["Name", "name"], ["Region", "region_id"]], @sort_by), :onchange => "$('#sort_by_form').submit()") %>
                <%- end -%>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div>
            <div class="digg_pagination pagination-2 clearfix">
              <div class="page_info show-result">
                <%= page_entries_info @products %>
              </div>
              <div class="pagination-links">
                <%= will_paginate @products, :container => false %>
              </div>
            </div>
          </div>
          <!-- Start product list-->
          <div class="product-list-search">
            <%= render partial: '/site/shared/category_box', locals: {products: @products, template_name: "sub_category"}%>
            <div>
              <div class="digg_pagination pagination-2 clearfix">
                <div class="page_info show-result">
                  <%= page_entries_info @products %>
                </div>
                <div class="pagination-links">
                  <%= will_paginate @products, :container => false %>
                </div>
              </div>
            </div>
          </div><!-- End product list-->
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->