<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Wine Tours", '/wine-tours')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "wine-tour"} ) %>
<% if @category.image && !@category.image_url.blank? %>
  <div id="wineBanner">
          <span class="title_wine_tours">
          <%# unless @category.text_on_image.blank? %>
         <!-- <div style="color:white;width:350px;height:100px;background:black;opacity: 0.6;filter:alpha(opacity=40);text-align:left;overflow:hidden;">
            <%#= @category.text_on_image %>
          </div>-->
          <%# end %>
          </span>
	          <%= link_to image_tag(image_url('home_image', @category.image, :jpg),:alt=>@category.name),  search_index_path(:id => @category.friendly_identifier) %>
	</div>
<% else %>
  <div id="wineBanner">
      <span class="title_wine_tours">
            <%#= @about.title if @about %>
            <strong style="font-size:24px;">Experience</strong> firsthand the <strong style="font-size:24px;">passion,</strong><br />
            talk to the <strong style="font-size:24px;">winemakers</strong>, visit the<br >
            <strong style="font-size:24px;">vineyards,</strong> the cellar, <strong style="font-size:24px;">taste the<br />
            wines</strong> directly from the barrels,<br />
            <strong style="font-size:24px;">harvest</strong> the grapes and <strong style="font-size:24px;">make your<br />own wine</strong> with our <strong style="font-size:24px;">wine tours</strong>
      </span>
      <%# if  @about and !@about.image_id.nil? %>
      <%#= link_to image_tag(image_url(:about_thumb, @about.image, :jpg)) , search_index_path(:id => @category.friendly_identifier)  unless @about.blank?  %>
      <%# else %>
      <%= link_to image_tag("wine_tours_home.jpg",:alt=>@category.name), search_index_path(:id => @category.friendly_identifier)  %>
      <%# end %>
	</div>
<% end %>
<h3 style="border:none;"  align="center">
  <% unless @category.page_heading.blank? %>
      <%= @category.page_heading %>
     <% else %>
      <%= @category.name %>
     <% end %>
  </h3>
<div style="margin:6px;float:left;margin-right:20px;">
  <%= render :partial => '/site/shared/box_upcoming_wine_tours' %>
  <!-- before changing the following div has this id="wine_tours_introduction" -->
</div>


  <!--<h3 style="border:none;"  align="center">
  <%# unless @category.page_heading.blank? %>
      <%#= @category.page_heading %>
     <%# else %>
      <%#= @category.name %>
     <%# end %>
  </h3>-->
  <p style="margin:6px;text-align:justify;margin-right:20px;text-indent:0px;">
  <%= @category.description %>
  <!--Make your own wine, live the harvesting in one of the most beautiful area of Tuscany-->
  </p>
<div id="wine_tour_description" style = "float:left;margin-left:10px;">
</div>

<div style="clear:both;"></div>
<% products = @category.products.find(:all, :conditions => ["active = ? AND DATE(date) > ?", true, Date.today], :order => "date").paginate(:page => params[:page], :per_page => 3) %>
<%- unless products.blank? -%>


  <div id="featured_wine_tours" style="margin:6px;text-align:justify;margin-right:20px;">
    <br />
    <h3>More Tours</h3>
    <ul>
      <%- products.each do |product| -%>
      <li class="product_listing">
        <%= product.date.strftime("%d %B %Y") if product.date %>
        <h1><%= link_to product.name, nested_products_uri(product), :class => "product_title" %></h1>
        <%#= product.date.strftime("%d %B %Y") if product.date %><!--<br /><br />-->
        <div><%= product.description_short %></div>
        <div style="font-size:18px;color:#9b0707;text-align:right;">
        <!--Price:&nbsp;--><%= number_to_currency product.price, :unit => "&pound;" %><br />
        <%= link_to_remote image_tag("buttons/buy_button_new.png"), :url => product_cart_index_path(product), :html => {:method => 'post'} %></div>
      </li>
      <%- end -%>
    </ul>
    <%= will_paginate(products) %>
  </div>
  <%- end -%>
<!-- /div --><!-- suspecious div ending removed this div to fix the issue with sitemap-->

<% content_for :right do %>
  <%#= render :partial => 'site/shared/box_product_reviews' %>
  <%= render :partial => 'site/shared/box_wine_tour_testimonials' %>
  <br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => 'site/shared/box_products_on_offer' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

