<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Wine Tours", '/wine-tours')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "wine-tour"} ) %>
<% if @category.image_link
link = @category.image_link
else
link = site_search_index_path(:id=>@category)
end

%>
<% if @category.image %>
  <div id="wineBanner" class="main-banner">
          <span class="title_wine_tours">
          <%# unless @category.text_on_image.blank? %>
         <!-- <div style="color:white;width:350px;height:100px;background:black;opacity: 0.6;filter:alpha(opacity=40);text-align:left;overflow:hidden;">
            <%#= @category.text_on_image %>
          </div>-->
          <%# end %>
          </span>
	          <%= link_to image_tag(site_image_url('home_image', @category.image, :jpg),:alt=>@category.name),  link %>
	</div>
<% else %>
  <div id="wineBanner" class="main-banner">
      <span class="title_wine_tours">
            <%#= @about.title if @about %>
            <strong style="font-size:24px;">Experience</strong> firsthand the <strong style="font-size:24px;">passion,</strong><br />
            talk to the <strong style="font-size:24px;">winemakers</strong>, visit the<br >
            <strong style="font-size:24px;">vineyards,</strong> the cellar, <strong style="font-size:24px;">taste the<br />
            wines</strong> directly from the barrels,<br />
            <strong style="font-size:24px;">harvest</strong> the grapes and <strong style="font-size:24px;">make your<br />own wine</strong> with our <strong style="font-size:24px;">wine tours</strong>
      </span>
      <%# if  @about and !@about.image_id.nil? %>
      <%#= link_to image_tag(site_image_url(:about_thumb, @about.image, :jpg)) , site_search_index_path(:id => @category.friendly_identifier)  unless @about.blank?  %>
      <%# else %>
      <%= link_to image_tag("wine_tours_home.jpg",:alt=>@category.name),link %>
      <%# end %>
	</div>
<% end %>
<!-- start content-->
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar"><%= render :partial => '/site/shared/box_wine_event_testimonials' %> </div>
    <div class="col-md-9">
      <div class="red-heading">
        <% unless @category.page_heading.blank? %>
          <%= @category.page_heading %>
        <% else %>
          <%= @category.name %>
        <% end %>
      </div>
      <div>
        <p><%= @category.description.html_safe() %></p>
      </div>
      <%= render :partial => '/site/shared/box_upcoming_wine_tours' %>
    </div>
  </div>
</div>
<div class="community-row clearfix">
  <%= render :partial => 'site/shared/community_box' %>
  <%= render :partial => 'site/shared/wine_club' %>
  <%= render :partial => 'site/shared/box_blog' %>
</div>