<%- @class = "wine_tours"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to("Wine Tours", "/wine-tours", :title=>"Wine Tours")} &raquo; #{@product.name+ '...'}" -%>

<div id="wineBanner" class="main-banner"><%#= image_tag("wine_tours_card_home.jpg") %>
  <%- if @product.image_1 or @product.image_2 or @product.image_3 -%>
    <%= image_tag(site_image_url("region_card", @product.image_1, :jpg),:alt=>@product.name, :title=>@product.name) if @product.image_1 %>
          <%#= image_tag(site_image_url("region_card", @product.image_2, :jpg)) if @product.image_2 %>
          <%#=  image_tag(site_image_url("region_card", @product.image_3, :jpg)) if @product.image_3 %>
  <% else %>
    <div class="main-banner"><img src="/images/wine-tour-detail-banner.png" alt="wine tour detail" title="wine tour detail" /></div>
  <%- end -%>
</div>
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial=> '/site/shared/box_wine_tour_testimonials' %>
    </div>
    <div class="col-md-9">
      <!-- start wine detail wrapper-->
      <div class="wine-detail-wrapper">
        <div class="green-heading-with-border"><%= @product.name %></div>
        <div class="bottom-50">
         <div style="margin-bottom:15px"> <%= @product.description.gsub("\n","<br />").html_safe rescue "Product has no description" %></div>
	 <div class="row clearfix">
            <div class="col-xs-10 price-col" style="margin-top: -0.5em;">
                <% if @product.product_prices.present? %>
                  <% if @product.discounted? && product.discount > 0.0 %>
                    <% @product.product_prices.each do |pp| %>
                     <div class="line-through" style="text-align: right;">
                      Was <%= number_to_currency pp.price, :unit => "&pound;" %></div>
                    <% end %>
                    <div class="current-price" style="text-align: right;">
                      <% @product.price_discounted.each do |price| %>
                        <%= number_to_currency price, :unit => "&pound;" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="price" style="text-align: right;">
                      <% @product.product_prices.each do |pp| %>
                        <%= number_to_currency pp.price, :unit => "&pound;" %>
                      <% end %>
                      </div>
                  <% end %>
                <% end %>
            </div>
          <div class="club-btn">
            <div class="green-button"> 
              <%= link_to "Add to cart", "/site/cart?product_id=#{@product.id}", :remote => true, :method => :post, :title=>"Add to cart" %>
            </div>
          </div>
        </div>
        <div class="green-heading-2">Invite a Friend</div>
        <div class="invite-friend-box bottom-50">
          <%= form_tag 'invite_a_friend' do -%>
            <div class="row clearfix bottom-15">
              <div class="col-md-4">
                <div class="form-label">Your name</div>
                <div class="form-field"><%= text_field_tag  'your_name','' %></div>
              </div>
              <div class="col-md-4">
                <div class="form-label">Your friends name</div>
                <div class="form-field"><%= text_field_tag  'your_friend_name', '' %></div>
              </div>
              <div class="col-md-4">
                <div class="form-label">Your friends email</div>
                <div class="form-field"><%= text_field_tag  'your_friend_email', '' %></div>
              </div>
            </div>
            <div class="row clearfix bottom-15">
              <div class="col-md-12">
                <div class="form-label">Your message</div>
                <div class="form-field">
                  <%= text_field_tag  'your_message','', :value => "I thought you might be interested in this..." %>
                  <%= hidden_field_tag 'h_product_id',request.url %>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="green-button col-xs-2"><%= submit_tag("Send") %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
