<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Wine club", '/wine-tours')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "wine-club"} ) %>
<% if @category.image && !@category.image_url.blank? %>
  <div id="wineBanner">
    <span class="title_wine_tours">
    <%= @category.text_on_image %>
  </span>
	  <%= link_to image_tag(image_url('home_image', @category.image, :jpg)), search_index_path(:id => @category.friendly_identifier) %>
	</div>
<% else %>
  <div id="wineBanner">
    <span class="title_wine_tours">
      <strong style="font-size:24px;">Experience</strong> firsthand the <strong style="font-size:24px;">passion,</strong><br />
      talk to the <strong style="font-size:24px;">winemakers</strong>, visit the<br >
      <strong style="font-size:24px;">vineyards,</strong> the cellar, <strong style="font-size:24px;">taste the<br />
      wines</strong> directly from the barrels,<br />
      <strong style="font-size:24px;">harvest</strong> the grapes and <strong style="font-size:24px;">make your<br />own wine</strong> with our <strong style="font-size:24px;">wine tours</strong></span>
	  <%#= link_to image_tag("wine_tours_home.jpg"), search_index_path(:id => @category.friendly_identifier) %>
  <%# if  @about and !@about.image_id.nil? %>
	  <%#= link_to image_tag(image_url(:about_thumb, @about.image, :jpg)) , search_index_path(:id => @category.friendly_identifier)  unless @about.blank?  %>
	  <%# else %>
	  <%= link_to image_tag("wine_tours_home.jpg"), search_index_path(:id => @category.friendly_identifier) %>
	  <%# end %>
	</div>
<% end %>
<br /><br />
<div style="margin:8px;float:left;margin-right:30px;">
  <%= render :partial => '/site/shared/box_upcoming_events' -%>
</div>

  <h3 style="border:none;" align="center"><%= @category.page_heading ?  @category.page_heading : @category.name %></h3>
  <p style="text-align:justify;margin:20px;">
    <%= @category.description %>
    <!--Need content to change this static description.-->
  </p><div id="wine_tour_description">
</div>
  <div style="clear:both;"></div>
  <% products = @category.products.find(:all, :conditions => ["active = ?", true], :order => "created_at DESC").paginate(:page => params[:page], :per_page => 3) %>
  <%- unless products.blank? -%>
  <div id="featured_wine_tours">
    <br />
    <h3>Wine Club Options</h3>
    <ul>
      <%- products.each do |product| -%>
      <li>
        <h1><%= link_to product.name, nested_products_uri(product), :style => "color:black;" %></h1>
        <div><%= product.description_short %></div>
      </li>
      <%- end -%>
    </ul>
    <%= will_paginate(products) %>
  </div>
  <%- end -%>
<!-- /div -->

<% content_for :right do %>
  <%#= render :partial => 'site/shared/box_product_reviews' %>
   <%= render :partial => 'site/shared/box_wine_club_testimonials' %>
  <br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
	<br />
	<%= render :partial => 'site/shared/box_products_on_offer' %>
	<br />
	<%= render :partial => '/site/shared/box_grape_guide' %>
<% end %>

