<%- @class = "wine_club"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to("Wine club", "/wine-club", :title=>"Wine Club")} &raquo; #{@product.name + '...'}" -%>
<% if @product.image_1  %>
<div id="wineBanner" class="main-banner"><%= image_tag(image_url("product_wine_club", @product.image_1, :jpg),:alt=>@product.name, :title=>@product.name)  %></div>
<% else %>
  <div class="main-banner"><img src="/images/wine-club-banner.png" alt="Wine club banner" title="Wine club banner" /></div>
<% end %>
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial=> '/site/shared/box_wine_club_testimonials' %>
    </div>
    <div class="col-md-9">
      <!-- start wine detail wrapper-->
      <div class="wine-detail-wrapper">
        <div class="green-heading-with-border">
          <h1><%= @product.name %></h1>
        </div>
        <div class="bottom-50"><%= @product.description.gsub("\n","<br />").html_safe rescue "Product has no description" %>
          <div class="row clearfix">
            <div class="col-xs-10 price-col" style="margin-top: -0.5em;">
                <% if @product.product_prices.present? %>
                  <% if @product.discounted? && product.discount > 0.0 %>
                    <% @product.product_prices.each do |pp| %>
                     <div class="line-through" style="text-align: right;">
                      Was <%= number_to_currency pp.price, :unit => "£" %></div>
                    <% end %>
                    <div class="current-price" style="text-align: right;">
                      <% @product.price_discounted.each do |price| %>
                        <%= number_to_currency price, :unit => "£" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="price" style="text-align: right;">
                      <% @product.product_prices.each do |pp| %>
                        <%= number_to_currency pp.price, :unit => "£" %>
                      <% end %>
                      </div>
                  <% end %>
                <% end %>
            </div>
          <div class="club-btn">
            <div class="green-button"> 
              <%= link_to "Add to cart", "/cart?product_id=#{@product.id}", :remote => true, :method => :post, :title=>"Add to cart" %>
            </div>
          </div>
        </div>
        <h2 class="green-heading-with-border">
          Invite a Friend
        </h2>
        <div class="invite-friend-box bottom-50">
          <%= form_tag 'invite_a_friend' do -%>
            <div class="row clearfix bottom-15">
              <div class="col-md-4">
                <div class="form-label">Your name</div>
                <div class="form-field"><%= text_field_tag  'your_name','' %></div>
              </div>
              <div class="col-md-4">
                <div class="form-label">Your friends name</div>
                <div class="form-field"><%= text_field_tag  'your_friend_name', '' %></div>
              </div>
              <div class="col-md-4">
                <div class="form-label">Your friends email</div>
                <div class="form-field"><%= text_field_tag  'your_friend_email', '' %></div>
              </div>
            </div>
            <div class="row clearfix bottom-15">
              <div class="col-md-12">
                <div class="form-label">Your message</div>
                <div class="form-field">
                  <%= text_field_tag  'your_message','', :value => "I thought you might be interested in this..." %>
                  <%= hidden_field_tag 'h_product_id',request.url %>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="green-button col-xs-2"><%= submit_tag("Send") %></div>
            </div>
          <% end %>
        </div>
        <% unless logged_in? %>
          <div class="green-heading-with-border">
            Reviews <%= link_to("(Add Review)", login_path, :title=>"Add Review") %>
          </div>
          <div class="latest-review-box bottom-50">
            <%= render :partial => 'site/shared/review_view_short', :locals => {:reviewer => @product} %>
          </div>
        <% end %>
        <%- if logged_in? -%>
          <div class="green-heading-with-border">Leave your review <%= link_to '(Add Review)',"#",:onclick=>"document.getElementById('add_review').style.display='block';return false;", :title=>"Add Review" %></div>
          <div id="add_review" style="display:none;">
            <div class="latest-review-box bottom-50">
              <%= render(:partial => 'site/reviews/new', :locals => {:product_id=>@product.id  ,:create_url => reviews_path(@product, :return_to => nested_products_uri(@product))}) %>
            </div>
        <%- end -%>
      </div><!-- end wine detail wrapper-->
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix ">
  <%= render :partial => '/site/shared/our_community' %>
  <%= render :partial => '/site/shared/wine_club' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
