<% @about = AboutU.find(:first, :conditions => {:link_type => "grape-guide"} ) %>
<%if @about and  @about.meta_title.blank? and @about.meta_description.blank? %>
  <% @title = "Guide to Italian wines and Italian grapes"; @description = "Guide to Italian wines and Italian grapes"; @keys = ", Italian wine information,Italian wine guide,Italian wine,Italian red and white wine,italian grapes,wine grapes,wine expert,guide to Italian wines,aglianico,barbera,montepulciano,nero d'avola,nebbiolo" %>
<%else%>
  <% @title = @about.meta_title; @description = @about.meta_description %>
<%end%>
<% @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")}&raquo; #{link_to('Community',wine_community_path, :title=>"Community")} &raquo; Guide to Italian wines and Italian grapes".html_safe() %>
<% if @about.present? and @about.image.present? %>
    <div class="main-banner"><%= link_to image_tag(image_url(:about_thumb, @about.image, :jpg),:alt=>@about.title,:title=>@about.title) , search_index_path(:id => "grapes"), :title=>@about.title unless @about.blank? %></div>
  <% else %>
    <div class="main-banner"><%= link_to image_tag("guide_home_image.jpg",:alt=>'Grape guide',:title=>'Grape guide'), search_index_path(:id => "grapes") %></div>
  <% end %>
  <div class="row">
    <div class="search-blog-wrapper clearfix">
      <div class="col-md-9 col-md-offset-3 clearfix">
        <div class="search-blog-box clearfix"> 
          <div class="blog-search-text">Grape Search</div>
            <div class="blog-search-field">
              <%= form_tag grapes_path, :method => :get do -%>
              <%= text_field_tag 'search_by_name',params[:search_by_name], :class => 'blog-search' %>
              <span class="magnifier">
                <%= image_submit_tag ("/images/magnifier.png"), :name => 'search', :value => 'search' %> </span>
                <%# submit_tag 'Search', :name => 'search' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="one-colum-row clearfix">
      <div class="col-md-12">
        <!-- Start Search Results-->
        <% if params[:search] %>
          <% if @grapes && @grapes.size > 0 %>
            <% for grape in @grapes %>
              <div class="green-heading-with-border"><%= link_to grape.name, grape.friendly_identifier.blank? ? "grapes/#{grape.id}" : "grapes/#{grape.friendly_identifier}", :title=>grape.name %>
              </div>
              <div class="bottom-50">
                <% unless grape.description.blank? %>
                  <%= grape.description[0,250].html_safe %> 
                  <%= link_to "Read More", grape.friendly_identifier.blank? ? "grapes/#{grape.id}" : "grapes/#{grape.friendly_identifier}", :title=>"Read More" %>
                <%- end -%>
              </div>
            <% end %>
            <div class="digg_pagination pagination-2 clearfix">
              <div class="page_info show-result">
                <%= page_entries_info @grapes %>
              </div>
              <div class="pagination-links">
                <%= will_paginate @grapes, :container => false %>
              </div>
            </div>
          <%- end -%>
        <% end %> <!-- End Search Results-->
        <% if !@about.nil? %>
          <% unless @about.title.blank? %>
            <div class="green-heading-with-border">Wine Grapes</div>
          <% end %>
        <% end %>
        <div class="bottom-50">
          <%= @about.description.html_safe() rescue 'The wine and grape details ...' %> 
        </div>
        <div class="green-heading-2"><h1>Grape list, click for information</h1></div>
        <div class="row clearfix grape-list">
          <% [*('A'..'Z')].each do |letter| %>
            <div class="col-md-2 col-xs-6">
              <h2 class="green-heading"><%= letter%></h2>
              <%- for grape in @grapes_all -%>
                <% if grape.name.upcase =~ /^["#{letter}"]/  %>
                  <div>
                    <%= link_to(grape.name, grape_path(grape), :title => grape.name) if grape.name.upcase =~ /^[A-H]/ %>
                  </div>
                <% end %>
              <%- end -%>
            </div>
          <% end%>
         <!--  <div class="col-md-3 col-xs-6">
            <h2 class="green-heading">I-P</h2>
            <%- for grape in @grapes_all -%>
              <%- if grape.name.upcase =~ /^[I-P]/ -%>
                <div>< %= link_to(grape.name, grape_path(grape), :title => grape.name) %></div>
              <%- end -%>
            <%- end -%>
          </div>
          <div class="col-md-3 col-xs-6">
            <h2 class="green-heading">Q-Z</h2>
            <%- for grape in @grapes_all -%>
              <% if grape.name.upcase =~ /^[Q-Z]/ %>
                <div>< %= link_to grape.name, grape_path(grape), :title=>grape.name  %></div>
              <% end %>
            <%- end -%>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- start 3 colum  boxes-->
  <div class="community-row clearfix row">
    <%= render :partial => '/site/shared/our_community' %>
    <%= render :partial => '/site/shared/wine_club' %>
    <%= render :partial => '/site/shared/cercavino' %>
  </div><!-- start 3 colum  boxes-->