<% 
    @title = @grape.page_title_formatted; 
    @description = @grape.meta_description_formatted; 
    @keys = @grape.meta_keys_formatted
   
   @class= "no-padding";
   @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to('Community',wine_community_path, :title=>"Community")} &raquo; #{link_to("Grapes", grape_guide_path, :title=>"Grapes")} &raquo; #{@grape.name}".html_safe()
%>
<div class="row">
  <div class="share-row clearfix">
    <div class="pull-right">
      <%= render :partial => '/site/shared/social_bookmarks' %>
    </div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-12">
      <div class="green-heading-with-border" id="header"><h1>Italian wine and food Online | Award winning wine merchant<%#= @grape.name %></h1></div>
      <div class="produer-detail-text clearfix">
        <% if @grape && @grape.image %>
          <div class="col-xs-3 center-align">
            <%= image_tag(image_url('home_image', @grape.image, :jpg),:alt=>@grape.name, :title=>@grape.name) %>
          </div>
        <% else %>
          <div class="col-xs-3 center-align">
            <%= image_tag("grape_default.png",:alt=>@grape.name,  :title=>@grape.name) %>
          </div>
        <% end %>
        <div class="col-xs-9">
          <h2 class="green-heading"><%=@grape.grape_quote %></h2>
          <div><%= @grape.description.try(:html_safe) || "No Description" %></div>
        </div>
      </div>
      <%- if @grape.producers.find(:all,:conditions=>['active = ?',true]).size >0 -%>    
        <h2 class="green-heading-2">
          Producers that grow this grape
        </h2>
      <%-end-%>
      <%- @grape.producers.find(:all,:conditions=>['active = ?',true]).each do |producer| -%>
        <div class="producer-link"><%= link_to producer.name, producer_path(producer), :title=>producer.name %></div>
      <% end %>
      <% @grape_products = @grape.products.find(:all,:include=>:categories,:conditions=>['upper(categories.name)=?','WINE'])%>
        
        <div class="prdoucer-products-wrapper">
            <% if @grape_products.size == 0 %>
              <% @grape_products = Product.find(:all, :include => [:categories] ,:conditions => ['upper(categories.name) LIKE ?  AND products.active = ? AND quantity > ? ','WINE',true,0],:order=>'RAND()',:limit=>5) %>

              <h2 class="producer-products-heading">No Wines made with this grape, perhaps you might like one of the following wines</h2>
            <% else %>
              <h2 class="producer-products-heading">Wines made with this grape</h2>
            <% end %>
          <div class="producer-products-row clearfix">
            <%- @grape_products.each do |product| -%>
              <div class="producer-products-col">
                  <div class="producer-product-image">
                    <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name), nested_products_uri(product), :title=>product.name %>
                  </div>
                  <div class="producer-product-text">
                    <%= link_to product.name, nested_products_uri(product), :title=>product.name %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
