<% @title = "#{@grape.name}";
   @class= "no-padding";
   @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to('Community',wine_community_path)} &raquo; #{link_to("Grapes", grape_guide_path)} &raquo; #{@grape.name}".html_safe()
%>

<div id="header"><%= @grape.name %></div>
<br />

<div id="page_banners">

  <div class="banner-left">
      <% if @grape && @grape.image %>

     <div style="height:300px;width:300px;overflow:hidden;"><% @image_id = @grape.image.id.to_s + ".jpg" %>
      <%= image_tag("/resources/images/#{@image_id}",:alt=>@grape.name, :height=> "300px") %>
     </div>
      <% else %>
      <%= image_tag("grape_default.png",:alt=>@grape.name, :height=> "300px") %>
      <% end %>
  </div>
  <div class="banner-right"><%=@grape.grape_quote %></div>

</div>


<!--<div style="text-align:center;padding-top:10px;"><%#= image_tag("guide_home_image.jpg") %></div> -->
<div style="margin-left:10px;margin-right:10px;">
 <!-- <h1 style="text-align:center;font-size:18px;font-weight:bold;color:#666666;margin-bottom:30px">Grape Information</h1> -->
  <div style="float:left;margin-right:20px;"><%#= show_grape_image(@grape) %></div><br />
  <p style="text-align:justify;margin-left:10px;margin-right:10px;"><%= @grape.description.try(:html_safe) || "No Description" %></p>
  <div style="clear:both;"></div>
  <br />

<div style="text-align:justify;margin-left:10px;margin-right:10px;">
  <%- if @grape.producers.find(:all,:conditions=>['active = ?',true]).size >0 -%>
  <br /><h3 style="font-size:16px;color:#013300;border:none;">Producers that grow this grape</h3>
  <%-end-%>
  <ul style="list-style:none;margin:0;padding:0;">
    <%- @grape.producers.find(:all,:conditions=>['active = ?',true]).each do |producer| -%>
    <li><%= link_to producer.name, site_producer_path(producer) %></li>
    <%- end -%>
  </ul>
  <br />
  <% @grape_products = @grape.products.find(:all,:conditions=>['active = ? and quantity > ?',true,0])%>
  <% if @grape_products.size == 0 %>
  <% @grape_products = Product.find(:all, :include => [:categories] ,:conditions => ['upper(categories.name) LIKE ?  AND products.active = ? AND quantity > ? ','WINE',true,0],:order=>'RAND()',:limit=>6) %>
  <% end %>
  <%- if  @grape_products.size > 0 -%>
  <br /><h3 style="font-size:16px;color:#013300;border:none;">&nbsp;&nbsp;&nbsp;Wines made with this grape</h3>
  <%- end -%>
  <ul style="list-style:none;margin:0;padding:0;text-align:center;">
    <%- @grape_products.each do |product| -%>
    <li class="wines_made_from_this_wine">
      <div class="image"><%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name), nested_products_uri(product) %></div>
      <div class="name"><%= link_to product.name, nested_products_uri(product) %></div>
    </li>
    <%- end -%>
  </ul>
</div>


</div>

<%- content_for :right do -%>
  <%= render :partial => 'site/shared/box_event' %>
  <br />
  <%= render :partial => 'site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => 'site/shared/box_wine_tours' %>
  <br />
  <%= render :partial => 'site/shared/box_recipes' %>
  <br />
  <%= render :partial => 'site/shared/box_popular' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<%- end -%>

