<% @title = "Order Confirmation"; %>
<%= form_tag( {:action => :update_gift}, :id => "form_submit" ) do %>
	<div id="header" class="green-heading-with-border"><h1>Gift Options</h1></div>
	<div class="full-width">
		<div class="bottom-50">
			Create a fantastic hamper or the perfect gift by simply choosing from the gift options below and don’t forget to write the message for the card.
		</div>
		<% index = 0 %>
		<% for gift_option in GiftOption.find(:all) %>
			<% if @cart.gift.present? and !@cart.gift[:gift_option_id].blank?
			  	if @cart.gift[:gift_option_id].to_i == gift_option.id.to_i
			  		checked =  true
        		else
        			checked =  ""
			end end %>
			<div class="clearfix option-row">
				<div class="radio-col">
					<% if @cart.gift.present? and @cart.gift[:gift_option_id].blank? and index == 0
          				checked =  true
          				index = index + 1
        			end %>
					<%= radio_button :gift, :gift_option_id, gift_option.id,:checked=>checked %>
					<% if @cart.gift.present? and  @cart.gift[:gift_option_id].blank? and index > 0
				  		checked =  ""
				 	end %>
				</div>
				<div class="col-xs-9">
					<div class="option-name">
						<%= gift_option.name %>
						<% if gift_option.price > 0  %>
							(<span style="color:#5c8018"><%= number_to_currency(gift_option.price,:unit => "&pound;") %></span>)
						<% end %>
					</div>
					<%#= hidden_field :gift,:price ,:value=>gift_option.price %>
					<div><%= gift_option.description %></div>
				</div>
			</div>
		<%end%>
		<div class="clearfix option-row bottom-50">
			<div class="radio-col">&nbsp;</div>
			<div class="col-xs-9">
				<div class="bottom-5">Write your <b>free</b> gift note here:</div>
				<div class="gift-note"><%= text_area :gift, :note,  :rows => 6 %></div>
			</div>
		</div>
		<div class="center-align top-20"><%= image_tag("cart_step_1.png", :title=>"Cart step 1", :alt=>"Cart step 1") %></div>
		<div class=""><%= render :partial => 'site/shared/box_cart_form' %></div>
		<div class="top-30 right-align bottom-50">
			<div class="back-btn green-button"><%= link_to ("Back"), {:controller=>'cart',:action=>'index'}, :title=>"Back" %></div>
			<div class="continue-btn green-button">
				<div class="submit-btn"><%= submit_tag("Continue") %></div>
			</div>
		</div>
	</div>

<% end %>
