<div id="header" class="green-heading-with-border">User Select</div>
<div class="full-width">
	<div class="select-user-row">
		<div class="select-option">
			<span><%= radio_button_tag :role, "Admin" %></span> <span>Continue as Admin</span>
		</div>
		<div class="select-option">
			<span><%= radio_button_tag :role, "UserNew" %></span> <span>Order as New Customer</span>
		</div>
		<div class="select-option">
			<span><%= radio_button_tag :role, "UserExisting"%></span> <span>Order as Existing Customer
		<% @user = User.new %></span>
		</div>
	</div>
	<div class="form-wrapper">
		<div class="form_container" style="display:none;">
			<%= form_for :user, :url => admin_customers_path do %>
				<%= show_messages(flash[:notice]) %>
				<%= render :partial => "/admin/customers/form" %>
				<%= hidden_field_tag :return_to, '/cart/gift_options' %>
				<div class="row clearfix bottom-50">
					<div class="col-md-2 form-label">&nbsp;</div>
					<div class="col-md-4 green-button">
						<div class="submit-btn"><%= submit_tag "Next" %></div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="form_container_select" style="display:none" >
			<%= form_tag do %>
				<div class="form-wrapper">
					<div class="row clearfix bottom-50">
						<div class="col-md-4  auto-field bottom-15">
							<%= autocomplete_field_tag :name, '', autocomplete_user_name_cart_index_path, :id_element=>"#user_id", :placeholder => 'type user name' %>
							<%= hidden_field_tag 'user_id' %>
						</div>
						<div class="col-md-2 col-xs-3 green-button">
							<div class="submit-btn"><%= submit_tag 'Select' %></div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	$(document).on('click','[name=role]', function(e){
		role = $('[name="role"]:checked').val();


		if(role=="Admin"){
			// hide form
			$('.form_container').hide();
			$('.form_container_select').hide();
			window.location='/cart/gift_options';
		}
		else if(role=='UserNew'){
			$('.form_container').show();
			$('.form_container_select').hide();
			// show form (default is hidden)
		}else{
			$('.form_container').hide();
			$('.form_container_select').show();	
		}
	});
</script>