

<%- @title = "My favourite wines" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo; My favourite wines" -%>
<% @class = "no-padding" %>

<div id="header"><%= render :partial => 'site/shared/box_login' %></div>
<h4 class="account-title">My favourite wines</h4>
<table border="0" cellspacing="0" cellpadding="10" width="100%">
	<% if @wine_lists.size == 0 %>
		<tr>
		  <td>You haven’t added any wine yet to your wine list, why not let our other members know your favourite wines?</td>
    </tr>
	<% else %>
	<%= product_id = "" %>
  <% for wine_list in @wine_lists  %>
   <% if product_id.to_i != wine_list.product_id %>
  <% product = wine_list.product %>
	<tr>
	  <td>
	   <%= show_image_tag(product.layout_image, product.image_1,:jpg,product.name) %>
	  </td>
		<td valign="top">
		  <h2 style="font-weight:normal;"><%= link_to product.name,nested_products_uri(product) %></h2>
		  <%= product.description_short.html_safe() %>
		</td>
		<td style="text-align:center;">
		  <div class="box_price">
		    <ul class="inner-container">
  		    <li class="price"><%= number_to_currency(product.price,{:unit => "&pound;"}) %></li>
  	      <li class="add_to_cart_button"><%- if product.out_of_stock? -%>
			        <%= image_tag('out_of_stock.png') %>
			      <%- else -%>
                    <%= link_to(image_tag("buttons/add_to_cart_button.png"), "/site/cart?product_id=#{product.id}", :remote => true, :method => :post) -%>
			      <%- end -%></li>
  			  <li class="wish_list_button"><%= link_to image_tag("remove_wish.png"), product_wine_list_path(product, wine_list), :method => :delete, :confirm => "Are you sure want to delete this product from your wine list?" %></li>
  			</ul>
			</div>
		</td>
	</tr>
	<%  product_id = wine_list.product_id
	end %>
  <% end %>
	<% end %>
</table>

<% content_for :right do %>
	<%= render :partial => '/site/shared/box_blog' %>
	<br />
	<%= render :partial => '/site/shared/box_subscriptions' %>
<% end %>

