<% @title = "Italyabroad.com testimonials"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Testimonials"; @class = "testimonials no-padding"%>

<div id="header">Testimonials</div>

<div id="featured_wine_tours" style="margin:10px;">
  <ul>
  <% @testimonials.each do |testimonial| %>
    <li>
        <div style="font-size:12px;"><%= testimonial.description.html_safe %></div>
        <div style="font-size:10px;width:100%;text-align:right;right-margin:10px;left-margin:auto;"><%= testimonial.title.html_safe %></div>
    </li>
  <% end %>
  </ul>
  <div class="digg_pagination pagination-2 clearfix">
    <div class="page_info show-result">
      <%= page_entries_info @testimonials %>
    </div>
    <div class="pagination-links">
      <%= will_paginate @testimonials, :container => false %>
    </div>
  </div>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => '/site/shared/box_popular' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

