<% @title = "Italyabroad.com testimonials"; @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; Testimonials"; @class = "testimonials no-padding"%>

<div class="green-heading-with-border"><h1>Italian wine and food Online | Award winning wine merchant<!-- Testimonials --></h1></div>
<div id="featured_wine_tours" class="full-width">
  <% @testimonials.each do |testimonial| %>
    <div class="bottom-30">
      <h2 class="green-heading-2"><%= testimonial.title.html_safe %></h2>
      <div><%= testimonial.description.html_safe %></div>
    </div>
  <% end %>
  
  <div class="digg_pagination pagination-2 clearfix ">
    <div class="page_info show-result">
      <%= page_entries_info @testimonials %>
    </div>
    <div class="pagination-links">
      <%= will_paginate @testimonials, :container => false %>
    </div>
  </div>
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => '/site/shared/box_popular' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end %>

