<%- @category ||= Category.find(params[:category] || "hampers") -%>
<%- @parent = Category.find(params[:parent] || "hampers") -%>
<%- search_url = @category == @parent ? site_search_index_path(:id => @parent) : nested_categories_url(@parent, @category) -%>
<div class="block" id="box_hamper_search">
  <div class="green-heading-16">Gift Finder</div>
  <% form_tag search_url , :class=> 'search_form', :method => :get do %>
    <div class="left-bar-search">
      <%= text_field_tag :text, '', :class=> "form-control",  "data-autocomplete"=>"/site/search/autocomplete_search_hamper_name",:placeholder => "Search Here", :style=>"" %>
            <i class="magnifier"><%= image_submit_tag "magnifier.png" %></i>
      <%= hidden_field_tag :id,@category.name.downcase %></i>
    </div>
    <div class="black-strip clearfix selected-filters" style="display: none;">
    </div>
    <!-- start search filter-->
    <div class="sidebar-filter-wrapper">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
          <div class="panel-heading" role="tab" id="heading-1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                Producer: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-1">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :producer_id, '' , :class=>'field_value' %>
                <% @category.products.producers.inject([["Any", ""]]) { |ps, p| ps << [p.name, p.id] }.each do |item| %>
                  <li><a href="#." value="<%= item[1] %>" class="field_text"> <%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Organic: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul>
                <li>
                  <%= hidden_field_tag :organic %>
                  <span><%= check_box_tag :organic %></span>
                  <span>Organic</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Vegan: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ul>
                <li>
                  <%= hidden_field_tag :vegetarian %>
                  <span><%= check_box_tag :vegetarian %></span>
                  <span>Vegan:</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="panel">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Price <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :producer_id %>
                <% [
                          ["Any Price", ""],
                          ["Less than #{number_to_currency(5,{:unit => "&pound;", :precision => 0})}".html_safe, "< 5"],
                          ["From #{number_to_currency(5,{:unit => "&pound;", :precision => 0})} to #{number_to_currency(10,{:unit => "&pound;", :precision => 0})}".html_safe, "BETWEEN 5 AND 10"],
                          ["From #{number_to_currency(11,{:unit => "&pound;", :precision => 0})} to #{number_to_currency(20,{:unit => "&pound;", :precision => 0})}".html_safe, "BETWEEN 11 AND 20"],
                          ["From #{number_to_currency(21,{:unit => "&pound;", :precision => 0})} to #{number_to_currency(30,{:unit => "&pound;", :precision => 0})}".html_safe, "BETWEEN 21 AND 30"],
                          ["More than #{number_to_currency(30,{:unit => "&pound;", :precision => 0})}".html_safe, "> 30"]
                  ].each do |item| %>
                  <li><a href="#." value="<%= item[1] %>"> <%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="panel">
          <div class="panel-heading" role="tab" id="headingFiv">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Occasion: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :occasion_id, '' , :class=>'field_value' %>
                <% @occasions = Occasion.find(:all,:include=>'products',:conditions=>['products.active = ?',true]) %>
                <% @occasions.collect{|i| [i.name,i.id]}.each do |item| %>
                  <li><a href="#." value="<%= item[1] %>" class="field_text"> <%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end search filter-->
    <%=render partial: 'site/shared/range_slider' %>   
  <% end %>
</div>

<script src="/javascripts/mine.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    get_range_price();
  });
</script>