<% @posts = ForumPost.paginate(:per_page => 2, :order => "created_at desc", :limit => 2, :page => params[:page])%>

<% @users = User.find(:all, :select => 'distinct *', :conditions => ['id in (?)', @posts.collect(&:user_id).uniq]).index_by(&:id) %>
<div class="block" id="box_latest_community_comments" style="padding:9px">
  <h1><%= link_to "Latest Community Comments", "/wine-community" %></h1>
  <br />
  <% if @posts.blank? %>
    No communtiy comments for now.
  <% else %>
  <ul style="list-style:none;padding:0;">
    <% @posts.each_with_index do |post, i| %>
    <li id="<%= dom_id post %>">
      <table>
        <tr>
          <td align="center" width="50px"><%= avatar_for_user(post.user, "small") %></td>
          <td valign="top" style="padding-left:10px;">
            <%#= "Forum / Topic" %> <%#= link_to h(post.forum_name), forum_path(post.forum_id) %>
            <%#= link_to h(post.topic_title), forum_topic_path(post.forum_id, post.topic_id) %>
            "<%= post.body %>"
          </td>
        </tr>
        <tr>
          <td align="center" width="50px"><%= link_to truncate(post.user.display_name, 15), customer_path(post.user) %></td>
          <td style="padding-left:10px;"><%= link_to "View thread", forum_topic_path(post.forum_id, post.topic_id)+"#post-body-#{post.id}" %></td>
        </tr>
      </table>
    </li>
    <% end %>
  </ul>  
  <% end %>
</div>
