<%- @category = Category.find(params[:category] || 'food') -%>
<%- @parent = Category.find(params[:parent] || "food") -%>
<%- search_url = @category == @parent ? site_search_index_path(:id => @parent) : nested_categories_url(@parent, @category) -%>
<div class="block" id="box_food_search">
	<div class="green-heading-16">Deli Finder</div>
	<% form_tag search_url, :class=>'search_form', :method => :get do %>
        <div class="left-bar-search">
            <%= text_field_tag :text, '', :class=> "form-control",  "data-autocomplete"=>"/site/search/autocomplete_search_food_name", :placeholder => "Search Here", :style=>"" %>
            <i class="magnifier"><%= image_submit_tag "magnifier.png" %></i>
		</div>
        <div class="black-strip clearfix selected-filters" style="display: none;">
        </div>
        <%=hidden_field_tag :id  ,  'food' %>
        <!-- Start search filter-->
    	 <div class="sidebar-filter-wrapper">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                            Region: <i></i>
                        </a>
                    </h4>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse " role="tabpanel" aria-labelledby="heading-1">
                        <div class="panel-body">
                            <ul>
                                <%= hidden_field_tag :region_id, '' , :class=>'field_value' %>
                                <% @category.products.regions.inject([["Any", ""]]) { |rs, r| rs << [r.name, r.id] }.each do |item| %>
                                    <li><a href="#." value="<%= item[1] %>" class='field_text'> <%= item[0] %></a></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Producer: <i></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                        <% @producers =[]
                            producer_ids = []
                             products = @category.products.find(:all,:conditions=>['active = true'])
                            products.each do |p|
                            producer_ids << p.producer_id if p.producer_id and !producer_ids.include?(p.producer_id)
                            end
                            producer_ids.each do |producer_id|

                                producer=Producer.find_by_id(producer_id)
                                if producer
                                @producers << producer
                                end

                            end
                            %>
                            <ul>
                                <%= hidden_field_tag :producer_id , '' , :class=>'field_value'%>
                                <% @producers.inject([["Any", ""]]) { |ps, p| ps << [p.name, p.id] }.each do |item| %>
                                    <li><a href="#." value="<%= item[1] %>" class="field_text"> <%= item[0] %></a></li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Organic: <i></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <ul>
                                <% hidden_field_tag :organic %>
                                <li>
                                    <span><% checked = (params[:organic] == 'organic') ? true : false %>
                                    <%= check_box_tag :organic, 'organic',checked  %></span>
                                    <span>Organic</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Vegan: <i></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <ul>
                                <% hidden_field_tag :vegetarian %>
                                <li>
                                    <span><% checked = (params[:vegetarian] == 'vegetarian') ? true : false %>
                                    <%= check_box_tag :vegetarian, 'vegetarian', checked  %></span>
                                    <span>Vegan</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end Search filter-->
        <%=render partial: 'site/shared/range_slider' %>
	<% end %>

</div>
<script src="/javascripts/mine.js" type="text/javascript"></script>
<%=render partial: 'site/shared/range_slider_values_programatically' %>
