


<div class="block" id="topTextBox" style= "display:block;">
  <div id="reviews">
    <h3>Our customers say</h3>
    <table>
      <% @reviews.each do |review| %>
          <tr>
            <td>
              <%#= image_tag "default.jpg" %>
              <%# user = User.find_by_id(testimonial.user_id) %>
              <% if review.user_id.present? %>
                  <%= link_to avatar_for_user(review.user, 'small'), site_customer_path(review.user_id), :title => review.user.name  %>
              <% else %>
                  <%= image_tag "default.jpg" %>
              <% end %>
              "<%= review.description[0..80].html_safe() %>..."
          </tr>
      <% end %>
      <tr>
        <td style="text-align:right;">
          <%= link_to "more", site_reviews_path,:style=>'color:#9b0707' %>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>

    <!-- <ul>
      <li>
        <p>
          <%= image_tag "default.jpg" %>

        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "thanks for the prompt and efficient delivery of 24 bottles of olive oil - I am sure our clients will be delighted with their Christmas gifts this year."
        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "Not available in retail outlet. Have not tasted Italian wines as such since visiting Italy 3 years ago"
        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "Fantastic evening. Food and wine perfectly suited. Will be back and will bring others."
        </p>
      </li>
      <li>
        <p style="text-align:right;"><%= link_to "read all", testimonial_path  %></p>
      </li>
    </ul> -->
  </div>
  <div id="about">
    <h3>About Italyabroad.com</h3>
    <table>
      <% @reviews.each do |review| %>
          <tr>
            <td>
              <%#= image_tag "default.jpg" %>
              <%# user = User.find_by_id(testimonial.user_id) %>
              <% if review.user_id.present? %>
                  <%= link_to avatar_for_user(review.user, 'small'), site_customer_path(review.user_id), :title => review.user.name  %>
              <% else %>
                  <%= image_tag "default.jpg" %>
              <% end %>
              "<%= review.description[0..80].html_safe() %>..."
          </tr>
      <% end %>
      <tr>
        <td style="text-align:right;">
          <%= link_to "more", site_reviews_path,:style=>'color:#9b0707' %>&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>
    </table>
  </div>
</div>

