
<%params[:category] = downcase_params(params[:category]) if params[:category]%>
<%params[:id] = downcase_params(params[:id]) if params[:id] %>


<%- if !params[:category].blank? and Category.find(params[:category]) != nil
      @category = Category.find(params[:category])
    else
      @category = Category.find(:first,:conditions=>['LOWER(name = ?)','wine'])
    end %>    
<%- @parent = Category.find(params[:parent] || params[:category] || 'wine')  -%>

<!-- Creating form action url for wine/other-drinks index pages and their subcategory products like, white wine, red wine -->
<%- search_url ||= @category == @parent ? site_search_index_path(:id => @parent) : site_search_index_path(:id => 'other_drinks')   -%>
<%if params[:parent]%>
  <%search_url = nested_categories_url(@parent, @category)%>
<%end%>
<div class="block" id="box_wine_search">
  <%# if params[:category] == "wine" || ~ /search/ %>
  <% if params[:parent] != "other-drinks" and params[:parent_type] != 'other-drinks' and params[:category] != "other-drinks" %>
    <div class="green-heading-16">
      <%= (@product.present? && @product.root_category.present?) ? @product.root_category : "Wine" -%> Search
    </div>
  <% else %>
    <div class="green-heading-16">Other Drink Search</div>
  <% end %>
  <%= form_tag search_url, :class=>'search_form'   ,:method => :get do %>
    <%= hidden_field_tag :id,@category.name.downcase if !@category.nil? %>
    <div class="left-bar-search">
      <%#= text_field_tag :text, params[:text], {:id => "search_text"} %>
      <%page = request.url%>
      <%if page.include?('other')%>
        <%path = "/site/search/autocomplete_search_drinks_name"%>
        <%= hidden_field_tag :parent_type , 'other-drinks' %>
    
      <%else%>
        <%path = "/site/search/autocomplete_search_wine_name"%> 
          <%= hidden_field_tag :parent_type , 'wine' %>
    
      <%end%>
      
      <%= text_field_tag :text, params[:text], :class=> "form-control",  "data-autocomplete"=> path , :placeholder => "Search Here", :style=>"" %>
    
      <i class="magnifier"><%= image_submit_tag "magnifier.png" %></i>
    </div>
    <div class="black-strip clearfix selected-filters">
      <% unless params[:mood].blank? %>
        <div class="black-strip clearfix">
        <span><%= Mood.find(params[:mood]).name %></span>
        <span class="pull-right"><a href="#." target="mood" class="close-btn">X</a></span>
        </div>
      <% end %>

      <% unless params[:region_id].blank? %>
        <div class="black-strip clearfix">
        <span><%= Region.find(params[:region_id]).name %></span>
        <span class="pull-right"><a href="#." target="region_id" class="close-btn">X</a></span>
        </div>
      <% end %>

      <% unless params[:grape_id].blank? %>
        <div class="black-strip clearfix">
        <span><%= Grape.find(params[:grape_id]).name %></span>
        <span class="pull-right"><a href="#." target="grape_id" class="close-btn">X</a></span>
        </div>
      <% end %>

      <% unless params[:color].blank? %>
        <div class="black-strip clearfix">
        <span><%= params[:color] %></span>
        <span class="pull-right"><a href="#." target="color" class="close-btn">X</a></span>
        </div>
      <% end %>


      <% unless params[:producer_id].blank? %>
        <div class="black-strip clearfix">
        <span><%= Producer.find(params[:producer_id]).name %></span>
        <span class="pull-right"><a href="#." target="producer_id" class="close-btn">X</a></span>
        </div>
      <% end %>

      <% unless params[:organic].blank? %>
        <div class="black-strip clearfix">
        <span><%= "Organic" %></span>
        <span class="pull-right"><a href="#." target="organic" class="close-btn">X</a></span>
        </div>
      <% end %>

      <% unless params[:vegetarian].blank? %>
        <div class="black-strip clearfix">
        <span><%= "Vegan" %></span>
        <span class="pull-right"><a href="#." target="vegetarian" class="close-btn">X</a></span>
        </div>
      <% end %>
    </div>

    <div class="sidebar-filter-wrapper">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
         <%   
                    if @products and @products.length > 0
                      mood_opts = [["Any",""]]+@products.select{|p| p.moods.collect(&:name).length > 0}.collect{|p| p.moods.collect{|i| [i.name,i.id]}.flatten}.uniq rescue []
                    else
                      mood_opts = [["Any",""]]+Mood.all.map{ |x| [x.name,x.id]}
                    end
        %>

        <%  display="none"
            if params[:parent] != "other-drinks" and mood_opts.length>2 and params[:category]!='other-drinks'
              display="block"
            end 
        %>


          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed" >Mood:<i></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
              <div class="panel-body">
                <ul>
                  <%= hidden_field_tag :mood , '' , :class=>'field_value' %>
                  <% mood_opts.each do |item| %>
                    <li>
                       <a href="#." value="<%= item[1] %>" class='field_text'> <%= item[0] %></a>
                    </li>
                    <%#= link_to "Add", "/site/cart?product_id=#{product.id}", :remote => true, :method => :post %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

        <% 
          if @products and @products.length > 0
            region_opts = Region.find(@products.collect(&:region_id)).inject([["Any", ""]]) {|rs, r| rs << [r.name, r.id]}
          else
            region_opts = @category.products.regions.inject([["Any", ""]]) {|rs, r| rs << [r.name, r.id]}
          end
        %>


        <% display='none' 
          if region_opts.length > 2 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Region:<i></i></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <ul>
                  <% if !@category.nil? %>
                    <%= hidden_field_tag :region_id , '' , :class=>'field_value' %>
                    <% region_opts.each do |item|  %>
                    <li><a href="#." value="<%= item[1] %>" class='field_text'> <%= item[0] %></a></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>


        <% 
          if @products and @products.length > 0
            grape_opts = Grape.find(@products.collect(&:grape_ids).flatten).inject([["Any", ""]]) {|gs, g| gs << [g.name.include?("Avola") ? "Nero d' Avola": g.name, g.id]}

          else
            grape_opts = @category.products.grapes.inject([["Any", ""]]) {|gs, g| gs << [g.name.include?("Avola") ? "Nero d' Avola": g.name, g.id]}
          end
        %>
        <% display='none' 
          if grape_opts.length > 2 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed"> Grape:<i></i></a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <ul>
                  <% if !@category.nil? %>
                    <%= hidden_field_tag :grape_id , '', :class=>'field_value' %>
                    <% grape_opts.each do |item| %>
                    <li><a href="#." value="<%= item[1] %>" class='field_text'>  <%= item[0] %></a></li>
                    <% end %> 
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

        <%  if @products and @products.length>0 
              color_opts = [["Any",'']]+@products.collect(&:color).uniq.collect{|c| [c,c]}
            else 
              color_opts = Product.colors(@category) 
            end
        %>
        
        <% display='none' 
          if color_opts.length > 1 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="collapsed">
                <% if params[:parent] == 'other-drinks' or params[:category]=='other-drinks' %>
                   Drinks
                <% elsif params[:parent] == 'food' or params[:category]=='food'%>
                  Category
                <% else %>
                  Colour:
                <% end %>

                <i></i></a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <ul>
                  <% unless Product.all.blank? %>
                    <%= hidden_field_tag :color , '', :class=>'field_value' %>
                      <% color_opts.each do |item| %>
                      <li><a href="#." value="<%= item[1] %>" class = 'field_text'>  <%= item[0] %></a></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        
        <%  if @products and @products.length >0 
              producer_opts = [["Any",'']]+Producer.find(@products.collect(&:producer_id)).collect{|p| [p.name, p.id]}
            else
              producer_opts = @category.products.producers.inject([["Any", ""]]) { |ps, p| ps << [p.name, p.id]} 
            end
        %>
        <% display='none' 
          if producer_opts.length > 2 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapsefive" class="collapsed">
                  Producer: <i></i>
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <ul>
                  <% if !@category.nil? %>
                    <%= hidden_field_tag :producer_id , '',  :class=>'field_value' %>
                    <% producer_opts.each do |item| %>
                    <li><a href="#." value="<%= item[1] %>" class="field_text" >  <%= item[0] %></a></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        
        <% display='none' 
          if params[:organic].blank? 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
            <div class="panel-heading" role="tab" id="headingSix">
              <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="collapsed">
                  Organic: <i></i>
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSix">
              <div class="panel-body">
                <ul>
                  <li>
                    <span>
                    <%= check_box_tag :organic, 'organic', false, :onclick=>"$('.search_form').submit();" %></span> 
                    <span>Organic</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        <% display='none' 
          if params[:vegetarian].blank? 
            display='block'
          end 
        %>
          <div class="panel panel-default" style="display:<%=display%>">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSix" class="collapsed">
                Vegan: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <ul>
                <li>
                  <span>
                  <%= check_box_tag :vegetarian, 'vegetarian', false,:onclick=>"$('.search_form').submit();"  %></span> 
                  <span>Vegan</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%=render partial: 'site/shared/range_slider' %>
  <% end %>

</div>
<script src="/javascripts/mine.js" type="text/javascript"></script>
<%=render partial: 'site/shared/range_slider_values_programatically' %>
