<% if logged_in? %>
<ul style="margin:0 0 0 -20px;padding:0;list-style:none;" class="my-account-links">
  <li style="display:inline;margin-left:10px;"><%= link_to "My Account", account_path %></li>
  <li style="display:inline;margin-left:10px;"><%= link_to "My Orders and Tracking", orders_path %></li>
  <li style="display:inline;margin-left:10px;"><%= link_to "My Wishlist", wish_list_index_path %></li>
  <li style="display:inline;margin-left:10px;"><%= link_to "My Reviews", reviews_path %></li>
  <li style="display:inline;margin-left:10px;"><%= link_to "My Winelist", wine_lists_path %></li>
</ul>
<% end %>