<% products = Product.wine_tours %>
  <% unless products.blank? %>
    <div class="upcoming-event-wrapper" id="box_upcoming_wine_tours">
      <div class="upcoming-event-box">
        <div class="red-heading"><%= "Upcoming Tours" %></div>
        <%- products.each do |product| -%>
          <div class="green-heading"><%= link_to product.name, nested_products_uri(product) %></div>
          <div class="location-row">
            <div class="date-n-time"><%= product.date.strftime("%d %B %Y") if product.date %></div>
            <%if product.location%>  
              <div class="location"><i><img src="/images/location-pin.png" alt="location" title="location">     <%=product.location%></i></div>
            <%end%>
          </div>
          <div class="event-detail">
            <p><%= product.description_short[0..400].html_safe() %>  <%= link_to "Discover more", nested_products_uri(product), :title=>"Discover More" %></p>
          </div>
        <%- end -%>
      </div>
    </div>
  <% end %>