<div class="block" id="box_search_recipes_time">
	<h1>Italian wine and food Online | Award winning wine merchant<!-- Search Recipe --></h1>
	<%= link_to image_tag("20min.png"), :action => :search, :id => 20, :type => params[:type] %><br />
	<%= link_to image_tag("30min.png"), :action => :search, :id => 30, :type => params[:type] %><br />
	<%= link_to image_tag("40min.png"), :action => :search, :id => 40, :type => params[:type] %><br />
	<%= link_to image_tag("60min.png"), :action => :search, :id => 60, :type => params[:type] %>
	<div><%= link_to "GO BACK", :action => :index %></div>
</div>