<div class="block" id="topTextBox">
  <div id="reviews">
    <h3>Our customers say</h3>
   <table>
    <% Testimonial.find(:all,:limit=>4,:order=>'created_at DESC',:conditions=>['UPPER(page_to_display)=?','HOME']).each do |testimonial| %>
      <tr>
        <td>
          <%#= image_tag "default.jpg" %>
          <%# user = User.find_by_id(testimonial.user_id) %>
          <% if testimonial.user_id %>
            <%= link_to avatar_for_user(testimonial.user, 'small'), customer_path(testimonial.user_id), :title => testimonial.user.name  %>
          <% else %>
            <%= image_tag "default.jpg" %>
          <% end %>
          "<%= testimonial.description %>"
        </td>
      </tr>
    <% end %>
</table>
<%= link_to "more", "/testimonial" %>
  <!-- <ul>
      <li>
        <p>
          <%= image_tag "default.jpg" %>

        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "thanks for the prompt and efficient delivery of 24 bottles of olive oil - I am sure our clients will be delighted with their Christmas gifts this year."
        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "Not available in retail outlet. Have not tasted Italian wines as such since visiting Italy 3 years ago"
        </p>
      </li>
      <li>
        <p>
          <%= image_tag "default.jpg" %>
          "Fantastic evening. Food and wine perfectly suited. Will be back and will bring others."
        </p>
      </li>
      <li>
        <p style="text-align:right;"><%= link_to "read all", testimonial_path  %></p>
      </li>
    </ul> -->
  </div>
  <div id="about">
    <h3>About italyabroad.com</h3>
    <%= image_tag "about.png", :style => "float:left" %>
    <% @about = AboutU.find(:first, :conditions => {:link_type => "who we are"} ) %>
    <%= @about.description[1..1186] rescue "Italyabroad.com is the place for Italian wine and food made by small and passionate producers. We are a growing group of passionate people who love what we do; everything started more than 30 years ago when I had my first sip of wine sitting on my granddad knees, he was so proud of his wine that gave a 2 year old nephew a taste. We believe that some of the best Italian wines and food are made by small, passionate producers who respect the environment because they know that, without it, they will be unemployed. They are family run, the whole family works in the vineyards or fields, pasticceria (bakery) or pastificio (where the pasta is made); they are following the family tradition, they are at the 3rd, 4th or even more, generation, and they know everything there is to know; they are so proud of their wines and food that name them after their son or daughter, granddad or father. These are the people behind our products..."%>
    <!--Italyabroad.com is the place for Italian wine and food made by small and passionate producers. We are a growing group of passionate people who love what we do; everything started more than 30 years ago when I had my first sip of wine sitting on my granddad knees, he was so proud of his wine that gave a 2 year old nephew a taste. We believe that some of the best Italian wines and food are made by small, passionate producers who respect the environment because they know that, without it, they will be unemployed. They are family run, the whole family works in the vineyards or fields, pasticceria (bakery) or pastificio (where the pasta is made); they are following the family tradition, they are at the 3rd, 4th or even more, generation, and they know everything there is to know; they are so proud of their wines and food that name them after their son or daughter, granddad or father. These are the people behind our products... -->
    <%= link_to "Read more", about_us_url %>
  </div>
</div>

