<div class="cart-table-head  clearfix">
	<div class="col-xs-6">Product</div>
    <div class="col-xs-6 clearfix center-align no-padding">
    	<div class="col-xs-4">Price</div>
        <div class="col-xs-4">Qty</div>
        <div class="col-xs-4">Total</div>
	</div>
</div>
<%  number_of_wines = 0
	for cart_item in @cart.items %>
	<% product = Product.find(cart_item.product.id)

	if product.categories.root.name == "Wine"
    number_of_wines += cart_item.quantity
	end
%>
	<div class="cart-row  clearfix">
		<div class="col-xs-6 clearfix white-col">
			<div class="col-xs-2">
				<%= show_image_tag(:product_thumb_cart, product.image_1,:jpg,product.name) %>
			</div>
			<div class="col-xs-10 top-20">
				<%= hidden_field_tag "cart[][id]", nil, :value => cart_item.product.id %>
				<%= cart_item.product.name %>
				<% if product.from_quantity > 0 && product.from_quantity_price > 0 && cart_item.quantity < product.from_quantity %>
					<div style="color:red">
          				<!-- ######################################################## -->
          				<!-- THIS HAS BEEN DISABLED BY CLIENT REQUEST   ADDING A false to the condition may require in future -->
						<% if product.categories.root.name == "Wine" and false %>
						(Buy a case of <%= product.from_quantity %> and save <%= number_to_currency product.from_quantity_price, :unit => "&pound;" %>)
						<% elsif product.categories.root.name == "Food" and false %>
						(Buy <%= product.from_quantity %> and save <%= number_to_currency product.from_quantity_price, :unit => "&pound;" %>)
						<% end %>
          				<!-- THIS HAS BEEN DISABLED BY CLIENT REQUEST-->
          				<!-- ######################################################## -->
					</div>
				<% end %>	
			</div>
		</div>
		<div class="col-xs-6 grey-col clearfix">
			<div class="col-xs-4"><%= number_to_currency cart_item.price, :unit => "&pound;" %></div>
			<div class="col-xs-4 disable-field">
				<%= text_field_tag "cart[][quantity]", nil, :value => cart_item.quantity, :size => 2, :maxlength => 2,:disabled=>true %>
			</div>
			<div class="col-xs-4"><%= number_to_currency cart_item.total, :unit => "&pound;" %></div>
		</div>
	</div>
<% end %>
<%- unless @cart.items.blank? -%>
	<div class="cart-row clearfix">
		<div class="col-xs-6 white-col clearfix">
			<div class="col-xs-12 top-bottom-15"><%= @cart.delivery.name %></div>
		</div>
		<div class="col-xs-6 grey-col clearfix top-bottom-15">
			<div class="col-xs-4"><%= number_to_currency @cart.delivery.price, :unit => "&pound;" %></div>
		</div>
	</div>
<% end %>
<div class="right-align">
	<%  if @cart.gift.present? and !@cart.gift[:gift_option_id].blank?
		@gift_option = GiftOption.find(@cart.gift[:gift_option_id]) %>
		<% if @gift_option.present? and @gift_option.price > 0 %>
	      	Your Gift Option is <%= @gift_option.name %>
	      <div>
		  	<%= number_to_currency(@gift_option.price.to_f,:unit=>"&pound;") %>
    		</div>
	<% end end %>
</div>
<%- unless @cart.items.blank? -%>
	<% if number_of_wines >= @setting.wine_discount_number.to_i %>
    	<div class="right-align">
        	<!-- ######################################################## -->
        	<!-- THIS HAS BEEN DISABLED BY CLIENT REQUEST   ADDING A false to the condition may require in future -->
        	<% if false %>
        		<span style="font-size:14px;">
          			<strong>Buy <%= number_of_wines %> wines and get <%= ((@cart.total*(@setting.wine_discount_amount))/100).round(1) %>discount
          			</strong> <%= ((@cart.total*(@setting.wine_discount_amount))/100).round(1) %>
          		</span>
        	<% end %>
        	<!-- ######################################################## -->          
    	</div>
	<% end %>
	<div class="right-align top-30">
		<div class="grand-total">
	    	Total: <b><%= number_to_currency(@cart.total, :unit => "&pound;") %></b>
	    </div>
	</div>
<%- end -%>
