<div class="block" id="box_search_recipes_new">
	<h2 class="green-heading-16">Recipe Search</h2>
  <%= form_tag search_index_path,:class=> 'search_form' , :method => :get do %>
    <%= hidden_field_tag :category , 'recipe' %>
    <div class="left-bar-search">
      <%= text_field_tag :text, '', :class=> "form-control",  "data-autocomplete"=> '/search/autocomplete_search_recipes_name' , :placeholder => "Search Here", :style=>"" %>
      <%#= text_field_tag :text, params[:text], :id => "search_text" %>
      <i class="magnifier"><a href="#." title="Search">
        <%= image_submit_tag "magnifier.png", :style => "border:none" %></a>
      </i>
    </div>
    <div class="sidebar-filter-wrapper">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading-1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1" title="Chef">
                Chef: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :chef, '' , :class=>'field_value' %>
                <% Recipe.users.each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class='field_text'> <%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" title="Course">
                Course: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :recipe_type, '' , :class=>'field_value' %>
                <% Recipe.recipe_types.each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class='field_text'><%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" title="Difficulty">
                Difficulty: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :difficulty, '' , :class=>'field_value' %>
                <% Recipe.difficulties(@search).each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class='field_text'><%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" title="Region">
                Region: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :region_id, '' , :class=>'field_value' %>
                <% Recipe.regions(@search).each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class="field_text"><%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" title="Prepartaion time">
                Preparation time: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :preparation_time, '' , :class=>'field_value' %>
                <% [["Any",""],["Up to 15 minutes","<= 15"],["Up to 30 minutes","<= 30"],["Up to 45 minutes","<= 45"],["Up to 60 minutes","<= 60"],["More than 60 minutes","> 60"]].each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class='field_text'><%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" title="Vegetarian">
                Vegetarian: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :vegetarian, '' , :class=>'field_value' %>
                  <li><span><%= check_box_tag :vegetarian, params[:vegetarian] %></span> <span>Yes</span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" title="Sort by">
                Sort by: <i></i>
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              <ul>
                <%= hidden_field_tag :sort_by, '' , :class=>'field_value' %>
                <% [["Any", ""], ["Difficulty", "recipe_level_id"], ["Preparation Time", "preparation_time"]].each do |item| %>
                  <li><a href="#." title="<%= item[0] %>" value="<%= item[1] %>" class='field_text'><%= item[0] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix filter-submit row">
        <div class="green-button bottom-50 col-xs-6 "><%= submit_tag "Search" %></div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript" src="/javascripts/mine.js"></script>
