<%- if params[:category]
@category = Category.find(params[:category])
 else
@category = Category.find(:first,:conditions=>['LOWER(name = ?)','wine'])
end %>
<%- @parent = Category.find(params[:parent] || "wine") -%>
<%- search_url ||= @category == @parent ? search_index_path(:id => @parent) : nested_categories_url(@parent, @category) -%>
<div class="block center" id="box_wine_search">
  <h3>Wine Search</h3>
  <% form_tag search_url, :method => :get do %>
  <table border="0">
    <tr>
      <td>Text:</td>
      <td><%= text_field_tag :text, params[:text], :id => "search_text" %></td>
    </tr>
    <tr>
      <td>Region:</td>
      <td><%= select_tag :region_id, options_for_select(@category.products.regions.inject([["Any", ""]]) {|rs, r| rs << [r.name, r.id]}, params[:region_id].to_i), :id => "search_region" %></td>
    </tr>
    <tr>
      <td>Grape:</td>
      <td><%= select_tag :grape_id, options_for_select(@category.products.grapes.inject([["Any", ""]]) { |gs, g| gs << [g.name, g.id] }, params[:grape_id].to_i), :id => "search_grape" %></td>
    </tr>
    <tr>
      <td>Colour:</td>
      <td><%= select_tag :color, options_for_select(Product.colors(@category, @search), params[:color]), :id => "search_color" %></td>
    </tr>
    <tr>
      <td>Producer:</td>
      <td><%= select_tag :producer_id, options_for_select(@category.products.producers.inject([["Any", ""]]) { |ps, p| ps << [p.name, p.id] }, params[:producer_id].to_i), :id => "search_producer_name" %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>Organic:</td>
      <% checked = (params[:organic] == 'organic') ? true : false %>
      <td><%= check_box_tag :organic, 'organic',checked  %></td>
    </tr>
    <tr>
      <td>Vegan:</td>
      <% checked = (params[:vegetarian] == 'vegetarian') ? true : false %>
      <td><%= check_box_tag :vegetarian, 'vegetarian', checked  %>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= select_tag :price, options_for_select([["Any Price",""],["Less than £7","< 7"],["From £7 to £11","BETWEEN 7 AND 11"],["From £11 to £15","BETWEEN 11 AND 15"],["From £16 to £20","BETWEEN 11 AND 20"],["More than £30","> 30"]], params[:price]), :id => "search_price" %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td></td>
      <td style="padding:0 0 0 17px;"><%= image_submit_tag "search.png" %></td>
    </tr>
  </table>
  <% end %>
</div>

