<%- @category = Category.find(params[:category] || "hampers") -%>
<%- @parent = Category.find(params[:parent] || "hampers") -%>
<%- search_url = @category == @parent ? search_index_path(:id => @parent) : nested_categories_url(@parent, @category) -%>
<div class="block" id="box_hamper_search">
  <h3>Gift Finder</h3>
  <% form_tag search_url, :method => :get do %>
    <table border="0">
      <tr>
        <td>Text:</td>
        <td><%= text_field_tag :text, params[:text], :id => "search_text" %></td>
      </tr>
      <tr>
        <td>Producer:</td>
        <td><%= select_tag :producer_id, options_for_select(@category.products.producers.inject([["Any", ""]]) { |ps, p| ps << [p.name, p.id] }, params[:producer_id]), :id => "search_producer_name" %></td>
      </tr>
      <tr>
        <td>Organic:</td>
        <td><%= check_box_tag :organic %></td>
      </tr>
      <tr>
        <td>Vegan:</td>
        <td><%= check_box_tag :vegetarian %></td>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><%= select_tag :price, options_for_select([["Any Price",""],["Less than 5","< 5"],["From £5 to £10","BETWEEN 5 AND 10"],["From £11 to £20","BETWEEN 11 AND 20"],["From £21 to £30","BETWEEN 21 AND 30"],["More than £30","> 30"]], params[:price]), :id => "search_price" %></td>
      </tr>
      <tr>
		  <td>Occasion:</td>
		  <% @occasions = Occasion.find(:all)%>
		  <td><%= select_tag (:occasion_id,"<option value="">Any</option>" +  options_from_collection_for_select(@occasions, :id, :name,params[:occasion_id].to_i)) %></td>
    </tr>
      <tr>
        <td></td>
        <td style="padding:0 0 0 17px;"><%= image_submit_tag "search.png" %></td>
      </tr>
    </table>
  <% end %>
</div>

