<% @reviews = reviewer.reviews.all(:conditions=>['publish = ?',true]) %>
<% if @reviews.size > 0 %>
  <ul>
	  <% for review in @reviews %>
	  <li style="border-bottom:0px solid #CCCCCC;margin-top:15px;padding-bottom:10px;list-style-type:none; ">
            <div>
              <div style="margin: 0 5px 5px 0;float:left"><%= avatar_for_user(review.user, "small") %></div>
              <div style="text-align:left;margin: 0 0 5px 15px;float:left">
                <span style="font:bold 13px Arial">
                <% unless review.user.nil? %>
                <%= (review.user.name).capitalize %>

                <% end %>
                </span><br/>
                  <span style="font:10px Arial"> <%= review.created_at.strftime("%d/%m/%Y") %></span><!-- %H:%M %p"--><br/>
                   <span ><%= show_review_ratings(review.reviewer, review.score).html_safe %></span>
              </div>
              <div style="clear:both"></div>
              <div class="description"> <span style="font:10px Arial"><%#= review.description.gsub("\n","<br />") rescue "No description" %></span></div><br />


            </div>

	    <!--<table>
	      <tr>
	        <td><%= avatar_for_user(review.user, "small") %></td>
          <td>
            <table>
              <tr>
                <td style="font:bold 12px Arial"><%= review.user.name %> </td></tr>
                <tr><td><%= review.created_at.strftime("%m/%d/%Y %H:%M %p") %></td></tr>
                <tr><td><%= show_ratings(review.reviewer, review.score) %></td>
              </tr>

            </table>
          </td>
        </tr>

        <tr>
          <td colspan="2"><div class="description">"<%= review.description.gsub("\n","<br />") rescue "No description" %>"</div></td>
       </tr>
      </table>-->
    </li>
	  <%- end -%>
	</ul>
<%- else -%>
    <ul id="no_review">

	    <li>Be the first to review this product and you will receive a £10 voucher</span></li>
	  </ul>
<%- end -%>
<h3>&nbsp;</h3>

