<% @reviews = reviewer.reviews.order('created_at Desc').all(:conditions=>['publish = ?',true]) %>
<% if @reviews.size > 0 %>
  <% for review in @reviews %>
    <div class="latest-review-box view-review">
      <div class="row clearfix">
        <div class="col-xs-2 box-image"><%= avatar_for_user(review.user, "small") %></div>
        <div class="col-xs-10">
          <% unless review.user.nil? %>      
            <div class="reviewer-name"><b><%= (review.user.name).capitalize %></b> - <%= review.created_at.strftime("%d/%m/%Y") %></div>
          <% end %>
          <%if review.score%>
            <div class="star-row">
              <%i = 1 %>
              <%while i <= 5 %>
                <%if i <= review.score%>
                  <span><img src="/images/star-active.png" alt="Star" title="Star"></span>
                <%else%>
                  <span><img src="/images/star.png" title="Star" alt="star"></span>
                <%end%>
                <%i+=1%>
              <%end%>
            </div>
          <%end%>
          <!-- <span><%= show_review_ratings(review.reviewer, review.score).html_safe %></span> -->
          <div>
            <p><%= review.description.gsub("\n","<br />").html_safe rescue "No description" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div>
    <p>Be the first to review this product and you will receive a <%= number_to_currency(10, {:precision => 0, :unit => "&pound;"}) -%> voucher</p>
  </div>
<% end %>
