<div style="padding:0px;margin:0px; vertical-align: middle">
  <span>
  <a title="share this on facebook" href="http://www.facebook.com/sharer.php?u=<%= "#{request.url}"-%>&t=<%= "#{request.url}"-%>" target="blank" style="margin-top: -5px;"><img style="padding-bottom:1px;" src="/images/facebook1.png" height="20" alt="facebook" name="facebook" border="0" id="facebook" style="vertical-align:middle" ></a>
  </span>
  <span style="height:21px;">

  <% if @product %>
	  <a title="tweet about this product" href="https://twitter.com/share?text=<%="#{@product.name.to_s} - @italyabroad"%>&hashtags=<%="#{tweet_hashes(@product)}"%>&url=<%=request.url%>" target="_blank">
	  	<img src="/images/twitter-button1.png" height="22"/>
	  </a>
  <% end %>
</div>
<div ><!-- Share this with: -->

<a rel="nofollow" style="text-decoration:none;" href="http://en.wikipedia.org/wiki/Social_bookmarking" target="_blank"  title="Information"><!--  ?  --></a>
</div>

<br/>

