<table id="shipping_address" border="0" cellspacing="5" cellpadding="5">
  <%- if !ship_address.is_new -%>
      <tr>
        <td colspan="2">
          <table>
            <tr class="edit_delete_shipping_address">
              <td style="background: none repeat scroll 0% 0% rgb(188, 209, 39); text-align: center;">
                <a target="_blank" href="/my-account" style="color: white;">Edit</a>
              </td>
              <td style="background: none repeat scroll 0% 0% rgb(188, 209, 39); text-align: center;" id="delete_shipping_address">
                <%= link_to(content_tag("p", "Delete"), "/site/ship_addresses/#{ship_address.id}", :method => :delete, :confirm => "Are you sure?", :remote => true)-%>
              </td>
            </tr>
          </table>
        </td>
      </tr>
  <%- end -%>
  <tr>
    <td><span style="color:red;font-size:14px;"> * </span>Address ID</td>
    <td><%= text_field :ship_address, :code, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td><span style="color:red;font-size:14px;"> * </span>Full Name</td>
    <td><%= text_field :ship_address, :name, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;Telephone</td>
    <td><%= text_field :ship_address, :telephone, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td><span style="color:red;font-size:14px;"> * </span>Address #1</td>
    <td><%= text_field :ship_address, :address, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;Address #2</td>
    <td><%= text_field :ship_address, :address_2, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td><span style="color:red;font-size:14px;"> * </span>Town</td>
    <td><%= text_field :ship_address, :city, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td><span style="color:red;font-size:14px;"> * </span>Postcode</td>
    <td><%= text_field :ship_address, :cap, :style => "width:180px", :disabled => !ship_address.is_new %></td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;Country</td>
    <td><%= custom_country_select :ship_address, :country, ["United Kingdom"], {}, {:disabled => !ship_address.is_new} %></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;&nbsp;&nbsp;Additional notes<br /><%= text_area :ship_address, :note, :rows => 4, :style => "width:100%" %></td>
  </tr>

  <%- if ship_address.is_new -%>
      <tr>
        <td colspan="2"><%= image_submit_tag("buttons/save_address.png",:id=>"save_me",:ship_id => (ship_address.id || "0")) %></td>
      </tr>
  <%- end -%>
</table>

