<%= content_tag :p, flash[:notice] %>
<% form_for :review, :url => create_url do %>
  <p>
            Title:<br /><%= text_field :review, :name %>
  </p>
  <p>
            Body:<br /><%= text_area :review, :description, :rows => 5, :style => "width:50%" %>
  </p>
  <p>
    Rate: <%= select :review, :score, [5,4,3,2,1] %>
  </p>
  <p>
    <%= submit_tag 'Submit' %>
  </p>
<% end %>