<li class="review <%= cycle('odd', 'even') %>" style="padding:10px;">
  <table width="100%">
    <tr>
      <td style="width:70px;"><%= show_image_tag :product_thumb, review.reviewer.image_1 unless review.reviewer.nil? %></td>
      <td>
        <strong><% if current_user.id.to_i == review.user_id.to_i %>You Wrote:
        <% else %>
        <%= User.find_by_id(review.user_id).name %> Wrote:
        <% end %>
        </strong><br /><br />
        <%= review.description %><br /><br />
        <table width="100%">
          <tr>
            <td style="width:150px;"><strong>You Rated this product:</strong></td>
            <td><%= show_ratings(review.reviewer, review.score) unless review.reviewer.nil? %></td>
            <td align="right">
              <%- if review.reviewer_type == "Product" -%>
              <%= image_tag("WINE_LIST.jpg") if review.reviewer.is_wine? unless review.reviewer.nil?%>
              <%- end -%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</li>

