<div class="hampers-box">
  <div class=" row clearfix">
    <div class="col-md-2">
      <div class="hamper-image auto-width"><%= show_image_tag :product_thumb, review.reviewer.image_1 unless review.reviewer.nil?  %></div>
    </div>
    <div class="col-md-8">
      <div class="hamper-heading">
        <% if current_user.id.to_i == review.user_id.to_i %>You Wrote:
        <% else %>
          <%= User.find_by_id(review.user_id).name %> Wrote:
        <% end %>
      </div>
      <div class="hamper-text">
        <%= review.description.html_safe %>
        <% unless review.reviewer.nil? %>
          <div class="top-30">
            <span><strong>You Rated this product:</strong></span>
            <span class="rating"><%= show_ratings(review.reviewer, review.score).html_safe %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="add-hamper">
        <div class="hamper-price center-align top-60 green-button add-wine">
          <%- if review.reviewer_type == "Product" -%>
            <%= link_to ("Add to Wine List"), "#" if review.reviewer.is_wine? unless review.reviewer.nil?%>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
</div>


