<% @title = 'Review' %>
<% @class = "no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Reviews", reviews_path)} &raquo; #{@review.name}" %>
<div id="header"><%= @review.name %></div>
<div id="recipes_show_container">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top">
        <h3 style="border:none;">Description:</h3>
        <%= @review.description %> <br /><br />
        Review writeen by :<%= @review.user.name %>
      </td>
      <td valign="top" style="padding-left:80px;">
        <h3 style="border:none;">Review of <%= @review.reviewer.name %></h3>
        <table>
        <tr><td>
        <% if !@review.reviewer.image_1.blank? %>
              <%= image_tag image_url(:original, @review.reviewer.image_1) %>
              <% else %>
              <%= image_tag("no_images/product_wine.jpg",:size => "150x150") %>
              <% end %>
        </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td valign="top">Type : <%= @review.reviewer.categories.root.name %><br />
            Avg.Rating:<%= show_ratings(@review.reviewer, @review.reviewer.average_rating_round) %> <br /> Price :
            <% if @review.reviewer.discount > 0 %>
            Was <span style="text-decoration: line-through;"><%= number_to_currency @review.reviewer.price, :unit => "&pound;" %></span>
              <span class="price red" style="color:#003300;">Now&nbsp;<span style="color:red;"><%= number_to_currency @review.reviewer.price_discounted, :unit => "&pound;" %></span></span>
                                  (save <span style="color:red;"><%= number_to_currency (@review.reviewer.price * @review.reviewer.discount / 100), :unit => "&pound;" %></span>)
            <% else %>
              <span class="price" style="color:#003300;"><%= number_to_currency @review.reviewer.price, :unit => "&pound;" %></span>
            <% end %>
        </td>

        </tr>
        </table>

      </td>
    </tr>
  </table>
</div>
<% content_for :right do %>
  <%= render :partial => '/site/shared/box_wine_tours' %>
  <br />
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
<% end %>

