<% @title = 'Review' %>
<% @class = "no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Reviews", reviews_path)} &raquo; #{@review.name}" %>
<div id="header"><%= @review.name %></div>
<div id="recipes_show_container">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top">
        <h3 style="border:none;">Review of <%= link_to @review.reviewer.name,product_path(@review.reviewer)%> </h3>
        Avg.Rating:<%= show_ratings(@review.reviewer, @review.reviewer.average_rating_round) %>
        <%= @review.description %> <br /><br />
        Review written by :<%= link_to @review.user.name, customer_path(@review.user) %> <br />
        <%= link_to '(more reviews)',product_path(@review.reviewer) %>
      </td>
      <td valign="top" style="padding-left:80px;">
        <h3 style="border:none;"></h3>
        <table>
          <tr><td>
            <%# if !@review.reviewer.image_1.blank? %>
            <%#= link_to image_tag site_image_url(:review_thumb, @review.reviewer.image_1) ,product_path(@review.reviewer)%>
            <%# else %>
            <%#= link_to image_tag("no_images/product_wine.jpg",:size => "150x150") ,product_path(@review.reviewer)%>
            <%# end %>

            <%= link_to(image_tag(site_image_url(:review_thumb, @review.reviewer.image_1)) ,product_path(@review.reviewer)) rescue
                link_to (image_tag("no_images/product_wine.jpg",:size => "150x150") ,product_path(@review.reviewer))
            %>



          </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td valign="top">Type : <%= @review.reviewer.categories.root.name %><br /><br />
              <% if @review.reviewer.discount > 0 %>

                  <div class="box_price_product">
                    <ul>
                      <li class="price_info">

                        <div style="font-size:14px;color:#003300;">Was <span style="text-decoration: line-through;"><%= number_to_currency @review.reviewer.price, :unit => "&pound;" %></span></div>
                        <span class="price red" style="color:#003300;">Now&nbsp;<span style="color:red;"><%= number_to_currency @review.reviewer.price_discounted.first, :unit => "&pound;" %></span></span>
                        <br />(save <span style="color:red;"><%= number_to_currency (@review.reviewer.price * @review.reviewer.discount / 100), :unit => "&pound;" %></span>)
              <% else %>
                  <span class="price" style="color:#003300;"><%= number_to_currency @review.reviewer.price, :unit => "&pound;" %></span>
              <% end %> <br /><br />
              <%- if @review.reviewer.out_of_stock? -%>
                  <%= image_tag('out_of_stock.png') %>
              <%- else -%>
                  <%- form_remote_for :cart, :url => product_cart_index_path(@review.reviewer) do  -%>
                      <%= image_submit_tag("buy_ico.png") %>

                  <%- end -%>
              <%- end -%>
              <%= link_to(image_tag("add_to_wish_list.png"), "/site/wish_list?product_id=#{@review.reviewer.id}", :remote => true, :method => :post) %>
              <% if  @review.reviewer.categories.root.name.downcase == 'wine' %>
                  <%= link_to(image_tag("WINE_LIST.jpg"), "/site/wine_lists?product_id=#{@review.reviewer.id}", :remote => true, :method => :post, :style => "color:#464646;") %>
              <% end %>

              </li>
              </ul>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<% content_for :right do %>
    <%= render :partial => '/site/shared/box_wine_tours' %>
    <%= render :partial => '/site/shared/box_grape_guide' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
<% end %>

