<%= errors_for(@mood, "Opps, unable to add new mood").html_safe %>

<p>
<%= f.label :name %>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :image %>
<%= f.file_field :image %>
</p>
<p>
<%= f.submit btn_text %>
</p>
