<%- @title = "Administration - Setting"; @page_id = "Administration" -%>
<%- @breadcrumbs = "Administration &raquo; #{link_to "Settings", admin_settings_path}" -%>

<div class="inner_content settings" id="admin_settings_edit">
  <h2>Settings</h2>
  <br />
  <%= form_for(:setting, :as => @setting, :url => admin_setting_path(@setting), :html => { :multipart => true, :method => :put }) do |form| %>
  <table>
    <tr>
      <td width="290px">Promotion:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :promotion %></td>
    </tr>
    <tr>
      <td>Minimum total order value:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :order_amount %></td>
    </tr>
    <tr>
      <td>Minimum total order value to qualify for free delivery:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :order_delivery_amount %></td>
    </tr>
    <tr>
      <td>Re order level:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :reorder_quantity %></td>
    </tr>
    <tr>
      <td>Vat Rate:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :vat_rate %><br /><small>(enter as comma separted string)</small></td>
    </tr>
    <tr>
      <td>Points on each Pound purchased:</td>
      <td style="padding-left:40px;"><%= text_field :setting, :points_per_pound %><br /></td>
    </tr>
    <tr>
      <td>One Points is equal to  :</td>
      <td style="padding-left:40px;"><%= text_field :setting, :points_to_pound, {:size=>"3"} %>&#163;<br /></td>
    </tr>
    <tr>
      <td>Support : </td>
      <td style="padding-left:40px;"><%= text_field :setting, :support %></td>
    </tr>
    <tr>
      <td>Wine of the week promotional text: </td>
      <td style="padding-left:40px;"><%= text_area :setting, :desc_wine_of_the_week,:size=>'35x5' %></td>
    </tr>
    <tr>
      <td>Food of the week promotional text: </td>
      <td style="padding-left:40px;"><%= text_area :setting, :desc_food_of_the_week,:size=>'35x5' %></td>
    </tr>
    <tr>
      <td valign="top">Wine PDF:</td>
      <td style="padding-left:40px;">
        <%= file_field :wine_pdf, :filename %> <em>(2mb limit)</em>
        <% if @setting && @setting.wine_pdf.present? %>
        <p>
          <%= link_to "#{@setting.wine_pdf.filename}".last(20), @setting.wine_pdf.filename.path %>
          (<%= link_to "Destroy", admin_setting_resource_path(@setting, @setting.wine_pdf), :confirm => "Are you sure?", :method => :delete %>)
        </p>
        <% end %>
      </td>
    </tr>
    <% Setting::IMAGE_NAMES.each do |key| %>
      <tr style="margin-top:20px;">
        <td valign="top"><%="#{key.gsub('_',' ').capitalize}:"%></td>
        <td valign="top">
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td valign="top" style="padding:0;">Image&nbsp;&nbsp;</td>
              <td valign="top" style="padding:0;">
                <%= file_field_tag key.to_sym %> 
                <% #unless %w{sommelier_image wine_mood_image}.include? key %>
                  <em>(must 723x284px)</em>
                <% #end %>
              </td>
            </tr>
            <% if @setting and @setting.method(key).call.present? %>
              <tr>
                <td>&nbsp;</td>
                <td valign="top" style="padding:0;">
                  <%= image_tag(@setting.method(key).call.try(:image_filename).try(:url), height: '150')%>
                  <%= link_to "Destroy", admin_setting_image_url(@setting, @setting.method(key).call), :confirm => "Are you sure?", :method => :delete %>
                </td>
              </tr>
            <% end %>
            <% if @setting && @setting.respond_to?(key+"_title") %>
              <tr>
                <td style="padding:0;">Title</td>
                <td style="padding:0;"><%= text_field :setting, (key+"_title").to_sym %></td>
              </tr>
              <tr>
                <td style="padding:0;">URL</td>
                <td style="padding:0;"><%= text_field :setting, (key+"_url").to_sym %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Home page meta key</td>
      <td style="padding-left:40px;"><%= text_field :setting, :home_page_meta_key %></td>
    </tr>
    <tr>
      <td>Home page meta description</td>
      <td style="padding-left:40px;"><%= text_field :setting, :home_page_meta_description %></td>
    </tr>
    <tr>
      <td>Home page title</td>
      <td style="padding-left:40px;"><%= text_field :setting, :home_page_1_title %></td>
    </tr>
    <tr>
      <td>Quantity of wines for discount</td>
      <td style="padding-left:40px;"><%= text_field :setting, :wine_discount_number,:maxlength=>2 %></td>
    </tr>
    <tr>
      <td>% for discount</td>
      <td style="padding-left:40px;"><%= text_field :setting, :wine_discount_amount,:maxlength=>2 %></td>
    </tr>


    <tr>
      <td></td>
      <td><%= link_to "Click here to manage Mood", admin_moods_index_path -%></td>
    </tr>
     <tr>
      <td colspan="2"><%= submit_tag "Save" %></td>
    </tr>
  </table>
  <% end %>
</div>
