<% @title = "Regions"; @description = "Andrea's Wine Blog, The Italian Wine Blog, A Guide to Italian Wines, Journey Through Italian Wines"; @keys = "Wine Blog,Italian Wine Blog,Italian Red and White Wine,Italian Food,Wine Tasting,Wine Expert" %>
<%- @breadcrumbs = "#{link_to("Home", root_url)}  &raquo; #{link_to("Community", wine_community_path)} &raquo; #{link_to("Regions", site_regions_path)}" -%>

<% @about = AboutU.find(:first, :conditions => {:link_type => "region"} ) %>
  <% if  @about and !@about.image_id.nil? %>
    <div class="main-banner"><%= link_to image_tag(site_image_url('region_card', @about.image, :jpg),:alt=>@about.title) , site_search_index_path(:id => "regions") unless @about.blank? %></div>
  <% else %>
    <div class="main-banner">
      <%= link_to image_tag("blog_home.jpg",:alt=>'Regions'),site_search_index_path(:id => "regions") %>
    </div>
  <% end %>
  <div class="row">
    <div class="full-width clearfix">
      <div class="col-md-12">
        <% if !@about.nil? %>
          <% unless @about.title.blank? %>
            <div class="green-heading-with-border"><%= @about.title if @about %></div>
          <% end %>
        <% end %>
        <div class="green-heading-with-border">Italy and its regions</div>
        <div class="bottom-50"><%= @about.description.html_safe() if @about %></div>
        <div class="green-heading-2">Regions list, click for information</div>
        <div class="row clearfix grape-list">
          <div class="col-md-3 col-xs-6">
            <div class="green-heading">A-G</div>
            <%- for region in @regions_all  -%>
              <% if region.name.upcase =~ /^[A-G]/ %>
                <div><%= link_to region.name, site_region_path(region) %></div>
              <%- end -%>
            <%- end -%>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="green-heading">H-L</div>
            <%- for region in @regions_all -%>
              <% if region.name.upcase =~ /^[H-L]/ %>
                <div><%= link_to region.name, site_region_path(region) %></div>
              <%- end -%>
            <%- end -%>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="green-heading">M-Z</div>
            <%- for region in @regions_all -%>
              <% if region.name.upcase =~ /^[M-Z]/ %>
                <div>
                  <%= link_to region.name, site_region_path(region) if region.name.upcase =~ /^[M-Z]/ %>
                </div>
              <%- end -%>
            <%- end -%>
          </div>
        </div>
      </div>
    </div>
  </div>

  


 <% if params[:search] %>

<% if @regions && @regions.size > 0 %>
	<ul>
	<% for region in @regions %>
	  <li>
      <h2><%= link_to region.name, region.friendly_identifier.blank? ? "regions/#{region.id}" : "regions/#{region.friendly_identifier}" %><%#= show_region_image(region) %></h2>
      <%#= show_region_image(region) %>
      <div><% unless region.description.blank? %>
      <%= region.description[0,250].html_safe() %>
       <%- end -%>
      </div>
      <div>
      <% unless region.producers(:conditions=>['active = ?',true]).blank? %>
      Producers in this region : <%- region.producers.each do |p| -%>
            <%= p.name %>
          <%- end -%>
       <% else %>
       No Producers from this region
       <% end %>
      </div>
      <table width="100%" class="foot">
        <tr>

          <td align="right">

          </td>
        </tr>
      </table>
    </li>
  <% end %>
  </ul>
  <div class="digg_pagination pagination-2 clearfix">
    <div class="page_info show-result">
      <%= page_entries_info @regions %>
    </div>
    <div class="pagination-links">
      <%= will_paginate @regions, :container => false %>
    </div>
  </div>
    
  <% end %>

  <div style="clear:both;"></div>
  <div style="float:right;margin-top:20px;margin-bottom:10px;"><%= render :partial => '/site/shared/social_bookmarks' %></div>
  <% end %>
  <!-- start 3 colum  boxes-->
  <div class="community-row clearfix row">
    <%= render :partial => '/site/shared/our_community' %>
    <%= render :partial => '/site/shared/wine_club' %>
    <%= render :partial => '/site/shared/cercavino' %>
  </div><!-- start 3 colum  boxes-->


