<%- @title = @region.page_title_formatted; 
    @description = @region.meta_description_formatted; 
    @keys = @region.meta_keys_formatted
  @breadcrumbs = "#{link_to("Home", root_url)}  &raquo; #{link_to('Community',wine_community_path)} &raquo;  #{link_to("Regions", site_regions_path)} &raquo; #{@region.name}" -%>
<%- @class = "no-padding" -%>
<% if @region && @region.image %>
  <div class="main-banner">
    <%= image_tag(site_image_url('region_thumb', @region.image, :jpg),:alt=>@region.name,:title=>@region.name) if @region && @region.image %>
  </div>
<% else %>
  <div class="main-banner">
    <%= image_tag("region-home-image.jpg", :alt=>@region.name, :title=>@region.name) %>
  </div>  
<%- end -%>
<div class="row">
  <div class="share-row clearfix">
    <div class="pull-right"><%= render :partial=> '/site/shared/social_bookmarks' %></div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-12">
      <div class="green-heading-with-border"><%= @region.name %></div>
      <div class="quotes"><q><%=@region.region_quote %></q></div>
      <div class="produer-detail-text"><%= @region.description.html_safe() || "Have a look at " %></div>
      <% unless @region.producers(:conditions=>['active = ?',true]).blank? %>
        <div class="green-heading-2">Our producers from <%= @region.name %></div>
      <% end %>
      <%- @region.producers.each do |p| -%>
        <div><%= link_to p.name,site_producer_path(p) %></div>
      <%- end -%>
      <div class="prdoucer-products-wrapper">
        <% unless  @region.products.find(:all,:include => 'product_prices', :conditions=>['active = ? and product_prices.quantity > ?',true,0]).blank? %>
          <div class="producer-products-heading">
            Produce from the region <%= @region.name %>
          </div>
        <% end %>
        <div class="producer-products-row clearfix">
          <%- @region.products.find(:all,:include => 'product_prices', :conditions=>['active = ? and product_prices.quantity > ?',true,0]).each do |product| %>
            <div class="producer-products-col">
              <div class="producer-product-image">
                <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name), nested_products_uri(product) %>
              </div>
              <div class="producer-product-text">
                <%= link_to product.name, nested_products_uri(product) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>