<%- @title = "#{@region.name}"; @breadcrumbs = "#{link_to("Home", root_url)}  &raquo; #{link_to ('Community',wine_community_path)} &raquo;  #{link_to("Regions", regions_path)} &raquo; #{@region.name}" -%>
<%- @class = "no-padding" -%>

<div id="header"><%= @region.name %></div>
<br />
<!--<div style="text-align:center;margin-top:15px;"><%#= image_tag("region-home-image.jpg") %></div> -->
<div>
  <table id="producers_banner">

   <tr><td width="50%" ><%= show_region_image(@region) -%></td>

   <td width="50%" style="font-size:20px;font-weight:lighter;"> <%= @region.region_quote %></td>
    <!--A <strong style="font-size:30px;">blog</strong> dedicated entirely to<br />
    <strong style="font-size:30px;">Italian wine,</strong> follow us in our<br />
    discovery journey, <strong style="font-size:30px;">read news</strong><br />
    and our <strong style="font-size:30px;">views</strong> on Italian wine-->
</tr></table>
</div>


<br />
<div style="margin:0 40px;">
 <!-- <h3 style="text-align:center;border:none;color:#666666;">Region Information</h3> -->
  <%#= @region.description || "No Description" %>
  <span id="region_description"><%= @region.description || "Have a look at " %></span>
  <br /><br />
  <h3 style="font-size:16px;color:#013300;border:none;">Our producers from <%= @region.name %></h3>
  <ul>
  <%- @region.producers.each do |p| -%>
    <li><%= link_to p.name,producer_path(p) %></li>
  <%- end -%>
  </ul>
 <!-- <h3 style="font-size:16px;color:#013300;border:none;">Wine and Food from <%#= @region.name %></h3> -->
 <h3 style="font-size:16px;color:#013300;border:none;">Produce from the region <%= @region.name %></h3>
      <%-
      region_products = ""
      final_region_products = ""
      index = 0
     @region.products.each do |product|
          if index == 0
            region_products += "<tr>"
          end
          region_products += "<td valign='top' class='product_cell' >#{link_to show_image_tag(:region_thumb_small, product.image_1, :jpg), nested_products_uri(product)} <br /> <br /> #{link_to product.name, nested_products_uri(product)}</td>"
          index = index + 1
          if index == 5
            region_products += "</tr>"
            index = 0
          end
       end %>

   <% unless region_products == "" %>
    <% region_products = "<table>#{region_products}</table>" %>
    <%=  "#{region_products}"  -%>
    <%- end -%>
  <!--<ul style="list-style:none;margin:0;padding:0;text-align:center;float:left;">
    <%#- @region.products.each do |product| -%>
    <li style="float:left;width:100px;margin-left:10px;margin-bottom:10px;">
      <%#= link_to show_image_tag(product.layout_image, product.image_1, :jpg), nested_products_uri(product) %><br />
      <%#= link_to product.name, nested_products_uri(product) %>
    </li>  -->
    <%#- end -%>
 <!-- </ul> -->


  <div style="clear:both;"></div>
  <br /><br />
  <br />
</div>

<%- content_for :right do -%>
  <%= render :partial => 'site/shared/box_subscriptions' %>
<%- end -%>

