<table>
  <%= show_messages(flash[:notice]) %>
  <tr>
    <td>Name</td>
    <td><%= text_field :grape, :name %></td>
  </tr>
  <tr>
    <td valign="top">Description</td>
    <td><%= text_area :grape, :description %></td>
  </tr>
  <tr>
      <td>Quote on Grape: </td>
      <td><%= text_field :grape, :grape_quote %></td>
    </tr>
  <tr>
    <td>Image</td>
    <td><%= file_field_tag :image %></td>
    <td><%= image_tag(@grape.image.image_filename.url, height: '150', width: '220') if @grape && @grape.image %></td>
    <td><%= link_to "Destroy", admin_grape_image_path(@grape, @grape.image_id), :confirm => "Are you sure?", :method => :delete if @grape && @grape.image %></td>
  </tr>
  <tr>
    <td valign="top">Producers</td>
    <td valign="top"><%= select :grape, :producer_ids, Producer.find(:all,:order=>'name').collect {|p| [p.name, p.id]}, {}, {:multiple => true} %></td>
  </tr>
</table>
