<% @title = "Edit #{@grape.name}"; @page_id = "Grapes" %>
<%- @breadcrumbs = "Grapes &raquo; #{link_to "Grapes", admin_grapes_path} &raquo; #{@title}" -%>

<div class="inner_content grapes" id="admin_grapes_edit">
  <h2><%= @title %></h2>
  <br />
  <%= form_for :grape, :url => admin_grape_path(@grape), :html => {:multipart => true, :method => :put} do %>
    <%= render :partial => 'form' %>
    <p>
      <%= submit_tag "Save" %> or <%= link_to("Cancel", admin_grapes_path) %>
    </p>
  <% end %>
</div>