<%- @title = "Administration - Categories"; @page_id = "Catalog" -%>
<%- @breadcrumbs = "Catalog &raquo; #{link_to "Categories", admin_categories_path}" -%>

<div class="inner_content categories" id="admin_categories_index">
  <h2>Categories</h2>
  <br />
  <table>
    <tr>
      <td>&nbsp;</td>
      <td align="right"><%= link_to "New Category", new_admin_category_path %></td>
    </tr>
  </table>
  <table id="category-list" class="list sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="nosort"></th>
      </tr>
    </thead>
    <tbody>
      <%- @data.each do |category| -%>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= category["id"] %></td>
        <td><%= category["text"].html_safe() %></td>
        <td><%= link_to "Edit", edit_admin_category_path(category["id"]) %> | <%= link_to "Delete", admin_category_path(category["id"]), :method => :delete, :confirm => "Are you sure want to delete this category?" %></td>
      </tr>
      <%- category["children"].each do |children| -%>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= category["id"] %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= children["text"].html_safe() %></td>
        <td><%= link_to "Edit", edit_admin_category_path(children["id"]) %> | <%= link_to "Delete", admin_category_path(children["id"]), :method => :delete, :confirm => "Are you sure want to delete this category?" %></td>
      </tr>
      <%- end -%>
      <%- end -%>
    </tbody>
  </table>
</div>