<fieldset id="general_information">
	<table border="0" cellspacing="5" cellpadding="5">
	  <tr>
	    <td style="text-align:right" valign="top">Product Name:</td>
	    <td><%= text_field :product, :name %></td>
    </tr>
	  <tr>
	    <td style="text-align:right">Product Code:</td>
	    <td><%= text_field :product, :code %> <em>(for internal use)</em></td>
    </tr>
		<tr>
		  <td style="text-align:right">Product Date:</td>
		  <td><%= datetime_select :product, :date %> <em>(useful for events)</em></td>
    </tr>
		<tr>
		  <td style="text-align:right">Short Description:</td>
		  <td><%= text_area :product, :description_short, :rows => 3 %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Long Description:</td>
		  <td><%= text_area :product, :description, :rows => 10 %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Producer Name:</td>
		  <td><%= select :product, :producer_id, Producer.find(:all,:order=>'name asc').inject([["No Producer", ""]]) {|ps, p| ps << [p.name, p.id]} %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Price:</td>
		  <td><%= text_field :product, :price, :size => 20 %> </td>
    </tr>
		<tr>
		  <td style="text-align:right">Rate:</td><td>
		  <%#= select :product, :rate, ["17.5%","0%"] %>
		  <% @setting = Setting.find(:first) %>
		  <select name="product[rate]" id="prodct_rate" >
		  <% vat = @setting.vat_rate.split(",") %>
		  <% vat.length.times do |i| %>
		  <%-if vat[i].strip.to_s + "%" == @product.rate
         selected = "selected=\"selected\""

          else
          selected = ""

          end
          -%>
        <option value="<%= vat[i].strip.to_s + '%' %>"  <%= selected %> > <%= vat[i].strip.to_s + '%'%></option>
       <% end %>
        <option value="0%">0%</option>

      </select>

		  </td>
    </tr>
		<tr>
		  <td style="text-align:right">From Quantity:</td>
		  <td><%= text_field :product, :from_quantity, :size => 2 %> customer save: <%= text_field :product, :from_quantity_price, :size => 20 %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Cost:</td>
		  <td><%= text_field :product, :cost, :size => 20 %> <em>(for internal use)</em></td>
    </tr>
		<tr>
		  <td style="text-align:right">Discount:</td>
		  <td><%= text_field :product, :discount, :size => 5 %> <em>(to apply on retail price)</em></td>
    </tr>
		<tr>
		  <td style="text-align:right">Quantity:</td>
		  <td><%= text_field :product, :quantity, :size => 3, :maxlength => 3 %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Active:</td>
		  <td><%= check_box :product, :active %>
    </tr>
    <tr>
      <td style="text-align:right">Recommended:</td>
      <td><%= check_box :product, :raccomanded %></td>
    </tr>
    <tr>
      <td style="text-align:right">Featured:</td>
      <td><%= check_box :product, :featured %></td>
    </tr>
		<tr>
		  <td style="text-align:right">Rating:</td>
		  <td><%= select :product, :rating, (1..5) %></td>
    </tr>
    <tr>
		  <td style="text-align:right">Occasion Name:</td>
		  <td><%= select :product, :occasion_id, Occasion.all.inject([["No Occasion", "0"]]) {|ps, p| ps << [p.name, p.id]} %></td>
    </tr>
	</table>
</fieldset>

