<fieldset id="images_information">
	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
		  <td style="text-align:right;width:150px;">Image 1:</td>
		  <td><%= file_field_tag :image_1 %></td>
			<td><%= image_tag(image_url('product_thumb', @product.image_1, :jpg)) if @product && @product.image_1 %></td>
			<td style="text-align:center"><% if @product && @product.image_1 %> <%= link_to "Destroy", admin_product_image_url(@product, @product.image_1), :confirm => "Are you sure?", :method => :delete %> <% end %></td>
		</tr>
		<tr>
		  <td style="text-align:right;width:150px;">Image 2:</td>
		  <td><%= file_field_tag :image_2 %></td>
		  <td><%= image_tag(image_url('product_thumb', @product.image_2, :jpg)) if @product && @product.image_2 %></td>
		  <td style="text-align:center"><% if @product && @product.image_2 %> <%= link_to "Destroy", admin_product_image_url(@product, @product.image_2), :confirm => "Are you sure?", :method => :delete %> <% end %></td>
		</tr>
		<tr>
		  <td style="text-align:right;width:150px;">Image 3:</td>
		  <td><%= file_field_tag :image_3 %></td>
		  <td><%= image_tag(image_url('product_thumb', @product.image_3, :jpg)) if @product && @product.image_3 %></td>
			<td style="text-align:center"><% if @product && @product.image_3 %> <%= link_to "Destroy", admin_product_image_url(@product, @product.image_3), :confirm => "Are you sure?", :method => :delete %> <% end %></td>
		</tr>
	</table>
</fieldset>