<% @title = "Edit #{@product.name}"; @page_id = "Catalog" %>
<%- @breadcrumbs = "Catalog &raquo; #{link_to "Products", admin_products_path} &raquo; #{@title}" -%>

<div class="inner_content products" id="admin_products_edit_how_to_cook">
  <h2><%= @title %></h2>
  <br />
  <%= render :partial => 'product_links', :locals => {:active => 'how_to_cook'} %>
  <%= form_for :product, :url => admin_product_path(@product), :html => {:method => :put} do %>
		<%= render :partial => "form_how_to_cook" %>
  	<p>
  	 <%= submit_tag "Save" %> or <%= link_to "Cancel", admin_products_path %>
  	</p>
  <% end %>
</div>