<% @title = "Edit #{@product.name}"; @page_id = "Catalog" %>
<%- @breadcrumbs = "Catalog &raquo; #{link_to "Products", admin_products_path} &raquo; #{@title}" -%>

<div class="inner_content products" id="admin_products_edit_images">
  <h2><%= @title %></h2>
  <br />
  <%= render :partial => 'product_links', :locals => {:active => 'images'} %>
  <%= form_tag "/admin/products/#{@product.id}", :method => "put", :multipart => true do %>
      <%= render :partial => "form_images" %>
      <p>
        <%= submit_tag "Save" %> or <%= link_to "Cancel", admin_products_path %>
      </p>
  <% end %>
</div>