
<% @title = "New #{params[:type]}"; @page_id = "About us" %>
<%- @breadcrumbs = "#{params[:page_type]} &raquo; #{link_to params[:type]} &raquo; #{@title}" -%>
<br/>
  <h2><%#= @title %></h2>
  <h2><%= params[:type] %></h2>
  <br />
<% form_tag admin_about_us_path,:multipart=>true do %>

  <fieldset>
  <%= hidden_field(:about_u, :link_type, :value => params[:type]) %>
    <p>
      <span style="font:normal 15px Arial;padding-right:60px">Title</span>
    <%= text_field :about_u, 'title',:size => 70 %>
  </p>
    <p>
    <div style="float:left;height:300px;font:normal 15px Arial;padding:110px 14px 0 0;">Description</div>
    <div><%= text_area :about_u, 'description', :cols => 80, :rows => 25 %>
    </div></p>
 <p>
    <span style="font:normal 15px Arial;padding-right:60px">Image</span>
    <tr>
      <td><%= file_field_tag :image %></td>
        <td><%= image_tag(@about_u.image.image_filename.try(:url), height: '150', width: '220') if @about_u && @about_u.image && @about_u.image.image_filename.present? %></td>
    </tr>
  </p>
  <p>
    <%= submit_tag 'Create' %> or <%= link_to "Cancel", siteadmin_path %>
  </p>
  </fieldset>
<% end %>
