<% @title = "My Wishlist"; %>
<%- @breadcrumbs = "#{link_to "Home", root_url, :title=>"Home"} &raquo; My Wishlist" -%>
<% @class = "no-padding" %>
<%= render :partial => 'site/shared/box_login' %>
<div class="full-width bottom-50">
	<div class="green-heading-with-border">
		My Wishlist
	</div>
	<% if @wish_lists.size == 0 %>
		<div class="align-center bottom-50">You don't have any products in your wish list.</div>
	<% else %>
	<%= product_id = "" %>
  	<% for wish_list in @wish_lists  %>
  		<% if product_id.to_i != wish_list.product_id %>
  			<% product = wish_list.product %>
				<div class="hampers-box">
			        <div class=" row clearfix">
			            <div class="col-md-2">
			                <div class="hamper-image">
			                	<%= show_image_tag(product.layout_image, product.image_1,:jpg,product.name) %>
			                </div>
			            </div>
			            <div class="col-md-8">
			                <div class="hamper-heading"><%= product.name %></div>
			                <div class="hamper-text">
			                    <%= product.description_short.html_safe() %>
			                </div>
			            </div>
			            <div class="col-md-2">
			            	<div class="hamper-price center-align">
			                    <%= number_to_currency(product.price,{:unit => "&pound;"}) %>
			                </div>
			            	<div class=" center-align" style="margin: 20px 0px;">
			            		<div class="green-button">
			            			<%- if product.out_of_stock? -%>
			        					<div class="red-text"><b>Out of Stock</b></div>
			      					<%- else -%>
                    					<%= link_to("Add to Cart", "/site/cart?product_id=#{product.id}", :remote => true, :method => :post), :title=>"Add to cart" -%>
			      					<%- end -%>
			      				</div>
			      			</div>
			      			<div class="wishlist-row row clearfix">
			      				<div class="wish-list">
                            		<i><img src="/images/heart-icon.png" alt="heart" title="Wis List"></i> 
                            		<%= link_to "Remove from Wish list", site_wish_list_path(product, wish_list), :method => :delete, :confirm => "Are you sure want to delete this product from your wish list?", :title=>"Remove form wish list" %>
                          		</div>
                          	</div>
			            </div>
			        </div>
			    </div>
		    <%  product_id = wish_list.product_id end %>
		<% end %>
    <% end %>	
</div>


