<%- @title = "Comments"; @class = "no-padding" -%>
<%- @breadcrumbs = "#{link_to "Home", root_url} &raquo;Comments" -%>

<div id="header"><%= render :partial => 'site/shared/box_login' %></div>
<h4 class="account-title"> Comments</h4>
<div class="digg_pagination pagination-2 clearfix">
  <div class="page_info show-result">
    <%= page_entries_info @comments %>
  </div>
  <div class="pagination-links">
    <%= will_paginate @comments, :container => false %>
  </div>
</div>

<ul style="padding:0;list-style:none;" id="my_reviews_list">
   <%= render :partial => 'comment', :collection => @comments %>
</ul>

<%- content_for :right do -%>
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<%- end -%>

