<% if logged_in? %>
  <%= form_tag forum_topic_monitorship_path(@forum, @topic), :style => 'margin-top:0em; float:right;' do -%>
    <div>
      <input id="monitor_checkbox" type="checkbox" <%= "checked='checked'" if @monitoring %>
        onclick="if (this.checked) {<%= remote_function :url => forum_topic_monitorship_path(@forum, @topic) %>} else {<%= remote_function :url => forum_topic_monitorship_path(@forum, @topic), :method => :delete %>}" />
      <label id="monitor_label" for="monitor_checkbox"><%= @monitoring ? 'Monitoring topic' : 'Monitor topic' %></label>
      <%= hidden_field_tag '_method', 'delete' if @monitoring %>
      <%= submit_tag :Set, :id => 'monitor_submit' %>
    </div>
  <% end -%>

<% end -%>
