<%- set_title "Community-#{@forum.name}" -%>
<% @page_title = @topic.title %>
<% @monitoring = logged_in? && !Monitorship.count(:id, :conditions => ['user_id = ? and topic_id = ? and active = ?', current_user.id, @topic.id, true]).zero? %>

<div id="wineBanner"><%= image_tag("forum-topics-post.jpg") %></div>
<div style="margin:10px;">
  <h1 style="text-align:center;font-size:20px;color:#666666;">Forum - <%= link_to h(@topic.forum.name), forum_path(@topic.forum) %></h1>
  <%= render :partial => "site/topics/monitorship" %>
  <%= render :partial => "site/forums/welcome_user" %>
  <div class="f-border">
    <p><strong>Italyabroad General Discussions</strong></p>
    <p>
      <strong <%= %( onmouseover="$('topic_mod').show();" onmouseout="$('topic_mod').hide();") if logged_in? %>> <%= h @topic.title %></strong>
      <%= render :partial => "site/topics/editable" %>
      <% if @topic.locked? %>
        <span>(<%= 'locked' %>)</span>
      <% end %>
    </p>
    <table cellspacing="0" cellpadding="0" class="border">
      <% @posts.each_with_index do |post, i|%>
        <tr>
          <th class="f-bold"><%=h post.user.name  %></th>
          <th class="f-bold" colspan="2">
            <span style="float:left;">post <%= time_ago_in_words(post.created_at) %></span>
            <span style="float:right;">#post<%= i+1 %></span>
          </th>
        </tr>
        <tr>
          <td class="post-text" width="22%"> <%= avatar_for_user(post.user, "small") %><br />
               Group: <%= post.user.group %><br/>
               Posts: <%= post.user.posts_count %><br/>
               Joined: <%= humanize_date(post.user.created_at) %> <br />
               Member id: <%= post.user.login   %><br/><br/>
               <%= image_tag "offline.png" %> &nbsp; <%#= image_tag "pm.png" %>
               <%= render :partial => "site/posts/edit_link", :locals => {:post => post} %>
          </td>
          <td valign="top" class="post-text" style="border-right:none;" id="post-body-<%= post.id %>"><%= post.body_html %></td>
          <td style="border-left:none;" valign="bottom" width="57px"><%= image_tag "quote.png"%></td>
        </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @posts %>
  <%= render :partial => "site/posts/reply_box" %>
</div>


<% content_for :right do -%>
  <%= render :partial => '/site/shared/box_products_on_offer' %>
  <br />
  <%= render :partial => '/site/shared/box_wine_tours' %>
  <%= render :partial => '/site/shared/box_grape_guide' %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
  <br />
  <%= render :partial => '/site/shared/social_follow' %>
<% end -%>