<table>
  <tr>
    <td valign="top">Name</td>
    <td><%= text_field :region, :name %></td>
  </tr>
  <tr>
    <td valign="top">Description</td>
    <td><%= text_area :region, :description %></td>
  </tr>
  <tr>
      <td>Quote on Region: </td>
      <td><%= text_field :region, :region_quote %></td>
    </tr>
    <tr>
    <td>Image</td>
    <% fields_for :image do %>
    <td><%= file_field :image,:image_file %></td>
     <% end %>
  </tr>
  <tr>
    <td valign="top">Producers in this region</td>
    <td><%= select :region, :producer_ids, Producer.all.collect { |p| [p.name, p.id] }, {}, {:multiple => true} %></td>
  </tr>
</table>

