<%- @title = "Regions"; @page_id = "Grapes" -%>
<%- @breadcrumbs = "Grapes &raquo; #{link_to "Regions", admin_regions_path}" -%>

<div class="inner_content regions" id="admin_regions_index">
  <h2>Regions</h2>
  <br />
  <table>
    <tr>
      <td></td>
      <td align="right"><%= link_to "New Region", new_admin_region_path %></td>
    </tr>
  </table>
  <table id="region-list" class="list sortable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
       <!-- <th>Producers in this region</th>
        <th class="nosort"></th> -->
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2"><%= will_paginate_(@regions) %></td>
        <td colspan="2" align="right"><%= page_entries_info_ @regions %></td>
      </tr>
    </tfoot>
    <tbody>
      <%- for region in @regions -%>
      <tr>
        <td valign="top"><%= region.id %></td>
        <td valign="top"><%= link_to region.name, region_path(region) %></td>
       <!--<td valign="top" style="width:50%"><%#= region.description %></td> -->
       <!-- <td valign="top">
          <ol>
          <%#- region.producers.each do |p| -%>
            <li><%#= p.name %></li>
          <%#- end -%>
          </ol>
        </td> -->
        <td valign="top"><%= show_region_image(region) %></td>
        <td valign="top"><%= link_to "Edit", edit_admin_region_path(region) %> | <%= link_to "Destroy", admin_region_path(region), :method => :delete, :confirm => "Are you sure want to delete this region?" %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

