<%- @title = @producer.page_title_formatted; 
    @description = @producer.meta_description_formatted; 
    @keys = @producer.meta_keys_formatted
    
    @class = "no-padding";
    @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo;#{link_to('Community',wine_community_path, :title=>"Community")}&raquo; #{link_to("Producers", producers_path, :title=>"producer")} &raquo; #{@title}".html_safe()
-%>
<div class="main-banner">
  <%= show_producer_image1(@producer) -%>
</div>
<div class="row">
  <div class="share-row clearfix">
    <div class="pull-right"><%= render :partial => '/site/shared/social_bookmarks' %></div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-12">
      <div class="green-heading-with-border"><h1><%= @title %></h1></div>
      <div class="produer-detail-text"><%= @producer.description.try(:html_safe) || "No Description" %></div>
      <% if @producer.grapes.count > 0 %>
        <h2 class="green-heading-2">
          Grapes grown by  <%= @producer.name %>
        </h2>
      <%- end -%>
      <%- @producer.grapes.each do |grape| -%>
        <div class="producer-link"><%= link_to grape.name, grape_path(grape), :title=>grape.name %></div>
      <%- end -%>
      <%- if @producer_products = @producer.products.find(:all, :include => 'product_prices', :conditions=>['active = ? and product_prices.quantity > ?',true,0]) %>    
        <div class="prdoucer-products-wrapper">
          <h2 class="producer-products-heading"><%= @producer.producer_text %> </h2>
          <div class="producer-products-row clearfix">
            <% @producer_products.each do |product| %>
              <div class="producer-products-col">
                <div class="producer-product-image">
                  <%= link_to show_image_tag(product.layout_image, product.image_1, :jpg,product.name), nested_products_uri(product), :title=>product.name %>
                </div>
                <div class="producer-product-text">
                  <%= link_to product.name, nested_products_uri(product), :title=>product.name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

