<%- @title = @producer.name; @class = "no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; Producer &raquo; #{@title}" -%>

<div id="header"><%= @title %></div>
<div style="text-align:center;margin-top:15px;"><%= image_tag("region-home-image.jpg") %></div>
<br />
<div style="margin:0 40px;">
  <h3 style="text-align:center;border:none;color:#666666;">Producer Information</h3>
  <div><%= show_producer_image(@producer) %></div>
  <%= @producer.description || "No Description" %>
  <br />
  <% if @producer.grapes.count > 0 %>
  <h3 style="font-size:16px;color:#013300;border:none;">Grapes grown by this producer</h3>
  <%- end -%>
  <ul>
  <%- @producer.grapes.each do |grape| -%>
    <li><%= link_to grape.name, grape_path(grape) %></li>
  <%- end -%>
  </ul>

    <%-
      wine = ""
      food = ""
      final_food = ""
      final_wine = ""
      index = 0
      @producer.products.each do |product|
        if product.categories.root.root.name == "Food"
          if index == 0
            food += "<tr>"
          end
          food += "<td valign='top' class='product_cell' >#{link_to show_image_tag(product.layout_image, product.image_1, :jpg), nested_products_uri(product)} <br /> <br /> #{link_to product.name, nested_products_uri(product)}</td>"
         index = index + 1
          if index == 4
            food += "</tr>"
            index = 0
          end
       end

        if product.categories.root.root.name == "Wine"
         if index == 0
          wine += "<tr>"
         end
         wine += "<td valign='top'   class='product_cell' >#{link_to show_image_tag(product.layout_image, product.image_1, :jpg), nested_products_uri(product)} <br /><br /> #{link_to product.name, nested_products_uri(product)}</td>"
         index = index + 1
         if index == 4
          wine += "</tr>"
          index = 0
        end
      end
   end -%>
    <% unless wine == "" %>
    <% final_wine = "<table>#{wine}</table>" %>
    <%=  "<h3 style=\"font-size:16px;color:#013300;border:none;\">Wines made from this producer</h3> #{final_wine}"  -%>
    <%- end -%>

  <% unless food == "" %>
    <% final_food = "<table>#{food}</table>" %>
    <%=  "<h3 style=\"font-size:16px;color:#013300;border:none;\">Foods made from this producer</h3> #{final_food} "  -%>
    <%- end -%>



  <div style="clear:both;"></div>
  <br /><br />
  <br />
</div>

<%- content_for :right do -%>
  <%= render :partial => 'site/shared/box_subscriptions' %>
<%- end -%>

