<% @title = "Italian Wines & Italian Food made by Small Producers" %>
<%# @title = "Italian Wines & Italian Food made by Small Producers";
#@description = "Italian Food and Italian Wine made by Passionate Small Producers in the UK,Fantastic Italian Wine and Italian Food,High Quality Italian Wine and Food"; @keys = "Italian Wines,Fine Italian Wines,Italian Red and White Wines, Italian Food, Wine Tasting, Wine Expert,Italian Wine Blog,Italy,Food,Wines,Barolo,Amarone,Brunello"
%>
<%  @description = @setting.home_page_meta_description; @keys = @setting.home_page_meta_key %>
<!--<script type="text/javascript">
/*function win1()
{
  var win = new Window({id: "win1", className: "alphacube",title:'Welcome to the new Italyabroad.com', width:380, height:150, top:0, left: 1, parent:$('container')});
  win.getContent().innerHTML = "<p>We have just relaunched our website adding plenty of new functionalities, we have done all tests and everything seems to be working fine, however, we ask you to be patient in case something does not work the way it is supposed to and please let us know so we can give it our immediate attention.</p>";

  win.setDestroyOnClose();
  win.show();
  win.setConstraint(true, {left:10, right:20})
  win.toFront();
}
*/



</script> -->
<style>


    #container {
        position:absolute;
        top:150px;
        left:600px;
        width:380px;
        height:100px;
        z-index:auto;
    }
</style>
<!-- <div id="container"></div> -->
<%#if !cookies[:display]
            cookies[:display] = {:value => 'true',
   :expires => 1.days.from_now }
%>
<!--<script>
// win1();
</script> -->
<%#end%>


<%- @breadcrumbs = "Welcome to Italyabroad.com" -%>

<% if !@setting.nil? %>
  <% if @setting.wine_mood_image %>
   <div class="main-banner"> <%= image_tag(@setting.wine_mood_image.image_filename.url) %></div>
  <%end%>
<% else %>
  <div class="main-banner"><%= image_tag("/images/mood-banner.jpg")-%></div>
<%end%>
<%- if !params[:category].blank?
  @category = Category.find(params[:category])
else
  @category = Category.find(:first,:conditions=>['LOWER(name = ?)','wine'])
end %>
<%- @parent = Category.find(params[:parent] || "wine") -%>
<%- search_url ||= @category == @parent ? site_search_index_path(:id => @parent) : nested_categories_url(@parent, @category) -%>

<div class="new_search">
  <%= form_tag search_url, :method => :get do %>
    <%= hidden_field_tag :id,@category.name.downcase if !@category.nil? %>
    <div class="green-heading-with-border">How you feeling today?</div>
    <div class="row clearfix bottom-50 center-align">
      <% for mood in @moods %>
        <div class="col-xs-4 col-md-2 mood-selection">
          <div class="">
            <%= image_tag("#{mood.try(:image).url}")-%>
          </div>
          <div><%= radio_button_tag :mood, mood.id %></div>
          <div><%= mood.name.upcase-%></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<% content_for :right do %>
    <%= render :partial => '/site/shared/box_event' %>
    <br />
    <%= render :partial => '/site/shared/box_subscriptions' %>
    <br />
    <%= render :partial => '/site/shared/box_latest_community_comments' %>
    <br />
    <%= render :partial => '/site/shared/box_blog' %>
    <br />
    <%= render :partial => '/site/shared/box_popular' %>
    <br />
    <%= render :partial => '/site/shared/social_follow' %>
<% end %>

<script type="application/javascript">
  $(".new_search input").change(function(){
      if($(this).is(":checked")){
          $(".new_search form").submit()
      }
  })
</script>