<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= javascript_include_tag "prototype", :juggernaut %>
    <%= stylesheet_link_tag "chat", :cache => true %>
    <% unless session[:chat_user_name].blank? %>
    <%= juggernaut(:channels => session[:juggernaut_channels], :client_id => session[:chat_user_name], :debug => false) %>
    <% end -%>
<script type="text/javascript" >
function scrollup(chat_data){
var objDiv = document.getElementById(chat_data);
objDiv.scrollTop = objDiv.scrollHeight;

}
</script>
  </head>
  <body>
    <div>
      <h3>Welcome to the Italyabroad.com live chat</h3>
      <p class="flash"><%= flash[:notice] %></p>
      <% if !session[:chat_user_name].blank? %>
      <div id="chat_data"></div>

      <p>

        <%= form_remote_tag(
          :url => { :action => :send_data },
          :complete => "$('chat_input').value = ''" ) %>

        <% if session[:chat_user_name] == "admin" %>
        <%= hidden_field_tag "reply_to" ,"", {:id => 'reply_to'} %>
        <%= label_tag "","Click on \"Reply\" to select a Chat User", {:id => 'label_reply'} %>
        <% end %>

        <%= text_field_tag( 'chat_input', '', { :size => 48 , :id => 'chat_input'} ) %>
        <%= submit_tag "send" %>

      </p>
    </form>
  </div>
    <% else %>
    <div>
      As you are not logged in!!,<br/> Please enter a "user name" to continue chat session
      <% form_tag :action => :create_chat_user do %>
      <%= text_field_tag "chat_user"  %>
      <%= submit_tag "Submit" %>
      <% end %>
    </div>
    <% end %>
</body>
</html>

