<% @title = "Authentic Italian recipes, pasta, antipasti, pesce, carne"; @description = "Authentic italian recipes directly from our grandma secret book, pasta, antipasti,starter, the most authentic Italian recipes for you to recreate at home the italian meal"; @keys ="pasta, lasagne, carne, bolognese, cantuccini, panettone, pandoro, fagioli, osso buco, arancini, pollo" %>

<%- @breadcrumbs = "#{link_to("Home", root_url, :title=>"Home")} &raquo; #{link_to("Recipes", '/recipes', :title=>"Recipes")}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "recipe"} ) %>
<div id="wineBanner" class="main-banner">
<% if @about and !@about.title.blank? %>
  <span class="recipes_home_title"  style="background-color:black;padding:8px;opacity:0.8; filter:alpha(opacity=80);">
   <%= @about.title  %>

  </span>
  <% end %>

  <% if  @about and !@about.image_id.nil? %>
  <%= link_to image_tag(@about.image.image_filename.url,:alt=>"Recipes Banner", :title=>"Recipes Banner") , search_index_path(:id => "recipe"), :title=>"Recipes Banner" unless @about.blank? %>
  <% else %>
  <%= link_to image_tag("recipes.jpg",:alt=>'Recipes',:title=>'Recipes'), search_index_path(:id => "recipe"), :title=>"Recipes" %>
  <% end %>
</div>
<div class="row">
  <div class="two-colum-row clearfix">
    <div class="col-md-3 left-side-bar">
      <%= render :partial => '/site/shared/box_search_recipes_new' %>
    </div>
    <div class="col-md-9">
      <div class="hampers-wrapper-2">
        <div class="green-heading-with-border"><h1>Italian wine and food Online | Award winning wine merchant<!-- About Italian food --></h1></div>
        <div class="row clearfix recipe-top-box">
          <div class="col-xs-2 box-image"><%= image_tag("italian-food-image-01.png", :alt=>'About Italian Food', :title=>'About Italian Food') %></div>
          <div class="col-xs-10">
            <%= @about.description.html_safe if @about %>
          </div>
        </div>
        <!-- Start Latest added recipes-->
        <div class="latest-recipe-box">
          <h2 class="green-heading-2">Latest Added Recipes</h2>
          <div class="row clearfix bottom-15">
            <%- Recipe.active.latest.paginate(:page => params[:page], :per_page => 3).each do |recipe| -%>
              <div class="col-md-4">
                <div class="recipe-box">
                  <div class="green-heading-16"><%= link_to recipe.name, recipe_path(recipe), :title=>recipe.name %></div>
                  <div class="row clearfix">
                    <div class="col-xs-5 box-image">
                      <% begin %>
                        <%= link_to image_tag(image_url('recipe_thumb', recipe.image_1, :jpg), :size => "100x75", :alt=>recipe.name, :title=>recipe.name), recipe_path(recipe), :title=>recipe.name %>
                      <% rescue %>
                        <%= link_to image_tag("no_images/PastaRecipe.jpg",:size => "100x75",:alt=>recipe.name,:title=>recipe.name), recipe_path(recipe), :title=>recipe.name %>
                      <% end %>
                    </div>
                    <div class="col-xs-7">
                      <div><b>Course:</b> <%= recipe.recipe_type.name %></div>
                      <div><b>Difficulty:</b> <%= recipe.recipe_level.name %></div>
                      <div><b>Prep time:</b> <%= recipe.preparation_time %> min</div>
                      <div><b>Added by:</b> 
                        <% if recipe.user_id == 3 %>
                          Guest
                        <%else%>
                          <%= link_to recipe.user.name.capitalize,customer_path(recipe.user.id), :title=>recipe.user.name rescue "Admin" %>
                        <% if !recipe.user.nil? %>
                          <%#= link_to recipe.user.establishment_link,recipe.user.establishment_link%>
                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="instructions">
                    <%= link_to "Ingredients and cooking instructions", recipe_path(recipe), :title=>"Ingredients and cooking instructions" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div><!-- End Latest added recipes-->
        <!-- Start Latest added recipes 2-->
        <div class="latest-recipe-box">
          <h2 class="green-heading-2">Most Viewed Recipes</h2>
          <div class="row clearfix bottom-15">
            <%   Recipe.most_viewed_recipes.paginate(:page => params[:page], :per_page => 3).each do |recipe| -%>
              <div class="col-md-4">
                <div class="recipe-box">
                  <div class="green-heading-16">
                    <%= link_to recipe.name, recipe_path(recipe), :title=>recipe.name %>
                  </div>
                  <%= show_ratings(recipe, recipe.average_rating_round).html_safe() %>
                  <div class="row clearfix">
                    <div class="col-xs-5 box-image">
                      <% if !recipe.image_1.blank? %>
                        <%= link_to image_tag(image_url('recipe_thumb', recipe.image_1, :jpg), :alt=>"Recipe", :title=>"Recipe"), recipe_path(recipe), :title=>"Recipe" if image_url('recipe_thumb', recipe.image_1, :jpg).present? %>
                      <% else %>
                        <%= link_to image_tag("no_images/PastaRecipe.jpg", :alt=>"Recipe", :title=>"Recipe"), recipe_path(recipe), :title=>"Recipe" %>
                      <% end %>
                    </div>
                    <div class="col-xs-7">
                      <div><b>Course:</b> <%= recipe.recipe_type.name %></div>
                      <div><b>Difficulty:</b> <%= recipe.recipe_level.name %></div>
                      <div><b>Prep time:</b> <%= recipe.preparation_time %> min</div>
                      <div><b>Added by:</b> 
                        <% if recipe.user_id == 3 %>
                          Guest
                        <%else%>
                          <%#= link_to recipe.user.name,customer_path(recipe.user.id) rescue "Admin" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="instructions">
                    <%= link_to "Ingredients and cooking instructions", recipe_path(recipe), :title=>"Ingredients and cooking instructions" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div><!-- End Latest added recipes 2-->
      </div>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/share_recipe' %>
  <%= render :partial => '/site/shared/chef_profile' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->
