<% @title = "Authentic Italian recipes, pasta, antipasti, pesce, carne"; @description = "Authentic italian recipes directly from our grandma secret book, pasta, antipasti,starter, the most authentic Italian recipes for you to recreate at home the italian meal"; @keys ="pasta, lasagne, carne, bolognese, cantuccini, panettone, pandoro, fagioli, osso buco, arancini, pollo" %>

<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Recipes", '/recipes')}" -%>
<% @about = AboutU.find(:first, :conditions => {:link_type => "recipe"} ) %>

<div id="wineBanner">
  <span class="recipes_home_title">
   <%= @about.title rescue "Recipes"%>
   <!-- <strong style="font-size:26px;">Discover</strong> and prepare <strong style="font-size:26px;">delicious</strong><br />
    Italian dishes as our grandma would<br />
    make it with our <strong style="font-size:26px;">authentic</strong> Italian<br />
    recipes... the <strong style="font-size:26px;">best Italian recipes</strong><br /> -->

  </span>
  <% if  @about and !@about.image_id.nil? %>
  <%= link_to image_tag(image_url(:about_thumb, @about.image, :jpg)) , search_index_path(:id => "recipe") unless @about.blank? %>
  <% else %>
  <%= link_to image_tag("recipes.jpg"), search_index_path(:id => "recipe") %>
  <% end %>
</div>
<br/>
<%= render :partial => '/site/shared/box_search_recipes_new' %>

<div id="recipes_introduction">
  <h3>About Italian food</h3>
  <%= image_tag("aboutItalianFood.png", :style => "float:left;") %>
  <%= @about.description if @about %>
</div>
<div style="clear:both;"></div>
<div id="latestRecipes">
  <h3>Latest Added Recipes</h3>
  <ul>
    <%- Recipe.active.latest.paginate(:page => params[:page], :per_page => 3).each do |recipe| -%>
      <li>
        <table width="100%">
          <tr>
            <td width="60%" valign="top">
              <strong><%= link_to recipe.name, recipe_path(recipe), :style => "font-size:14px;color:#003300;;" %></strong>
              <%= show_ratings(recipe, recipe.average_rating_round) if recipe.average_rating_round %><br />
              <strong>Course:</strong> <%= recipe.recipe_type.name %><br />
              <strong>Difficulty:</strong> <%= recipe.recipe_level.name %><br />
              <strong>Prep time:</strong> <%= recipe.preparation_time %> min<br/>
              <strong>Added by:</strong>
              <% if recipe.user_id == 3 %>
                Guest
              <%else%>
                <%= link_to recipe.user.name.capitalize,customer_path(recipe.user.id) rescue "Admin" %>
               &nbsp;&nbsp;&nbsp;
               <% if !recipe.user.nil? %>
               <%= link_to recipe.user.establishment_link,recipe.user.establishment_link%>
               <% end %>
                <% end %>
            </td>
            <td align="right">
              <% if !recipe.image_1.blank? %>
              <%= link_to image_tag(image_url('recipe_thumb', recipe.image_1, :jpg)), recipe_path(recipe) %>
              <% else %>
              <%= link_to image_tag("no_images/PastaRecipe.jpg",:size => "100x75"), recipe_path(recipe) %>
              <% end %>

            </td>
          </tr>
          <tr>
            <td colspan="2" align="right"><%= link_to "Ingredients and cooking instructions", recipe_path(recipe) %></td>
          </tr>
        </table>
        <br />
      </li>
    <%- end -%>
  </ul>
</div>
<div id="highestRatedRecipes">
  <h3>Most Viewed Recipes</h3>
  <ul>
    <%- Recipe.active.most_viewed.paginate(:page => params[:page], :per_page => 3).each do |recipe| -%>
      <li>
        <table width="100%">
          <tr>
            <td width="60%" valign="top">
              <strong><%= link_to recipe.name, recipe_path(recipe), :style => "font-size:14px;color:#003300;;" %></strong>
              <%= show_ratings(recipe, recipe.average_rating_round) %><br />
              <strong>Course:</strong> <%= recipe.recipe_type.name %><br />
              <strong>Difficulty:</strong> <%= recipe.recipe_level.name %><br />
              <strong>Prep time:</strong> <%= recipe.preparation_time %> min<br/>
              <strong>Added by:</strong>
              <% if recipe.user_id == 3 %>
                Guest
              <%else%><%#= link_to recipe.user.name,customer_path(recipe.user.id) rescue "Admin" %><% end %>
            </td>
            <td align="right">
              <% if !recipe.image_1.blank? %>
              <%= link_to image_tag(image_url('recipe_thumb', recipe.image_1, :jpg)), recipe_path(recipe) %>
              <% else %>
              <%= link_to image_tag("no_images/PastaRecipe.jpg",:size => "100x75"), recipe_path(recipe) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="right"><%= link_to "Ingredients and cooking instructions", recipe_path(recipe) %></td>
          </tr>
        </table>
        <br />
      </li>
    <%- end -%>
  </ul>
  <br />
  <br />
</div>

<% content_for :right do %>
  <%= render :partial => '/site/shared/box_latest_recipe_reviews' %>
  <br />

  <%= link_to image_tag("shareRecipe.png"), new_recipe_path  %>
  <br />
  <%= link_to image_tag("chefProfile.png"), account_path %>
  <br />
  <%= render :partial => '/site/shared/box_subscriptions' %>
<% end %>

