<script type="text/javascript">
  function ValidateForm()
  {
    //var frm = document.recipe_form;
    if (document.getElementById("recipe_name").value == ""){
      alert("Name of the Recipe cannot be blank!");
      document.getElementById("recipe_name").focus();
      return false;
    }
    if (document.getElementById("recipe_serves").value == ""){
      alert("Serves cannot be blank!");
      document.getElementById("recipe_serves").focus();
      return false;
    }
    if (document.getElementById("recipe_ingredients").value == ""){
      alert("Ingredients of the Recipe cannot be blank!");
      document.getElementById("recipe_ingredients").focus();
      return false;
    }
    if (document.getElementById("recipe_preparation").value == ""){
      alert("Preparation of the Recipe cannot be blank!");
      document.getElementById("recipe_preparation").focus();
      return false;
    }
  }
</script>
<% @title = "Submit your recipe"; @description = "Share your italian recipes and get featured on the website" %>

<%- @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Recipes", '/recipes')} &raquo; New" -%>

<div id="recipe_new_home_image" class="main-banner">
  <%= image_tag("recipe_new.jpg") %>
</div>
<div class="full-width">
<div class="red-text bottom-15"><%= error_messages_for 'recipe' %></div>
<div class="green-heading-with-border">Submit your Recipe</div>
  <%= form_for :recipe, :url => {:controller => "site/recipes", :action => "create"}, :html => {:multipart => true, :name => "recipe_form",:onsubmit => "return ValidateForm();"} do |f| -%>
    <div class="section-box">
      <div class="section-des">
        If you have a recipe that you would like to share with other users, please give details in the section below, please note that to submit a recipe you must <%= link_to "logged in,", login_url %> if you are a chef, you can create your <%= link_to "own profile",account_path %> and promote your establishement
      </div>
      <div class="section-heading">
        Recipe Details
      </div>
      <div class="section-form">
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Recipe Title:</div>
          <div class="col-md-4"><%= f.text_field :name  %></div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Short description:</div>
          <div class="col-md-4"><%= f.text_area :description, :rows => 3 %></div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Category:</div>
          <div class="col-md-4">
            <%= f.collection_select :recipe_type_id, RecipeType.find(:all), :id, :name %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Preparation time:</div>
          <div class="col-md-4">
            <%= f.select :preparation_time, [["15 min", 15], ["30 min", 30], ["45 min", 45], ["60 min", 60], ["75 min", 75], ["90 min", 90]] %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Serves:</div>
          <div class="col-md-4">
            <%= f.text_field :serves, :size => 5 %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Difficulty:</div>
          <div class="col-md-4">
            <%= f.collection_select :recipe_level_id, RecipeLevel.find(:all), :id, :name %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Region:</div>
          <div class="col-md-4">
            <%= f.collection_select :region_id, Region.find(:all), :id, :name %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Ingredients:</div>
          <div class="col-md-4">
            <%= f.text_area :ingredients, :rows => 10 %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">Cooking Instructions:</div>
          <div class="col-md-4">
            <%= f.text_area :preparation, :rows => 10 %>
          </div>
        </div>
      </div>
    </div>
    <div class="section-box-2">
      <div class="section-heading">Add a picture</div>
      <div class="section-des">
        If you would like to upload a photo of this recipe for other users to view on the recipe page, please upload an image below:
      </div>
      <div class="section-form">
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label"><%= image_tag("default.jpg") %></div>
          <div class="col-md-4">
            <%= file_field_tag :image_1 %>
          </div>
        </div>
        <div class="form-row row clearfix">
          <div class="col-md-2 section-label">&nbsp;</div>
          <div class="col-md-4 green-button">
            <div class="submit-btn">
              <%= submit_tag "Submit" %>      
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

