<%# @title = @recipe.page_title_formatted; @description = @recipe.meta_description_formatted; @keys = @recipe.meta_keys_formatted %>
<%# @class = "no-padding"; @breadcrumbs = "#{link_to("Home", root_url)} &raquo; #{link_to("Recipes", site_recipes_path)} &raquo; #{@recipe.name}" %>
<div class="row">
  <div class="share-row clearfix">
    <div class="pull-right">
      <%= render :partial => '/site/shared/social_bookmarks' %>
    </div>
  </div>
  <div class="two-colum-row clearfix">
    <div class="col-md-12">
      <div class="green-heading-with-border"><%= @recipe.name %></div>
      <div class="row clearfix ingredients">
        <div class="col-xs-4 center-align">
          <% if !@recipe.image_1.blank? %>
            <%#= image_tag(image_url(:original, @recipe.image_1), :alt=>@recipe.name, :size =>"350x350" ) %>
            <img src= "<%= site_image_url(:original, @recipe.image_1) %>",  title = "<%= @recipe.name %>" alt="<%= @recipe.name %>" %>
          <% else %>
            <%= image_tag("no_images/PastaRecipe.jpg", :alt=>@recipe.name, :title=>@recipe.name) %>
          <% end %>
        </div>
        <div class="col-xs-8">
          <div class="green-heading-18">Ingredients:</div>
          <div><%= @recipe.ingredients.gsub("\n","<br />").html_safe() %></div>
        </div>
      </div>
      <% unless @recipe.region.nil? %>
        <div class="green-heading-2">Region :</div>  
        <div class="bottom-50">
          <%= link_to @recipe.region.name, "/site/regions/#{@recipe.region.name.parameterize}", :title=>@recipe.region.name  %>
        </div>
      <%end%>
      <% if @recipe.correlations.size > 0 %>
        <div class="green-heading-2">Wine pairing suggestions</div>
        <div class="prdoucer-products-wrapper">
          <div class="producer-products-row clearfix">
            <%- @recipe.correlations.where("").paginate(:page => params[:page], :per_page => 4).each do |product| -%>
              <div class="producer-products-col">
                <%image = Image.find_by_id(product.image_1_id) %>
                <%if image%>
                  <div class="producer-product-image"><%=image_tag image.image_filename.url %></div>
                <%end%>
                <div class="producer-product-text">
                  <%= link_to product.name, nested_products_uri(product), :title=>product.name %>
                </div>
              </div>
            <%- end -%>
          </div>
        </div>
      <% end %>
      <%if @recipe.description != '' %>
        <div class="detail-recipe">
          <div class="green-heading-2">Description</div>
          <div class="bottom-50"><%=@recipe.description%></div>
        </div>
      <%end%>
      <div class="green-heading-2">Preparation</div>
      <div class="bottom-50">
        <%= @recipe.preparation_cleared.html_safe() %> 
      </div>
      <%- if logged_in? -%>
        <div class="green-heading-2">Leave your review <%= link_to '(Add a comment)',"#",:onclick=>"document.getElementById('recipe_comments_add').style.display='block';return false;", :title=>"Add a Comment" %></div>
        <div id="recipe_comments_add" style="display:none;">
          <div class="latest-review-box bottom-50">
            <%= render(:partial => 'site/reviews/new', :locals => {:create_url => site_reviews_path(@recipe, :return_to => site_recipe_path(@recipe)),:recipe_id => @recipe.id}) %>
          </div>
        </div>
      <%- else -%>
        <div class="green-heading-2">Add a comment</div>
        <div class="bottom-50">
          <p>Comment with your account</p>
          <div><%= link_to("Login", login_path, :title=>"Login") %> || <%= link_to("Register", login_path, :title=>"Register") %></div>
        </div>
      <% end %>
      <div class="latest-review-box bottom-50">
        <%= render :partial => 'site/shared/review_view_short', :locals => {:reviewer => @recipe} %>
      </div>
    </div>
  </div>
</div>
<!-- start 3 colum  boxes-->
<div class="community-row clearfix row">
  <%= render :partial => '/site/shared/share_recipe' %>
  <%= render :partial => '/site/shared/chef_profile' %>
  <%= render :partial => '/site/shared/cercavino' %>
</div><!-- start 3 colum  boxes-->