<%- @title = "Administration - Recipes"; @page_id = "Other Stuff" -%>
<%- @breadcrumbs = "Other Stuff &raquo; #{link_to "XML", xml_path}" -%>

<div class="inner_content recipes" id="admin_recipes_index">
  <h2>XML</h2>
  <br />
  <% @category = Category.find(:all, :conditions =>{:parent_id => nil}) %>

  <% @tables.each do |table| %>
    <% if table == "Category" %>
      <% @category.each do |p| %>
        <% table = p.name %>
        <%="<div id=table#{@count}>"%>
        <%= link_to_remote table, :url => { :action => "xml_options", :count => @count, :table => p.class, :id => p.id }%><br />
      </div><div style="font-size:15px;padding: 5px 0px 8px 0px"><%="<div id=options#{@count}>"%></div>
      <% @count = @count + 1 %>
    <% end %>

  <% elsif table == "Newsletters subscribers" %>
    <%="<div id=table#{@count}>"%>
    <%= link_to_remote table, :url => { :action => "xml_options", :count => @count, :table => 'User',:type => 'Newsletters subscribers' }%><br />
    </div><div style="font-size:15px;padding: 5px 0px 8px 0px"><%="<div id=options#{@count}>"%></div>
    <% @count = @count + 1 %>

  <% else %>
    <%="<div id=table#{@count}>"%>
    <%= link_to_remote   eval(table), :url => { :action => "xml_options", :count => @count, :table => table }%><br />
    </div><div style="font-size:15px;padding: 5px 0px 8px 0px"><%="<div id=options#{@count}>"%></div>
    <% @count = @count + 1 %>

  <%end%>

<%end%>


</div>

