<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
     <meta http-equiv="x-ua-compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="edge,chrome=1" /><![endif]-->
  <link rel="icon" type="image/x-icon" href="/images/italyabroad.ico" />
  <title><%= h(title) %></title>
  <%= csrf_meta_tag %>

<!-- < % if params[:controller] == "chat_messages" %> -->
   <%= javascript_include_tag "/javascripts/private_pub.js" %>
<!--  < % end %> -->

  <link rel="shortcut icon" href="/images/italyabroad.ico" />
  <link rel="alternate" type="application/rss+xml" title="Italyabroad.com Products, Feed RSS 2.0" href="<%= products_url %>" />
  <link rel="alternate" type="application/rss+xml" title="Italyabroad.com Blog, Feed RSS 2.0" href="<%= blog_index_url %>" />
  <meta name="description" content="<%= h(description) %>" />
  <meta name="keywords" content="<%= h(keys) %>" />
  <meta name="copyright" content="italyabroad.com" />
  <!-- <meta http-equiv="content-language" content="EN" /> -->
  <!-- <meta http-equiv="content-type" content="text/html;charset=utf-8" /> -->
  <meta name="ROBOTS" content="INDEX,FOLLOW" />
  <meta name="creation_Date" content="09/21/2007" />
  <meta name="revisit-after" content="7 days" />
  <meta name="verify-v1" content="4MIDVULSRTLwLBnaUwWYWG+BeU+y0EpGRk33kFSVSYo=" />
  <meta name="msvalidate.01" content="18C4C4F5FBD1413AA93AEAD1738CD7F5" />
  <meta name="blogcatalog" content="9BC8939820" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%#= stylesheet_link_tag    "application", :media => "all" %>
   <%= stylesheet_link_tag "application", :media => "all" %>

   <%= javascript_include_tag "site", :async => true %>
   <%= render 'layouts/google_tracking' %>
  <!-- Place this tag in your head or just before your close body tag -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <!-- JAVASCRIPT BLINK START -->


  <SCRIPT>
      // Before you reuse this script you may want to have your head examined
      //
      // Copyright 1999 InsideDHTML.com, LLC.

      function doBlink() {
          // Blink, Blink, Blink...
          var blink = document.all.tags("blink")
          for (var i=0; i < blink.length; i++)
              blink[i].style.visibility = blink[i].style.visibility == "" ? "hidden" : ""
      }

      function startBlink() {
          // Make sure it is IE4
          if (document.all)
              setInterval("doBlink()",1000)
      }
      window.onload = startBlink;
  </SCRIPT>

  <!-- Javascript Blink End-->

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
</script>
<script>
  window.cookieconsent.initialise({
    // ... your options ...
    cookie: {expiryDays: -1},
  });
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</head>

<body <%= @paypal_redirect %> <%= "id='#{@page_id}'" if @page_id %> class="<%= @current_controller %><%= " #{@class}" if @class %>" <%= "onload='#{@onload}'" if @onload %>>
  <% if logged_in? and  current_user.admin?  %>
    <%= subscribe_to "/chat_messages/new/*" %>
    <div class ="new_message"></div>
  <% end %>
<% # "session[:keys]: #{session.keys} " %>

<%= render :partial => "/site/shared/help_button_overlay" %>
<div id="content" class="container">
  <!--Start Header main-->
  <header id="topContent">
    <div class="header-top clearfix">
      <div class="pull-right social-links clearfix">
        <div class="social-icon">
          <%= link_to image_tag("/images/gplus-icon.png", :title=>"gplus", :alt=>"gplus"), "https://plus.google.com/105030552023597415239/posts", :title=>"gplus", :target=>"_blank" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/fb-icon.png", :title=> "facebook", :alt=> "facebook"), "https://www.facebook.com/Italyabroadcom-Italian-Wine-Food-250768370057/?fref=ts", :target=>"_blank" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/twitter-icon.png", :title=>"twitter", :alt=>"twitter" ), "https://twitter.com/Italyabroad", :id => "b-small", :title=>"twitter", :target=>"_blank" -%></div>
          <div class="social-icon">
          <%= link_to image_tag("/images/you_tube_2.png", :title=>"youtube", :alt=>"youtube"), "https://www.youtube.com/channel/UCZTYK_N5hoyH53LJFcSVrlA", :title=>"youtube", :target=>"_blank" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/instagram-icon.png", :title=>"instagram", :alt=>"instagram"), "https://instagram.com/italyabroad", :title=>"instagram", :target=>"_blank" -%></div>
        </div>
        <div class="pull-right top-bar-links">
          <span>
            <% if logged_in? %>
              <% if session[:previous_admin_id]!=nil %>
                <%= form_tag '/cart/user_select', :id => 'reset_form' do %>
                <%= hidden_field_tag 'reset_user_id', session[:previous_admin_id] %>
              <% end %>
              <%= link_to "reset session", '#', :onclick => "$('form#reset_form').submit();return false;", :title=>"Reset" %>
              <% end %>
              Welcome <%= current_user.name %> <% if current_user.type_id == 1 %> | <%= link_to "Admin Site",siteadmin_path, :title=>"Admin Site" %><% end %> |
              <% if Message.find(:all,:conditions=>['user_id = ?',current_user.id]).count > 0 %>
                <%= link_to "My Account" , {:controller=>'site/customers',:action=>'show', :id=>current_user.id}, :title=>"My Account"  %> |
              <% else %>
                <%= link_to "My Account", account_path, :title=>"My Account" %> |
              <% end %>
                <%= link_to "Log out", logout_path, :title=>"Log Out" %>
              <% else %>
                <%= link_to "Log in", login_path, :title=>"Login" %> 
          </span>
          <span>|</span>
          <span>
              <%= link_to "Sign up", signup_path, :title=>"Sign Up" %>
            <% end %>
          </span>
          <span>|</span>
          <span><%= link_to "Contact Us", contact_us_path, :title=>"Contact Us" %></span>
      </div>
    </div>
    <div class="logo-row clearfix">
      <div class="logo col-md-3"><%= link_to image_tag('logo_hi_res.gif', :alt => "Italian wine and food", :title => "Italian wine and food"), root_path, :id => "logo", :title=>"Italian wine and food" %></div>
          <!-- Start Main Search-->
      <div class="head_search col-md-4 col-lg-offset-1 col-md-offset-1 top-30">
        <%= form_tag search_index_path, :method => :get do -%>
          <% if params[:text]
            search_text = params["text"]
            else
              search_text = ''
            end %>
            <div class="input-group left-bar-search">
              <div class="left-bar-search-inner">
                <%= text_field_tag :text, search_text, :class=> "form-control top-search text",  "data-autocomplete"=>"/search/autocomplete_search_name", :placeholder => "Search Italyabroad.com", :id => "bg_text" %>
                <span class="magnifier"><input src="/images/magnifier.png?1462969008" type="image" alt="Search"></span>
              </div>
              <% id = ['wine','Other Drinks', 'food', 'recipe', 'hampers', 'people', 'chef', 'all'].include?(params[:id]) ? params[:id] : 'all' %>
              <input class="id" name="id" type="hidden" value="<%= id %>">
              <div class="input-group-btn">
                <% option_val = @search_type%>
                <% option_val = "All Site" if option_val=='all'%>
                <% option_val.capitalize! if !option_val.nil? %>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= option_val || "All site" %> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% [['Wine', 'wine'], ['Other Drinks', 'Other Drinks'], ['Food', 'food'], ['Recipe', 'recipe'],['Hampers','hampers'], ['People', 'people'],['Chef', 'chef'],['All Site','all']].each do |item| %>
                      <li><a href="#." title="<%= item[0]%>" data-ival="<%=item[1]%>"><%= item[0]%></a></li>
                  <% end %>
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
          <%- end -%>
      </div><!-- End Main Search-->   
      <!-- Strat Cart block-->
      <div class="col-md-4 col-lg-offset-1 col-lg-3 top-30 ">
        <%= render :partial => "/site/shared/cart" %>
        <div class="free-delivery"><%= render :partial => "/site/shared/promotion" %></div>
      </div><!-- End Cart Block-->
    </div>
    <!-- Start main navigation-->
    <div class="navigation-row">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%- active_uri = request.url -%>
          <ul class="nav1 nav navbar-nav">
            <% for category in ["Wine", "Other Drinks", "Food", "Hampers", "Wine Tours", "Wine Club", "Events"] do %>
              
                <% category = Category.find_by_name(category)%>
                <% if category.present? %>
                  <li id="link-to-<%= category.friendly_identifier %>" class="<%= "active" if active_uri == "/#{category.friendly_identifier}"   %>">
                    <%= link_to category.name, "/#{category.try(:friendly_identifier)}", :title=>category.name %>
                    <%- unless category.children.blank? -%>
                    <ul class="sub-menu">
                      <% wine_category = Category.find_by_name("Wine") %>
                          <% children = Category.find(:all,:conditions=>['parent_id = ? and show_in_menu = ?',category.id,true] ) %>
                        <%- for child in children -%>
                          <% if child.products.count > 0 %>
                            <% if child.name == "Wine Vouchers" %>
                              <% temp = child %>
                            <% elsif child.name == "Wine Tours" %>
                            <!-- Hiding Wine Tours -->
                            <% elsif child.name == "Wine accessories" %>
                            <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child), :title=>child.name) %></li>
                            <li><%= link_to(temp.name.html_safe(), nested_categories_url(category, temp), :title=>temp.name) if temp.present? %></li>
                            <% else %>
                              <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child), :title=>child.name) %></li>
                            <%- end -%>
                          <% end %>
                        <%-  end -%>
                        <% if category.products.where(["discount > 0 or on_offer = true"]).length > 0 %>
                          <li class="bold-text">
                            <%= link_to("Special Offers", nested_categories_url(category, "offer"), :class => "red-text", :title=>"Special Offers") %>
                          </li>
                        <% end %>
                      </ul>
                    <%- end -%>
                  </li>
                <% end %>
               
            <%- end -%>
            <li id="link-to-forum" class="<%= "active" if active_uri == "/wine-community" %>"><%= link_to "Community", wine_community_path, :title=>"Community" %></li>
            <li id="link-to-blog" class="last<%= " active" if active_uri == "/blog" %>"><%= link_to "Blog", blog_index_path, :title=>"Blog" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div><!-- End mian navigation-->
  </header><!-- End Header main -->
  <div class="clearfix headerSmall">
    <div class="logo-small">
      <%= link_to image_tag('logo_hi_res.gif', :alt => "Italian wine and food", :title => "Italian wine and food"), root_path, :id => "logo-small", :title => "Italian wine and food" %>
    </div>
    <div class="main-menu-small col-offset-xs-3">
      <div class="menu-wrapper">
        <div class="">
          <button class="btn btn-default dropdown-toggle switch" type="button" id="dropdownMenu1" data-toggle="" aria-haspopup="true" aria-expanded="true">
            <img src="/images/menu-icon.png" alt="Menu" title="Menu">
          </button>
          <div class="dropdown-menu menu-main" aria-labelledby="dropdownMenu1">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
              <% cnt = 1 %>
              <% for category in ["Wine", "Other Drinks", "Food"] do %>
              
                <% category = Category.find_by_name(category)%>
                <% if category.present? %>
                  <div class="panel panel-default" role="tablist">
                    <div class="panel-heading" role="tab" id="heading-<%=cnt%>">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=cnt%>" aria-expanded="false" aria-controls="collapse-<%=cnt%>" class="collapsed" title="<%= category.name %>"><%= category.name %><span></span>
                        </a>
                      </h4>
                    </div>
                    <%- unless category.children.blank? -%>
                      <div id="collapse-<%=cnt%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=cnt%>">
                        <div class="panel-body">
                          <ul>
                            <li id="small-link-to-<%= category.friendly_identifier %>" class="<%= "active" if active_uri == "/#{category.friendly_identifier}"   %>">
                              <strong><%= link_to category.name, "/#{category.try(:friendly_identifier)}", :title=>category.name %></strong>
                            </li>
                            <% wine_category = Category.find_by_name("Wine") %>
                            <% children = Category.find(:all,:conditions=>['parent_id = ? and show_in_menu = ?',category.id,true] ) %>
                            <%- for child in children -%>
                              <% if child.products.count > 0 %>
                                <% if child.name == "Wine Vouchers" %>
                                  <% temp = child %>
                                <% elsif child.name == "Wine Tours" %>
                                <!-- Hiding Wine Tours -->
                                <% elsif child.name == "Wine accessories" %>
                                  <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child), :title=>child.name) %></li>
                                  <li><%= link_to(temp.name.html_safe(), nested_categories_url(category, temp), :title=>temp.name) if temp.present? %></li>
                                <% else %>
                                  <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child),:title=>child.name) %></li>
                                <%- end -%>
                              <% end %>
                            <%-  end -%>
                            <% if category.products.where(["discount > 0 or on_offer = true"]).length > 0 %>
                              <li class="bold-text">
                                <%= link_to("Special Offers", nested_categories_url(category, "offer"), :class => "red-text", :title=>"Special Offers") %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              
              <% cnt+=1 %>
            <% end %> 
          </div>
          <ul>
            <li id="link-to-forum-1" class ="menu-list small-list" ><%= link_to "Hampers", '/hampers', :title=>"Hampers" %></li>
            <li id="link-to-forum-2" class ="menu-list small-list" ><%= link_to "Wine Tours", '/wine-tours', :title=>"Wine Tours" %></li>
            <li id="link-to-forum-3" class ="menu-list small-list" ><%= link_to "Wine Club", '/wine-club', :title=>"wine Club" %></li>
            <li id="link-to-forum-4" class ="menu-list small-list" ><%= link_to "Events", '/events', :title=>"Events" %></li>
            <li id="link-to-forum-5"  class="menu-list small-list <%= "active" if active_uri == "/wine-community" %>"><%= link_to "Community", wine_community_path, :title=>"Wine Community" %></li>
            <li id="small-link-to-blog"  class="menu-list small-list last<%= " active" if active_uri == "/blog" %>"><%= link_to "Blog", blog_index_path, :title=>"Blog" %></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-links-small">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="/images/login-icon.png" alt="Login" title="Login">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
          <li>
            <% if logged_in? %>
              <% if session[:previous_admin_id]!=nil %>
                <%= form_tag '/cart/user_select', :id => 'reset_form' do %>
                <%= hidden_field_tag 'reset_user_id', session[:previous_admin_id] %>
              <% end %>
              <%= link_to "reset session", '#', :onclick => "$('form#reset_form').submit();return false;", :title=>"Reset"%>
            <% end %>
          </li>
          <li class="logged-in">Welcome <%= current_user.name %></li>
          <li><% if current_user.type_id == 1 %>  <%= link_to "Admin Site",siteadmin_path, :title=>"Admin Site" %><% end %></li>
          <li>
            <% if Message.find(:all,:conditions=>['user_id = ?',current_user.id]).count > 0 %>
            <%= link_to "My Account",  {:controller=>'site/customers',:action=>'show',:id=>current_user.id},:title=>"My Account"  %>
          </li>
          <li> 
            <% else %>
              <%= link_to "My Account", account_path, :title=>"My Account" %> 
            <% end %>
          </li>
          <li>
            <%= link_to "Log out", logout_path, :title=>"Log Out" %>
          </li>
          <li>
            <% else %>
            <%= link_to "Log in", login_path, :title=>"Log in" %>
            <% end %>
          </li>
          <li><%= link_to "Sign up", signup_path, :title=>"Sign Up" %></li>
          <li><%= link_to "Contact Us", contact_us_path, :title=>"Contact Us" %></li>
          <li role="separator" class="divider"></li>
          <li class="small-icon-row">
            <div class="social-icon">
              <%= link_to image_tag("/images/gplus-icon.png", :title=>"gplus", :alt=>"gplus"), "https://plus.google.com/105030552023597415239/posts"  -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/fb-icon.png", :title=>"facebook", :alt=>"facebook"), "https://www.facebook.com/pages/Italyabroadcom/144011672282174", :title=>"facebook" -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/twitter-icon.png", :title=>"twitter", :alt=>"twitter"), "https://twitter.com/Italyabroad", :id => "b", :title=>"twitter" -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/instagram-icon.png", :title=>"instagram", :alt=>"instagram"), "https://instagram.com/italyabroad", :title=>"instagram" -%></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cart-small">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="/images/cart-icon-2.png" title="Cart" alt="Cart" ><span class="items_count"><%=@cart.items.size.to_i%></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li class=""><%= render :partial => "/site/shared/cart" %></li> 
          <li class="free-delivery"><%= render :partial => "/site/shared/promotion" %></li>      
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="small-search-box head_search_small">
      <%= form_tag search_index_path, :method => :get, id: 'mobile_search_form'  do -%>
        <% if params[:text]
          search_text = params["text"]
        else
          search_text = ''
        end %>
        <div class="input-group">
          <%= text_field_tag :text, search_text, :class=> "form-control top-search text",  "data-autocomplete"=>"/search/autocomplete_search_name", :placeholder => "Search Italyabroad.com" ,:id=>'sm_text'%>
        <% id = ['wine','Other Drinks', 'food', 'recipe', 'hampers', 'people', 'chef', 'all'].include?(params[:id]) ? params[:id] : 'all' %>

        <%= hidden_field_tag :id, id %>
        <div class="input-group-btn">
          <% option_val = id %>
          <% option_val = "All Site" if option_val=='all'%>
          <% option_val.capitalize! if !option_val.nil? %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= option_val || params[:category] || "All site" %> <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <% [['Wine', 'wine'], ['Other Drinks', 'Other Drinks'], ['Food', 'food'], ['Recipe', 'recipe'],['Hampers','hampers'], ['People', 'people'],['Chef', 'chef'],['All Site','all']].each do |item| %>
            <li><a href="#." title="<%= item[0]%>" data-ival="<%=item[1]%>"><%= item[0]%></a></li>
            <% end %>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
      <%- end -%>
    </div><!-- End small search-->
  </div><!-- End Small Header-->
  <div class="green-strip clearfix">
    <%left_text = SmallBoxSetting.find_by_box_title("header_left_text")%>
    <%right_text = SmallBoxSetting.find_by_box_title("header_right_text")%>
    <%left_image = left_text ?  Image.find_by_id(left_text.image_id) : nil  %>
    <%right_image = right_text ?  Image.find_by_id(right_text.image_id) : nil  %>
    <div class="col-md-6 white-seprator"><%if left_image%><span><img src="<%= left_image.image_filename.url%>" alt="Van" title="<%=left_text.description%>"></span><%end%><%=left_text.description%></div>
    <div class="col-md-6 discount-text"><%if right_image%><span><img src="<%= right_image.image_filename.url%>" alt="<%=right_text.description%>" title="<%=right_text.description%>"></span><%end%><%=right_text.description%></div>
  </div>
  <!-- Start Content wrapper-->
  <div class="content-wrapper">
    <!--Strat Breadcrumbs-->
    <div class="bread-crumbs">
      <%= content_tag(:div, @breadcrumbs.html_safe(), :class => "breadcrumbs") if @breadcrumbs %>
      <span class="why-not">
        <strong>
          <% if logged_in? and !(current_user.orders.blank?)%>
            <% show_link = check_any_products_remains_for_review(current_user.orders) %>
            <% if show_link == true %>
              <span class="data"><%= link_to 'Why not review the products you bought?',{:controller=>'orders',:action=>'show_order_details'} , :title=>"Why not review the products you bought?" %></span>
            <% end %>
          <% end %>
        </strong>
      </span>
    </div><!-- End  Breadcrumbs-->
    <% if flash[:alert] %>
        <script type="text/javascript">
            $(document).bind('dom:loaded', function() {
                alert("<%= flash[:alert] %>");
            });
        </script>
    <% end %>
    <% #encoding_m = ['site/faqs','site/cart','site/search', 'site/food', 'site/wine'].include?(params[:controller]) ? 'UTF-8' : 'UTF-8' %>
  
    <div id="leftColumnContent" class="<%= "widescreen" unless @content_for_right %>">
      <%= yield %>
      <%= yield :bottomBlocks %>
    </div>
    <%= render :partial => 'site/shared/footer' %>    
  </div><!-- End Content wrapper-->
</div><!-- End container-->

  <%- if Rails.env == "production" -%>
     <!--  <script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript">
      </script>
      <script type="text/javascript">
          _uacct = "UA-620606-1";
          urchinTracker();
      </script> -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-620606-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

  <%- end -%>
  <script type="text/javascript">
    $(document).ready(function(){
      var isMobile = false; //initiate as false
      // device detection
    if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
        || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;  
      if (isMobile) {
        $(".truncate_blog_text").html($('.truncate_blog_text').text().trim().substring(0, 150).split(" ").slice(0, -1).join(" ") + "...");
        $(".truncate_wine_text p").html($('.truncate_wine_text').text().trim().substring(0, 150).split(" ").slice(0, -1).join(" ") + "...");  
      }
      
    });
    $(".chat_available").click(function (event) {
      event.preventDefault();
        var w = window.open("<%= chat_index_path -%>", "popupWindow", "width=490, height=540, scrollbars=yes");
        var $w = $(w.document.body);
        $w.html($('#modalText').html());
        $w.find(".addimage").click(function(e) {
          e.preventDefault();
          console.log(w.opener.document);
          $("#imagelist", w.opener.document).append("<li></li>");
      });
      return false;
    });
  </script>


  <a title="Real Time Web Analytics" href="http://clicky.com/100911433"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif"   title="Badge" /></a>
 <!--  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100911433); }catch(e){}</script>
  <noscript><p><img alt="Clicky" title="Cliky" width="1" height="1" src="//in.getclicky.com/100911433ns.gif" /></p></noscript> -->
  <script>
   var f = Function(),
       clicky = { log: f, goal: f },
       clicky_site_id = 100911433;
   (function(d, t) {
       var c = d.createElement(t),
           s = d.getElementsByTagName(t)[0];
       c.async = 1;
       c.src = '//static.getclicky.com/js';
       s.parentNode.insertBefore(c, s);
   })(document, 'script');
  </script>
  
  <!-- This supports tracking for users with JavaScript disabled. This should go in <body> -->
  <noscript><img alt="" width="1" height="1" src="http://in.getclicky.com/1009114333ns.gif" /></noscript>



  <script>
      /* this allows us to pass in HTML tags to autocomplete. Without this they get escaped */
      $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      return $( "<li></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<a></a>" ).html( item.label ) )
        .appendTo( ul );
      };

      $('#sm_text').bind('railsAutocomplete.select', function(event, data){
        /* Do something here */
         console.log(data);
        if (data.item.slug!='') {
          window.location = '/'+data.item.category+'/'+data.item.slug;
        }
        
      });
    </script>
</body>
</html>

