
<%
 if (@chat_message.message_to == "admin")
   publish_to = "/chat_messages/new/#{@chat_message.message_from}"
 else
   publish_to = "/chat_messages/new/#{@chat_message.message_to}"
 end

 if @chat_message.message_from != "admin"
   message_from_user = @chat_message.message_from
 else
   message_from_user = "Support"
 end

  if @chat_message.message_to != "admin"
   message_to_user = @chat_message.message_to
 else
   message_to_user = "Support"
 end


%>

<% publish_to '/site*' do %>
$("#chat").append("<li><span class='created_at'><%= @chat_message.created_at.strftime("%H:%M") %>: <i class='auto'><%= message_from_user %></i> to  <i class='auto'><%= message_to_user %></i> </span> :=>  <strong><%= @chat_message.content %></strong></li>");
$('#chat').scrollTop($('ul li').last().position().top + $('ul li').last().height());
$(".auto").click(function (event) {
    $(".message_to_user").val(event.target.innerHTML)
});
<% if message_from_user != "Support" %>
if ($(".admin_layout").length ) {
    alert("You have a message from <%= message_from_user %>.Please respond!!")
}
<% end %>
<% end %>
$("#new_chat_message")[0].reset();
