<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= h(title) %></title>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/italyabroad.ico" />
  <link rel="alternate" type="application/rss+xml" title="Italyabroad.com Products, Feed RSS 2.0" href="<%= products_url %>" />
  <link rel="alternate" type="application/rss+xml" title="Italyabroad.com Blog, Feed RSS 2.0" href="<%= site_blog_index_url %>" />
  <meta name="description" content="<%= h(description) %>" />
  <meta name="keywords" content="<%= h(keys) %>" />
  <meta name="copyright" content="italyabroad.com" />
  <meta http-equiv="content-language" content="EN" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="ROBOTS" content="INDEX,FOLLOW" />
  <meta name="creation_Date" content="09/21/2007" />
  <meta name="revisit-after" content="7 days" />
  <meta name="verify-v1" content="4MIDVULSRTLwLBnaUwWYWG+BeU+y0EpGRk33kFSVSYo=" />
  <meta name="msvalidate.01" content="18C4C4F5FBD1413AA93AEAD1738CD7F5" />
  <meta name="blogcatalog" content="9BC8939820" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<%= stylesheet_link_tag "site", "menu", "lightbox", "omniauth", 'jquery.ui.autocomplete' %>
  <%= javascript_include_tag :defaults, 'jquery-ui',"autocomplete-rails.js", "slide", "lightbox-2.6.min" %> -->
  <%= stylesheet_link_tag  "bootstrap", "jquery-ui", "swiper", 'jquery.ui.autocomplete', 'mine' %>
  <%= javascript_include_tag :defaults, "jquery-1.12.2.min", "jquery-ui","autocomplete-rails.js",  "lightbox-2.6.min", "bootstrap", "horizon-swiper", "swiper", "custom" %> 
  <!--[if gte IE 5.5]>
    <%= javascript_include_tag "menu" %>
	<![endif]-->

  <%= stylesheet_link_tag "default" ,"alphacube"%>
  <%#= javascript_include_tag  "window" %>


  <!-- Place this tag in your head or just before your close body tag -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <!-- JAVASCRIPT BLINK START -->


  <SCRIPT>
      // Before you reuse this script you may want to have your head examined
      //
      // Copyright 1999 InsideDHTML.com, LLC.

      function doBlink() {
          // Blink, Blink, Blink...
          var blink = document.all.tags("blink")
          for (var i=0; i < blink.length; i++)
              blink[i].style.visibility = blink[i].style.visibility == "" ? "hidden" : ""
      }

      function startBlink() {
          // Make sure it is IE4
          if (document.all)
              setInterval("doBlink()",1000)
      }
      window.onload = startBlink;
  </SCRIPT>

  <!-- Javascript Blink End-->


</head>
<body <%= @paypal_redirect %> <%= "id='#{@page_id}'" if @page_id %> class="<%= @current_controller %><%= " #{@class}" if @class %>" <%= "onload='#{@onload}'" if @onload %>>

<%= render :partial => "/site/shared/help_button_overlay" %>

<div id="content" class="container">
  <!--Start Header main-->
  <header id="topContent">
    <div class="header-top clearfix">
      <div class="pull-right social-links clearfix">
        <div class="social-icon">
          <a href="#."><%= link_to image_tag("/images/gplus-icon.png"), "https://plus.google.com/105030552023597415239/posts" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/fb-icon.png"), "https://www.facebook.com/pages/Italyabroadcom/144011672282174" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/twitter-icon.png"), "https://twitter.com/Italyabroad", :id => "b" -%></div>
          <div class="social-icon"><%= link_to image_tag("/images/instagram-icon.png"), "https://instagram.com/italyabroad" -%></div>
        </div>
        <div class="pull-right top-bar-links">
          <span>
            <% if logged_in? %>
              <% if session[:previous_admin_id]!=nil %>
                <% form_tag '/site/cart/user_select', :id => 'reset_form' do %>
                <%= hidden_field_tag 'reset_user_id', session[:previous_admin_id] %>
              <% end %>
              <%= link_to "reset session", '#', :onclick => "$('form#reset_form').submit();return false;"%>
              <% end %>
              Welcome <%= current_user.name %> <% if current_user.type_id == 1 %> | <%= link_to "Admin Site",siteadmin_path %><% end %> |
              <% if Message.find(:all,:conditions=>['user_id = ?',current_user.id]).count > 0 %>
                <%= link_to "My Account",  :controller=>'site/customers',:action=>'show',:id=>current_user.id  %> |
              <% else %>
                <%= link_to "My Account", account_path %> |
              <% end %>
                <%= link_to "Log out", logout_path %>
              <% else %>
                <%= link_to "Log in", login_path %> 
          </span>
          <span>|</span>
          <span>
              <%= link_to "Sign up", signup_path %>
            <% end %>
          </span>
          <span>|</span>
          <span><%= link_to "Contact Us", contact_us_path %></span>
      </div>
    </div>
    <div class="logo-row clearfix">
      <div class="logo col-md-3"><%= link_to image_tag('logo_hi_res.gif', :alt => "Italian wine and food", :title => "Italian wine and food"), root_path, :id => "logo" %></div>
          <!-- Start Main Search-->
      <div class="head_search col-md-4 col-lg-offset-1 col-md-offset-1 top-30">
        <%- form_tag site_search_index_path, :method => :get do -%>
          <% if params[:text]
            search_text = params["text"]
            else
              search_text = ''
            end %>
            <div class="input-group">
              <%= text_field_tag :text, search_text, :class=> "form-control top-search",  "data-autocomplete"=>"/site/search/autocomplete_search_name", :placeholder => "Search Italyabroad.com", :style=>"" %>
              <%= hidden_field_tag :id, params[:id] %>
              <div class="input-group-btn">
                <% option_val = @search_type%>
                <% option_val = "All Site" if option_val=='all'%>
                <% option_val.capitalize! if !option_val.nil? %>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= option_val || "All site" %> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <% [['Wine', 'wine'], ['Other Drinks', 'Other Drinks'], ['Food', 'food'], ['Recipe', 'recipe'],['Hampers','hampers'], ['People', 'people'],['Chef', 'chef'],['All Site','all']].each do |item| %>
                      <li><a href="#." ival="<%=item[1]%>"><%= item[0]%></a></li>
                  <% end %>
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
          <%- end -%>
      </div><!-- End Main Search-->   
      <!-- Strat Cart block-->
      <div class="col-md-4 col-lg-offset-1 col-lg-3 top-30 ">
        <%= render :partial => "/site/shared/cart" %>
        <div class="free-delivery"><%= render :partial => "/site/shared/promotion" %></div>
      </div><!-- End Cart Block-->
    </div>
    <!-- Start main navigation-->
    <div class="navigation-row">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%- active_uri = request.request_uri -%>
          <ul class="nav1 nav navbar-nav">
            <% for category in ["Wine", "Other Drinks", "Food", "Hampers", "Wine Tours", "Wine Club", "Events"] do %>
              <% category = Category.find_by_name(category)%>
              <% if category.present? %>
                <li id="link-to-<%= category.friendly_identifier %>" class="<%= "active" if active_uri == "/#{category.friendly_identifier}"   %>">
                  <%= link_to category.name, "/#{category.try(:friendly_identifier)}" %>
                  <%- unless category.children.blank? -%>
                  <ul class="sub-menu">
                    <% wine_category = Category.find_by_name("Wine") %>
                        <% children = Category.find(:all,:conditions=>['parent_id = ? and show_in_menu = ?',category.id,true] ) %>
                      <%- for child in children -%>
                        <% if child.products.count > 0 %>
                          <% if child.name == "Wine Vouchers" %>
                            <% temp = child %>
                          <% elsif child.name == "Wine Tours" %>
                          <!-- Hiding Wine Tours -->
                          <% elsif child.name == "Wine accessories" %>
                          <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child)) %></li>
                          <li><%= link_to(temp.name.html_safe(), nested_categories_url(category, temp)) if temp.present? %></li>
                          <% else %>
                            <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child)) %></li>
                          <%- end -%>
                        <% end %>
                      <%-  end -%>
                      <% if category.products.where(["discount > 0"]).length > 0 %>
                        <li style="font-weight:bold;">
                          <%= link_to("Special Offers", nested_categories_url(category, "offer"), :type => "special_offer", :class => "red-text") %>
                        </li>
                      <% end %>
                    </ul>
                  <%- end -%>
                </li>
              <% end %>
            <%- end -%>
            <li id="link-to-forum" class="<%= "active" if active_uri == "/wine-community" %>"><%= link_to "Community", wine_community_path %></li>
            <li id="link-to-blog" class="last<%= " active" if active_uri == "/site/blog" %>"><%= link_to "Blog", site_blog_index_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div><!-- End mian navigation-->
  </header><!-- End Header main -->
  <div class="clearfix headerSmall">
    <div class="logo-small">
      <%= link_to image_tag('logo_hi_res.gif', :alt => "Italian wine and food", :title => "Italian wine and food"), root_path, :id => "logo" %>
    </div>
    <div class="main-menu-small col-offset-xs-3">
      <div class="menu-wrapper">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="/images/menu-icon.png">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% for category in ["Wine", "Other Drinks", "Food", "Hampers", "Wine Tours", "Wine Club", "Events"] do %>
          <% category = Category.find_by_name(category)%>
            <% if category.present? %>
            <li id="link-to-<%= category.friendly_identifier %>" class="<%= "active" if active_uri == "/#{category.friendly_identifier}"   %>">
              <%= link_to category.name, "/#{category.try(:friendly_identifier)}" %>
              <%- unless category.children.blank? -%>
              <ul class="sub-menu-2">
              <% wine_category = Category.find_by_name("Wine") %>
              <% children = Category.find(:all,:conditions=>['parent_id = ? and show_in_menu = ?',category.id,true] ) %>
              <%- for child in children -%>
                <% if child.products.count > 0 %>
                  <% if child.name == "Wine Vouchers" %>
                    <% temp = child %>
                  <% elsif child.name == "Wine Tours" %>
                  <!-- Hiding Wine Tours -->
                  <% elsif child.name == "Wine accessories" %>
                    <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child)) %></li>
                    <li><%= link_to(temp.name.html_safe(), nested_categories_url(category, temp)) if temp.present? %></li>
                  <% else %>
                  <li><%= link_to(child.name.html_safe(), nested_categories_url(category, child)) %></li>
                  <%- end -%>
                <% end %>
              <%-  end -%>
              <% if category.products.where(["discount > 0"]).length > 0 %>
                <li style="font-weight:bold;">
                  <%= link_to("Special Offers", nested_categories_url(category, "offer"), :type => "special_offer", :class => "red-text") %>
                </li>
              <% end %>
              </ul>
            <%- end -%>
            </li>
            <% end %>
          <%- end -%>
            <li id="link-to-forum" class="<%= "active" if active_uri == "/wine-community" %>"><%= link_to "Community", wine_community_path %></li>
            <li id="link-to-blog" class="last<%= " active" if active_uri == "/site/blog" %>"><%= link_to "Blog", site_blog_index_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="top-links-small">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="/images/login-icon.png">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
          <li>
            <% if logged_in? %>
              <% if session[:previous_admin_id]!=nil %>
                <% form_tag '/site/cart/user_select', :id => 'reset_form' do %>
                <%= hidden_field_tag 'reset_user_id', session[:previous_admin_id] %>
              <% end %>
              <%= link_to "reset session", '#', :onclick => "$('form#reset_form').submit();return false;"%>
            <% end %>
          </li>
          <li class="logged-in">Welcome <%= current_user.name %></li>
          <li><% if current_user.type_id == 1 %>  <%= link_to "Admin Site",siteadmin_path %><% end %></li>
          <li>
            <% if Message.find(:all,:conditions=>['user_id = ?',current_user.id]).count > 0 %>
            <%= link_to "My Account",  :controller=>'site/customers',:action=>'show',:id=>current_user.id  %>
          </li>
          <li> 
            <% else %>
              <%= link_to "My Account", account_path %> 
            <% end %>
          </li>
          <li>
            <%= link_to "Log out", logout_path %>
          </li>
          <li>
            <% else %>
            <%= link_to "Log in", login_path %>
            <% end %>
          </li>
          <li><%= link_to "Sign up", signup_path %></li>
          <li><%= link_to "Contact Usssss", contact_us_path %></li>
          <li role="separator" class="divider"></li>
          <li class="small-icon-row">
            <div class="social-icon">
              <a href="#."><%= link_to image_tag("/images/gplus-icon.png"), "https://plus.google.com/105030552023597415239/posts" -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/fb-icon.png"), "https://www.facebook.com/pages/Italyabroadcom/144011672282174" -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/twitter-icon.png"), "https://twitter.com/Italyabroad", :id => "b" -%></div>
            <div class="social-icon"><%= link_to image_tag("/images/instagram-icon.png"), "https://instagram.com/italyabroad" -%></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cart-small">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="/images/cart-icon-2.png">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <%= render :partial => "/site/shared/cart" %> 
          <div class="free-delivery"><%= render :partial => "/site/shared/promotion" %></div>      
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="small-search-box head_search_small">
      <%- form_tag site_search_index_path, :method => :get do -%>
        <% if params[:text]
          search_text = params["text"]
        else
          search_text = ''
        end %>
        <div class="input-group">
          <%= text_field_tag :text, search_text, :class=> "form-control top-search",  "data-autocomplete"=>"/site/search/autocomplete_search_name", :placeholder => "Search Italyabroad.com", :style=>"" %>
        <%= hidden_field_tag :id, params[:id] %>
        <div class="input-group-btn">
          <% option_val = params[:id]%>
          <% option_val = "All Site" if option_val=='all'%>
          <% option_val.capitalize! if !option_val.nil? %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= option_val || params[:category] || "All site" %> <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <% [['Wine', 'wine'], ['Other Drinks', 'Other Drinks'], ['Food', 'food'], ['Recipe', 'recipe'],['Hampers','hampers'], ['People', 'people'],['Chef', 'chef'],['All Site','all']].each do |item| %>
            <li><a href="#." ival="<%=item[1]%>"><%= item[0]%></a></li>
            <% end %>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
      <%- end -%>
    </div><!-- End small search-->
  </div><!-- End Small Header-->
  <div class="green-strip clearfix">
    <div class="col-md-6 white-seprator"><i><img src="/images/van-img.png"></i>NEXT DAY DELIVERY SERVICE</div>
    <div class="col-md-6 discount-text">UPTO 15% DISCOUNT ON MIX CASES</div>
  </div>
  <!-- Start Content wrapper-->
  <div class="content-wrapper">
    <!--Strat Breadcrumbs-->
    <div class="bread-crumbs">
      <%= content_tag(:div, @breadcrumbs.html_safe(), :class => "breadcrumbs") if @breadcrumbs %>
      <span class="why-not">
        <strong>
          <% if logged_in? and !(current_user.orders.blank?)%>
            <% show_link = check_any_products_remains_for_review(current_user.orders) %>
            <% if show_link == true %>
              <span class="data"><%= link_to 'Why not review the products you bought?',:controller=>'orders',:action=>'show_order_details' %></span>
            <% end %>
          <% end %>
        </strong>
      </span>
    </div><!-- End  Breadcrumbs-->
    <% if flash[:alert] %>
        <script type="text/javascript">
            $(document).bind('dom:loaded', function() {
                alert("<%= flash[:alert] %>");
            });
        </script>
    <% end %>
    <% encoding_m = ['site/faqs','site/cart','site/search', 'site/food', 'site/wine'].include?(params[:controller]) ? 'UTF-8' : 'ASCII-8BIT' %>
  
    <div id="leftColumnContent" class="<%= "widescreen" unless @content_for_right %>">
      <%= yield.force_encoding(encoding_m) %>
      <%= yield :bottomBlocks %>
    </div>
    <%= render :partial => 'site/shared/footer' %>    
  </div><!-- End Content wrapper-->
</div><!-- End container-->


  <%- if RAILS_ENV == "production" -%>
      <script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript">
      </script>
      <script type="text/javascript">
          _uacct = "UA-620606-1";
          urchinTracker();
      </script>
  <%- end -%>
  <script type="text/javascript">
      $(".chat_available").click(function (event) {
        event.preventDefault();
          var w = window.open("<%= site_chat_index_path -%>", "popupWindow", "width=490, height=540, scrollbars=yes");
          var $w = $(w.document.body);
          $w.html($('#modalText').html());
          $w.find(".addimage").click(function(e) {
            e.preventDefault();
            console.log(w.opener.document);
            $("#imagelist", w.opener.document).append("<li></li>");
        });
        return false;
      }
    );

      function popupwindow(url, w, h) {
        title = "Live Chat"
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2);
        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
      } 
  </script>


  <a title="Real Time Web Analytics" href="http://clicky.com/100911433"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100911433); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100911433ns.gif" /></p></noscript>

  <script>
      /* this allows us to pass in HTML tags to autocomplete. Without this they get escaped */
      $[ "ui" ][ "autocomplete" ].prototype["_renderItem"] = function( ul, item) {
      return $( "<li></li>" ) 
        .data( "item.autocomplete", item )
        .append( $( "<a></a>" ).html( item.label ) )
        .appendTo( ul );
      };
    </script>
</body>
</html>

